[2015-07-09 19:13] mitchellsundt opened #2 "ODK Survey ui missing show sent and unsent forms menu item; show/hide logic needs updating"
Originally reported on Google Code with ID 757

[code]

Reported by `mitchellsundt` on 2013-01-31 18:42:58

[2016-07-13 09:49] wvdm1217 opened #26 "ODK Application Designer 2.0: Undefined value not recognised"
If a value is undefined (not entered yet appears to be undefined) it crashes the app designer. When I tried to use an if statement to check if the value has been entered ( x === undefined, the javascript norm) it also crashes the program since x is still undefined yet I should be able to use it in a calculation like that.

[2017-01-20 22:12] syraxidlemind opened #32 "One table fails to sync"
In a Survey app containing 20 individual tables, 1 of them has stopped syncing. It definitely worked initially, as there are more than 70 submissions captured, but has since mysteriously stopped. The following log text was captured from the Google cloud console debugger (the table is called 'batch'):

For now the data is being retrieved manually by exporting the csv, but it would be nice to unders

[2017-07-09 03:15] nilesr opened #33 "odkTables.addRowWithSurveyDefault and odkTables.editRowWithSurveyDefault both make survey show an error and return instead of adding/editing a row"
#### Software and hardware versions
Tables and Survey, development branch

#### Problem description
calling `odkTables.addRowWithSurveyDefault(null, "imnci")` makes survey say "getFormFolter: formId is null or the empty string!" instead of automatically selecting the default form for the table. null in this case is the doAction struct and not the form id, that's not what's causing it

#### Steps t

[2017-08-24 00:20] jbeorse opened #41 "Locale doesnt update if you go back to default, rather than set it explicitly"
#### Software and hardware versions
ODK 2.0 RC1, Android 5.1, Nexus 6

#### Problem description
When the locale is changed in Services, it doesn't propogate to Survey if you change it from Spanish to default (English). It does work if you change it to English specifically.

#### Steps to reproduce the problem
Open an app in Tables. Open settings and change the locale to Spanish. Observe that Table

[2017-09-29 23:07] jbeorse opened #50 "Suitcase errors on reset app server with empty server"
#### Software and hardware versions
Suitcase ODK 2.0.0 rev 214

#### Problem description
Suitcase shows an error if you try to reset an app server that is empty. It doesn't crash, it just shows an error message. Additionally it prints a log message:
[code]

#### Steps to reproduce the problem
Open suitcase. Select Reset from the Upload tab. Wait for it to complete. Select Reset again. When it gets

[2017-09-30 02:38] jbeorse opened #51 "DetailWithList view bottom pane briefly flashes top pane's HTML"
#### Software and hardware versions
ODK 2.0.0 rev 214

#### Problem description
When a DetailWithList view is loaded, the top half loads and the bottom half briefly flashes with the HTML from the top half before finally loading its correct HTML after setSubListView is called.

#### Steps to reproduce the problem
Use DetailWithList view under normal circumstances. This happens on the first load of

[2017-10-03 20:28] jbeorse opened #53 "Provide documentation for Suitcase Upload"
#### Software and hardware versions
ODK Suitcase 2.0.0

#### Problem description
Suitcase documentation doesn't cover uploading and resetting the app server: http://opendatakit-dev.cs.washington.edu/2_0_tools/release/214/suitcase

Furthermore the CLI help descriptions are quite brief and sometimes confusing. These should be updated and the documentation linked above should be updated to be more th

[2017-10-18 07:47] linl33 opened #52 "Improve sync-client's handling of CSVs"
#### Software and hardware versions
sync-client 2.0.0

#### Problem description

The way sync-client parses CSV files assumes a rigid format. It assumes a fixed set of metadata columns exist and a particular ordering of those columns.

Assumption on a fixed set of metadata columns causes problem when the client (such as Suitcase) chooses to write out a subset of metadata columns.

Assumption on th

[2018-01-16 12:26] elmps2018 opened #56 "Documentation of MySQL setup"
We were following the directions for Tomcat install of ODK Aggregate. We were using MySQL 5.27.21 and found the documentation may have an inaccuracy.

Specifically:
"For MySQL, download and install MySQL Community Server 5.7 or higher from MySQL download site. Be sure to set a root password for the database. Stop the MySQL database server, then configure the database (via the "my.cnf" or the "my.i

[2018-02-07 18:57] linl33 opened #58 "Improve error message for empty files"
#### Software and hardware versions
Services rev 219

#### Problem description
When there is an empty app level or table level file, Services reports a cryptic error message:
`Server does not have all app-level or table-level configuration for this APK version. Did you intend to reset the server?`

#### Steps to reproduce the problem
1. Push an empty app level or table level file to device
2. Rese

[2018-02-21 07:29] wbrunette opened #59 "Add swipe feature to advance Survey"
Add code in Survey's webkit so the swipe left and swipe right events have the same behavior as the "Back" button and "Next" button

[2018-02-23 16:09] orilevari opened #60 "Auto load user defined home screen in tables after sync"
#### Software and hardware versions
Tables 2.0.3 rev 220b, Android 6.0.1, Nexus 6p

#### Problem description
When syncing down table and app level files for the first time to a device, after the sync the main tables screen for my app (index.html), is not automatically loaded. In order to load my user defined interface I need to back out of the tables app entirely and reopen.

#### Steps to reprodu

[2018-02-23 16:23] orilevari opened #62 "Survey keyboard/text field bug"
#### Software and hardware versions
Survey 2.0.3 rev 220b, Android 6.0.1, Nexus 6p

#### Problem description
I have a screen with two different text fields.
If I am selected on one of the text fields with the keyboard showing and then select the other text field, the keyboard will at first still be displayed. However, after about half a second, the keyboard will disappear and the text field will b

[2018-02-27 19:23] linl33 opened #61 "Tables crashes when deleting a row from Spreadsheet view"
#### Software and hardware versions
Tables 2.0.3

#### Problem description
Tables crashes after deleting a row from Spreadsheet view. The row is deleted successfully but the view crashes on reload.

#### Steps to reproduce the problem
1. Open Tables Spreadsheet view
2. Choose a row
3. Click delete

#### Expected behavior
Spreadsheet view reloads without crashing.

#### Other information
stacktrace

[2018-03-15 00:30] linl33 opened #64 "Unable to save as complete if _savepoint_timestamp is in the future"
#### Software and hardware versions
Services 2.0.3
Survey 2.0.3
Tables 2.0.3

#### Problem description
When editing a row in Survey, if the row's `_savepoint_timestamp` is greater than the latest checkpoint's `_savepoint_timestamp` the savepoint doesn't get saved as complete.

#### Steps to reproduce the problem
1. Write a CSV with a row such that the `_savepoint_timestamp` column contains a times

[2018-03-17 03:30] dr0pdb opened #65 "refactor: Remove redundant View castings in Android projects"
#### Software and hardware versions
Latest code from development branch.

#### Problem description
Currently there are a lot of instances of redundant View castings in the project.
For eg.
[code]
can be replaced by
[code]
They were required before but aren't required now and Android studio suggests removing them.

#### Steps to reproduce the problem
NA

#### Expected behavior
They should be remove

[2018-03-27 22:35] laddha-adi opened #76 "Generate QR code for configured server setting in Service app"
Services should be modified to add a button that generates and display a QR code, containing information about server setting's current configuration.
Examples of how JSON Object for QR code would look like-
For anonymous configuration

[code]
For username-password configuration

[code]
**Would you like to work on this issue?**
Yes

[2018-04-13 20:04] jbeorse opened #77 "Suitcase Reset App Server should have confirmation"
#### Software and hardware versions
Suitcase 2.0.3

#### Problem description
If a user is unfamiliar with the "Reset" button in Suitcase, or pushes it by mistake, there isn't a warning that it is about to delete all your data on the server. There should be an "Are you sure" dialog that briefly explains what is about to happen.

[2018-04-24 22:28] wbrunette opened #79 "Replace hardcoded column name strings"
#### Problem description

The class org.opendatakit.utilities.NameUtils in AndroidLibrary uses hardcoded strings instead of the constant values of the column names. If a column name changes this will cause inconsistencies.

[2018-06-06 20:07] clarlars opened #71 "plot.xlsx and visit.xlsx styling needs to be fixed."
#### Software and hardware versions
Survey 2.0.5 and Android 6.0.1

#### Problem description
The styling for the plot.xlsx and visit.xlsx forms needs to be fixed to not use white text on white backgrounds.

#### Steps to reproduce the problem
Open up plot.xlsx or visit.xlsx with the pre-populated data, the instances list shows up with white text in a white background.

#### Expected behavior
User

[2018-06-06 22:08] nullcode opened #70 "Feature request: app designer grunt with custom port"
8000 is hardcoded into the app, changing it only in the grunt config will result in undesired functionality. Would be good to have a grunt option to customise this port.

[2018-09-07 02:20] smcooper1920 opened #68 "Datatypes Form Not Working As Intended"
#### Software and hardware versions
Datatypes and Breathcounter Forms performed on Nexus 6 using Android 6.0.1

#### Problem description
The Datatypes and Breathcounter Forms provides a note on the screen and then subsequently crashes upon pressing next.

#### Steps to reproduce the problem
1. Create a new form.
2. After the first screen with the note hit next.
3. After pressing next, the Form sho

[2019-04-09 03:55] ajay-sub opened #1 "Uploading an image using 'choose image' in form in ODK survey"
#### Software and hardware versions
Example form in ODK Surveys, Android 9.0 (Android Pie), Pixel 2 XL

#### Problem description
Trying to upload media, in particular using the 'choose image' button does not function as expected. After tapping on the 'choose image' button and choosing a picture to upload, there is no visual confirmation or preview of the image chosen to upload, unlike in the case

[2019-04-09 03:57] mitchellsundt opened #3 "ODK Survey -- widget suggestions"
Originally reported on Google Code with ID 774

[code]

Reported by `mitchellsundt` on 2013-02-25 18:52:49

[2019-04-09 03:57] mitchellsundt opened #4 "Survey feature request: add clone-existing form and generate instanceName from form data"
Originally reported on Google Code with ID 775

[code]

Reported by `mitchellsundt` on 2013-02-28 17:27:45

[2019-04-09 03:58] mitchellsundt opened #5 "Survey feature request: Better Sliders"
Originally reported on Google Code with ID 778

[code]

Reported by `mojotexas` on 2013-03-01 18:01:12

[2019-04-09 03:59] mitchellsundt opened #6 "Zebra print driver force closes"
Originally reported on Google Code with ID 839

[code]

Reported by `yanokwa@nafundi.com` on 2013-05-31 21:21:27

[2019-04-09 04:00] mitchellsundt opened #7 "Tables--importing from config error when file doesn't exist"
Originally reported on Google Code with ID 859

[code]

Reported by `sudar.sam` on 2013-06-27 03:29:46

[2019-04-09 04:01] mitchellsundt opened #8 "ODK Tables do we need form version"
Originally reported on Google Code with ID 864

[code]

Reported by `sudar.sam` on 2013-07-03 00:32:18

[2019-04-09 04:02] mitchellsundt opened #9 "Tables--display in the UI that deleted rows need to be synched"
Originally reported on Google Code with ID 897

[code]

Reported by `sudar.sam` on 2013-08-28 18:14:39

[2019-04-09 04:03] mitchellsundt opened #10 "Tables--provide option to restore a deleted row (not during sync)."
Originally reported on Google Code with ID 898

[code]

Reported by `sudar.sam` on 2013-08-28 18:15:42

[2019-04-09 04:05] mitchellsundt opened #11 "Tables--export to csv and import all columns."
Originally reported on Google Code with ID 899

[code]

Reported by `sudar.sam` on 2013-08-28 18:16:39

[2019-04-09 04:06] mitchellsundt opened #12 "ODKTables--Move all Shared Preferences into Key Value Store"
Originally reported on Google Code with ID 915

[code]

Reported by `sudar.sam` on 2013-09-13 21:33:43

[2019-04-09 04:07] mitchellsundt opened #13 "Configuration should be more intelligent on fail"
Originally reported on Google Code with ID 916

[code]

Reported by `sudar.sam` on 2013-09-13 21:35:25

[2019-04-09 04:08] mitchellsundt opened #14 "Importing identical row ids seems to replace and erase sync state"
Originally reported on Google Code with ID 925

[code]

Reported by `sudar.sam` on 2013-10-05 22:15:55

[2019-04-09 04:09] mitchellsundt opened #15 "[ODK 2.0 Application designer rev126] XLSX converter does not detect undefined functions"
Originally reported on Google Code with ID 1139

[code]

Reported by `jyf2@uw.edu` on 2015-04-30 03:27:06

[2019-04-09 04:09] jbeorse opened #16 "DependencyChecker shouldn't hardcode values"
The Dependency checker utility currently hardcodes the dependencies as well as the applications that have those dependencies.
- We shouldn't hardcode Tables dependencies into DependencyChecker. Tables should pass an argument that indicates its dependencies.
- If possible, instead of depending on OIFileManger specifically, we should see if we can depend on something more generic.

[2019-04-09 04:10] linl33 opened #17 "Erroneous entries in View Scanned Forms in Scan"
**Steps to reproduce**
1. Press Scan New Form
2. Press back

**Expected behavior**
No new entry added to View Scanned Forms.

**Actual behavior**
Entry with name of template and date of "Web Dec 31 16:00:00 PST 1969" is added to View Scanned Forms.
![screen](https://cloud.githubusercontent.com/assets/8204095/10926359/5b1af0a8-824b-11e5-959e-750cf6dad4b6.png)

**Environment**
Nexus 7 with Android 5

[2019-04-09 04:10] linl33 opened #18 "Incorrect template name in scanned forms"
When multiple templates are selected in preferences and a form is scanned, the record in "View scanned forms" might have an incorrect template name. Template name is always set to the first template in the set of templates retrieved from `PreferenceManager`.

[2019-04-09 04:13] nilesr opened #19 "Join tables aren't working in spreadsheet view"
#### Software and hardware versions
Tables

#### Problem description
There's a bunch of code that detects if the table has a join and adds an "open join table" button to the mDataCellMenued dropdown, but if you click that button it's most likely broken, it doesn't use the right intent to launch the join table

[2019-04-09 04:14] mitchellsundt opened #20 "Verify username screen"
This screen displays "anonymous" before you choose to verify permissions - rather than the username or account you selected on the settings page. This is confusing. It should perhaps show the currently recognized user and the username/account that you are attempting to verify.

[2019-04-09 04:15] nilesr opened #21 "JS crash on bad column in defaults"
#### Software and hardware versions
survey 210c

#### Problem description
If you supply defaults to addRowWithSurvey, like {"some_column": "default value"} and the column "some_column" doesn't exist, `undefined` is passed in to `fromSerializationToElementType`, which throws an exception and causes the page to never load. We should check its value around like 382 in database.js and display a warnin

[2019-04-09 04:15] mitchellsundt opened #22 "conflict resolution does not allow permissions field resolution"
The loader that scans the rows that are in conflict calls:

`ResolveActionList.noChangesInUserDefinedFieldValues()`

If the only conflicts in a row are in the permissions columns, this will return true and cause the immediate **silent** resolution of these rows with take-server-values actions. This **silently** loses the permissions change.

Additionally, if you were to fix this, the screens for r

[2019-04-09 04:17] jbeorse opened #23 "Checkpoint handling"
On screen rotations checkpoints are automatically discarded.

In general, checkpoints are confusing. We should talk about the overall plan for them.

[2019-04-09 04:17] linl33 opened #24 "Export for tables without a Survey form"
For tables without a Survey form, for example "Tea houses", when attempting to export such form. Tables used to show a toast describing the problem, now Survey is brought up and Survey shows a error dialog. Is this behavior expected?

[2019-04-09 04:19] acawood777 opened #25 "ODK Survey select_one_with_other is not working"
select_one_with_other prompt hangs the form when used.
The "selects" example (the color prompt) makes use of this

[2019-04-09 04:20] linl33 opened #27 "Custom home screen switch for Tables doesn't work"
Custom home screen is always enabled. Force stopping the apps and resetting configuration also don't turn off custom home screen.

[2019-04-09 04:21] mnevalsky opened #28 "Select option not working when keyboard is open"
If the keyboard is open when you attempt to use a dropdown select one menu, the option you choose does not get processed. Evident in the first question of 'Select Examples' in Survey.

[2019-04-09 04:22] mitchellsundt opened #29 "ODK 2.0 sync can get confounded by filenames containing #'s"
*Migrated to opendatakit/aggregate#81 by [spacetelescope/github-issues-import](https://github.com/spacetelescope/github-issues-import)*

The filename is used verbatim in the URL (with slashes recognized and preserved in the REST document structure).

Unfortunately, if you have emacs open on a file while you adb-push to the device, the edit buffer will be named something like #filename.ext# for the

[2019-04-09 04:23] mitchellsundt opened #30 "Need to get all the button, etc. text into translations.js"
A substantial amount of text is still in the template files and not available as internationalized text in the translations.js file.

We should perhaps change XLSXConverter.js to look for a translations tab in the framework spreadsheet and use that to generate this file.

[2019-04-09 04:23] jbeorse opened #31 "Focus snaps to top of multiscreen length pages"
When a page is longer than the device screen and the user scrolls down, if they respond to a prompt the screen will snap back to the top of the page. This makes it difficult to fill out long pages, because you are constantly being snapped back to the top. The issue is exacerbated by slow performance on older devices.

[2019-04-09 04:26] nilesr opened #34 "Leading spaces injected in select_one_with_other"
#### Software and hardware versions
Survey 210b

#### Problem description
Selects demo other box for color adds a leading space where there should be none

#### Steps to reproduce the problem
go to selects demo, enter "teal" for color, no prompt appears. Delete the space that survey added before "teal" and it will appear

#### Expected behavior
no leading space

[2019-04-09 04:26] nilesr opened #35 "Pulling a select multiple or select one from the database will return the raw value and there's no way to get a translation."
#### Software and hardware versions
Tables, odkCommon

#### Problem description
If I have a select one question for a health facility type, and the database value for one of the choices is `national_vaccine_store`, it's easy to get that exact string out of the database. However to get an english translation, like "National Vaccine Store", or a spanish translation, like "Tienda Nacional de Vacunas"

[2019-04-09 04:27] nilesr opened #36 "data('nonexistent_field') should alert an error"
#### Software and hardware versions
odk2 210c

#### Problem description
calling data('some_field_that_doesnt_exist') in a query filter or an assign doesn't display a warning, it should

#### Steps to reproduce the problem
calling data('some_field_that_doesnt_exist')

#### Expected behavior
alerts an error

[2019-04-09 04:28] mitchellsundt opened #37 "choices sheet should only be defined on formId === tableId forms"
Within the 2.0 tools suite, the choices sheet in the XLSX file should really only exist on the tableId === formId form definition.  It should then be referenced in all other XLSX form definitions.

The reason for this is that the choices lists in the tableId form are the ones that get written to the properties.csv and that are available in the key-value store and via the odkData result object.

Th

[2019-04-09 04:29] nilesr opened #38 "Protocol error on string > 255 chars"
Got an odd bug syncing to aggserver.southcentralus.cloudapp.azure.com as olive. It displayed the same thing in an alert dialog.
06-05 12:14:01.216 9353-9369/org.opendatakit.services:sync E/SyncNotification: 0 FINAL SYNC Notification -default TEXT:Protocol Error.
                                                                               Please verify that the server and device are compatible.
0

[2019-04-09 04:30] nilesr opened #39 "Color picker in the signature input is very small in landscape and on high dpi screens"
Survey 210RC1

[2019-04-09 04:30] nilesr opened #40 "Can break tables by calling odkCommon.closeWindow while an odkData callback is running"
#### Software and hardware versions
Tables 210RC1

[2019-04-09 04:32] nilesr opened #42 "Changes to the column width will be reset when you sync"
Tables 210RC1

[2019-04-09 04:33] jbeorse opened #43 "Scan should have an example form"
#### Software and hardware versions
Scan rev212 RC2

#### Problem description
Survey and Tables have a plethora of examples to use in app-designer, but Scan has none. The old example form is no longer compatible and was created before we had a "save as incomplete" option. We can probably use the VR Maternal health form from Malawi but would want to confirm with them first.

[2019-04-09 04:34] clarlars opened #44 "Review usage of ODKFileUtils getTablesFolder"
#### Problem description
The getTablesFolder function creates the necessary directories and returns the path.  The usage of this function should be reviewed to make sure that the directory should be created.

[2019-04-09 04:35] jbeorse opened #45 "Plumb local only tables up from the AIDL into the Javascript Injected Objects"
#### Software and hardware versions
RC2 rev212

#### Problem description
The local only table APIs are not plumbed up to the Javascript objects and not available to users. Right now its basically just a nice to have for syncing.

[2019-04-09 04:36] orilevari opened #46 "Survey user interface"
1) After inputing text into a freeform text field, if I press the next button, it will not respond. Instead, it will pop me out of the context of the text field and grey the next button, but not actually trigger the next page.

2) When a list of suggestions appears for a freeform text input, if you try to scroll to another part of the screen it keeps immediately popping you back to the text box. I

[2019-04-09 04:36] orilevari opened #47 "Survey user interface (cont)"
When selecting a drop down menu, and then following that up immediately by selecting a multiple choice list, the multiple choice selection is displayed as selected, but when navigating to the next screen, I am stopped because the multiple choice selection is required and it is interpreted as not filled out. It seems like the first action of selecting the drop down is blocking the second action fro

[2019-04-09 04:37] jbeorse opened #48 "Plumb up order by string arrays to javascript layer"
#### Software and hardware versions
RC2 Rev 212

#### Problem description
Currently the database layer supports orderbycololumn and orderbydirection as string arrays, but the javascript only accepts single string. We should plumb the string array support up to the javascript layer.

[2019-04-09 04:38] jbeorse opened #49 "Add proper messaging for Entity Too Large errors on sync"
#### Software and hardware versions
Services 2.0.0 rev 214

#### Problem description
We currently report "Device configuration failure" when we try to sync with a file that is too big for the server to handle. Instead we should have a more precise error that one of the users files is too big. The nginx returns the correct 413 Entity Too Large error. Tomcat *probably* does too but we would need to

[2019-04-09 04:41] orilevari opened #54 "survey freeze"
When ignoring changes on a subform linked from within survey, it returned to the base form but then grayed out the whole screen and I couldn't press any buttons in the webkit. I could hit back on the phone and then ignore changes and exit. The log is captured below, although I'm sure there is a lot in the log which is unrelated.

4 12:45:44.092 11650-11666/org.opendatakit.services:databaseservice

[2019-04-09 04:42] wbrunette opened #55 "Improve error handling if sync protocols changes"
#### Software and hardware versions
ODK Services

#### Problem description
When upgrading from rev 208 to rev 214 user got incorrect error messaging.

Problem is described on the forum:
https://forum.opendatakit.org/t/internal-server-error-out-of-quota-error-and-solution/10133

[2019-04-09 04:44] jbeorse opened #57 "Finding incomplete Survey forms"
In Survey there is currently no easy way to find forms that were saved as incomplete. They are labeled as Incomplete in the list of instances for that form, but you have to know that it is there or check through every form to find them. There should be an easier way to find incomplete surveys so they can be completed or deleted.

As a first step, I propose adding a color label on the form selectio

[2019-04-09 04:48] orilevari opened #63 "Slow survey performance when selecting multiple choice with date/calculation on screen"
#### Software and hardware versions
Survey 2.0.3 rev 220b, Android 6.0.1, Nexus 6p

#### Problem description
I have a survey screen with a date input type which triggers an age calculation. Underneath I have a multiple choice selection. When changing response to the multiple choice selection, the date input will lose some of its styling and there will be about a half second delay for the screen to

[2019-04-09 04:51] linl33 opened #66 "Review Cross App Intents"
#### Software and hardware versions
2.0.3

#### Problem description
Tables, Survey and Scan expect that intents coming from an external activity to go through the Launcher. The Launcher handles varies sanity checks then forwards the intent to the appropriate activity. It appears that not all intents are handled by the Launcher, we should review this and fix any problem found.

[2019-04-09 04:51] MirwaisAkrami opened #67 "In the latest version (2.1.0) of odk survey app, some JavaScript syntax are not working such as 'let' and maybe 'async, await'"
#### Software and hardware versions
Survey vx.x.x, Android vx.x.x, device used...

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information
Things you tried, stack traces, related issues...

[2019-04-09 04:52] linl33 opened #69 "Incomplete deletion of instances"
#### Software and hardware versions
Survey 2.0.5, Tables 2.0.5, Services 2.0.5

#### Problem description
When images, videos, recordings, or signatures are added through Survey, that attachment is recorded to a content provider. This record doesn't get deleted when the instance is deleted.

#### Steps to reproduce the problem
1. Open Example Form (or any form with attachment) in Survey
2. Capture

[2019-04-09 04:53] nullcode opened #72 "Feature request: name instances"
Survey app:
If you have a lot of instances it's quite hard to find the one you are looking for since you can only see the date they were last edited.
I suggest more info, maybe `name`, `rowOwner` and `datetime`.

[2019-04-09 04:54] orilevari opened #73 "Sync conflict resolution"
#### Software and hardware versions
ODK Services/Tables/Survey v2.0.5, Android 6, Nexus 6

#### Problem description
When syncing changes that result in a merge conflict, 2 items result in incorrect behaviour.

1)
The UI for resolving conflicts only shows up when backing out from user defined Tables pages. Until this happens, the database is in an inconsistent state, so pages which are dependent on

[2019-04-09 04:54] MatthewKarami opened #74 ""Choose Video" buggy sizing behavior in Example Form"
#### Software and hardware versions
Survey v2.0.5, Android v8.1.0, emulator

#### Problem description
Inside Example Form, when selecting a video, the displayed thumbnail blows up to an awkward size.

#### Steps to reproduce the problem
Choose a video in example form.

#### Expected behavior
The displayed thumbnail blows up to an awkward size.

[2019-04-09 04:55] wbrunette opened #75 "Reimplement Table Alias column names"
Not clear this was working, temporarily removed and should be put back properly to help with "type" selection

   // remove any table alias qualifier from the name (assumes no quoting of column names)
        if ( colName.lastIndexOf('.') != -1 ) {
          colName = colName.substring(colName.lastIndexOf('.')+1);
}

[2019-04-09 04:57] erickramirez82 opened #78 "Problem refresh data in form"
Hello,

When the data is entered into the form and there are changes within some condition it does not clean the fields but keeps them in cache even with data and does not refresh.

For example: I have an if for a condition I change a question and still follow the fields with data. Then I could not edit the form because the data I entered is still inside the form if I do the pull download wrong da

[2019-04-09 15:41] linl33 opened #80 "Add an aggregated troubleshooting tips in docs"

[2019-04-09 15:42] linl33 opened #81 "Document the logging capabilities of apps"

[2019-04-09 15:43] linl33 opened #82 "Provide end-user readable error messages in apps"

[2019-04-09 15:44] linl33 opened #83 "Provide documentation for Survey and Tables JS API"

[2019-04-09 15:45] linl33 opened #84 "Provide a fine grained version of Application Designer `adbpush`"

[2019-04-09 15:46] linl33 opened #85 "Improve app responsiveness, add indicator when the user needs to wait"

[2019-04-09 15:47] linl33 opened #86 "Have a contributor's guide"

[2019-04-09 15:51] linl33 opened #87 "Add lateral links between tools with related features"

[2019-04-09 15:54] linl33 opened #88 "Build a library of examples"

[2019-04-09 15:55] linl33 opened #89 "Video tutorial"

[2019-04-09 15:55] linl33 opened #90 "Improve documentation awareness"

[2019-04-09 15:56] linl33 opened #91 "Improving tagging on forum"

[2019-04-09 15:57] linl33 opened #92 "Find 2 people to improve and expand documentation"

[2019-04-09 15:59] linl33 opened #93 "Find 2 people to fix bugs"

[2019-04-09 15:59] linl33 opened #94 "Find 2 people to monitor the forum"

[2019-04-09 16:00] linl33 opened #95 "Only sync down data for specific user"

[2019-04-09 16:00] linl33 opened #96 "Replace async-assign in Survey"

[2019-04-23 09:18] maprehensive opened #97 "Add an additional date picker widget that has a different style."
This date picker should show a visual calendar that the user selects from.

[2019-04-23 09:21] maprehensive opened #98 "Provide an Application Designer zip package without example tables/forms and other non-essential files."
Remove as much as possible under app/config.

[2019-04-23 09:22] maprehensive opened #99 "Tables CSV import error message instead of crashing"

[2019-04-23 09:27] maprehensive opened #100 "Replace "quota message" and just display error"

[2019-04-23 15:30] jbeorse opened #101 "Submit improvements"
- Improve UI. Create linear flow that guides the user through each step of the syncing process. Make buttons more responsive
- Add pairing in the app while supporting already paired devices
- Fix bugs and improve stability

https://github.com/opendatakit/submit

[2019-04-26 21:46] ray-fung commented on #61
Update:
This crash occurs whenever a new row is added onto the spreadsheet and then deleted. It does not seem to occur when previously synced data or even modified data is deleted from the spreadsheet.

Steps to reproduce:
1. Open Tables Spreadsheet view
2. Create a new row by pressing the + button
3. The new row should now be green at the bottom of the spreadsheet
4. Delete the new row

This seem

[2019-04-30 23:20] wbrunette commented on #100
Completed with pull request https://github.com/opendatakit/services/pull/123. Will be part of release 2.1.3

[2019-04-30 23:20] #100 closed

[2019-04-30 23:21] wbrunette commented on #98
Pull request   https://github.com/opendatakit/app-designer/pull/109

[2019-04-30 23:22] wbrunette commented on #84
related to #98

[2019-04-30 23:25] wbrunette commented on #70
Pull request https://github.com/opendatakit/app-designer/pull/108

[2019-05-03 23:05] wbrunette commented on #99
Can we get an example of what data will cause a crash?

[2019-05-03 23:08] wbrunette commented on #84
Can someone be specific about the differences between #84 and #98

[2019-05-25 00:46] linl33 commented on #84
This goal of this issue is to provide a variant of the `adbpush` grunt command that operates on a particular table and/or form.

For example,
`grunt adbpush Tea_houses` should push up just the Tea_houses table.

[2019-05-25 00:57] linl33 commented on #76
Fixed by opendatakit/services#72

[2019-05-25 00:57] #76 closed

[2019-06-01 03:58] linl33 opened #102 "Survey swipe navigation interferes with some widgets"
Some widgets, such as the integer widget, rely on swipe. After integrating swipe based navigation, it can be tricky to operate those widgets. Swiping too fast on those widgets trigger navigation events.

Ideally, it should not be possible to trigger navigation events by swiping on those widgets when they are enabled.

[2019-06-02 08:18] maprehensive commented on #86
Actions (from TSC meeting 21 May)

[2019-06-04 15:27] #101 closed

[2019-06-04 15:30] #61 closed

[2019-06-04 15:54] #59 closed

[2019-06-05 00:16] bryce-p-williams opened #103 "app-designer tabs are not viewable if window width is too small"
Or if console covers up tabs, etc. Cannot view tabs past edge of window or scroll to see them.

[2019-06-15 07:15] maprehensive commented on #94
Suggest we modify this to:
Assign a TSC member to monitor the forum to ensure issues are responded to in a timely manner

Discuss at next TSC meeting. If approved, then assign a TSC member on a rotating roster basis.

[2019-06-15 07:20] maprehensive commented on #91
Suggest that the TSC list 2-4 things that will improve tagging on the forum, and give responsibility to the TSC member who is monitoring the forum, as described in this ticket: #94

[2019-06-15 08:10] maprehensive commented on #92
The current aim is find a technical writer via Google Season of Docs.

Alongside the formal GSoD process, there is an opportunity to follow-up with writers who have expressed an interest in ODK-X through GSoD, the Forums and Slack channels.

[2019-06-15 08:15] maprehensive commented on #70
@wbrunette - should this be In Progress on the Roadmap if there's a pull request associated?

[2019-06-17 23:15] wbrunette opened #104 "Document Sync-Endpoint is compatible with what DB version"
Document the minimum and tested version of MySql and Posgres so users know which databases to use.

[2019-06-18 18:32] vmaldosan commented on #104
Just wanted to add that MS SQL Server is also mentioned in the document, so it may be a good idea to add its supported version as well :)

[2019-07-09 17:10] elmps2018 opened #105 "Document text formatting options for survey"
Document the options for formatting (bold, italics, etc.) how text displays in survey. Which columns can be formatted and what are the formatting options?

[2019-07-18 23:37] wbrunette commented on #82
Closing this issue because we need more specifics. This should be broken down to specific tasks when it becomes an issue.

[2019-07-18 23:37] #82 closed

[2019-07-26 15:02] c-h-a-r-l-i-e opened #106 "Only down sync specfic tables"

[2019-07-28 22:24] elmps2018 opened #107 "Add a last synced time and date"
There doesn't seem to be any way to tell, in ODK services, when I last synced. This would be a very helpful item to display on the syncing screen so that if, say, you are an enumerator and the field supervisor emails to say "I added new observations at 9am yesterday, please make sure you have synced" you can just pop open the syncing screen and see whether or not you've synced since 9am yesterday.

[2019-07-28 22:27] elmps2018 opened #108 "Export/import multiple tables at once"
We have 13 different data tables (sub-forms) in our survey. It would be great if we could export them from Tables all at once, rather than having to export them one at a time. Exporting one at a time tends to lead to missing one or other errors.

Importing (and appending) multiple tables would also be helpful for when we have multiple tables to preload or want to do a quality check on a particular

[2019-07-28 22:32] elmps2018 opened #109 "Tracking sync conflicts"
We are using the ODK 2 tools in the field, and collecting lots of great data! One of the most common challenges in the field has been around conflicting data. We have data moving across teams and within teams with multiple individuals, as well as with centralized admin. Unsurprisingly, conflicts arise when syncing. It would be great for our data management purposes if there were a variable that tr

[2019-07-30 00:13] clarlars commented on #64
Fixed in https://github.com/opendatakit/androidlibrary/pull/130

[2019-07-30 00:13] #64 closed

[2019-07-30 00:35] wbrunette commented on #51
I believe this got fixed.

[2019-07-30 00:35] #51 closed

[2019-07-30 15:45] wbrunette commented on #99
fixed in https://github.com/opendatakit/androidlibrary/pull/130

[2019-08-06 01:12] wbrunette commented on #97
Added birthday widget as part of fix available in 2.1.4. More widgets need to be added

[2019-08-13 16:54] elmps2018 opened #110 "Instances order backwards"
Per the documentation: https://docs.opendatakit.org/odk-x/survey-using/#editing-saved-form-instances the instances should be in reverse chronological order with the most recently edited first. However, both in the screen shot and in testing on my tablet, they are in chronological order, with the oldest first and then the most recently worked on going last. This seems to hold in both tables and sur

[2019-08-15 23:24] sithu951 opened #111 "App server reset error, protocol error, please verify that the server and the device are compatible odk-x"
1. What is the problem? Be very detailed.
I cannot reset the app server. I developed an application with two forms, namely household and household_members. I reset the app server, which is odk sync endpoint, successfully on the mid way of the development. After I finalized my survey form I cannot reset the app server. The error message was, "protocol error, please verify that the service and devic

[2019-08-15 23:26] wbrunette commented on #111
UPDATE FROM FORUM:
I found the problem and solution. One of my sheet contain an illegal character (Myanmar unicode character) in the name column. It cause the resetting crushed. There has been two lessons for me. First is that, the error messages given by the apps are quite vague and sometimes misleading. Second, the apps do not allow unicode characters (may be not all but some) in its variable na

[2019-08-15 23:26] wbrunette commented on #111
Other discussion from forum:
https://forum.opendatakit.org/t/21251/

[2019-08-27 18:44] wbrunette opened #112 "Check and prevent that only proper unicode characters are allowed in the table definitions"
Ensure that when processing the table definitions that only legal unicode characters are allowed.

Bug comes from issue https://github.com/opendatakit/tool-suite-X/issues/111

[2019-08-28 00:43] clarlars opened #113 "select_one_integer does not re-render when the value has been modified"
An error is thrown due to a deprecated ctxt.log call which prevents the re-render.

[2019-09-13 18:32] wbrunette opened #114 "Failure to Authenticate in Services 2.1.4"
Believed to be related to the library updates that occurred in the 2.1.4 release.

Information from Google,
https://developer.android.com/about/versions/pie/android-9.0-migration#tya

This is the stacktrace,
java.lang.SecurityException: Permission Denial: startForeground from pid=10646, uid=10189 requires android.permission.FOREGROUND_SERVICE
at android.os.Parcel.createException(Parcel.java:1953)

[2019-09-13 18:34] wbrunette commented on #114
Pull request submitted as a solution: https://github.com/opendatakit/services/pull/143

[2019-09-13 18:36] Kapersyx opened #115 "diff/changeset api does not return all dataEtag"
#### Software and hardware versions
opendatakit/sync-endpoint version 2.1.4

#### Problem description
using the [changesets api](https://docs.opendatakit.org/odk-x/odk-2-sync-protocol/#get-changesets-api) always leads to an empty dataEtags list

#### Steps to reproduce the problem
[send a request to the changeset api](https://forum.opendatakit.org/t/get-changesets-api-from-the-odk-x-sync-protocol/

[2019-09-13 18:46] wbrunette opened #116 "Add an option to get all versions of rows in the /diff API"
@kervel has posted a pull request for this improvement

Pull Request: https://github.com/opendatakit/sync-endpoint/pull/31

"By default, the /diff API only returns the latest version of a row in one fetch block. When the full history is needed, now one can pass getFullLog=true to get ALL changes

see https://forum.opendatakit.org/t/retrieving-the-full-history-of-an-odk-x-table-from-the-server/2131

[2019-09-13 18:47] wbrunette commented on #116
From @kervel
"Hello @wbrunette

Thanks for the feedback. I'm trying to give some extra context that might be relevant to the discussion on the TSC:

    our usecase is a migration tool (which we plan to release as part of odkxpy) that - i think - should be quite useful for other people outside our team: think of migrating to a new server, disaster recovery, or transferring to a new version of the

[2019-09-24 14:34] wbrunette commented on #70
Revised pull request https://github.com/opendatakit/app-designer/pull/121

[2019-09-24 14:36] wbrunette commented on #70
Released in 2.1.4

[2019-09-24 14:36] #70 closed

[2019-09-30 23:45] #103 closed

[2019-10-02 17:59] linl33 commented on #95
Discussion during community call on Sept 9, 2019:

Data syncs down for all users. Uses lots of data, challenge in limited bandwidth.
Also a data security issue for PII.
Need to clarify data vs. tables (#106)
Some people constantly switch users on the tablet so need whole database.
Needs to be an option

[2019-10-07 17:58] elmps2018 opened #117 "Rename Injected JavaScript Interfaces"
Injected JavaScript Interfaces is a confusing name to the less-technical audience. Suggest one of the following:
Customizing interfaces
Customizing user interfaces
Interface customization

[2019-10-07 19:57] wbrunette opened #118 "Fix documentation to include installing ADB"

[2019-10-07 19:57] wbrunette commented on #118
https://forum.opendatakit.org/t/survey-not-showing-the-files-pushed/22195/26

[2019-10-08 01:23] linl33 opened #119 "Document barcode scanner intent for Tables"
The `com.google.zxing.client.android.SCAN` intent to launch a barcode scanner should be documented with its `odkCommon.doAction` parameters and the expected callback contents.

[2019-10-08 01:45] #114 closed

[2019-10-08 02:00] wbrunette commented on #113
Fixed with https://github.com/opendatakit/app-designer/pull/127

[2019-10-08 02:00] #113 closed

[2019-10-08 23:02] wbrunette commented on #72
TSC Discussion: This issue is to change the default behavior. It is already possible to do this but the documentation should be checked to verify the ability is documented.

[2019-10-08 23:06] wbrunette commented on #67
This issue is likely based on the version of phone as new webkit support this.

[2019-11-01 17:25] elmps2018 opened #120 "Check before deleting tables on tablet when syncing"
When pre-piloting our survey, we had not set up a server. We were just planning on collecting data on survey and tables and exporting from tables. In the process of the pre-pilot staff learning to export, she accidentally sync'd to the demo server instead and it deleted all the pre-pilot data. Suggest adding a setting so that when you click sync now and have entirely different tables on the tablet

[2019-11-01 18:41] wbrunette commented on #120
@elmps2018 the sync protocol will fail if the tables are entirely different. I believe this can happen when you have the exact same tables just with different data present in the tables. The sync will make it look like the server's table. This is a case to consider especially when people partition regions doing the same data campaign. Please clarify further if my clarification is incorrect.

[2019-11-01 20:33] elmps2018 commented on #120
The tables were entirely different (ones we pushed to the tablet were definitely different than geotagger on the demo server) and the sync went through and deleted everything. I replicated this earlier today after the fieldworker described what happened. We did get them on the tablet by pushing rather than syncing, since this was for pre-pilot.

[2019-11-01 20:47] wbrunette commented on #120
Thanks. This is why I was working towards a distinction. Anything is possible with the "push" vs the "sync". I am not sure how to guard against the "push" since we expect the behavior to be be destroy everything.

[2019-11-01 21:27] elmps2018 commented on #120
Note, though, it wasn't the push that ate data, though, it was the erroneous sync to the demo server after the push (and some data entry).

[2019-11-19 15:53] #62 closed

[2019-11-27 01:07] #98 closed

[2019-12-02 10:32] Iud0 opened #121 "The sync-endpoint server accepts submission with no id"
**Software and hardware versions**

opendatakit/sync-endpoint version 2.1.4
ODK-X Tables v2.1.4
ODK-X Application Designer v2.1.4

**Problem description**

If a column `id` is present in the form definition of a survey and this column is not filled by the survey, all submissions will be accepted by the server with no id. Otherwise, the attachments will not be accepted.

**Steps to reproduce the pr

[2019-12-03 10:58] jbeorse opened #122 "Improve the landing page"
A user-focused, simple landing page for docs that is not encumbered by technical language and that explains what the ODK-X tools are used for and whether it is appropriate for their needs.

From the convening roadmap: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit

[2019-12-03 11:00] jbeorse commented on #88
Easily findable examples of ODK-X in use by organisations globally showing the flexibility and benefits of the tools

From the convening roadmap: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit

[2019-12-03 11:03] jbeorse opened #123 "Create an Easy to Install Demo App"
An easy-to-install demo app that will let new users experience the tools and demonstrate to others the features and benefits of ODK-X

From the convening Roadmap: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit

[2019-12-03 11:07] jbeorse opened #124 "Refresh the docs with a learning path"
A refresh of the docs that guides a user through a learning path with specific outcomes.

From the convening roadmap: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit

[2019-12-03 11:23] jbeorse opened #125 "Improved sign-in flow"
The issue was identified at the 2019 convening. There were complaints about the sign in flow. Part of resolving this issue is identifying what improvements to make.

[2019-12-03 11:27] jbeorse opened #126 "Create an informative startup screen in Tables"
Should indicate that the user can login to the server & deep link to the login page

[2019-12-03 11:29] jbeorse opened #127 "Truncation of longer lables"
Truncation of longer labels in buttons, warnings and pop-ups. This was brought up for Portuguese.

[2019-12-03 11:31] jbeorse opened #128 "UI refresh"
Update the UI to use a modern framework that is familiar and intuitive to users

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:34] jbeorse opened #129 "There should be a warning on ‘accidental’ exit from main screen"
From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:35] jbeorse opened #130 "Perform a review of the current UI"
Review of the current UI to recommend improvements and possible use of a UI framework

- Style guide would be valuable to guide future development
- Valuable for broader community to guide contributions

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:38] jbeorse opened #131 "Improve UX when synching and showing filepaths"
Writing the filepath names when synching
- Unpleasant flickering
- Show a sync progress bar or similar instead

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:41] jbeorse opened #132 "Improve navigation"
Avoid use of Back as part of the flow
Swipe to progress

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:42] jbeorse opened #133 "Suitcase should save credentials"
Suitcase requires credentials to be added every time.

The tradeoff is that this creates files on the user's computer.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:45] jbeorse opened #134 "Make it easier to find quick-wins"
Hard to identify clear easy wins for developers
Tag the appropriate issues, find more people to tag issues, rename slack channel

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:48] jbeorse opened #135 "Investigate potential scaling issues"
Identify and fix potential issues from large data sets.

[2019-12-03 11:51] jbeorse opened #136 "Document Notify"
As Notify enters alpha and beta it needs to be documented.

From 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:53] jbeorse opened #137 "Document Submit"
As Submit enters alpha and beta it needs to be documented.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:54] jbeorse opened #138 "Document barcode scanner"
The barcode scanner needs documentation.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:57] jbeorse opened #139 "Document Async Assign"
Async Assign is confusing and needs documentation

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 11:58] jbeorse opened #140 "Improve documentation of custom screens"
The custom screens in Tables and Survey should have better, easier to find documentation.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2019-12-03 12:01] jbeorse opened #141 "Create Architecture Documentation"
Document where things are in the code and how to navigate it

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:03] jbeorse opened #142 "Document Sync Client"
Sync client is an important library for implementing and understanding the sync protocol but you basically need to already know it exists. It should be documented.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:04] jbeorse opened #143 "Improve documentation for authentication and syncing"
The process for authenticating and syncing is confusing. Improve the documentation for end users

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:05] jbeorse opened #144 "Improve documentation of Grunt commands"
The grunt commands are confusing and barely documented. They should be better documented and it should be easier to find.

[2019-12-03 12:06] jbeorse opened #145 "Improve documentation of LDAP setup"
Write something about how to set up; also possibly example server would circumvent; Better LDAP

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:08] jbeorse opened #146 "Improve documenatation of which files matter in App Designer"
App Designer ships with a bunch of example files that should be deleted. Improve documentation of which files shouldn't be changed and why

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:09] jbeorse opened #147 "Document how to add SSL Certificate"
Add documentation for adding an SSL certificate to a Sync Endpoint. Probably should include links to other docs for things like generating them.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:10] jbeorse opened #148 "Improve documentation of error messages"
There are a lot of confusing error messages. It should be easier to find out what they mean from the documentation.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 12:11] jbeorse opened #149 "Document Injected JavaScript"
Document the Injected JavaScript interfaces for Tables and Survey.

From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#heading=h.264josm5lg7

[2019-12-03 14:51] wbrunette commented on #139
completed
https://github.com/opendatakit/docs/pull/1147

[2019-12-03 14:51] #139 closed

[2019-12-03 15:41] #128 closed

[2019-12-03 15:51] #134 closed

[2019-12-05 01:31] linl33 opened #150 "Improve determination of compatible API version"
Sync Endpoint API requires the client to provide an API version, known internally as `odkClientVersion` or `odkClientApiVersion`, currently the only valid version is 2. Its usage is documented on the [Sync Protocol page](https://docs.opendatakit.org/odk-x/odk-2-sync-protocol/).

ODK-X Services determines the API version by truncating off the last 2 digits of the release rev version, e.g. version 2

[2019-12-21 01:29] #60 closed

[2020-01-15 04:16] maprehensive commented on #122
@wbrunette @elmps2018 @jbeorse @linl33
I think this issue is complete. There may be intention to to make further improvements to the landing page through the docs process, but they can be captured in upcoming issues. Any objections to marking this as complete?

[2020-01-15 17:53] linl33 commented on #122
I agree with Ben.

[2020-01-16 21:09] #122 closed

[2020-02-11 16:06] jbeorse commented on #41
Closed for reasons listed in @mitchellsundt's post above. The TSC 2 agreed with that logic

[2020-02-11 16:06] #41 closed

[2020-02-26 01:37] wbrunette opened #151 "Constraint Message does not use enviornment simply a localized string"
It is hard to make a complex constraint message "smart" without being able to access data or anything else from the data model. Currently the constrain message is only localized and does not have access to the standard functions used to make complex logic decisions using javascript.

[2020-02-26 23:43] wbrunette commented on #149
odkcommon has been documented. still need odkdata documented as well as the individual tables and survey special objects.

[2020-02-27 01:45] wbrunette opened #152 "Document prompt textarea"
Document the prompt text area.

[2020-02-27 21:32] wbrunette opened #153 "Document missing columns for the model sheet in XLSX converter"
Missing the elementType column and itemType column documentation.

[2020-03-11 20:12] elmps2018 commented on #110
This would be great to have a setting, like how you can OrderBy in linked-tables, to be able to set the order in which instances appear in the main survey screen.

[2020-03-11 20:16] elmps2018 opened #154 "Create setting to hide some forms in main ODK-Survey interface"
The ODK-X Survey interface shows all forms, including subforms that should only be opened through parent forms:
https://docs.opendatakit.org/odk-x/survey-using/#opening-a-form
It would be great to have a setting available to hide forms that should not be entered directly

Requests/discussion:
https://forum.opendatakit.org/t/odk-x-survey-hide-subform/25195
https://forum.opendatakit.org/t/odk-2-0-su

[2020-03-11 20:21] elmps2018 opened #155 "Show last synced time and date in ODK-X Services"
There doesn't seem to be any way to tell, in ODK services, when I last synced. This would be a very helpful item to display on the syncing screen so that if, say, you are an enumerator and the field supervisor emails to say "I added new observations at 9am yesterday, please make sure you have synced" you can just pop open the syncing screen and see whether or not you've synced since 9am yesterday.

[2020-04-06 10:55] maprehensive commented on #123
The server has been setup at: https://demo.odk-x.com/

Forms delivered from the server need to edited to match those in the Tables sample app.
https://docs.opendatakit.org/odk-x/tables-sample-app/

[2020-04-22 18:40] elmps2018 opened #156 "OI File manager no longer in play store"
See https://forum.odk-x.org/t/oi-file-manager-for-odk-x/569

[2020-04-25 16:39] e2themillions opened #177 "Update Docker installation instruction for Ubuntu 20.04 LTS"
It appears that docker can no longer (since yesterday!) be installed using the current instructions (i.e. by adding version specific Docker repository to apt) on Ubuntu 20.04 (Focal Fossa). According to askubuntu the release file for Docker is no longer available. On 20.04 it can either be installed using the Bionic repository or simply by "apt install docker.io". I am not sure of the reasons why

[2020-04-26 03:29] albertchae opened #157 "XLSX converter doesn't trim whitespace from column names"
example `calculation_name ` on the `calculates` tab will result in an error

[2020-05-05 13:04] wbrunette commented on #147
Process improved to add certbot to sync-endpoint

[2020-05-05 13:05] wbrunette commented on #147
Docs update: https://github.com/odk-x/docs/pull/10

[2020-05-13 03:51] yanokwa opened #178 "Add more precision to make Enpoint running over HTTPS"
Originally filed at https://github.com/getodk/docs/issues/1180.

[2020-05-18 21:32] elmps2018 commented on #53
This came up again: https://forum.odk-x.org/t/bulk-deleting-of-data/692

[2020-05-18 21:35] elmps2018 commented on #149
I think this might be done? There is at least progress here:
https://docs.odk-x.org/injected-interfaces/?highlight=injected#odkdata-js and thereafter, although the survey and tables ones are a bit short, but not sure if there is more to add.

[2020-05-18 21:37] wbrunette commented on #149
we have only fully documented 1 of the 4 injected objects.

[2020-05-18 21:37] elmps2018 commented on #148
I don't actually think this is a documentation issue... I think it's an error message issue, although we could think about adding "common error messages" in the docs, but low priority.

[2020-05-18 21:38] elmps2018 commented on #147
This appears to be at least in part underway but looks like it needs further work and probably is worth pursuing.

[2020-05-18 21:39] elmps2018 commented on #146
Some progress has been made in explaining files and also the grunt command to empty things out is documented:
https://docs.odk-x.org/getting-started-2-architect/?highlight=wipe#useful-grunt-commands

[2020-05-18 21:41] elmps2018 commented on #145
I think we have done this? See https://docs.odk-x.org/getting-started-2-architect/?highlight=wipe#useful-grunt-commands

[2020-05-18 21:42] elmps2018 commented on #144
There is now this:
https://docs.odk-x.org/getting-started-2-architect/?highlight=wipe#useful-grunt-commands
Is it complete?

[2020-05-18 21:43] wbrunette commented on #145
LDAP is part of the sync-endpoint-default-setup. There is a page on LDAP but it does not go into much detail.

[2020-05-18 21:43] elmps2018 commented on #143
The new learning path for survey walks through some of this, are there other spots to improve?

[2020-05-18 21:43] wbrunette commented on #145
See: https://docs.odk-x.org/sync-endpoint/#ldap

[2020-05-18 21:44] elmps2018 commented on #142
I couldn't find any documentation yet on this one.

[2020-05-18 21:45] elmps2018 commented on #141
We had noted this as high priority and tagged Albert; seems to be a developer issue so not sure if a docs issue.

[2020-05-18 21:46] elmps2018 commented on #140
This needs to be broken apart into divisible items. I think clean app designer and what files do are improved. The rest we should prioritize variously and split.

[2020-05-18 21:46] wbrunette commented on #141
It's for the advanced docs section.

[2020-05-18 21:47] elmps2018 commented on #138
It is now listed in the prompt types:
https://docs.odk-x.org/getting-started-2-architect/?highlight=wipe#useful-grunt-commands
Is there further documentation needed?

[2020-05-18 21:48] elmps2018 commented on #137
Not documented that I can find.

[2020-05-18 21:48] elmps2018 commented on #136
Not documented yet, but GSOC team working on it.

[2020-06-02 11:06] #26 closed

[2020-06-03 02:01] chrismclarke commented on #129
To help avoid accidental exit would it be possible to pass the back button operation to the webview as in: https://stackoverflow.com/questions/37673558/android-webview-make-back-button-go-to-previous-page/37673643

I find myself most often exiting the app when trying to navigate across custom screens implemented in tables, so to me this would be a really useful feature.

[2020-06-12 16:43] lacabra opened #179 "Include LICENSE"
Dear project maintainers,

First and foremost, thank you 🙏 for the amazing work that the ODK-X community has made over the years open sourcing the whole ODK-X Framework for the benefit of those that work on the front lines of resource constrained environment. Kudos to you 🙌

In order for many others to use the various components in this framework, they need to know under which terms they can do so

[2020-06-15 11:18] antenehtassalif opened #158 "Moving across sections"
The BACK button behaves properly within a section. The problem is when we try to use back from a section boundary. One should expect from BACK 1) to move to the previous question or 2) to move to the last question of the previous section (if we were at the first question of a section). Besides, if one wants to reach into the list of sections, there already is a way (using the left-most button of t

[2020-06-15 11:22] antenehtassalif opened #159 "Form retaining responses"
When you go back and change the response of a question, all dependent values need to be cleared. Currently, the form retains values even after the response to a parent question is changed. It is possible to reset values through assign but this won't be safe when we have a large survey; plus, it also contributes to the size and complexity of forms.

[2020-06-15 11:29] antenehtassalif opened #160 "Required fields requiring extra logic"
The required field should only take True/ False or Yes/ No only. If conditions upon which questions depend on evaluates to FALSE or questions are skipped, values of required fields need to default to FALSE or skipped. This is also causing a lot of trouble while finalizing (usually when questions are skipped).

[2020-06-15 11:33] antenehtassalif opened #161 "Sub-forms showing up on survey"
If we have multiple forms, all of them will show up on Survey. This causes a problem (and is confusing) when we want to have only one entry point. It will be great if there is an option to set one form as a parent and only that form shows up on Survey (I am using Tables to avoid the confusion).

[2020-06-15 11:35] antenehtassalif opened #162 "Synchronization options"
Synchronization has 4 options. I tried the “Upload Only” one and it doesn’t work as promised; I ended up downloading the content of the server. I haven't checked other options, but this is also sort of an essential issue.

[2020-06-15 11:45] antenehtassalif opened #163 "Lost data on a screen refresh"
If we are editing a large text (say on a textarea) and a screen goes off, everything will be lost when the screen reloads; it would be great if that information is cached so that the text stays even after a refresh.

Currently, we extended the screen timeout to max to deal with the issue.

[2020-06-22 18:56] e2themillions commented on #58
Hello,
I believe this is still an issue? @linl33 do you know if it was ever fixed/merged into master?

[2020-06-23 16:37] linl33 commented on #58
Looks like the issue is still there. The 0-byte file exception could use a better error message.

[2020-06-24 16:36] elmps2018 commented on #156
I think I got everywhere in docs that mentioned this and updated it to the right github link for OI file manager.

[2020-06-24 16:36] #156 closed

[2020-06-24 16:40] elmps2018 commented on #154
#161 also was a request to address this feature (closed that to leave this)

[2020-06-24 16:40] elmps2018 commented on #161
Closing b/c #154 is the same issue, leaving that open.

[2020-06-24 16:40] #161 closed

[2020-06-24 16:41] elmps2018 commented on #163
Is this in survey, or tables, or both?

[2020-06-24 16:42] elmps2018 commented on #162
Can you tell us more about this issue? Is this in ODK-X services that you are choosing options for synchronization? Synchronization will generally download the contents of the server (and upload too).

[2020-06-24 16:43] elmps2018 commented on #160
In excel, we work around this by making the required equal to the skip (just type in the required column
=G5
if G5 has the skip that needs to be applied). But agree that this would be a nice feature.

[2020-06-24 16:46] elmps2018 commented on #159
This may not be true for all use cases. For example, in longitudinal data collection, it may be that there are sections (such as demographic information) you want to collect on the first visit, and retain for future visits, but not re-ask. So if there's a "which is the latest visit?" question and you update to the second visit, you don't want demographics to get deleted.

[2020-06-24 16:52] elmps2018 commented on #144
Now here: https://docs.odk-x.org/build-app/?highlight=wipe#pushing-and-pulling-files

[2020-06-25 06:09] e2themillions commented on #159
I think the danger is that you could wind up with an answer to a question that you didn't ask.

E.g. if you have 2 questions, where no. 2 is only asked when no. 1 has answer X.
If you answer "X" to no. 1 and then answer "something" to question no. 2 and goes back and change the answer to question no. 1 to Y (which will cause question no. 2 to be skipped) - the value of question no. 2 will still be

[2020-06-25 06:10] e2themillions commented on #159
As a side note - in ODK Collect there is the option of "removing" an answer entirely by long-tapping. I think that is basically because of this?

[2020-06-25 06:40] e2themillions commented on #58
So, is this something that should be solved in the services app or server-side?
If it is to be fixed in the services app, perhaps it would suffice to just rephrase the error message to include the possibility that the error could also be due to 0-byte content?

The only case I would make for allowing null-sized files is that they can be used on rare occasions (e.g. ".nomedia") and also, if they do

[2020-06-25 10:43] antenehtassalif commented on #162
Thanks, @elmps2018. This was a misunderstanding.

[2020-06-25 10:43] #162 closed

[2020-06-25 10:55] antenehtassalif commented on #163
Survey

[2020-06-25 14:43] elmps2018 commented on #159
I am not sure this is a bug though in longitudinal data collection. I understand the example and cases where you end up with "extra" data. However, say you have a form that collects data longitudinally (and there are many of these). If there is a skip pattern based on the visit, it might go like this:
Choose visit 1: answer demographic section and health section
Choose visit 2: skip demographic se

[2020-06-25 14:50] e2themillions commented on #159
I agree that we must be careful not to create new inconveniences :-)
I am not sure I fully understand the longitudinally case; Wouldn't two visits be recorded in two separate questionnaire instances?
Perhaps we could discuss this topic at the next community call? :-)

[2020-06-30 16:39] wbrunette commented on #159
A proposal to resolve the issue. Create a new feature with a column in the XLSX survey sheet that will let the system know to clear this value if the conditionals do not match. The idea is when the form is being converted to formDef.json is to automatically create clearing formulas based on the if conditionals. The idea is pre-process and throw compile errors if the situation is complicated by got

[2020-06-30 16:55] antenehtassalif commented on #159
nice proposal @wbrunette.

[2020-07-02 06:18] e2themillions commented on #58
I will see if I can update the Android Services app to produce a more detailed error message.

[2020-07-08 23:16] wbrunette opened #164 "Fix Sync-Endpoint Documentation"
Because of the change in code people were getting confused with things in the in between state. Better to push the correct instructions and do the documentation improvement in the pull request at a later date.

https://github.com/odk-x/docs/pull/10

[2020-08-11 15:53] elmps2018 opened #165 "Make it easy for potential contributors to see which features are already developed"

[2020-08-11 15:53] elmps2018 opened #166 "Update the UI to use a modern framework that is familiar and intuitive to users"
From the 2019 convening: https://docs.google.com/document/d/1_4x9x3eHxo4qevBRlpmCC9L2bVlUkAQuAlidT8wJDzI/edit#

[2020-08-11 15:55] elmps2018 opened #167 "Video Tutorial"

[2020-09-08 15:00] maprehensive commented on #123
Initial sync can take up to 15 minutes.
Review content in forms, and scope stripping full form download in the demo app.

[2020-09-08 15:26] #124 closed

[2020-10-11 23:33] wbrunette opened #168 "Increase default string size?"
As more storage and processing power exist does it make sense to increase the default string length in our databases to assist users from hitting the string too long error? Users can specify long string lengths but many people do not think about that up front.

[2020-10-19 20:36] wbrunette opened #169 "Improve Sync-Endpoint Setup Script to build without tests"
When using the script to deploy a sync-endpoint, skipping tests would probably avoid issues.

[2020-11-03 15:37] #56 closed

[2020-11-03 15:49] elmps2018 commented on #35
This is not so much a problem as an undocumented feature. Related to not sufficiently documented javascript issues.

[2020-11-03 15:52] elmps2018 commented on #33
@linl33 says may be a documentation error around API calls

[2020-11-03 15:56] #33 closed

[2020-11-14 08:45] maprehensive commented on #123
Have a possible issue with the demo instance at https://tables-demo.odk-x.org

When attempting to sync the following error is returned:

![Screenshot_20201114-153620](https://user-images.githubusercontent.com/1215441/99143450-28684400-2690-11eb-98fb-fb5bac447bf1.png)

Am using Tables / Services version 2.1.6 rev 238.

@linl33 can you advise if this is a client or server issue, and possible solutio

[2020-11-14 11:24] e2themillions commented on #123
This could be caused by empty file? Ref "Improve error message for empty files" issue #58

[2020-12-01 16:00] linl33 opened #170 "Mitigate Let's Encrypt CA Change"
Let's Encrypt issued certificate will no long be trusted on some devices, notably Android versions prior to 7.1.1, after September 30, 2021. ODK-X will introduce the following changes/features to minimize the impact:

- [ ] Trust Let's Encrypt's root public keys (ISRG Root X1, ISRG Root X2) in ODK-X Services

- [ ] Allow ODK-X Services to trust user provided certificates

- [ ] Allow users to brin

[2020-12-01 17:03] matt9j commented on #170
This looks like a good plan to me! I think in the long run supporting custom trusted certs in a deployment's client apps is the right way to solve the full offline case. Another possible short-term stopgap is adding zerossl as an alternative ACME cert provider. Supposedly it works the same with certbot, and they are still using a traditional root CA. Their 90 day ACME certs are also free like lets

[2020-12-01 20:02] elmps2018 opened #171 "Document Suitcase"
Need to document suitcase functionality for uploads, updates, etc.

[2020-12-02 13:46] linl33 commented on #170
ZeroSSL is listed as one of the options in the Google doc linked above. Unfortunately though, adding ZeroSSL is not as simple as swapping Let's Encrypt's ACME URL for ZeroSSL's URL. ZeroSSL requires an account, that has to be created out of band, to request certificates. See https://zerossl.com/documentation/acme/

[2020-12-02 20:22] matt9j commented on #170
Ah, that make sense. Sorry I couldn't see the doc yesterday! The plan as it stands is definitely the best option then!

[2020-12-04 16:35] elmps2018 commented on #171
Resolved with docs pull request 42.

[2020-12-04 16:35] #171 closed

[2020-12-10 20:47] wbrunette opened #172 "ensure app-designer setup is documented"
There are two sets of instructions for app designer, one from the zip download and one for someone doing a fresh checkout. Make sure both are documented.

Especially the README should document for developers.

[2020-12-23 02:26] linl33 commented on #170
Update from Let's Encrypt on this situation: [https://letsencrypt.org/2020/12/21/extending-android-compatibility.html](https://letsencrypt.org/2020/12/21/extending-android-compatibility.html)

In short, they have found a workaround that will allow old devices to continue to trust Let's Encrypt issued certificates until early 2024.

[2021-01-08 22:33] clarlars opened #173 "Update grunt addtable task needs to be updated"
The templates in the grunttemplates directory of the Application Designer need to be updated to be compatible with the latest release of ODK-X.

[2021-01-11 19:07] wbrunette commented on #173
Need to update the Tables file generation system:
https://forum.odk-x.org/t/list-view-nor-detail-view-not-working/1048/5

[2021-01-12 23:39] wbrunette opened #174 "Add 'signature' type to prompt type list"
1) The prompt type signature appears to be missing from the list
https://docs.odk-x.org/xlsx-converter-reference/#id4

2) The url could probably be improved to 'survey-prompt-types' instead of 'id4'

[2021-01-14 05:22] linl33 opened #175 "Required assign in Survey"
Survey doesn't check if `assign` prompts marked as `required` are filled.
Constraints probably aren't checked either but that was not tested.

Tested on version 2.1.7

[2021-01-19 15:33] odk-x-bot opened #176 "de-couple this repo from getodk/docs"
If desired, just send a support request to GitHub to 'de-couple'. It will be done quickly.

[2021-01-19 15:42] chlarsen opened #180 "Help! No Docker, please!"
Dear All,
As much as I appreciate the longitudinal capabilities of ODK-X, I started to get a major headache with its sync endpoint ("server") setup. The latter is purely docker-based, throwing together Java, PostgreSQL and OpenLDAP components for "easy" deployment. Alas, this is not, how it works in my FreeBSD world, where we have jails, which contain carefully and securely crafted server instance

[2021-02-01 19:36] wbrunette commented on #169
Closed by https://github.com/odk-x/sync-endpoint-default-setup/pull/19

[2021-02-01 19:36] #169 closed

[2021-02-01 19:42] wbrunette commented on #178
Fixed odk-x/docs#10

[2021-02-01 19:42] #178 closed

[2021-02-01 19:49] wbrunette opened #181 "Mechanism for Reducing Imaze Sizes during Sync"
Proved mechanism for reducing image sizes during sync.

Proposal:
- Add a flag to sync protocol to have sync-endpoint reduce the image size before client downloads the image during sync
- Full size images are maintained on the sync-endpoint.
- Add option to Services app to let user select reduced size images or full size images.
- Reduction of image size only occurs on sync down to client, full si

[2021-02-01 20:01] wbrunette opened #182 "Hosting multiple apps on the Sync Endpoint Server"
Feature request on ODK-X Forum:

[Hosting multiple apps on the Sync Endpoint Server](https://forum.odk-x.org/t/hosting-multiple-apps-on-the-sync-endpoint-server/1064?u=w_brunette)

[2021-02-01 20:10] wbrunette opened #183 "Create a version tag for a reset of a sync-endpoint"
Problems:
1) When resetting a server with similar tables sync will upload old data until it hits an error and realizes that one change in schema has happened.
2) Deployment Architect wants to reset the server and clear data and use same schema. Currently, ALL mobile devices must manually delete their contents. If one device does not do the manual delete all old data is synchronized to the server.

[2021-02-03 06:49] linl33 opened #184 "Allow per prompt custom label on acknowledge prompt type"
The acknowledge prompt type only allows setting the label through the framework translation token `acknLabel`.
It would be great to be able to set different labels on different prompts.

[2021-03-02 08:16] linl33 opened #185 "Survey table of contents has hard-coded heading"
The table of contents has a hard-coded heading `Contents`.

The heading should use a translation key to allow internationalization. `options_popup_contents_heading` in `framework_translations` could be used for this. Or a new key should be added to `framework_translations`.

https://github.com/odk-x/app-designer/blob/7abf14b16d940850cedfa66e2f9c2afd79553b3e/app/system/survey/templates/contents.han

[2021-03-02 08:34] linl33 opened #186 "Add a Grunt command to pull ODK-X logs"
A Grunt command similar to `adbpull-db` and `adbpull-csv` but for the logs stored at `output/logging` would be very useful for debugging.

This new command can follow the implementation for `adbpull-csv` (linked below)
https://github.com/odk-x/app-designer/blob/7abf14b16d940850cedfa66e2f9c2afd79553b3e/Gruntfile.js#L316-L325

**Version**
2.1.7

[2021-03-02 15:32] maprehensive opened #187 "Update ODK 2 to ODK-X in Sync-endpoint login screen"

[2021-03-02 15:33] linl33 commented on #187
This is on https://github.com/odk-x/sync-endpoint-web-ui

[2021-03-02 15:46] linl33 commented on #153
Also missing `valuesList`

[2021-03-02 22:09] wbrunette opened #188 "Sync-Endpoint UI Fix - Replace Row eTag with row ID"
Currently the Sync-Endpoint displays the "Row eTag" as the first column when displaying rows. It should instead display the row ID (in the table _id).

[2021-03-03 07:41] linl33 opened #189 "Document showFooter/showHeader option for forms"
`showFooter` and `showHeader` options for Survey forms are not documented.

[2021-03-03 08:04] linl33 opened #190 "Hard-coded text in Survey's sort.xml"
https://github.com/odk-x/survey/blob/1e2908b4433d7004d71cba4c2724aa43a2c9bfcd/survey_app/src/main/res/menu/sort.xml#L4

This should be replaced by a string resource.

[2021-03-03 08:28] linl33 opened #191 "Add option to convert all forms in app-designer's web interface"
There is a grunt command `xlsx-convert-all` to convert all forms under `app/config/tables` but the web interface only allows converting forms one at a time.

There should be a button on the web interface that provides the option to convert all forms.

[2021-03-03 08:36] linl33 opened #192 "Inherit locale for new instanced created through linked_table"
When a new instance is created through `linked_table` the new instance uses the default locale. If the parent instance uses a non-default locale, the child instance should inherit the locale used in the parent form.

This could be implemented by passing `_locale` to the new instance (if one isn't provided in `newInstanceKeyToValueMap`) at the line linked below
https://github.com/odk-x/app-designer

[2021-03-04 15:44] ni-ka opened #193 "ODK-X Services crashes on Android 11"
Hi,

I've just installed ODK-X and ODK-X Services crashes if I try to refresh or when I open the settings.

[code]

I am running Android 11 (Pixel 5)

[2021-03-04 15:47] wbrunette commented on #193
@ni-ka What version of ODK-X services are you using?

[2021-03-04 18:01] ni-ka commented on #193
Oh yes sorry should have added that version 2.1.7 rev 240.

On Thu, Mar 4, 2021, 15:48 wbrunette <notifications@github.com> wrote:

[2021-03-05 02:22] linl33 opened #194 "User-configurable stack name in init-odkx-sync-endpoint.py"
`init-odkx-sync-endpoint.py` hard-coded the stack name `syncldap`. A user-configurable stack name would be useful.

[2021-03-05 06:39] ni-ka commented on #193
Also, when I try to run ODK-X tables it says that I need to install OI file manager and ODK-X services, which are both installed

[2021-03-05 07:47] adityaofficial10 commented on #194
Hey!
@linl33 Can I work on this issue?

[2021-03-05 14:34] linl33 commented on #194
Hi @adityaofficial10!

Yes, you can work on this issue.
The idea is that the script should prompt for a stack name but default to `syncldap` (the current name). The script should also store the chosen stack name to its settings file.

[2021-03-05 14:35] adityaofficial10 commented on #194
@linl33
Sure, I'll follow this up with a PR shortly.

[2021-03-05 18:31] adityaofficial10 commented on #194
@linl33
I have made the changes as shown below:
<img width="862" alt="Screenshot 2021-03-05 at 11 59 35 PM" src="https://user-images.githubusercontent.com/65034276/110158079-f2052f00-7e0e-11eb-9110-37e465453774.png">
Is this fine?
Also, you were talking about the settings file.
Which file is that exactly?

[2021-03-06 04:58] linl33 commented on #194
The function is correct but a few notes on the implementation,
 - Please move the prompt into `run_interactive_config`, to keep it consistent with the rest of the configuration
 - Please put the default value into `[()]`, e.g. `Please enter a name for the Docker Swarm stack [(syncldap)]`
 - Please use String interpolation instead of concatenation

For the settings file, see https://github.com/odk-

[2021-03-06 09:13] adityaofficial10 commented on #194
@linl33
I've made the required changes.
I'm sending you a link to the file in my fork. Kindly review and inform if I can improve something.
https://github.com/adityaofficial10/sync-endpoint-default-setup/blob/fix/stack-name-added/init-odkx-sync-endpoint.py

[2021-03-06 09:52] adityaofficial10 commented on #186
@linl33
I've gone through the implementation of adbpull-csv.
Can I work on this issue?

[2021-03-06 11:36] adityaofficial10 commented on #187
@maprehensive @linl33
I've made the changes.
Can I move forward with a PR?

[2021-03-06 11:43] adityaofficial10 commented on #188
@wbrunette
Can I move forward with this?

[2021-03-06 14:43] wbrunette commented on #188
@adityaofficial10 Yes. Thanks for claiming the issue.

[2021-03-06 16:32] adityaofficial10 commented on #190
@linl33
I've made the changes.
<img width="469" alt="Screenshot 2021-03-06 at 10 01 36 PM" src="https://user-images.githubusercontent.com/65034276/110213804-99de3380-7ec7-11eb-9906-1087b8f3031b.png">
Kindly review this.

[2021-03-07 03:38] linl33 commented on #194
Yes, please send a pull request against the **development** branch.

[2021-03-07 03:40] linl33 commented on #190
Please send a pull request to [odk-x/survey](https://github.com/odk-x/survey) against **development** branch.

[2021-03-07 03:41] linl33 commented on #187
Please send a pull request to [odk-x/sync-endpoint-web-ui](https://github.com/odk-x/sync-endpoint-web-ui). Thanks.

[2021-03-07 03:42] linl33 commented on #186
Please send a pull request to [odk-x/app-designer](https://github.com/odk-x/app-designer) against **development** branch. Thanks.

[2021-03-07 03:54] linl33 opened #195 "Update DigitalOcean setup script with new size slugs"
Reported on forum: https://forum.odk-x.org/t/update-size-slug-for-python-script/1163

The line on https://github.com/odk-x/docs/blob/6c8268cabfa53f8fec3671c789067fbaa237fb30/odkx-src/files/pyscript_DO.py#L21 needs to be updated to one of the new slugs listed on https://developers.digitalocean.com/documentation/changelog/api-v2/new-size-slugs-for-droplet-plan-changes/

[2021-03-07 06:35] adityaofficial10 commented on #194
@linl33
I've linked the PR.

[2021-03-07 07:07] adityaofficial10 commented on #195
Hey @linl33 !
Would 4GB version, i.e. 's-2vcpu-4gb' be fine?

[2021-03-08 02:34] linl33 commented on #195
Hi @adityaofficial10,
You will need a DigitalOcean account to test the changes. Please confirm you have an account.

[2021-03-08 15:46] adityaofficial10 commented on #191
@linl33
Can I have some more details about the issue?

[2021-03-09 15:56] linl33 opened #196 "Tables/Survey crash with HTML select on Android 5.1"
Reported on forum, https://forum.odk-x.org/t/html-dropdown-does-not-show/1175

Tables and Survey crash when an HTML select is clicked.
Tested on Android Emulator version 5.1 Google API.

[2021-03-09 19:17] wbrunette commented on #196
Was the WebView upgraded via Google Play? As updated libraries depend on upgraded WebViews.

[2021-03-10 02:21] linl33 commented on #196
Only tested with the stock version. I will try with an updated webview.

[2021-03-10 10:07] kdsanskar07 commented on #192
Hi @linl33,
I want to work on this issue, can you share some more detail?

[2021-03-10 18:32] adityaofficial10 commented on #189
@linl33
I can work with the documentation if you allow.

[2021-03-10 18:34] #179 closed

[2021-03-10 18:35] adityaofficial10 commented on #172
@wbrunette
Can I move ahead with the documentation part?
I am already familiar with most of ODK tools.😅

[2021-03-10 18:37] adityaofficial10 commented on #195
@linl33 I have the account.

[2021-03-10 18:39] adityaofficial10 commented on #185
@linl33
I am working on a similar issue.
Can I merge this commit with it?

[2021-03-10 18:39] wbrunette commented on #172
@adityaofficial10 you can move ahead. Please make sure to document both paths as a checkout requires an npm install. When we post the full zip for release we include the packages.

[2021-03-10 18:41] adityaofficial10 commented on #172
@wbrunette
Sure, I'll take care of that..

[2021-03-10 18:48] adityaofficial10 commented on #175
@linl33
Can you provide me with a bit more details about this issue?
I tried doing it myself but got confused.😅

[2021-03-11 03:10] linl33 opened #197 "Default Suitcase CLI's dataVersion to 2"
`dataVersion` is a required argument in Suitcase's CLI. In practice, the value for this argument is always 2. Suitcase could provide a default value for this argument to simplify usage.

[2021-03-11 03:17] avinash14022002 commented on #197
@linl33  sir,
wanted to work on the issue please let me know how to start with..!!!

[2021-03-11 03:37] linl33 commented on #197
Hi @avinash14022002! Please see the **getting started** section on https://forum.odk-x.org/t/welcome-gsoc-applicants/1195 and the README on https://github.com/odk-x/suitcase

[2021-03-11 03:39] linl33 commented on #192
Hi @kdsanskar07!
For general getting started information, see https://forum.odk-x.org/t/welcome-gsoc-applicants/1195. If you have a specific question let me know.

[2021-03-11 15:25] linl33 commented on #185
If you're referring to https://github.com/odk-x/survey/pull/143, these 2 issues do not belong to the same repository

[2021-03-11 15:26] linl33 commented on #191
@adityaofficial10 Please finish your 2 in progress PRs first.

[2021-03-12 16:06] pawanharariya commented on #155
I tried studying code base for a while and I didn't see any information about last sync info. I am thinking to save current system time in shared preferences once sync in completed and display it. If this is a right approach I will implement it and send a PR, if not any guidance will be helpful.

[2021-03-12 22:00] wbrunette commented on #155
@pawanharariya your proposed solution sounds like a good approach. Go ahead and implement a PR for review.

[2021-03-13 04:07] IAmJaishree commented on #188
@adityaofficial10 Is it possible for me to take this issue if you have not started with it yet?

[2021-03-13 04:16] IAmJaishree commented on #74
Can I get more info on reproducing this issue? I am just looking on how to open the example form.

[2021-03-13 05:22] linl33 commented on #74
Hi @IAmJaishree, you can start with our documentation: https://docs.odk-x.org/survey-sample-app/

[2021-03-13 05:45] linl33 opened #198 "Add description on app-designer's QR code generator"
App-designer's QR code generator generates a QR code for ODK-X Services to log in to a Sync Endpoint server. The code generator could provide a description on the page of what it does and how to use it.

[2021-03-13 05:46] linl33 opened #199 "Document login with QR code"
ODK-X Services supports scanning a QR code to login to a server. This feature should be documented.

[2021-03-13 07:36] IAmJaishree commented on #107
this seems same as #155 to me, if not can I get some more info on this?

[2021-03-13 07:45] IAmJaishree commented on #73
@wbrunette looking this issue I have a query.

should we allow the user to run the app in the landscape mode after rotating the screen?
do we have specific use cases in which users will prefer to run this screen in the landscape mode?

if not we can just restrict the rotation of this screen. Otherwise we can come up with some other fix.

[2021-03-13 07:48] IAmJaishree commented on #150
@linl33  Can I take this as my first issue?

[2021-03-13 08:03] VarunT11 opened #200 "UI Feature Update in Services : Password Visibility Toggle"
**Current Scenario :**
- For Authentication and Updating Password, Users are asked to enter the password in an EditText Field.
- If someone wants to view the entered password, they click on the Checkbox below the EditText and the password gets visible.
![Screenshot_20210313-113448](https://user-images.githubusercontent.com/58032608/111023168-80744480-83fd-11eb-8fc2-dbf8a4bc6a19.jpg)
![Screenshot_2

[2021-03-13 10:07] sayant1204 commented on #198
Hi @linl33,
Can I work on this issue?

[2021-03-13 12:03] IAmJaishree commented on #66
Are there any plans on taking this issue?
If not I would be interested in working on it.

[2021-03-13 12:10] pawanharariya commented on #155
I sent a PR https://github.com/odk-x/services/pull/181. Please review.

[2021-03-13 12:58] IAmJaishree commented on #125
can I get more info on this? about what are we planning on this, what are the things that need to be done in order to complete this?

[2021-03-13 15:18] linl33 commented on #107
Yes, it's a duplicate of #155. @IAmJaishree thanks for reporting this.

[2021-03-13 15:18] #107 closed

[2021-03-13 15:19] linl33 commented on #198
Hi @sayant1204,
Yes, please go ahead. Thank you.

[2021-03-13 15:22] linl33 commented on #150
Hi @IAmJaishree,
Yes, please go ahead. Thanks.

[2021-03-13 17:48] VarunT11 commented on #131
@jbeorse I would like to work on this Issue. Please assign it to me!

[2021-03-13 22:18] jbeorse commented on #131
Sure thing @VarunT11.  Are you thinking of participating in Google Summer of Code? Here is a link to our main forum post that should help you get started: https://forum.odk-x.org/t/welcome-gsoc-applicants/1195

[2021-03-14 02:53] IAmJaishree commented on #199
@linl33 I would like to work on it, could you please provide more information on where should I document it?

[2021-03-14 03:04] linl33 commented on #66
Hi @IAmJaishree,

The scope of this issue is quite broad. This will involve reviewing code in all of our Android tools. If you're still interested, I will assign this issue to you.

[2021-03-14 03:06] linl33 commented on #199
Our documentation is at [https://github.com/odk-x/docs](odk-x/docs)

[2021-03-14 12:40] IAmJaishree commented on #199
Thanks @linl33, can this issue be assigned to me?  :)

[2021-03-14 12:44] linl33 commented on #199
Sure, I've assigned this issue to you. Thanks!

[2021-03-14 14:29] ADISKING1 commented on #50
Hey @linl33, I would like to work on this and try and fix this bug!

[2021-03-14 14:35] linl33 commented on #50
Hi @ADISKING1!
You may go ahead. Thank for taking an interest in ODK-X.

[2021-03-14 15:04] pawanharariya opened #201 "Spinner's selected Item doesn't persist between activity lifecycle changes in services app"
The Sync option spinner's selected item is not saved when user navigates away from the activity. If some other value is selected for Sync Type the spinner's value is set to default when user comes backs to activity and user has to reselect the same option again.

Suppose the option Do Not Sync attachments is selected by the user.

![before](https://user-images.githubusercontent.com/43620548/111073

[2021-03-14 15:34] deepak-prajapatii commented on #174
@wbrunette Can I work on this issue?

[2021-03-14 15:40] deepak-prajapatii commented on #85
@linl33 Can I work on this issue?

[2021-03-14 17:22] wbrunette commented on #174
@deepak-prajapatii I have assigned the issue to you.

[2021-03-14 17:39] wbrunette commented on #150
Closed by: odk-x/services#182

[2021-03-14 17:39] #150 closed

[2021-03-14 17:41] deepak-prajapatii commented on #174
Thanks, Now  I am working on this issue.

[2021-03-14 17:44] wbrunette commented on #125
This is actually the issue that corresponds to the GSOC project https://forum.odk-x.org/t/internship-project-improve-odk-x-services-login-user-interface/1193

[2021-03-14 17:52] wbrunette commented on #200
@VarunT11 this update does change the UI to become closer to current standard interfaces, so go ahead and implement and submit a PR for review.

[2021-03-14 17:53] wbrunette commented on #73
@IAmJaishree, yes having the screen rotate is a valid use case. People often like using tablets in landscape mode.

[2021-03-14 18:04] wbrunette commented on #201
@pawanharariya, I agree this would improve the user experience, so go ahead and implement and submit a PR for review.

[2021-03-14 18:49] VarunT11 commented on #200
@wbrunette I have implemented the changes and submitted the PR for Review at https://github.com/odk-x/services/pull/183

[2021-03-14 20:34] wbrunette commented on #186
Closed by: https://github.com/odk-x/app-designer/pull/148

[2021-03-14 20:34] #186 closed

[2021-03-14 21:13] wbrunette commented on #77
Closed by: https://github.com/odk-x/suitcase/pull/47

[2021-03-14 21:13] #77 closed

[2021-03-15 03:39] VarunT11 opened #202 "Feature Update: Warning on 'Accidental' Exit from Main Screen"
**Current Scenario**:
- On clicking the back button from the Main-Screen of the ODK-Services Application, the Application gets exited immediately.

**Issue**:
- For better User Experience, a warning message should be provided to the User before leaving the Application by clicking on the Back Button.

**Proposed Solution**:
- Implementation of the above Issue by prompting a warning message when the

[2021-03-15 03:50] IAmJaishree commented on #199
@linl33 just to be on the same page I want to confirm the following.

I need to build the documentation project in my local machine and change the source code in order to update the documentation?

[2021-03-15 04:13] linl33 commented on #199
Yes, you can find more information on the README of https://github.com/odk-x/docs

[2021-03-15 04:49] deepak-prajapatii commented on #174
@wbrunette Hey, where I need to add the "signature" type?

[2021-03-15 05:51] linl33 opened #203 "Wrong link in Services preferences"
There is a link in the preferences for Services that points to [http://opendatatkit.org](http://opendatatkit.org). The link should point to [https://docs.odk-x.org](https://docs.odk-x.org) instead.

[2021-03-15 06:04] IAmJaishree commented on #203
@linl33 can I work on it?

[2021-03-15 06:31] IAmJaishree commented on #199
Thanks, I tried to setup it in windows and I am not able to do it, I am facing some issues there, now I am moving to ubuntu and trying to setup it there.

[2021-03-15 06:54] linl33 commented on #203
Sure, you may go ahead. Thanks.

[2021-03-15 07:34] deepak-prajapatii commented on #174
@wbrunette Hey, Can I get some more details about where and how can I add signature type?

[2021-03-15 07:57] IAmJaishree commented on #202
Yes, I too think this will enhance the user experience. After clicking on the back button we can ask user to click back again to exit the app.

[2021-03-15 08:05] VarunT11 commented on #202
@IAmJaishree Yeah Exactly!
Or we can just display a _Snackbar_ with a Message confirming whether the User wants to Leave the Application or not. If we implement it this way, then the _Snackbar_ would look like this in the Application:
![Screenshot_20210315-101011__01](https://user-images.githubusercontent.com/58032608/111121871-3624cc00-8593-11eb-84e3-db593d06c025.jpg)

[2021-03-15 13:20] starboi02 commented on #185
@linl33 can I work on this one?

[2021-03-15 14:41] linl33 commented on #185
@adityaofficial10, have you started to work on this? If not, please let @starboi02 take on this issue.

[2021-03-15 14:53] adityaofficial10 commented on #185
@linl33
I've started but yeah I have no problems if he works on it.✌

[2021-03-15 15:59] wbrunette commented on #185
Thanks @adityaofficial10.

@starboi02 I have assigned the issue to you, so feel free to start working on it.

Are you thinking of participating in Google Summer of Code? Here is a link to our main forum post that should help you get started: https://forum.odk-x.org/t/welcome-gsoc-applicants/1195

[2021-03-15 16:03] wbrunette commented on #202
The issue is that Services is called from ODK-X Tables and ODK-X Survey. The 3 work together so it appears seamless to move between the applications. Therefore it will be akward for the user to have to confirm exit when they did not even realize they switched from Tables to Services (or Survey to Services).

[2021-03-15 16:06] wbrunette commented on #174
The signature type exists, it is simply not document. Create a XLSX definition for Survey and use type signature. Then update the documentation to help users use it. Documentation being our docs.odk-x.org website. To make updates to the website you change the https://github.com/odk-x/docs repo.

[2021-03-15 16:11] wbrunette commented on #199
The docker setup should be the easiest on windows.

[2021-03-15 17:43] VarunT11 commented on #202
@wbrunette Yes I agree that would be awkward, but this feature would be implemented only on the _**MainActivity**_ of Services Application and that too on Pressing the Back Button. Thus it would have no effect on the Current Flow between the 3 Applications.

[2021-03-15 17:51] wbrunette commented on #202
@VarunT11 I agree that only on MainActivity could solve the problem, as long as there are can bring this up for discussion. I am slightly worried about the snackbar as that people will miss the message at the bottom and be frustrated. I think this needs a discussion with the PMC/TSC. I am happy to bring it up at the next meeting. You can start to implement it if you want, but changes may come from

[2021-03-15 18:08] VarunT11 commented on #202
@wbrunette Regarding the Snackbar, we can decide a convenient time duration between 2 to 4 seconds of displaying the Snackbar such that a User gets sufficient time to read the warning message and then perform the next operation accordingly.
Also we can extend this feature of prompting a warning message on pressing the Back Button to the Survey and the Table Apps as well.

[2021-03-15 18:44] 96RadhikaJadhav commented on #203
@linl33 Is this issue resolved or still open? If open can I work on it?

[2021-03-15 18:45] wbrunette commented on #203
@96RadhikaJadhav the issue is currently assigned to @IAmJaishree to complete.

[2021-03-15 21:38] starboi02 commented on #185
@wbrunette Yes I am thinking of participating in GSOC. Thanks for the guidance!

[2021-03-16 04:13] deepak-prajapatii commented on #174
Okay, I am trying to solve it.

[2021-03-16 08:24] linl33 opened #204 "Update forum name in docs"
In the footer of the docs it says

The link is correct but the text should be `ODK-X Forum` instead.

[2021-03-16 10:04] riturajjain2000 commented on #204
I'll fix this

[2021-03-16 10:20] linl33 commented on #204
Hi @riturajjain2000,
Thanks taking on this issue. I've assigned this to you.

[2021-03-16 10:21] riturajjain2000 commented on #204
Thanks a lot!

[2021-03-16 12:07] IAmJaishree commented on #199
@linl33 @wbrunette I was having issues in setting this up in windows so I did the setup in ubuntu and it is running fine :) Thanks.

I have some queries.

![image](https://user-images.githubusercontent.com/58835654/111301500-4ebae200-8678-11eb-8a25-2364a6bc0bee.png)
This is the QR code scanner whose documentation is not available in Step 2 of  https://docs.odk-x.org/services-managing/#services-man

[2021-03-16 12:09] IAmJaishree commented on #204
I can work on this issue.

[2021-03-16 12:34] starboi02 commented on #204
Can I work on this?

[2021-03-16 13:17] starboi02 commented on #196
Can I work on it?

[2021-03-16 15:00] wbrunette commented on #196
@starboi02 a fix for this issue is being tested. I suggest tackling another issue.

[2021-03-16 15:06] linl33 opened #205 "Docs anchor links don't work on Chrome"
The anchor links, for example https://docs.odk-x.org/#key-features, don't work on Chrome. Firefox is unaffected.
It works when you're navigating to an anchor on the same page, but not when using the full URL.

Removing or blocking the Google translate script appears to fix the issue.

[2021-03-16 15:48] riturajjain2000 opened #206 "UI Feature Request : Add toggle button to "Show Splash Screen" and realign "Selected Image""
### Current Problem
Currently in the devices, the `Show Splash Screen` option under **Device Settings** is having a checkbox and the `Selected Splash Image ` is a little off to the right from the rest of the options, which I think was done with the intention of showing it as Child of the `Show Splash Screen option`, but is not adding up with the overall UI.

### Screenshot
![Screenshot_1615909055]

[2021-03-16 15:51] VarunT11 commented on #131
**Current Scenario**:
- During Sync of the Application with the Server, a _ProgressDialog_ is displayed which shows the current status of Sync.
![Screenshot_20210315-003041__01](https://user-images.githubusercontent.com/58032608/111338379-e6cac280-869c-11eb-8074-cdf654d9ebcc.jpg)

**Issues**:
- _ProgressDialog_ Class was deprecated in API Level 26
(Source : https://developer.android.com/reference/

[2021-03-16 16:05] riturajjain2000 commented on #131
If you are working on it the Progress bar then using Progress indicators in place of ProgressBar is better as it is a Material Component, for details see - https://material.io/components/progress-indicators/android#using-progress-indicators

Though it looks the same as a Progress Bar, still using Material Components is a better practice

[2021-03-16 16:28] wbrunette commented on #131
@VarunT11 one issue with a progress bar is you will be unaware of how many total steps are needed in the syncing process. We definitely need to move to a newer UI widget and replace the ProgressDialog. The issue is assigned to you to work on currently.

[2021-03-16 16:40] wbrunette commented on #204
@IAmJaishree
Thanks taking on this issue. I've assigned this to you.

[2021-03-16 16:46] wbrunette commented on #199
The application designer has a web tab that will generate the barcode.

https://github.com/odk-x/app-designer/

[2021-03-16 17:07] wbrunette commented on #202
@VarunT11 We discussed this at the PMC/TSC meeting. The notes from the October 2019 Convening of Improving UX for Existing Users, about warning for exit was actually for tables.

We encourage you to take on the issue from the convening

Duplicate of https://github.com/odk-x/tool-suite-X/issues/129

[2021-03-16 17:07] #202 closed

[2021-03-16 17:52] starboi02 commented on #205
Can I work on it?

[2021-03-16 18:55] elmps2018 opened #207 "Line edits in docs"
This issue is an ongoing, open issue for any line edits to the docs. If you are making minor fixes that are not related to another issue, you can refer to this one!

[2021-03-16 18:56] elmps2018 opened #208 "Fix the reference to line edits in docs"
In the docs, docs contributor guide there is reference to issue #19, line edits, which goes nowhere. This should be fixed to refer to #207

[2021-03-16 18:59] starboi02 commented on #208
Can I work on it?

[2021-03-16 19:31] wbrunette commented on #208
@starboi02 I have assigned the issue to you.

[2021-03-16 19:33] wbrunette commented on #205
@linl33 I am not sure this is an easy win/ good first issue since it's an open problem. Thoughts?

[2021-03-16 20:25] #203 closed

[2021-03-16 22:38] #200 closed

[2021-03-17 14:41] linl33 commented on #205
@wbrunette I agree. @starboi02 please pick a different issue.

[2021-03-17 14:46] linl33 commented on #199
@IAmJaishree Step 2 or 3 on https://docs.odk-x.org/services-managing/#services-managing-server-config are good places to put the documentation.

@elmps2018 Do you have suggestions on where to document this?

[2021-03-17 15:26] elmps2018 commented on #199
I think step 2 or 3 where you suggest is good for putting all the details. There may be some other places to then mention it and link back to the details. For example: https://docs.odk-x.org/survey-sample-app-install/ does a sample app sync. Putting a tip in there to see https://docs.odk-x.org/services-managing/#services-managing-server-config for how to log in with QR code and likewise here: http

[2021-03-17 16:38] linl33 opened #209 "Create a Tables UI test to replicate odk-x/tool-suite-X#196"
Create an UI test to replicate https://github.com/odk-x/tool-suite-X/issues/196.

See examples of a similar test at https://github.com/odk-x/tables/blob/development/tables_app/src/androidTestUitest/java/org/opendatakit/espresso/WebViewActivityTest.java and https://github.com/odk-x/tables/blob/development/tables_app/src/androidTestUitest/java/org/opendatakit/espresso/WebkitStressTest.java

[2021-03-18 07:18] starboi02 commented on #209
Can I work on it?

[2021-03-18 09:34] linl33 commented on #185
Fixed by odk-x/app-designer#185

[2021-03-18 09:36] #185 closed

[2021-03-18 12:16] starboi02 commented on #177
Can I work on it?

[2021-03-18 14:06] #208 closed

[2021-03-18 15:00] linl33 commented on #209
Yes, please go ahead. Thanks for claiming this issue.

[2021-03-18 17:26] wbrunette commented on #177
@starboi02 I have assigned the issue to you.

[2021-03-19 09:32] riturajjain2000 opened #210 "AboutMenuFragment gets loaded to Activity stack multiple times"
### **Bug description**
In the AboutMenuFragment, the menu item `About` is still visible, and if we click on it, the same AboutMenuFragment gets loaded again and again on the Stack, and the back button has to be pressed multiple times in order to exit the fragment.

### **Video**

https://user-images.githubusercontent.com/48384309/111759040-2ffc5b80-88c3-11eb-8826-47b66176bd90.mp4

### **Expected

[2021-03-19 10:25] linl33 opened #211 "Update ODK-X Services description"
The description on Services' homescreen still refers to ODK-X as ODK 2.0. It should be updated.
https://github.com/odk-x/services/blob/87d47733acad746981be8920782c9789c9a29683/services_app/src/main/res/values/strings.xml#L5

[2021-03-19 10:26] starboi02 commented on #211
Can I work on it?

[2021-03-19 10:27] linl33 commented on #210
Hi @riturajjain2000,

Thanks for reporting the issue. I agree that the about page should not be loaded multiple times. Would you like to work on this issue?

[2021-03-19 10:31] ADISKING1 commented on #211
Can I work on this bug?

[2021-03-19 12:08] riturajjain2000 commented on #210
yes , I am working on it rn

[2021-03-19 12:27] linl33 commented on #210
@riturajjain2000 I've assigned this issue to you.

[2021-03-19 12:51] VarunT11 opened #212 "UI Improvement : Admin Password Input"
**Current Scenario** : If the **Admin Access** to Settings is enabled in **Services** Mobile Application, and if the Users wants to access the Admin Settings by entering the Admin Password, they are taken to a separate screen where they enter the Admin Password.
![Screenshot_20210319-180745__01](https://user-images.githubusercontent.com/58032608/111782789-7364c300-88df-11eb-8361-53c6814108f2.jpg)

[2021-03-19 13:04] riturajjain2000 commented on #210
Thanks!

[2021-03-19 13:54] SilentCruzer opened #213 "Create a dialouge box before the sync starts."
**Problem description.**

In the services app, when a user clicks the sync now button, it directly starts syncing which we can't stop by pressing the back button.

![before_click](https://user-images.githubusercontent.com/73246484/111789607-5633f280-88e7-11eb-9dc7-d621b154b26e.jpeg)

![after_click](https://user-images.githubusercontent.com/73246484/111789635-5e8c2d80-88e7-11eb-9a0c-01a064369db5.jp

[2021-03-19 14:29] pawanharariya commented on #154
I would like to work on this issue. However I am facing some problems like how to determine whether a form is parent or child of another form?
Can anyone give some guidance on how to get started with this issue?

[2021-03-19 14:44] elmps2018 commented on #154
Hi @pawanharariya!
What are parent and child forms will be specific to each app, so the idea is to add a setting, generally, to forms to hide them in the main interface (the result then is that they can only be accessed as subforms inside the parent form).

If you want an example, in the sample app, as described here: https://docs.odk-x.org/survey-sample-app-open-form/
the Household Members and Ed

[2021-03-19 15:00] riturajjain2000 commented on #213
I think stopping sync when the back button is pressed while the sync is going on is a better option, even after implementing the dialog, the user cannot stop the sync if it starts

[2021-03-19 15:44] SilentCruzer commented on #213
I thought about the same too, but I didn't want to mess up data while it starts syncing and stopping it suddenly. If we put a proper message in the dialogue box, the user can know what's going to happen when the button is clicked and can decide accordingly, if he/she wants to proceed or not.

[2021-03-19 16:10] pawanharariya commented on #154
Okay @elmps2018 so like there should be a hide button against each form. But then the user may also end up hiding a parent form. How to deal with such situation?

[2021-03-19 16:17] elmps2018 commented on #154
@pawanharariya I think creating the setting per form is enough, and then users will just need to hide only the right forms.

[2021-03-19 16:23] pawanharariya commented on #154
@elmps2018 okay if at some later time the user finds a need to unhide some form. How will that be done?

[2021-03-19 16:29] wbrunette commented on #154
One approach could be to add a property to the settings sheet in the form definition that causes the form not to show up. Something like "hideFormInSurveyList", it could default to "false" and only if someone changes that property to "true" would it be hidden.

[2021-03-19 16:29] elmps2018 commented on #154
@pawanharariya others may want to weigh in on this, but at least how I set up surveys, it is not something that needs to be changed during fieldwork. You can always access the child forms through the parent form. So you would not need to unhide.

[2021-03-19 16:47] wbrunette commented on #211
@starboi02 since you have two open issues already assigned to you, I am going to assign this issue to @ADISKING1 so everyone has something to work on.

[2021-03-19 16:49] #197 closed

[2021-03-19 17:01] wbrunette commented on #213
@SilentCruzer thanks for bringing this up, since there are multiple ways to approach this I will need to consult with the PMC.

[2021-03-19 17:01] #205 closed

[2021-03-19 17:26] #196 closed

[2021-03-19 17:44] VarunT11 commented on #65
@linl33 @wbrunette If this issue is still open, I would like to work on this.

[2021-03-19 17:51] wbrunette commented on #65
@VarunT11 the issue is still open. I will assign it to you.

[2021-03-19 18:05] pawanharariya commented on #154
I was also thinking the same to provide some property in the form itself marking it as hidden or shown. I don't have knowledge of javascript currently if only someone could do the javascript part in app-desiner, I can then finish the android part.

[2021-03-19 18:22] wbrunette commented on #154
@pawanharariya you might want to investigate this more as I think the list maybe in a Webkit so it's all JavaScript. If it's in native android you could create a variable that defaults to false that someone else could obtain from the formDef.json.

[2021-03-19 19:03] VarunT11 opened #214 "UI/UX Improvement in Services : Admin Settings"
## Current Scenario:
- **Enabling User Restrictions**
  - To Enable the User Restrictions, an Admin Password needs to be set.
  - The User directly enters the New Admin Password and enables the User Restriction to Settings.
- **Disabling User Restrictions**
  - To Disable the User Restrictions, the User needs to enter a blank password when prompted to change the Admin Password.
- **Screenshots**
!

[2021-03-20 08:59] starboi02 commented on #211
Ok @wbrunette I understand that.

[2021-03-20 16:04] VarunT11 commented on #79
@wbrunette Can I work on this issue?

[2021-03-20 17:46] wbrunette commented on #214
(GSoC Specific Comment) @VarunT11 this would probably be better put into a proposal for [Improve ODK-X Services Login User-Interface](https://forum.odk-x.org/t/internship-project-improve-odk-x-services-login-user-interface/1193?u=w_brunette).

[2021-03-20 17:52] VarunT11 commented on #214
@wbrunette Okay, Sure!

[2021-03-20 17:58] wbrunette commented on #79
@VarunT11 I have assigned the issue to you.

[2021-03-21 07:57] ADISKING1 commented on #53
Hey @elmps2018,
I'd like to work on it.

[2021-03-21 08:32] #211 closed

[2021-03-21 08:50] pawanharariya opened #215 "Bug in settings username"
**Steps to produce:**
1. Go to server settings under settings
2. Enter a multi-line username
3. Press back to move back from activity click log-out
4. Open server settings again under settings

The username gets changed copying itself multiple times.

**Screenshots**
![1](https://user-images.githubusercontent.com/43620548/111899025-c52c5b00-8a4f-11eb-9ecf-ab0495bd1e7c.jpg)
![2](https://user-images

[2021-03-21 16:39] elmps2018 commented on #53
@ADISKING1 just assigned it to you! Let me know any questions I can help with.

[2021-03-21 17:07] Shubhamr837 commented on #133
Hi , I would like to work on this issue .
Should we store the login credentials in an encrypted format in a file to login the user after he exists the application?

[2021-03-21 17:14] ADISKING1 commented on #53
Thanks! I'll let you know if I'm stuck.

[2021-03-21 18:08] ADISKING1 commented on #133
I gave this issue some thought earlier today. It appears that there are multiple ways to approach this. One approach that I had in mind was to make use of the **Java Properties** API but this method is not as secure as the other available options. I would like to hear the thoughts of our mentors and other fellow developers on the same.

[2021-03-21 18:45] wbrunette commented on #133
@Shubhamr837 if you are doing GSoC you may want to make this part of your proposal for https://forum.odk-x.org/t/internship-project-improve-the-odk-x-suitcase-application/1190

[2021-03-21 18:47] wbrunette commented on #215
@pawanharariya this does seem like a bug. I have assigned it to you to fix. If you don't want to to fix it let me know and I will un-assign you.

[2021-03-21 18:52] Shubhamr837 commented on #133
Thanks a lot  , I would try to do it in the best way possible.

[2021-03-22 05:09] pawanharariya commented on #215
@wbrunette  I am not actually sure what's causing this bug. Can you provide more information on how the  new username and passwords are generated so that constraint can be added there for multi-line usernames? Here in services settings I can then add the same constraints on username field.

[2021-03-22 06:00] VarunT11 commented on #65
@wbrunette I have removed the Redundant View Castings from _**Android Library**_ in https://github.com/odk-x/androidlibrary/pull/191.
Apart from this, I saw some Redundant Castings in _**Services**_ also which were being suggested to be removed by Android Studio. So shall I remove those Redundant Castings also?

[2021-03-22 07:16] Shubhamr837 opened #216 "Bug in admin access in settings of services application"
The services application has an option of admin access in settings. After entering the password and getting admin access to settings , if the Android device is rotated
It gets back to normal settings mode.

Steps to reproduce:
1 ) Enable rotation in your Android device .
2 ) open the services application .
3 ) click on the settings option from the menu in top right.
4 ) Click on "admin access to s

[2021-03-22 08:28] pawanharariya commented on #215
I studied the code for a while and found out that this particular section of code is causing the problem.
https://github.com/odk-x/services/blob/c10f7182771aa98482496048f592d95b24a99f13/services_app/src/main/java/org/opendatakit/services/preferences/fragments/ServerSettingsFragment.java#L283-L287

It is actually meant to remove whitespaces but it is also appending the original string after each ne

[2021-03-22 09:24] linl33 commented on #65
@VarunT11 Yes, please remove the ones in Services as well. Thank you.

[2021-03-22 09:35] #204 closed

[2021-03-22 10:10] pawanharariya opened #217 "Improper hiding of views in settings Menu Fragment"
**Steps to produce:**
1. Launch Services app
2. Click on menu and go to settings
3. Observe carefully hiding of views during loading

**Screenshot:**

![bug](https://user-images.githubusercontent.com/43620548/111972482-8667d500-8b23-11eb-940e-4955a34a1552.gif)

**Cause:**
Admin mode is false by default therefore options related to admin mode are being hidden that causes this behavior.

**Solution:

[2021-03-22 10:11] pawanharariya commented on #217
@wbrunette If this seems a valid issue to be resolved I will fix it.

[2021-03-22 10:34] pawanharariya commented on #213
When I first installed the app and was exploring it, I clicked the sync button and it took a long time to download all the data. At that  moment I felt the need of having a cancel button. But I guess this problem is only faced by contributors like us. People using the app for real applications on daily basis would know the results of initiating a sync.
I personally feel that they might be annoyed

[2021-03-22 14:57] riturajjain2000 opened #218 "Typo in String file of Services"
There is a typo in https://github.com/odk-x/services/blob/master/services_app/src/main/res/values/strings.xml#L298 in services , Admin is misspelled as Admim

[2021-03-22 16:14] riturajjain2000 commented on #66
Can I look into this ?

[2021-03-22 20:44] wbrunette commented on #66
@riturajjain2000 as @linl33 points out the scope of this is quite broad. If you really want to work on this you can, but it's requires understanding how ODK-X frameworks are supposed to interact including appNames, etc.

[2021-03-23 06:49] #50 closed

[2021-03-23 07:06] linl33 commented on #201
Fixed by odk-x/services#188

[2021-03-23 07:06] #201 closed

[2021-03-23 16:57] #155 closed

[2021-03-23 17:05] wbrunette commented on #66
@riturajjain2000 your question is reason we are recommending that prospect GSoC or Outreachy applicants avoid this issue because the scope is broad and not really designed for someone new to ODK-X. The reason the issue uses the term "Review" is because the task is to go through and identify inconsistent-ices with ODK-X design. While I have no problem with you looking and trying to find something,

[2021-03-23 17:27] wbrunette commented on #216
@Shubhamr837 you are correct. This is a bug. Did you want to work on this or are you simply reporting it?

[2021-03-23 17:32] wbrunette commented on #212
In the interest of a timely feedback, the PMC/TSC had an email discussion and decided that we already have a GSoC/Outreachy project on improving Services' UI so this might get reworked again if that project is chosen. Therefore, it might be wasted effort because it should match the new design. It should be consistent with whatever with the redesign of Services UI. @VarunT11 if you are submitting a

[2021-03-23 17:38] wbrunette commented on #206
In the interest of a timely feedback, the PMC/TSC had an email discussion and decided that there are several other preferences in Services that use checkboxes, so for consistency it might be better to keep all of them the same. Also the indentation is helpful for people to realize that one is a child of the other (related). Therefore, we are closing this for now.

@riturajjain2000 if you are submi

[2021-03-23 17:38] #206 closed

[2021-03-23 17:50] wbrunette commented on #213
In the interest of a timely feedback, the PMC/TSC had an email discussion about this issue. The general consensus was seems like it could be help sometimes but also adds a step to a frequent workflow. Note that some people have already requested shorter and easier syncing steps. The concerns about easier flow in logging in and syncing is the reason we have the GSoC project I[mprove ODK-X Services

[2021-03-23 17:52] #218 closed

[2021-03-23 17:56] Shubhamr837 commented on #216
@wbrunette Thanks for the reply .
 I would like to work on this issue.

[2021-03-23 17:58] wbrunette commented on #216
@Shubhamr837 I have assigned the issue to you.

[2021-03-23 18:17] Shubhamr837 opened #219 "Suitcase errors on selecting reset option while download is in progress"
**Software and hardware versions**
ODK-X Suitcase v2.1.7

**Problem description**
Suitcase logs an error Message if Reset option is clicked from the upload tab in GUI while download is in progress . This happens because files get deleted while being downloaded.

error message for table_id "geotagger" :
`java.lang.IllegalArgumentException: tableId: geotagger does not exist
	at org.opendatakit.suitc

[2021-03-23 18:27] wbrunette commented on #193
@e2themillions @jbeorse @linl33

Based on the below links, I think if we roll back to API level 29 we can temporarily fix this why we re-design for scoped storage. Thoughts?

Link for quick fix: https://developer.android.com/about/versions/11/privacy/storage

The likely cause link: https://developer.android.com/training/data-storage/app-specific
Key statement: "Note: On Android 11 (API level 30) a

[2021-03-23 18:32] wbrunette commented on #219
@Shubhamr837 you are correct. This is a bug. Did you want to work on this or are you simply reporting it?

[2021-03-23 18:36] Shubhamr837 commented on #219
@wbrunette Thanks. I would like to work on this. Could you please assign this to me .

[2021-03-23 18:39] wbrunette commented on #219
@Shubhamr837 I have assigned the issue to you. Thanks for finding and fixing.

[2021-03-23 19:23] VarunT11 commented on #212
@wbrunette Thank you for your feedback. I will include it in my proposal!

[2021-03-23 19:28] jbeorse commented on #193
Yes, I don't really see an alternative to rolling back and redesigning. Open to other thoughts but I agree with @wbrunette's plan

[2021-03-24 02:50] linl33 commented on #193
I agree with @wbrunette's plan as well.

[2021-03-24 05:23] riturajjain2000 commented on #206
Thank you for the feedback, @wbrunette  sir. Will include this in my proposal!

[2021-03-24 05:38] riturajjain2000 commented on #66
Thank you for the feedback, @wbrunette sir. I will try to gather as much knowledge about ODK-X and will get back to this issue as soon as possible

[2021-03-24 05:42] Shubhamr837 commented on #145
Hi @elmps2018  , can I work on this ?

[2021-03-24 09:20] Shubhamr837 opened #220 "Suitcase errors on downloading with "apply scan formatting" option checked as true ."
Suitcase shows error while downloading with "apply scan formatting" option checked as true.
This happens with the test data (https://github.com/odk-x/suitcase/tree/master/testfiles/dataToUpload) uploaded in the cloud endpoint server
.
**version** : 2.1.7
**Server url** : http://130.211.209.167:80
**uploaded table** (From the test files in the suitcase repository) : https://github.com/odk-x/suitcas

[2021-03-24 11:25] ADISKING1 commented on #53
I have a question regarding the Upload option in Suitcase GUI.
How do we prepare a folder for Upload and what changes it makes to the server after we upload it?
Thank you.

[2021-03-24 12:03] kartikeysaran commented on #191
would love to work on this !

[2021-03-24 14:23] wbrunette commented on #191
@kartikeysaran I have assigned this issue to you to work on. If you are hoping to get involved in GSoC check out [GSoC Information](https://forum.odk-x.org/t/welcome-gsoc-applicants/1195?u=w_brunette).

[2021-03-24 19:17] elmps2018 commented on #145
@Shubhamr837 sure! Just assigned it to you.

[2021-03-24 19:22] elmps2018 commented on #53
@ADISKING1 The work done on https://github.com/odk-x/docs/pull/60 with the CLI shows some of the upload options. And this discussion on the Forum: https://forum.odk-x.org/t/using-suitcase-to-add-and-update-observations/301/6
describes some of the workflow. The basic idea is that you can update the data in tables on your server.

[2021-03-24 19:27] ADISKING1 commented on #53
I have created a CSV and successfully used it to update, delete and add new entries via CLI but failed to do so using the GUI Upload option.
The Upload option in the GUI requires us to select a folder that contains target & assets folder. How do I setup those folders?

[2021-03-24 19:30] elmps2018 commented on #53
@ADISKING1 If you have the app designer set up, it should have the assets>csv folder where you could store uploads, is that what you mean? That's typically where one stores csvs that need to be imported to the tab/uploaded to the server. Or if there's something else if you can grab a screenshot of what you mean that would help!

[2021-03-24 19:39] wbrunette commented on #53
@ADISKING1 there is a specific file structure that ODK-X uses. What @elmps2018 is referring to is inside config lives the assests folder. You upload the files in the correct file structure because that is where the ODK-X frameworks look for files. Here is a description of the file structure: https://docs.odk-x.org/config-file-structure/

NOTE: The files in the Application Designer zip follow the s

[2021-03-24 20:37] ADISKING1 commented on #53
Thank you @wbrunette @elmps2018 for the clarification.

There is one more thing that's not clear to me. Can the GUI be used to **UPDATE** data?
The existing docs say that we can...
![image](https://user-images.githubusercontent.com/35284932/112379785-95f74180-8d0e-11eb-881d-9f26a6b36e6a.png)

but here it is mentioned that it's possible only via the CLI
![image](https://user-images.githubuserconten

[2021-03-24 21:00] elmps2018 commented on #53
@ADISKING1 The Forum comment was from 2018 so I think the graphical interface can now upload as well (you should see that button now) but it needs to be documented more clearly.

[2021-03-24 21:13] ADISKING1 commented on #53
![image](https://user-images.githubusercontent.com/35284932/112383531-394a5580-8d13-11eb-9f2f-4674f0442c1c.png)
I just checked a release older than that comment, but it still had the upload option.
There a possibility that GUI only supports UPLOAD and not UPDATE.

[2021-03-24 21:17] wbrunette commented on #53
@ADISKING1 not sure, you can check the code and see what option is used. Code available here https://github.com/odk-x/suitcase

[2021-03-24 21:42] ADISKING1 commented on #53
Just checked the code and found that GUI has a method call for [UploadTask.java](https://github.com/odk-x/suitcase/blob/8e6fdc9c5a15a4dd7edcf498a547091b709c796c/src/main/java/org/opendatakit/suitcase/ui/PushPanel.java#L97) but no method calls for [UpdateTask.java](https://github.com/odk-x/suitcase/blob/master/src/main/java/org/opendatakit/suitcase/net/UpdateTask.java) which is responsible for upda

[2021-03-25 04:00] Shubhamr837 commented on #145
Thanks , I wanted some more details about this .
In the existing documentation at https://docs.odk-x.org/sync-endpoint/#ldap , there are instructions about how to set up using
phpLDAPadmin server but no instructions about how to configure using OpenLDAP command line utilities . Should i include that ?

[2021-03-25 14:31] elmps2018 commented on #145
@jbeorse or @wbrunette could you expand on what improvements are needed in LDAP documentation?

[2021-03-25 15:49] Chi-O commented on #189
@linl33 hello, I am just getting started in open-source development and I would love to contribute in any way I can if this issue is still available

[2021-03-25 15:51] wbrunette commented on #145
This documentation should be added as an advanced/customization section.

There is some additional information in the readme that should be organized and added to the documentation: https://github.com/odk-x/sync-endpoint-default-setup

- [ ] Document how to configure the defaults of OpenLDAP ([example environment variables file](https://github.com/odk-x/sync-endpoint-default-setup/blob/master/ldap

[2021-03-25 16:18] Shubhamr837 commented on #145
@wbrunette Thanks , I get it now.

[2021-03-26 22:47] wbrunette commented on #65
@VarunT11 can you check out androidcommon, survey, and tables? Then we can close this issue. Good work!

[2021-03-27 03:41] VarunT11 commented on #65
@wbrunette Yes Sure! I will check these as well.

[2021-03-27 07:32] VarunT11 commented on #65
@wbrunette @linl33 While I was going through the code-base of Android Library, there were several instances of suggestion by Android Studio to replace some **Anonymous Methods** with **Lambda Expressions**.
For example, consider the following code snippet -
[code]
The above method was being suggested to be replaced with the following -
[code]
This replacement would make some imports unusable and h

[2021-03-27 17:27] wbrunette commented on #65
Since the issue is specifically for redundant casts, let's stick to that. Also ODK-X still supports Android devices that run Android 7 that don't support Lamdas. I hope the Android compile system would handle it correctly but not worth creating weird bugs we would have to track down later.

[2021-03-29 18:25] ChitvanRamani22 commented on #207
@elmps2018 can i work on this

[2021-03-29 18:27] ChitvanRamani22 commented on #143
@elmps2018 could you please assign this to me.

[2021-03-29 18:28] ChitvanRamani22 commented on #152
@elmps2018 could you please assign this to me.

[2021-03-29 18:32] elmps2018 commented on #207
@ChitvanRamani22 this is an ongoing, open issue, which anyone can (non-exclusively) work on if fixing any minor issues in docs (if you find a typo, bad link, etc.).

[2021-03-29 18:34] elmps2018 commented on #143
Hi @ChitvanRamani22! We request new contributors to work on one issue at I time, I saw you asking about #152 as well, please let us know which you would prefer to do. Once you finish one issue, if the other is still available you can do it next.

[2021-03-29 18:35] elmps2018 commented on #152
Hi @ChitvanRamani22! We request new contributors to work on one issue at I time, I saw you asking about #143  as well, please let us know which you would prefer to do. Once you finish one issue, if the other is still available you can do it next.

[2021-03-29 18:47] ChitvanRamani22 commented on #152
@elmps2018 as this will be my first issue for outreachy whichever you feel is a better one to start you can assign me that.

[2021-03-29 18:50] wbrunette commented on #152
@ChitvanRamani22 this issue is probably a better one to start with. I would recommend going through the getting started and understanding how to make a form. Then you can try out the prompt textarea that is missing from the documentation.

[2021-03-29 19:18] ChitvanRamani22 commented on #152
@elmps2018 thanks for assigning. Will reach you out in case of any doubt.

[2021-03-29 22:42] carcablop commented on #154
Hello. I am Outreachy applicant and I am would to work on this issue. I would appreciate if someone gives me a guide on how to start with this issue. Thanks.

[2021-03-30 03:22] Anushka-shukla commented on #180
Hey, Can I work on this issue?

[2021-03-30 03:31] linl33 commented on #189
Hi @Chi-O. Yes this is still available and I've assigned this issue to you. If you're considering participating in Outreachy please see https://forum.odk-x.org/t/welcome-outreachy-applicants/1240. If you're considering participating in GSoC please see https://forum.odk-x.org/t/welcome-gsoc-applicants/1195.

[2021-03-30 04:55] linl33 opened #221 "Crash in SyncFragment in Services"
SyncFragment crashes after screen rotation while about screen is open.

## Steps to reproduce
1. Open Services
2. Click sync
3. Open about
4. Rotate screen
5. Rotate screen back to the original orientation
6. Crash

## Stacktrace
[code]

[2021-03-30 04:57] VarunT11 commented on #221
@linl33 Can I work on this Issue?

[2021-03-30 04:59] linl33 opened #222 "Crash in LoginActivity in Services"
LoginActivity crashes if screen is rotated on the about screen.

## Steps to reproduce
1. Open Services
2. Click Change User/Logout
3. Click About
4. Rotate screen
5. Click back
6. Crash

## Stacktrace
[code]

[2021-03-30 05:17] VarunT11 commented on #222
@linl33 Can I look into this?

[2021-03-30 05:27] #215 closed

[2021-03-30 05:33] linl33 commented on #220
@Shubhamr837 That option only works when the table has been configured for ODK-X Scan. If you're interested in improving the error message, please let me know so I can assign this issue to you.

[2021-03-30 05:39] linl33 commented on #154
@pawanharariya Have you started working on this issue? If not please let @carcablop work on this issue.

@carcablop You can find information on getting started at https://forum.odk-x.org/t/welcome-outreachy-applicants/1240. Thanks for participating in Outreachy.

[2021-03-30 06:06] linl33 commented on #199
@IAmJaishree Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-30 06:09] linl33 commented on #222
@VarunT11 Please finish the 2 other issues assigned to you first. We try to make sure people don't work on too many issues at the same time so there are enough to go around.

[2021-03-30 06:09] linl33 commented on #221
@VarunT11 Please finish the 2 other issues assigned to you first. We try to make sure people don't work on too many issues at the same time so there are enough to go around.

[2021-03-30 06:13] linl33 commented on #209
@starboi02 Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-30 06:13] linl33 commented on #198
@sayant1204 Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-30 06:14] linl33 commented on #192
@kdsanskar07 Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-30 06:15] linl33 commented on #177
@starboi02 Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-30 06:18] linl33 commented on #131
@wbrunette @jbeorse With the updated progress bar do you think we can close this issue?

[2021-03-30 06:21] #53 closed

[2021-03-30 06:49] pawanharariya commented on #222
@linl33 Can I work on this?

[2021-03-30 06:52] pawanharariya commented on #221
@linl33 I would like to work on this?

[2021-03-30 07:01] Shubhamr837 commented on #220
Thanks @linl33 I would like to work on this issue . Can I you please provide me more details on how is table configured for odk-x scan?

[2021-03-30 07:15] VarunT11 commented on #65
- **Survey**: Removed the Redundant Castings in https://github.com/odk-x/survey/pull/146.
- **Tables**: Removed the Redundant Castings in https://github.com/odk-x/tables/pull/175.
- **Android Common**: No Redundant Castings Found.

**PS**: @wbrunette @linl33 I have made the PRs. Please review them!

[2021-03-30 07:29] ChitvanRamani22 commented on #152
@wbrunette @elmps2018 can you please help me in setting up the repo in my local machine

[2021-03-30 08:28] starboi02 commented on #177
@linl33 This issue is not relevant now because the release file of docker for Ubuntu 20.04 LTS (Focal Fossa) is available now. So there is no need to change the documentation anywhere since it has been resolved. Here's the [link](https://askubuntu.com/questions/1230189/how-to-install-docker-community-on-ubuntu-20-04-lts#:~:text=sudo%20add%2Dapt%2Drepository%20%5C,%5B265%20kB%5D%20Ign%3A3) to the a

[2021-03-30 08:29] starboi02 commented on #209
@linl33 I am working on it and its pretty much done. Would try to make the PR by tonight.

[2021-03-30 08:31] riturajjain2000 commented on #222
Can I work on this ?

[2021-03-30 08:37] #65 closed

[2021-03-30 08:45] riturajjain2000 commented on #221
Can I work on this?

[2021-03-30 08:45] #131 closed

[2021-03-30 08:52] wbrunette commented on #152
@ChitvanRamani22 which repo are you referring to?

[2021-03-30 08:55] e2themillions commented on #177
Thanks for clarifying. I'm closing the issue now 👍

[2021-03-30 09:03] wbrunette commented on #221
I am going to assign this to @pawanharariya since it's a bug likely related to his changes.

[2021-03-30 09:10] wbrunette commented on #79
@VarunT11 Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-30 09:20] VarunT11 commented on #79
@wbrunette I have currently identified around 9 files in **Android Library** and around 4 files in **Android Common** which contains Strings that are hardcoded. Many of them are used in Hash Maps. I am currently working to find the usage of these Strings and methods to replace them.

[2021-03-30 09:25] wbrunette commented on #79
@VarunT11 there should probably be a class that defines either string consts (most likely) or enums.

[2021-03-30 10:22] pawanharariya commented on #222
@linl33 https://github.com/odk-x/services/blob/c10f7182771aa98482496048f592d95b24a99f13/services_app/src/main/java/org/opendatakit/services/sync/actions/activities/LoginActivity.java#L88-L90

@Override
   public void onBackPressed() {
      String authType = mProps.getProperty(CommonToolProperties.KEY_AUTHENTICATION_TYPE);

here mProps are not initialized after activity recreation, calling getProp

[2021-03-30 15:46] elmps2018 opened #223 "Improve contributor guide and developer instructions"
We appreciate the many folks who (want to) contribute to the ODK-X software! We currently have a read me for each repository on github (e.g. https://github.com/odk-x/app-designer) and one about contributing to code in [docs](https://docs.odk-x.org/advanced-topics-developer/). There's also this one specifically about [contributing to the docs](https://docs.odk-x.org/docs-tech-guide/)

This is an on

[2021-03-30 15:49] linl33 opened #224 "Document anonymous access for Sync Endpoint"
Document how to enable anonymous access for Sync Endpoint.

Anonymous access can be enable through Sync Endpoint's `security.properties`.
https://github.com/odk-x/sync-endpoint-default-setup/blob/0d97f322b6f3c48f86cdb47c9c1c7acf3f7bfb93/config/sync-endpoint/security.properties#L76-L77

The documentation should include
 - how to set up a new Sync Endpoint instance with anonymous access
 - how to tu

[2021-03-30 15:51] elmps2018 opened #225 "Search instances in Survey"
On the first screen in survey, listing the instances, it would be great to be able to search for an instance! This functionality is not available in survey but is available in Tables: https://forum.odk-x.org/t/how-to-search-a-form-by-an-id/463
Also/related: https://github.com/odk-x/tool-suite-X/issues/110

[2021-03-30 15:54] iamhks commented on #223
Hi @elmps2018 !!
I would like to work on this issue.

[2021-03-30 15:55] ADISKING1 commented on #224
@linl33 can I work on this?

[2021-03-30 15:58] wbrunette commented on #224
@ADISKING1 I have assigned the issue. Thanks for documenting this!

[2021-03-30 16:03] elmps2018 commented on #223
Hi @iamhks! This is an open issue that anyone could work on! I have assigned it to you but if you can comment with what, specifically, you end up working on other folks can then contribute as well!

[2021-03-30 16:08] Kanak1081 commented on #223
Hi Team,
I would also like to contribute for the same and will update about the changes done 😊

[2021-03-30 16:12] maprehensive commented on #86
Updated links in ODK-X repos, edited content and added paragraph for contributors to README docs.

Some repos still need setup, prerequisites and other instructions updated and improved.

[2021-03-30 16:12] elmps2018 commented on #223
Hi @Kanak1081! Great! Assigning to you as well. Please coordinate a bit with @iamhks to collaborate or divide-and-conquer!

[2021-03-30 16:12] #86 closed

[2021-03-30 16:16] khushishikhu commented on #225
@elmps2018 I am an outreachy participant. May I work on this issue?

[2021-03-30 16:18] elmps2018 commented on #225
Hi @khushishikhu! Yes, I have assigned it to you! Let us know if you have questions!

[2021-03-30 16:20] maprehensive commented on #123
@wbrunette do you think this issue should include getting a sample Tables app into the Play Store?

That was raised at a PMC meeting previously, and I can't recall if it was confirmed.

[2021-03-30 16:22] wbrunette commented on #123
@maprehensive yes that is still the goal. However, there are details that we are working through (other things have taken priority). We are working towards this, but we still have some open things such as namespace and anonymous permissions (which was covered in today's meeting).

[2021-03-30 16:33] wbrunette opened #226 "Change default server URL"
Change the default URL string "sync_default_server_url" from http://opendatakit-2.appspot.com to https://tables-demo.odk-x.org.

https://github.com/odk-x/services/blob/master/services_app/src/main/res/values/strings.xml#L188

Also remember to change it in the Spanish strings as well.

https://github.com/odk-x/services/tree/master/services_app/src/main/res/values-es

[2021-03-30 16:38] VarunT11 commented on #226
@wbrunette Can I work on it?

[2021-03-30 16:42] wbrunette commented on #226
@VarunT11 I have assigned the issue to you.

[2021-03-30 16:46] khushishikhu commented on #225
@elmps2018 I want to ask that the search instance to be added in Survey should be by ID only as it is available in the Tables ?

[2021-03-30 16:49] ahn-nath commented on #110
Hello, @elmps2018

I would like to work on this issue.

[2021-03-30 16:52] Chi-O commented on #189
thank you! yes, I am an aspiring GSoC applicant and looking to work on an issue as advised :)
could you kindly guide me on how to proceed with adding these options to the Survey documentation? I want to confirm which section this belongs

[2021-03-30 16:56] elmps2018 commented on #225
Great question! Since it is long/hard to search the uuid, it might work better to search the instance name that is displayed (the settings sheet of a form sets up what the instance name is, if someone wants something different than the uuid).

[2021-03-30 17:00] elmps2018 commented on #110
Hi @ahn-nath! Great! I have assigned you! Let us know any questions while working away!

[2021-03-30 17:43] wbrunette commented on #180
@Anushka-shukla thanks you for working on this issue.

After reviewing this issue I am not sure it's an easy win, so I removed the easy win tag. Do you have experience with setting up a Java web server (e.g., Apache Tomcat) and deploying WAR files? Basically to solve this issue you will need to document how to setup their Java web server instance without using our automated scripts (basically outl

[2021-03-30 17:55] #216 closed

[2021-03-30 18:14] EstherPhebe commented on #174
@wbrunette @elmps2018 Hello, I would like to work on this issue. Can you please assign it to me?

[2021-03-30 18:14] chlarsen commented on #180
Dear All,
Thank you so much for that. I am presently swamped with - don't laugh - conventional ODK work, but will very much appreciate the opening of the docker and swarm box. I am quite familiar with the processes mentioned above, so chances are, we can get this sorted. A huge "thank you"!

[2021-03-30 18:17] wbrunette commented on #174
@EstherPhebe I have assigned the issue to you. Thanks for improving our documentation.

[2021-03-30 18:18] wbrunette commented on #154
after getting a message from @pawanharariya,

@carcablop I have assigned the issue to you. Let us know if you have questions.

[2021-03-30 18:21] Anushka-shukla commented on #180
@wbrunette I'm not sure If I can do this but I want to give it a try by doing some research. Can you list out few resources if possible?

[2021-03-30 18:21] SondosAhmed commented on #226
I'd like to work on this

[2021-03-30 18:24] wbrunette commented on #217
@pawanharariya this seems like something that would be good to include a part of a GSoC services login proposal since Services menu options may change with revisions to the sync/login workflows.

[2021-03-30 18:28] wbrunette commented on #180
Here are instructions for setting it up with Docker:
https://docs.odk-x.org/sync-endpoint-manual-setup/

We are abstracting the setup of Tomcat 8.5, the LDAP server, and the Postgres database.

It will probably be helpful to start with setting up a tomcat-8.5 instance and creating a "Hello World" style application to understand the Tomcat WAR setup so you can apply that to setting up the Sync-Endp

[2021-03-30 18:28] pawanharariya commented on #217
@wbrunette okay Thanks.

[2021-03-30 20:10] SondosAhmed commented on #87
hi
Id like to try this issue
but can you add more description to make it more accurate

[2021-03-31 02:30] linl33 commented on #222
@riturajjain2000 I've assigned this issue to you. Thanks.

[2021-03-31 03:49] amarealcoder commented on #81
Hi mentors, Please can you assign this task to me.

[2021-03-31 04:37] linl33 commented on #189
These 2 options should go on the XLSX Reference page https://docs.odk-x.org/xlsx-converter-reference/#settings

You can find information on how to modify the documentation at https://github.com/odk-x/docs#odk-x-docs

[2021-03-31 04:46] linl33 commented on #220
For this issue, it would be sufficient for Suitcase to identify that the selected table is missing the required column/attachment and convey such to the user.

If you want to read more about Scan, see https://docs.odk-x.org/scan-form-designer-intro/

[2021-03-31 04:57] wbrunette opened #227 "Fix Null Pointer on Services launch"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{org.opendatakit.services/org.opendatakit.services.preferences.activities.AppPropertiesActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean org.opendatakit.properties.PropertiesSingleton.containsKey(java.lang.String)' on a null object reference
       at android.app.ActivityThread.per

[2021-03-31 05:00] VarunT11 commented on #227
@wbrunette Can I look into this?

[2021-03-31 05:04] wbrunette commented on #227
@VarunT11 I have assigned this to you. Please make sure to finish your other open issues as well or asked to be removed.

[2021-03-31 05:10] wbrunette opened #228 "Fix Null Pointer OnItemSelected in MainActivity"
Here is the error:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.view.View.setFocusableInTouchMode(boolean)' on a null object reference
       at org.opendatakit.services.MainActivity.onOptionsItemSelected(MainActivity.java:164)
       at android.app.Activity.onMenuItemSelected(Activity.java:4137)
       at androidx.fragment.app.FragmentActivity.o

[2021-03-31 05:14] starboi02 commented on #228
Can I work on this?

[2021-03-31 05:20] #177 closed

[2021-03-31 05:21] wbrunette commented on #228
@starboi02 I have assigned this issue to you. Please make sure to finish your other issues soon as well.

[2021-03-31 05:22] wbrunette commented on #81
@amarealcoder I have assigned the issue to you.

[2021-03-31 05:30] wbrunette commented on #87
@SondosAhmed, I believe this issue is to look at review our documentation and add links between different sections when features or a different tool our mentioned.

Perhaps @elmps2018 has some advice on this.

[2021-03-31 06:58] #226 closed, assigned to VarunT11

[2021-03-31 07:10] khushishikhu commented on #225
![Screenshot_2021-03-31-12-35-40-74.jpg](https://user-images.githubusercontent.com/65439761/113104334-083fb880-921e-11eb-841a-db413a3b307a.jpg)

@elmps2018 I am actually a newbie with android can you please help me with what type of dependencies is missing while I was running the ODK-X Survey in my device.

[2021-03-31 07:14] wbrunette commented on #225
@khushishikhu in general it's good to check out our docs website.

Here are the basic steps for installing needed depedendencies: https://docs.odk-x.org/basics-install/

[2021-03-31 10:18] shivanisinghnitp commented on #105
Hello I am an outreachy applicant. Can this issue be assigned to me?

[2021-03-31 11:29] EstherPhebe commented on #174
@wbrunette Seen, currently working on it. If I run into any issues that I cannot solve myself, I'll let you know.

[2021-03-31 11:37] tegajunior commented on #154
@wbrunette please I am an Outreachy Intern, my stack includes html, css, and javascript. I want to contribute on the "New Date Prompts for ODK-X Survey" project. Can you assign me any issue. And if @carcablop won't be working on this issue, I will love to take it up. Thanks

[2021-03-31 11:47] tegajunior commented on #143
hello @elmps2018 can you assign me this task pls?

[2021-03-31 13:48] Anushka-shukla commented on #180
@wbrunette I'm not able to initialise swarm.

Error: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.24/swarm/init: dial unix /var/run/docker.sock: connect: permission denied

Tried searching on StackOverflow but couldn't find any solution. Can you please suggest something?

[2021-03-31 14:24] Anushka-shukla commented on #180
It's solved! I was not giving the ip address of the manger -- "docker swarm init --advertise-addr 192.168.99.100:2376 "

[2021-03-31 14:27] linl33 commented on #191
@kartikeysaran Could you give us an update on this issue? Let us know if you have any questions.

[2021-03-31 14:28] linl33 commented on #188
@adityaofficial10 Could you give us an update on this issue? Let us know if you have any questions or would like to be unassigned.

[2021-03-31 14:30] linl33 commented on #172
@adityaofficial10 Could you give us an update on this issue? Let us know if you have any questions or would like to be unassigned.

[2021-03-31 14:31] khushishikhu commented on #225
@wbrunette I have installed the dependencies( .apk files of services and OI file manager) given in the document in my device. But still this same error is coming up. please help me to resolve this

[2021-03-31 14:31] adityaofficial10 commented on #172
@linl33
I think I won't be able to complete this due to health issues.
Thanks for persisting..

[2021-03-31 14:32] adityaofficial10 commented on #188
@linl33
I think I won't be able to complete this due to health issues.
Thanks for persisting..

[2021-03-31 14:35] linl33 commented on #225
@khushishikhu Do you happen to be on Android 11? If you're on Android 11, you would need to either use an older version or build the apps from source (because of https://github.com/odk-x/tool-suite-X/issues/193).

If you'd like to build from source, see the README on https://github.com/odk-x/services and https://github.com/odk-x/survey

[2021-03-31 14:36] linl33 commented on #188
@adityaofficial10 I hope you get well soon.

[2021-03-31 14:36] linl33 commented on #172
@adityaofficial10 I hope you get well soon.

[2021-03-31 14:37] adityaofficial10 commented on #188
@linl33
Thanks a lot.

[2021-03-31 14:37] adityaofficial10 commented on #172
@linl33
Thanks a lot.

[2021-03-31 14:40] linl33 commented on #105
Hi @shivanisinghnitp,

I've assigned this issue to you. Thanks for participating in Outreachy. Let us know if you have any questions.

You could start from https://docs.odk-x.org/survey-sample-app/ to get an idea of ODK-X Survey then follow https://docs.odk-x.org/getting-started-2-architect/ to learn to build a form.

[2021-03-31 14:43] linl33 commented on #143
Hi @tegajunior,

I've assigned this issue to you. Thanks for participating in Outreachy. Let us know if you have any questions.

You could follow https://docs.odk-x.org/survey-sample-app/ to see how the current authentication and syncing process works. More specifically, this issue refers to the authentication and syncing process in ODK-X Services.

[2021-03-31 14:46] elmps2018 commented on #87
@SondosAhmed, @wbrunette has the right idea. There are a lot of tools that are related, so for example in the xlsxconverter documentation, when it discusses all the prompts, to note that to see examples of how these appear in survey you click here.

[2021-03-31 18:36] wbrunette opened #229 "Contributors Guide: Document Build Variants"
As part of a new contributor's guide document the following:
1) What are build variants and why we use them for dependencies
2) Which build variants correspond to the source branches 'development', 'demo', and 'master'
3) How are build variants accounted for at the gradle command line
4) How to change build variants in Android studio

[2021-03-31 18:45] khushishikhu commented on #229
@wbrunette Can I work on this issue?

[2021-03-31 18:51] wbrunette commented on #229
@khushishikhu this is not an 'easy win' or 'good first issue'. However, it is a great way to learn about how the ODK-X Android development environment is set up. I am happy for you to work on it. Let me know what you decide.

Here are some helpful hints/resources:
1) https://developer.android.com/studio/build/build-variants
2) To change/check your build variant in Android Studio you first need to

[2021-03-31 19:19] ahn-nath commented on #110
**Question 1**
Hello @elmps2018. I noticed that the main activity is implementing a similar feature ["SortBy function"]. However, it is only sorting the elements/forms by name and by table id, would you like this view/activity to sort the elements by date as well?

![Screenshot_2021-03-31-15-14-28-364_org opendatakit survey](https://user-images.githubusercontent.com/67247850/113198729-4051f600-923

[2021-03-31 19:24] wbrunette commented on #110
@ahn-nath Good question. I am not sure. I personally do not think so, but I will ask the steering committee. Generally people do not want to sort the form by date as the form is generally doesn't change unless a bug is found.

[2021-03-31 19:32] khushishikhu commented on #229
@wbrunette Yes currently I am researching on building up this project from the source code and read about it a lot and still working until I successfully made it up on my device.
Since it is document for contributors , we will describe all the three variants gradle build , where
development :- must be the main branch for the mentor's use
demo:- could be use for testing any PR
master:- The branch p

[2021-03-31 19:37] wbrunette commented on #229
@khushishikhu sounds like you are on the right track. I will assign the issue to you.

Your description of the branches need some refinement. Here are updated description, please feel free to improve the descriptions even more.
development :- the branch where new development, upgrades, and features are contributed and tested
demo:- This branch is the last stable version of development. This provid

[2021-03-31 19:43] khushishikhu commented on #229
@wbrunette Thank you!! I will try my best to make it and provide you with more informative description to be added. Thank you for your guidance

[2021-03-31 19:56] elmps2018 commented on #110
Hi @ahn-nath! Great question! So this is sorting the forms -- I think by name or TableID is good for the forms -- but the sorting of instances within Survey folks may want to customize much more and select what variable they sort on. I'm attaching an image (sorry parts are in Arabic) of the screen where you have some example school instances; currently the forms are in order of number (55550000, 5

[2021-03-31 19:57] wbrunette commented on #223
related issue: https://github.com/odk-x/tool-suite-X/issues/229

[2021-03-31 21:17] wbrunette commented on #71
@tegajunior  here is a good first issue to get yourself familiar with setting up app-designer and using Survey. This is an older issue that could have been fixed so you should try to replicate the issue. The "New Date Prompts for ODK-X Survey" project will use app-designer and Survey so this is a good way to get setup and complete an issue at the same time.

References to get started

- https://do

[2021-03-31 21:18] wbrunette commented on #154
@tegajunior How about this issue to get started:
https://github.com/odk-x/tool-suite-X/issues/71

[2021-03-31 21:20] wbrunette commented on #71
You should try to replicate this issue on the current release to see if it's still an issue. If not we can close the issue :)

[2021-03-31 22:36] #221 closed

[2021-04-01 04:09] khushishikhu commented on #225
Thank you @linl33 and @wbrunette  I have successfully set up the app on my device. @elmps2018 I want to ask that do I have to make the search instance to every form we open in ODK-X Survey?

[2021-04-01 04:39] linl33 commented on #225
@khushishikhu The screen that displays the list of instances is shared across all forms (unless otherwise customized). The code for the screen is at https://github.com/odk-x/app-designer/blob/development/app/system/survey/templates/instances.handlebars and https://github.com/odk-x/app-designer/blob/f5fdafa20f076fd04513e548dd63446071f6ad03/app/system/survey/js/prompts.js#L570

In the future we migh

[2021-04-01 08:21] shivanisinghnitp commented on #105
Thank you so much ! I have started working on it! @linl33

[2021-04-01 08:38] swaingotnochill opened #230 "Bug in survey application while performing Ignore+Exit Changes in a Form"
In survey application, when you create a instance in a form and try to exit it with the option "Ignore + Exit", then just a white popup window appears on top section and nothing happens. Ideally, it should just exit which doesn't happen and instead it gets stuck until you manually press the back button in device and then exit.

Steps to Reproduce:
1. Open a Form
2. Create an instance.
3. Click on

[2021-04-01 08:52] swaingotnochill commented on #184
@linl33  Can you explain a bit more about it and how we can enhance it ? Coz I would like to work on this issue.

[2021-04-01 10:08] swaingotnochill opened #231 "Bug in Rating Prompt in Survey Form"
In Survey application, when you choose a form and give an initial rating , the input field for "Pre Survey Rating" takes value outside  of range  1-10 and after form submission this value occurs in "Post Survey Rating" slider.

Steps to Reproduce:
1.Select a form and create an instance.
2.Enter any value outside range 1-10 in the pre survey rating field.
3.Select any prompt and fill it.
4. The fin

[2021-04-01 10:11] swaingotnochill commented on #231
Admins, this can be very quick fix. Please if you can just provide me where I can edit this rating component in source code(as I am new to this code base) , then a simple conditional logic will solve this. If possible, assign this issue to me.

[2021-04-01 10:13] swaingotnochill commented on #74
@linl33 I was able to reproduce the error. I would like to work on this issue. Can you please assign this to me?

[2021-04-01 10:34] swaingotnochill opened #232 "Buggy Grid Form Rendering in Survey Application"
Application
Survey 2.1.7

In survey application, while creating an instance in Grid Form, the table rendered is improper in vertical view of android phone along which also causes the next option on top app bar to display irregularly.

Steps to reproduce:
1.Click on Grid Form.
2.Create an instance prompt.
3.The table created will be not displayed properly along with the top app bar.

Screen Recordi

[2021-04-01 12:20] Shubhamr837 commented on #52
Hi @wbrunette can I work on this ?

[2021-04-01 14:49] wbrunette commented on #74
@swaingotnochill, thank you for looking into this issue. I have assigned the issue to you.

[2021-04-01 16:14] wbrunette commented on #52
@Shubhamr837 I have assigned the issue to you, thanks for looking into the issue.

[2021-04-01 16:19] #219 closed

[2021-04-01 18:45] Shubhamr837 commented on #52
Thanks !

[2021-04-01 22:53] ahn-nath commented on #110
@elmps2018  @wbrunette

In order to filter/sort the instances based on a given condition, I figured it would be best to use a standard method (using a Comparator) that would return/update the view each time the user chooses one of the two options: 1) ascending order by date, 2) descending order by date, having the first as the default option. 

The implementation I had in mind was similar to the o

[2021-04-01 22:54] ahn-nath commented on #110
Related issue:
#57

[2021-04-01 22:59] wbrunette commented on #110
@ahn-nath You are on the right track... however, the instances lists are written in JavaScript and render in the WebView. This allows the instances list to be overridden at runtime and allow people to modify and test in the app-designer environment.

To answer your question:
1) I can tell you how to access it in Java, but the solution should be on the JavaScript side (where it currently exists).
2

[2021-04-01 23:11] wbrunette commented on #110
@ahn-nath you can find information how to setup the Application Designer here: https://docs.odk-x.org/app-designer-intro/

[2021-04-02 02:28] linl33 commented on #110
@ahn-nath The instances list has 2 parts: a handlebars template for HTML and a JS component. The code for the 2 parts are located at  https://github.com/odk-x/app-designer/blob/development/app/system/survey/templates/instances.handlebars and https://github.com/odk-x/app-designer/blob/f5fdafa20f076fd04513e548dd63446071f6ad03/app/system/survey/js/prompts.js#L570.

[2021-04-02 02:33] khushishikhu commented on #225
@linl33 Thank you so much for providing me this , it's really of great help for me.
I have a doubt that is this app-designer works for both odk-x survery and odk-x Tables?

[2021-04-02 02:49] linl33 commented on #231
The example form is located at https://github.com/odk-x/app-designer/blob/development/app/config/tables/exampleForm/forms/exampleForm/exampleForm.xlsx. I've assigned this issue to you. Thanks for looking into this.

[2021-04-02 02:54] linl33 commented on #230
@swaingotnochill Did you see anything else wrong/weird in other parts of the survey? I'm unable to reproduce this issue.

[2021-04-02 02:57] linl33 commented on #232
Bug in https://github.com/odk-x/app-designer/blob/master/app/config/tables/gridScreen/forms/gridScreen/comparison_screen.handlebars

[2021-04-02 03:09] linl33 commented on #184
@swaingotnochill You already have 2 issues assigned to you. We try to make sure people are not assigned too many issues so we have enough to go around.

For future reference,
This issue refers to extending the `acknowledge` prompt to provide an option (e.g. a field under `display`) to specify the label to use on the acknowledgment checkbox. Currently the label can only be the translation token `ac

[2021-04-02 07:49] khushishikhu commented on #225
![image](https://user-images.githubusercontent.com/65439761/113394400-cc3f5b80-93b5-11eb-9fe2-6177f9faeb51.png)
@linl33 I have structured the Search box in household instanced( tried to apply in one form) Please let me know if anything needs to be refined here?

[2021-04-02 08:03] swaingotnochill commented on #230
@linl33 No, just the ignore changes+ exit does not work. I tested with different forms and "uninstall+reinstall" application, but it still remained the same.

[2021-04-02 08:58] maprehensive commented on #123
@wbrunette thanks – will leave this issue open then and table discussion of scope for a future meeting.

[2021-04-02 09:07] swaingotnochill commented on #231
@linl33 how do I test whether my changes fixed the bug? I am not sure how to test whether my fixed worked or not.

[2021-04-02 09:25] brngylni commented on #232
Can I work on it?

[2021-04-02 10:36] victory-lydia commented on #153
Hi I am Victory Excel an Outreachy applicant for the project "New Date Prompts for ODK-X Survey". @elmps2018 I wish to work on this issue

[2021-04-02 10:48] swaingotnochill commented on #232
@brngylni I am working on this issue as i raised it. Meanwhile, you can look into other issues in the issue section and see if something fits you.

[2021-04-02 11:36] Shubhamr837 opened #233 "Incorrect button label for upload file chooser in suitcase"
In the suitcase application if file chooser is opened for the upload option the file chooser opens with title "save" and button label "save" .
Whereas "save" should only be used for download option .

Steps to reproduce :
1 ) Login to suitcase .
2 ) Click on upload tab.
3 ) open file chooser

Button will be labeled as "save" and title of the window will also be "save"

Possible solution is to prov

[2021-04-02 11:39] Shubhamr837 commented on #233
any admin please verify if this is a valid issue or not ?
I would like to work on this if it is .

[2021-04-02 11:39] starboi02 commented on #228
@wbrunette what steps should I perform to recreate this crash? I am unable to recreate it on my phone.

[2021-04-02 16:12] wbrunette commented on #228
I have not re-created the issue myself it was reported to me. My guess is that after screen rotation which destroys everything and recreates it something doesn't get setup correctly.

[2021-04-02 16:46] wbrunette commented on #233
@Shubhamr837 go ahead and work on this issue. There might be some constraint that you run into. Let us know how it goes.

[2021-04-02 16:49] wbrunette commented on #230
@swaingotnochill please provide the Android version you are using. Also make sure your WebView has been updated in Google Play.

[2021-04-02 16:51] wbrunette commented on #225
@khushishikhu you should test it out by creating several instances with several different forms. Once you are ready please open a Pull Request for a code review.

[2021-04-02 16:58] Shubhamr837 commented on #233
Thanks a lot  @wbrunette , I will update if I face any problem

[2021-04-02 17:07] SaySayo commented on #207
can i work on this

[2021-04-02 17:26] wbrunette commented on #207
@SaySayo this is an ongoing, open issue, which anyone can (non-exclusively) work on if fixing any minor issues in docs (if you find a typo, bad link, etc.).

[2021-04-02 17:37] ahn-nath commented on #110
Thank you all!

I won't be working on this issue. Please feel free to assign it to someone else

[2021-04-02 18:49] VarunT11 opened #234 "Bug in Launching Sync Activity after Services Install"
## Steps to Reproduce
- Uninstall the Existing Services Application and Install it again.
- Launch Services
- Click on Sync Option from Toolbar.

The Sync Activity Crashes on this Action.

## Stacktrace

[code]

## Solution for Fixing the Bug
- Checking if `syncAttachmentState` is not `null` at [SyncFragment.java:480](https://github.com/odk-x/services/blob/1a0b8db2b52a6caf9581dc8ab68a7e6e22ff413d/

[2021-04-02 18:54] wbrunette commented on #234
@VarunT11 I have assigned the issue to you.

[2021-04-02 22:58] emeka-okechukwu commented on #230
Hi @wbrunette, I also get the issue. I'm using the latest WebView version and my Android version is 10.0.

![IMAGE 2021-04-02 22:56:41](https://user-images.githubusercontent.com/81817744/113460039-e0f80f80-9406-11eb-816a-5d43d06090e6.jpg)

[2021-04-03 05:43] iamhks commented on #172
Hi @linl33 I would like to work on this issue. Please tell me if I understand this issue; the installation steps of https://docs.odk-x.org/app-designer-install/ needs to be documented into https://github.com/odk-x/app-designer 's readme right? Also where can I find the reference to the one for someone doing a fresh checkout?

[2021-04-03 05:59] khushishikhu commented on #229
![Capture](https://user-images.githubusercontent.com/65439761/113469967-6e6f4a00-946f-11eb-8155-a7ebec8b5376.PNG)
@wbrunette I war trying to add the build variants with the dimension "version" but when I clicked to re-build the application, it shows the error I am not getting why it is occurring . can you please help me to know why am I facing this or what can be the thing I am doing wrong?

[2021-04-03 07:01] victory-lydia commented on #153
Hi,I am Victory Excel an outreachy applicant for the project "New Date Prompts for ODK-X Survey". please @elmps2018 can I work on this issue. And please I will need a little explanation on how to go about it.

[2021-04-03 09:47] iamhks commented on #207
@elmps2018 I have made a pull request please review here https://github.com/odk-x/docs/pull/72

[2021-04-03 12:44] wbrunette commented on #232
@swaingotnochill A Pull Request is between two branches, so your changes for the rating prompt are in this Pull Request. Please use a separate branch for each Pull Request.

Additionally please open your Pull Request against the odk-x/development branch. You will see that @linl33 changed your last pull request to point to the development branch. The development branch is where new development, upg

[2021-04-03 12:50] swaingotnochill commented on #232
@wbrunette okay, I will close those two pull request and open a new one from the different branches to the development branch.

[2021-04-03 12:53] wbrunette commented on #229
@khushishikhu, first I want to make sure you know that to solve this issue you do NOT need to make a new variant. You only need to document ODK-X's 3 variants and provide screenshots of the variants window and describe how to change between the 3 ODK-X build variants.

Therefore, I assume you are trying to add a new flavorDimension just for the fun of it to learn. The flavor dimensions are part of

[2021-04-03 13:41] wbrunette commented on #207
@iamhks thanks for fixing the typo. In the future can you please update the pull request template to point to this issue so when this comes up "addresses odk-x/tool-suite-X#" you add the number, don't leave it blank. This will automatically link it to this issue.

[2021-04-03 13:41] aubincris commented on #97
I wish to be assigned to this task

[2021-04-03 13:46] wbrunette commented on #97
@aubincris, this is the issue has been upgraded to a possible outreachy/GSoC project. This issue will be assigned to person who's project proposal is accepted. If you want to start by adding a date widget go ahead as we expect multiple date and calendar options to be added. However, I cannot exclusively assign it to you.

[2021-04-03 13:57] iamhks commented on #207
@wbrunette Yeah sure, I'll take care of that from next time. Thanks.

[2021-04-03 14:02] wbrunette commented on #172
@iamhks I am assigning the issue, the instructions are in the docs. https://docs.odk-x.org/app-designer-setup/

[2021-04-03 14:13] wbrunette commented on #225
@khushishikhu once you finish this issue you might be interested in this issue since they are related https://github.com/odk-x/tool-suite-X/issues/110

[2021-04-03 14:15] khushishikhu commented on #229
Okay I surely got your point @wbrunette . Thank you so much for clarifying me these points. yes I was trying to made all the 3 variants ( development, master, demo) for first testing my self before writing the contributor's document Therefore I was facing this issue. But now as you have told me that just to write the document, so I will focus on that and will send you the PR shortly.

[2021-04-03 14:21] wbrunette commented on #229
@khushishikhu if you don't modify the build.gradle file it will work. Technically variants are a combination of flavors and dimensions. I noticed in the screenshot i see modifications of dimensions, so once you start altering the variants I am not sure what the bug is. If you do not modify build.gradle all 3 variants should compile correctly.

[2021-04-03 15:45] khushishikhu commented on #225
@wbrunette yes sure, Even I was thinking to work on that after resolving this issue as they are related but someone was already engaged on that issue.

[2021-04-03 15:47] wbrunette commented on #225
@khushishikhu #110 is now available

[2021-04-03 16:35] elmps2018 commented on #153
Hi @victory-lydia! I have assigned this issue to you! Since this relates to the documentation, please start by setting up the environment to contribute to the docs (https://docs.odk-x.org/contributing/). You will then need to add to the documentation about XLSX converter (https://docs.odk-x.org/xlsx-converter-using/ or (https://docs.odk-x.org/xlsx-converter-reference/) to explain these columns. Be

[2021-04-03 16:57] wbrunette commented on #153
@victory-lydia Thank you for taking on this issue! If you search "elementType" on https://forum.odk-x.org or https://docs.odk-x.org you will find references to this, but it is not documented on the "model" sheet description. Like the "survey" sheet description there are optional columns that should be in a second optional table. You will even see elementType is mentioned in the paragraph below. Th

[2021-04-03 18:20] elmps2018 opened #235 "Video: Changing the language in ODK-X Survey"
Make a video showing how to change the language in ODK-X Survey for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks are often explained

[2021-04-03 18:21] elmps2018 opened #236 "Video: Navigating with contents menu in ODK-X Survey"
Make a video showing how to navigate with the contents menu in ODK-X Survey for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks are oft

[2021-04-03 18:23] elmps2018 opened #237 "Video: Saving and finalizing in ODK-X Survey"
Make a video showing how to save and finalize in ODK-X Survey for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks are often explained i

[2021-04-03 18:25] elmps2018 opened #238 "Video: Importing data in ODK-X Tables"
Make a video showing how to import data in ODK-X Tables for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks are often explained in the

[2021-04-03 18:26] Shubhamr837 commented on #235
Hi @elmps2018 can I work on this ?

[2021-04-03 18:27] elmps2018 opened #239 "Video: Exporting data from ODK-X Tables"
Make a video showing how to export data in ODK-X Tables for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks are often explained in the

[2021-04-03 18:28] elmps2018 opened #240 "Video: Selecting the form and instance in ODK-X Survey"
Make a video showing how to select the form and the instance in ODK-X Survey for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks are of

[2021-04-03 18:30] elmps2018 opened #241 "Video: Working with sub-forms and linked tables in ODK-X Survey"
Make a video showing how to add, edit, and delete sub-form/linked table instances for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in ODK-X. Although these tasks a

[2021-04-03 18:33] elmps2018 opened #242 "Video: Introducing XLSXconverter"
Make a video introducing the XLSXconverter and its functionality (especially converting & preview in Chrome) for our Youtube Channel.
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a [youtube channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ) to share videos of how to do key tasks in OD

[2021-04-03 18:37] elmps2018 commented on #235
@Shubhamr837 yes! I just assigned you! Thanks for taking this on!

[2021-04-03 18:40] khushishikhu commented on #225
@wbrunette I have researched a lot and written the code for search , but unfortunately it fails to work. I need some help here to implement that, as I am not getting what else is currently missing in my code. That it doesn't work, Please can you give me some reference to read for how I can move further to solve this issue, it would be really helpful for me

[2021-04-03 18:41] wbrunette commented on #225
@linl33 is more familiar with this code than I am. Let's see what he suggestions.

[2021-04-03 18:57] chinenyeokafor commented on #238
@elmps2018 Can I work on this?

[2021-04-03 19:02] wbrunette commented on #238
@chinenyelilian  yes! I just assigned you! Thanks for taking this on!

[2021-04-03 20:10] wbrunette opened #243 "Add a button to Suitcase to refresh list of tables after logging in."
If the server changes it's table manifest after you have passed the login/setup screen on suitcase it doesn't find new tables that have been created.

[2021-04-03 20:15] Shubhamr837 commented on #243
Hi @wbrunette can I work on this?

[2021-04-03 20:21] wbrunette commented on #243
@Shubhamr837 I am going to assign you this issue but you also have 2 other issues that are not finished as well. I realize there are 2 issues that are waiting on review in addition to the 2 incomplete issues that are assigned to you. You will now have 3 incomplete which is more than our usual 2 max, but I also realized you just got the video today and the sync-client yesterday.

[2021-04-03 20:24] Shubhamr837 commented on #243
Thanks , I understand this . I will try to send PRs for the previous incomplete ones within 24 hours .

[2021-04-04 03:22] iamhks commented on #239
Hi, can I work on this issue?

[2021-04-04 04:28] iamhks commented on #239
Hi @elmps2018, I worked on this issue.
Here is the link to the video: https://drive.google.com/file/d/1RNRySQODzPZ05op0f-T0NiGixt4q5sq-/view?usp=sharing
Please review and tell me if I need to make any changes.

I did not include setting up with the services app first because, when someone is exporting that would have been done already and is needed only when importing.

[2021-04-04 04:30] victory-lydia commented on #153
@elmps2018  Thanks.

[2021-04-04 04:56] swaingotnochill commented on #240
@elmps2018 I think it's a pretty easy win issue. Can I work on this?

[2021-04-04 04:59] swaingotnochill commented on #237
Can I work on this one ?

[2021-04-04 05:00] #232 closed, assigned to swaingotnochill

[2021-04-04 05:01] swaingotnochill commented on #236
I would also like to work on this one too. It will be a refreshing break from hard coding to work on this issues.

[2021-04-04 05:04] swaingotnochill commented on #242
Please assign this issue to me.

[2021-04-04 05:06] iamhks commented on #241
I would like to work on this!

[2021-04-04 06:23] wbrunette commented on #241
@iamhks thanks for taking on this issue, I have assigned it to you.

[2021-04-04 06:24] wbrunette commented on #242
@swaingotnochill thanks for working on this issue, I have assigned it to you.

[2021-04-04 06:28] swaingotnochill commented on #240
Here is the drive link containing the video:

https://drive.google.com/file/d/1G63lu6Dp3ZxtopzNVgLpqCiTS67ifIXY/view?usp=drivesdk

We can remove the background music if we don't want. If there are any changes you would like, we can do that too. Any feedbacks? @elmps2018

[2021-04-04 06:30] wbrunette commented on #236
@swaingotnochill I have assigned this issue to you because you have 1 issue pending review. Please note that our limit is 2 assigned issues that are incomplete.

[2021-04-04 06:32] wbrunette commented on #239
@iamhks I have assigned the issue to you. @elmps2018 will review your link.

[2021-04-04 06:52] kartikeysaran commented on #191
Not yet started working on it :( will try to solve this asap

[2021-04-04 06:58] khushishikhu commented on #229
@wbrunette just one thing I want to confirm that I have to make the document for contributors guide in ODK-X tool-suite-X ,right?

[2021-04-04 07:31] riturajjain2000 commented on #222
Sorry for the delay everyone, I was a little busy with my college placement procedures.
I am unable to reproduce the error. Is there any other way to reproduce it?

[2021-04-04 10:14] wbrunette commented on #229
There is a contributors section in docs, but it only has a subsection for contributing to docs. It would be good to make another subsection about contributing to the tools. Then link it from the README of the the various repos like Services, Tables, and Survey.

[2021-04-04 10:15] wbrunette commented on #229
@elmps2018 might have some thoughts on this.

[2021-04-04 10:17] #174 closed

[2021-04-04 13:41] linl33 commented on #222
It might be an OS dependent thing, could you try on Android 8.1?
Note that on step 5, do not rotate the screen back to its original orientation.

[2021-04-04 13:42] VarunT11 commented on #227
@wbrunette Could you please guide me as to how to reproduce this issue as I tried a lot launching **Services** using various methods but did not find any Null Pointer Error.

[2021-04-04 13:54] linl33 commented on #227
@VarunT11
The steps are
1. Open Services
2. Open Settings
3. Enable user restrictions / enter admin mode
4. Click 'Manage ability to change server settings'
5. Rotate screen
6. Crash

[2021-04-04 14:01] linl33 commented on #225
@khushishikhu The issue with your implementation is that you tried to take a sample for customizing ODK-X Tables to use on ODK-X Survey. These 2 apps, though both customized through JS, do not have the same API. I'd suggest you look into how the current `instances` UI works and also how the other prompt types are implemented. All the prompt types are in [`prompts.js`](https://github.com/odk-x/app-

[2021-04-04 14:19] khushishikhu commented on #225
@linl33 yes sure, I will read the article that you have provided and implement the changes accordingly in the PR . Thank you for reviewing and guiding me it will help me to solve the issue.

[2021-04-04 14:20] linl33 commented on #230
I'm not sure why this is happening. It works fine for me on the Android 10 emulator. @emeka-okechukwu-dev Does this happen on every form for you?

@wbrunette Can you try to reproduce this as well?

[2021-04-04 14:34] riturajjain2000 commented on #222
Ok will do that .
Will update if I face any problem

[2021-04-04 14:34] emeka-okechukwu commented on #230
@linl33 yep happens on every form. I'm using Huawei as well.

[2021-04-04 15:18] linl33 commented on #157
https://github.com/odk-x/app-designer/blob/9e06f420276a2c08f7e8ca5091b65aa3bc38ee0c/xlsxconverter/XLSXConverter2.js#L581-L587

[code]

Calling `trim` on `key` should fix this issue.

[2021-04-04 15:28] linl33 commented on #138
The documentation should include the requirements to use the barcode scanner. You need to first install zxing's https://play.google.com/store/apps/details?id=com.google.zxing.client.android&hl=en&gl=US

Related issue #119

[2021-04-04 15:33] linl33 commented on #117
@elmps2018 You renamed it to **ODK-X WebKit** in https://github.com/odk-x/docs/pull/29, can we close this issue?

[2021-04-04 15:37] emeka-okechukwu-dev commented on #237
@swaingotnochill hope it's fine I take this one on since it's not been assigned yet and I think you've reached a limit?

@elmps2018, I've already made a video accessible here: https://drive.google.com/file/d/1KSR6r006jCLI8xLBxtbGk_aWMG7UdxSk/view?usp=sharing

[2021-04-04 15:42] VarunT11 commented on #227
@linl33 Thank You for guiding me! I have made a PR fixing this bug at https://github.com/odk-x/services/pull/203.

[2021-04-04 15:43] wbrunette commented on #138
It should also be documented here: https://docs.odk-x.org/basics-install/

It's not required like OI File Manager to run, but if you decide to use a barcode prompt in Survey it will be needed for the prompt to function.

[2021-04-04 15:44] emeka-okechukwu commented on #237
@swaingotnochill hope it's fine I take this one on since it's not been assigned yet and I think you've reached a limit?

Hey @elmps2018, can I be assigned to this issue?

I've already made a video accessible here:

https://drive.google.com/file/d/1KSR6r006jCLI8xLBxtbGk_aWMG7UdxSk/view?usp=sharing

Please lemme know what you think.

[2021-04-04 16:53] wbrunette opened #244 "Update default server URL"
Update the default server URL in androidlibrary strings.xml from

[code]

Also change the translation strings.xml in spanish (es) so the url is consistent.

[2021-04-04 16:54] wbrunette opened #245 "Enable Anonymous on tables-demo"
Enable Anonymous on tables-demo.odk-x.org server.

[2021-04-04 16:54] chinenyeokafor commented on #238
@elmps2018 The ODK-X table app stops/Crashes at configuring ODK-X table. Please what could be the cause?

[2021-04-04 16:56] wbrunette commented on #238
@chinenyelilian What version of Android are you using? Android 11 has a known problem that will be fixed in version 2.1.8 (hopefully released this week). You can use any version of Android between Android 4.4 to Android 10.

[2021-04-04 17:04] wbrunette commented on #230
@linl33 I tried to recreate on the emulator for Android 10 and failed to recreate it.. @swaingotnochill @emeka-okechukwu-dev can you try the Android emulator and see if you get the same result?

[2021-04-04 17:07] chinenyeokafor commented on #238
@wbrunette  My android version is 9

[2021-04-04 17:11] wbrunette commented on #238
@chinenyelilian can you provide more specifics on what you are doing? Are you compiling the code and installing it on a device or did you use a web browser to download the apks? If so which version?

[2021-04-04 17:17] chinenyeokafor commented on #238
I downloaded the app and the prerequisites from the links: https://github.com/odk-x/services/releases/latest
https://github.com/odk-x/tables/releases/latest
https://github.com/openintents/filemanager/releases.

The ODK-X table application doesn't move past the initial configuration stage.

[2021-04-04 17:26] wbrunette commented on #230
I also attempted to recreate the error on moto g7 play running Android 10 and failed. Though I was using the development branch.

[2021-04-04 17:37] swaingotnochill commented on #230
@wbrunette the survey version is  2.1.7.I forgot to mention it.

[2021-04-04 17:41] VarunT11 commented on #244
@wbrunette Can I work on this?

[2021-04-04 17:45] pawanharariya commented on #244
@wbrunette Can I work on this?

[2021-04-04 22:29] elmps2018 commented on #117
So I did! Yes, let's close this, WebKit at least is somewhat more accessible.

[2021-04-04 22:29] #117 closed

[2021-04-04 22:34] elmps2018 commented on #238
Do the other apps work? Also make sure the install from unknown sources is checked per the directions:
https://docs.odk-x.org/basics-install/
I have occasionally had problems with install when it isn't

[2021-04-04 22:35] elmps2018 commented on #229
There is a section about contributing to the tools: https://docs.odk-x.org/advanced-topics-developer/ but we need to figure out what goes there v. the repos and also have them point to e/o

[2021-04-04 22:41] elmps2018 commented on #240
Thanks @swaingotnochill for working on this! This is off to a good start. Screen record is fine. Could you add a title for selecting a form since you do that first? To make clear which part is selecting a form, creating an instance, and editing an instance? Arrows/circles/highlighting and going a bit slower would also be helpful, but the right content is there! I wouldn't include the saving part i

[2021-04-04 22:43] elmps2018 commented on #240
Hi @swaingotnochill! This has the right content which is great, but it is a little too fast to follow! Could you slow it down and highlight/circle what you are selecting to help users follow along?

[2021-04-04 22:47] elmps2018 commented on #237
Hi @emeka-okechukwu-dev! This looks like the right sort of information, but could you highlight/circle what you are selecting since it is not always clear? Thanks!

[2021-04-04 23:03] emeka-okechukwu commented on #237
Hi @elmps2018, sure I can work on that

[2021-04-05 03:37] linl33 commented on #234
Fixed by odk-x/services#201

[2021-04-05 03:37] #234 closed, assigned to VarunT11

[2021-04-05 03:38] linl33 commented on #244
@pawanharariya I've assigned this issue to you.
@VarunT11 Please complete your in-progress issues before taking on new issues.

[2021-04-05 06:02] khushishikhu commented on #229
@elmps2018 @wbrunette  can you please tell me where exactly I should write the contributing to the tools document because I am getting confused in two opinions. Currently I have started with making a subsection under contributing section in docs as I have been told before. Thank you!!

[2021-04-05 08:14] EstherPhebe opened #246 "Update table permalink URL in XLSX Converter Reference"
All the tables on the [XLSX Converter Reference](https://docs.odk-x.org/xlsx-converter-reference) page all have permalink URL's that have `#id--`. An example of this is https://docs.odk-x.org/xlsx-converter-reference/#id1 for the worksheet reference table.

1. Update the permalink URL's for all the tables on the page to match table title.

[https://docs.odk-x.org/xlsx-converter-reference/#id1](htt

[2021-04-05 08:14] EstherPhebe commented on #246
**@opendatakit-bot claim**

[2021-04-05 09:58] chinenyeokafor commented on #238
Thank you @elmps2018 and @wbrunette,I have setup the app successfully.

This is the link to the video: https://drive.google.com/file/d/1h6i41n3XbJxH86-ZTRRmLmt0KxyT71c5/view
Kindly review and share feedback.

[2021-04-05 11:26] EstherPhebe commented on #157
@linl33  I'd like to work on this. From what I see the trim method should be called on the key parameter to remove the trailing whitespace. Will the key argument always be a string?

[2021-04-05 13:32] linl33 commented on #157
@EstherPhebe I've assigned this issue to you. Be sure to test thoroughly that fixing this issue doesn't break existing forms. Thanks!

`key` should always be a string given that it was used to index `outRow`.

[2021-04-05 15:45] wbrunette commented on #229
@khushishikhu follow what @elmps2018 suggests for the location/placement of the instructions.

[2021-04-05 16:21] EstherPhebe commented on #246
@wbrunette @elmps2018 Please assign this to me.

[2021-04-05 16:23] wbrunette commented on #246
@EstherPhebe I have assigned the issue to you.

[2021-04-05 16:27] amarealcoder commented on #81
Hi @ wbrunette <https://app.slack.com/team/U01PXFW021Z>    I have
successfully finished the docker build. Please, do you mind updating me
with what next step I need to take? The task I was assigned, how do I go
about it?

On Wed, Mar 31, 2021 at 6:23 AM wbrunette ***@***.***> wrote:

[2021-04-05 17:31] elmps2018 commented on #238
Hi @chinenyelilian this looks good to me! @wbrunette do you want to check and see if you have any feedback? If it looks all set I can add to the YouTube.

[2021-04-05 18:10] iamhks commented on #239
@elmps2018 It would be helpful if you could review the link, since I can then follow those instructions for another video issue.

[2021-04-05 18:21] elmps2018 commented on #239
Hi @iamhks! The content looks good here, but it was sometimes hard to tell what you are selecting. Going a bit slower and also highlighting/circling what you select would help!

[2021-04-05 18:28] iamhks commented on #239
Thanks @elmps2018 , here's the updated link: https://drive.google.com/file/d/1RvCTBqGPfkry8lc9Uy3_QTpu22AIrUsW/view?usp=sharing

[2021-04-05 18:29] iamhks commented on #172
@wbrunette I have made a PR, please review. Thanks

[2021-04-05 18:59] elmps2018 commented on #239
@iamhks this looks good! I will go ahead and get it processing with YouTube to add to the channel, thanks!

[2021-04-05 20:21] wbrunette commented on #81
@amarealcoder this is not well document, which is why this issue exists, so someone can come up with a set of instructions.

To get you started I have put links to the 3 types of logging that exist and some pointers to get you started.

ODK-X Logging System
-------------------------------
ODK-X log files are stored in the /opendatakit/<appname>/output/ directory see:  https://docs.odk-x.org/config

[2021-04-05 20:33] #244 closed, assigned to pawanharariya

[2021-04-05 20:41] #227 closed, assigned to VarunT11

[2021-04-05 20:48] wbrunette commented on #238
@chinenyelilian good job! @elmps2018 The only thing I would add is in the description of the video that the CSV must match the table's format. However, I think just adding that requirement to the description when uploading the video to YouTube will be sufficient.

[2021-04-05 21:11] elmps2018 commented on #238
Good point @wbrunette! @chinenyelilian could you add narration or a picture to that effect? I worry that folks don't read the descriptions so having it in the video would be great.

[2021-04-06 00:47] emmyclef commented on #152
could you pls assign this to me as well

[2021-04-06 00:52] emeka-okechukwu commented on #230
Hi @wbrunette, I'll give it a try on my Android emulator and let you know.

Downloaded the app and currently on "Configuring ODK-X Survey".

[2021-04-06 06:53] amarealcoder commented on #81
Thanks for the documents. I have gone through them yet nothing is making
sense to me. Is it possible that you assign a more basic issue I can work
on as a beginner...I really want to get a hang of this. I am still
floating. Or if this one is quite basic for a beginner, how do I get to
understand it better. I hope you don't mind me bugging you all these while.

On Mon, Apr 5, 2021 at 9:21 PM wbrune

[2021-04-06 07:16] #233 closed, assigned to Shubhamr837

[2021-04-06 08:09] amarealcoder commented on #81
Does this "document the logging capabilities of apps" file already exist in
the repository because I cannot find the file or am I meant to build the
documentation from scratch?

On Tue, Apr 6, 2021 at 7:53 AM Miracle Ugorji ***@***.***>
wrote:

[2021-04-06 08:10] chinenyeokafor commented on #238
@elmps2018 Okay, will do

[2021-04-06 15:49] wbrunette commented on #81
@amarealcoder you are correct there is no document so this is a start from scratch issue. This might be an easier documentation issue: https://github.com/odk-x/tool-suite-X/issues/138

[2021-04-06 17:19] EstherPhebe commented on #118
@wbrunette Please assign this issue to me.

[2021-04-06 17:20] wbrunette commented on #118
@EstherPhebe I have assigned the issue to you

[2021-04-06 19:17] wbrunette commented on #188
@RyanLi0802 I will assign it to you

[2021-04-06 19:20] RyanLi1028 commented on #188
sure

[2021-04-06 21:57] #246 closed, assigned to EstherPhebe

[2021-04-07 00:48] chinenyeokafor commented on #238
@elmps2018 and @wbrunette I have done the necessary addition as advised. Please see the link to the video: https://drive.google.com/file/d/1hpL8W9T6CcJGKpLLGT2K1zjANF5VgdVk/view?usp=drivesdk
Kindly review and share feedback.

Thank you.

[2021-04-07 12:58] iamhks commented on #239
Hi @elmps2018 I see the video has been added to the channel. Hopefully, this issue can be closed now. Thanks.

[2021-04-07 13:42] iamhks commented on #81
@wbrunette If Miracle is going to opt for some other issue. I would like to try this one. Also, by "apps" I guess this means for the 3 apps we have-survey,services and tables or if I am wrong please clarify.

And, Hi @amarealcoder Even I was overwhelmed initially but I started with reading the docs first and then fixing typos, and making videos for example here: https://github.com/odk-x/tool-suite

[2021-04-07 14:14] elmps2018 commented on #239
@iamhks oh yes closing now!

[2021-04-07 14:14] #239 closed, assigned to iamhks

[2021-04-07 14:31] elmps2018 commented on #238
This is great, super helpful details, I just uploaded to the YouTube channel, thanks!

[2021-04-07 14:31] #238 closed, assigned to chinenyeokafor

[2021-04-07 17:32] Shubhamr837 commented on #235
@elmps2018 can you please help me with this . In my survey application it only shows the current device language, when I change the device language to espagnol it changes and shows everything in Spanish.  It never shows both the language together.
Screenshots :
With device language as english :
![Screenshot_20210407-225706_ODK-X Services](https://user-images.githubusercontent.com/45128519/11390903

[2021-04-07 18:06] starboi02 commented on #190
@linl33 can I work on it?

[2021-04-07 19:09] khushishikhu commented on #110
@wbrunette can you please assign this issue to me , so that I can start working on this too.

[2021-04-07 19:14] elmps2018 commented on #110
@khushishikhu assigned to you!

[2021-04-07 19:20] elmps2018 commented on #235
Hi @Shubhamr837! Sorry for the confusion, it looks like  you might be in services rather than Survey? In Survey you can change the language using the contents menu: https://docs.odk-x.org/survey-using/?highlight=contents but only if you have an app with multiple languages set up. I am not sure which but I think some of the default ones have multiple languages so you can show this functionality.

[2021-04-07 22:51] wbrunette commented on #235
You need the multiple languages set in the form. Then you can change the language once in the form.

[2021-04-08 00:10] wbrunette opened #247 "Document how to add a new word to the spell checker"
When updating the docs, new technical words are often needed to be added. The CircleCI build system will fail the build check if something is misspelled.

To make it easier for new contributions to docs, add instructions to docs contribution guide on how to add a new word to the spell checker.

[2021-04-08 00:27] SaySayo commented on #247
can i work on this?

[2021-04-08 06:21] riturajjain2000 commented on #190
Can I look into this ?

[2021-04-08 06:33] mahadevkanishk commented on #247
Hi!
@wbrunette can i work in this?

[2021-04-08 07:35] victory-lydia commented on #247
Hi!
@wbrunette can I work on this