[2021-04-08 08:45] emeka-okechukwu commented on #230
Hi @wbrunette, got the same result on my emulator. Running version 2.1.7 rev 240

![Screenshot_1617870960](https://user-images.githubusercontent.com/81817744/113996010-49e7e900-9846-11eb-83cb-8c45c0745244.png)

[2021-04-08 19:42] chinenyelilian commented on #247
@wbrunette claim

[2021-04-08 19:51] victory-lydia commented on #247
Thanks

On Thu, Apr 8, 2021, 8:42 PM chinenyelilian ***@***.***>
wrote:

[2021-04-08 19:56] chinenyeokafor commented on #247
@wbrunette claim

[2021-04-08 21:03] wbrunette commented on #247
@mahadevkanishk I have assigned this issue to you. If you decide not to work on it, let us know so I can re-assign it.

[2021-04-08 21:05] wbrunette commented on #230
Which specific emulator? Are you using the google play version?

[2021-04-08 21:07] wbrunette commented on #190
@starboi02 I have assigned this issue to you.

[2021-04-08 21:07] starboi02 commented on #192
@linl33 @wbrunette can I work on this?

[2021-04-08 21:09] wbrunette commented on #192
@starboi02 I am assigning this issue to you, but you have now reached a limit. Please complete the other issues or tell us which ones you are not going to work on.

[2021-04-08 21:13] #157 closed

[2021-04-08 21:28] starboi02 commented on #192
@wbrunette I am stuck at #228 for days, I tried every possible way but was unable to recreate the issue, hence becoming very difficult for me to sort it out and fix it. Apart from it I have made a [PR](https://github.com/odk-x/tables/pull/179) for #209 and a [PR](https://github.com/odk-x/survey/pull/148) for #190. I am very much willing to work on this issue.

[2021-04-08 21:33] wbrunette commented on #228
@starboi02 I am going to unassign this issue from now. I will see if come back up again in error reporting for testing. It could have been fixed by our many changes for 2.1.8.

[2021-04-08 21:36] starboi02 commented on #228
Okay @wbrunette. Yeah that could be the case.

[2021-04-08 21:37] wbrunette commented on #192
@starboi02 it's assigned.

[2021-04-08 21:37] starboi02 commented on #192
Thanks @wbrunette :)

[2021-04-08 22:23] emeka-okechukwu commented on #230
@wbrunette I'm using the Android 10 emulator on Android Studio. Not the Google Play version but downloaded it from GitHub releases (https://github.com/odk-x/survey/releases).

[2021-04-09 08:14] iamhks commented on #142
Hi all, I would like to work on this!

[2021-04-09 09:04] #190 closed

[2021-04-09 16:34] elmps2018 commented on #142
@iamhks assigned you!

[2021-04-09 17:31] chinenyeokafor commented on #71
@wbrunette Can I do this?

[2021-04-09 17:33] wbrunette commented on #71
@chinenyelilian I have assigned the issue to you. Note this is an older issue so someone might have fixed it but you should give it a try.

[2021-04-09 18:53] wbrunette commented on #230
@emeka-okechukwu-dev thanks for responding, the Android 10 emulator on Android Studio has 7 different emulators for Android 10. I am trying to figure out which one(s) you have installed and which one you used for the test so I can try and match it exactly.
![Android10Emulator](https://user-images.githubusercontent.com/11892715/114227694-29915a80-992a-11eb-8c98-8d6e8ba7a5ca.PNG)

[2021-04-09 21:49] khushishikhu commented on #138
@wbrunette  @elmps2018 can I be assigned to this issue?

[2021-04-10 10:42] victory-lydia commented on #191
Hi! @linl33  please I will like to take this issue. And I will like to be directed on how to go about it

[2021-04-10 14:17] khushishikhu commented on #240
@elmps2018 can I try to work on this issue? If no one is working on it

[2021-04-10 14:24] sanyud24 commented on #198
Hi , I'm sanyu daver an outreachy applicant   , May I work on this issue @linl33

[2021-04-10 15:20] khushishikhu commented on #189
@linl33 If no one is working on this issue. Can I start working on this issue?

[2021-04-10 15:22] khushishikhu commented on #152
@wbrunette if no one is working here can I start working on it?

[2021-04-10 17:25] wbrunette commented on #152
@ChitvanRamani22 can you give us an update on your progress? Do you have questions we could answer? If you are not longer working on it please let us know so we can assign this to someone else.

[2021-04-10 18:16] chinenyeokafor commented on #71
Thank you @wbrunette
The error below comes up when I attempt to open a form.
![Screenshot_20210410-185827](https://user-images.githubusercontent.com/28391088/114280441-1cab5e80-9a31-11eb-969a-d90604b24d21.png)

[2021-04-10 18:27] ChitvanRamani22 commented on #152
@wbrunette due to some family issues i could not continue to work on this you can assign this to someone else.
Sorry for the late response.

[2021-04-10 18:28] wbrunette commented on #152
@ChitvanRamani22 I am sorry to hear about your family issues. I hope everything ends up well. Thanks for letting us know.
@khushishikhu I have assigned the issue to you.

[2021-04-10 18:30] ChitvanRamani22 commented on #152
@wbrunette thanks a lot for your patience.

[2021-04-10 19:04] wbrunette commented on #189
@Chi-O can you give us an update on your progress? Do you have questions we could answer? If you are not longer working on it please let us know so we can assign this to someone else.

[2021-04-10 19:07] wbrunette commented on #198
@sanyud24 I have assigned this issue to you to work on.

@sayant1204 if you almost done, let us know and post as pull request and I will reassign it back to you. However we haven't heard from you in 28 days so I am going to assume that you moved on to something else. If I am wrong let me know.

[2021-04-10 19:12] Chi-O commented on #189
I apologize for not getting this done sooner, I got busy with my other projects. I followed the instructions on the docs contribution guide and I have set up the repository on my end. I want to make sure to follow the guidelines for markup, syntax and style so that is what I am going through now.

[2021-04-10 19:16] wbrunette commented on #191
@victory-lydia I am assigning this issue to you. Here is a list of steps to get you started.
1) First understand how to make an Application with a XLSX Survey form. Follow these instructions:
https://docs.odk-x.org/getting-started-2-architect/
2) Setup the application designer and make your own form. When you convert your XLSX form you will be doing the single form conversion: https://docs.odk-x.o

[2021-04-10 19:20] wbrunette commented on #138
@khushishikhu you currently have several issues assigned to you, please work on completing those first. We do allow to have a few issues at once but want to try to balance the issues.

[2021-04-10 19:34] wbrunette commented on #71
@chinenyelilian it's a good idea to search on the forum.odk-x.org with problems as people may have already had similar issues. My first guess at the issue is this one: https://forum.odk-x.org/t/err-connection-refused-problem-accesing-forms-with-survey/819

[2021-04-10 19:36] wbrunette commented on #138
@khushishikhu after you finish one of your other issues (I realize you are waiting on a response from @linl33 on one) ask to be assigned to this one again and we will assign you.

[2021-04-10 19:41] #210 closed

[2021-04-10 20:57] sanyud24 commented on #198
I'm really sorry to trouble you but I've been searching for some  good first issue on ODK - X suitcase app .  . I read this issue incorrectly ,please unassign this, May u suggest some open issues on the suitcase app ? It'll be very helpful , Thankyou

[2021-04-10 23:44] chinenyeokafor commented on #71
@wbrunette Thank you so much.
My mobile needed additional settings to access the form.
Apparently this issue have been resolved as I could read all text on the form. See sample photo.

![image](https://user-images.githubusercontent.com/28391088/114287420-9279ef00-9a5e-11eb-8c8f-189e9f92927f.png)
![image](https://user-images.githubusercontent.com/28391088/114287461-dbca3e80-9a5e-11eb-91bd-88fabe113

[2021-04-11 03:07] khushishikhu commented on #138
@wbrunette sure, I understand. I'll finish my one issue and then get back to this. Thank You!!

[2021-04-11 04:46] khushishikhu commented on #152
![Capture](https://user-images.githubusercontent.com/65439761/114292739-52425d00-9aae-11eb-8456-88d053c94d52.PNG)
@wbrunette This is the code for prompt textarea, can you please help me to know if I have to write the document for prompt textarea in Survey, Table, or services? or somewhere else?

[2021-04-11 11:46] riturajjain2000 commented on #228
@wbrunette sir, this one's fixed as the line which is mentioned in the Log
`at org.opendatakit.services.MainActivity.onOptionsItemSelected(MainActivity.java:164)` was referring to About Item from the menu, now I have removed that code and made a static function so this is fixed I guess.
Also, I tried recreating it and was unable to

[2021-04-11 12:49] #228 closed, assigned to wbrunette

[2021-04-11 18:17] wbrunette commented on #152
@khushishikhu please add it to the list of available prompt types. Also please add a note about string size. https://forum.odk-x.org/t/odk-x-character-limits/532/ since the text area are likely to have people go over 255 characters.

[2021-04-11 18:28] wbrunette commented on #71
@chinenyelilian while looking at the summary data in ODK-X Tables is a big part of the application the issue talks about a form and the forms are rendered in ODK-X Survey. Please check the forms in the Survey application and let us know if the problem still exists.

[2021-04-11 19:01] chinenyeokafor commented on #71
@wbrunette
I couldn't read any text on the plot form.

I have Survey 2.1.7 rev 240 and Android version 9.
![Screenshot_20210411-195220.png](https://user-images.githubusercontent.com/28391088/114317559-8113ff80-9abd-11eb-8aa2-94be3c2242a7.png)
![Screenshot_20210411-195256.png](https://user-images.githubusercontent.com/28391088/114317593-a9036300-9abd-11eb-804b-8502d8652e67.png)

[2021-04-11 19:03] wbrunette commented on #71
Well the issue still exists :) This needs to be fixed

[2021-04-11 19:19] chinenyeokafor commented on #71
Yes, I will work on it and raise a pull request.

[2021-04-11 20:03] shaliniiit commented on #119
Hi I'd like to work on this issue. Is commenting enough to claim it?

[2021-04-11 20:05] shaliniiit commented on #136
Hi I'd like to work on this issue. Is commenting enough to claim it?

[2021-04-11 20:05] shaliniiit commented on #144
Hi I'd like to work on this issue. Is commenting enough to claim it?

[2021-04-11 20:14] wbrunette commented on #136
@shaliniiit I have assigned the issue to you. This is a broad issue, there has been a start, https://docs.odk-x.org/notify-install/

Please try to follow the instructions and where there are gaps or places that lack clarity please improve it.

[2021-04-11 20:15] wbrunette commented on #119
@shaliniiit I have assigned this issue to you.

[2021-04-11 20:16] shaliniiit commented on #136
Thank you.

On Mon, 12 Apr 2021 at 1:43 AM, wbrunette ***@***.***> wrote:

[2021-04-11 20:16] shaliniiit commented on #119
Thank you.

On Mon, 12 Apr 2021 at 1:45 AM, wbrunette ***@***.***> wrote:

[2021-04-11 20:16] wbrunette commented on #144
@shaliniiit we have a limit of two open issues that do not have a pull request waiting on review. Once you have a pull request for one of your other two issues, please ask again and we will assign the issue to you if nobody else has claimed it.

[2021-04-11 21:35] #193 closed

[2021-04-11 23:34] elmps2018 opened #248 "How to upgrade/update versions"
We do not seem to have documented how to update versions of the software, e.g. from v2.1.6 to 2.1.7, see this forum post:
https://forum.odk-x.org/t/upgrading-from-v-2-1-6-to-2-1-7/1298/2

Documenting this process as a tip or section, possibly here: https://docs.odk-x.org/build-app/#updating-an-application to explain this process would be helpful.

[2021-04-12 00:13] #118 closed

[2021-04-12 02:15] iamhks commented on #248
@elmps2018 Please assign this to me.

[2021-04-12 02:18] elmps2018 commented on #248
@iamhks assigned, thanks for working on this!

[2021-04-12 02:55] #243 closed, assigned to Shubhamr837

[2021-04-12 04:21] melibleq commented on #223
Hi eveyrone. I'm Melissa, from São Paulo - Brazil. I've been selected for the Outreachy contribution phase and ODK-X project #1 sounds interesting.
I tried joining the Slack channel, but it shows me a message saying that the link isn't active anymore.
Is there still a way for me to join it? I would like to learn more and hopefully countribute with good first issues.
I'm sorry if this message bothe

[2021-04-12 04:55] iamhks commented on #223
Hi @melibleq !

I don't think it's necessary to apologize for reaching out.
Secondly, please check this for joining the slack channel: https://forum.odk-x.org/t/slack-link-show-not-active-anymore/1304/2
p.s The forum is active too.

[2021-04-12 05:08] melibleq commented on #223
Hey there @iamhks, thanks a lot! I've just joined it. Signing up for the forum too.

[2021-04-12 07:53] victory-lydia commented on #191
Thanks @wbrunette .

[2021-04-12 08:31] linl33 opened #249 "init-odkx-sync-endpoint.py should use a shallow checkout of Sync Endpoint"
`init-odkx-sync-endpoint.py` does a full checkout of Sync Endpoint but only the most recent commit is needed. It should perform a shallow checkout instead to save time and bandwidth.

Such as this, https://github.com/linl33/sync-endpoint-containers/blob/b8125d9afc2e7af275fa3a6cd42874f4eb3dc6e8/Dockerfile#L6

[2021-04-12 08:33] Shubhamr837 commented on #249
Hi @linl33 can I work on this?

[2021-04-12 10:25] khushishikhu opened #250 "Document the form order"
## Description
I was reading the documentation and came out with this issue that we don't have the documentation in 'Using ODK-X survey' about how we can order the instances list as we have for opening the form, saving the instances, deleting the instances, or editing the instances. This requires a subsection where we have to write about this feature. The thing which I want to add in the documenta

[2021-04-12 14:48] khushishikhu commented on #250
@elmps2018 @linl33  @wbrunette can you please look at this issue and check if it is correct or not.

[2021-04-12 16:10] wbrunette opened #251 "Update Button Label in Suitcase"
Currently on the pull tab there is a button that says  "Refresh tables list". The label would be more accurate to as "Refresh Tables List Metadata"

[2021-04-12 16:11] wbrunette commented on #251
This issue currently has a hold for Sanyu daver for 48 hours.

[2021-04-12 16:15] sanyud24 commented on #251
Thankyou @wbrunette

[2021-04-12 16:54] wbrunette commented on #247
@elmps2018 This needs documentation on how to add to the spell checker, I think you meant to close document prompt textarea

[2021-04-12 16:55] elmps2018 commented on #247
@wbrunette sorry whoops I was trying to just merge in the spelling list, so textarea would pass checks, not close the issue

[2021-04-12 16:55] wbrunette commented on #247
@mahadevkanishk can you give us an update on your progress with this issue? As you can see it's useful for others to know how to add to the spelling list. Let us know if you are having issues.

[2021-04-12 18:46] Chi-O commented on #189
@linl33 @wbrunette would these options be part of the available [setting_name values](https://docs.odk-x.org/xlsx-converter-reference/#setting-name-value) shown? kindly help me in describing the settings

[2021-04-12 19:07] mahadevkanishk commented on #247
@wbrunette thank you, I have created the PR.

[2021-04-12 20:20] emeka-okechukwu commented on #230
@wbrunette sorry for the late response.

<img width="373" alt="Screenshot 2021-04-12 at 20 18 49" src="https://user-images.githubusercontent.com/81817744/114456376-4d73cb00-9bcc-11eb-8096-8003dc503e04.png">

And when I click "view details" about my emulator

<img width="354" alt="Screenshot 2021-04-12 at 20 19 55" src="https://user-images.githubusercontent.com/81817744/114456492-772cf200-9bcc-11eb

[2021-04-12 20:20] emeka-okechukwu commented on #230
Hope these help?

[2021-04-13 03:15] linl33 commented on #189
@Chi-O Yes, `showFooter` and `showHeader` should be added to that table. You can try them out in a form to see what they do.

[2021-04-13 03:32] #145 closed

[2021-04-13 03:33] linl33 commented on #249
@Shubhamr837 I've assigned this to you.

[2021-04-13 04:32] Shubhamr837 commented on #249
Hi @linl33 can I have some more details about this?
The script builds docker image and deploys the stack.
Should we create a method so that it updates the sync-endpoint files by fetching the file modified by last commit?

[2021-04-13 06:58] iamhks commented on #241
Hi @elmps2018 , sorry for the delay. Here's the video: https://drive.google.com/file/d/1U6zQ_AnXTbmI6uV0DentrLv2ohiPuUMO/view?usp=drivesdk

[2021-04-13 08:56] linl33 commented on #249
There is a `git clone` in the script. The command performs a full checkout but a full checkout isn't necessary. Modifying that command would be sufficient.

[2021-04-13 09:11] #251 closed, assigned to sanyud24

[2021-04-13 15:06] chinenyeokafor commented on #71
Dear @wbrunette,

I have modified the code to fix this issue on my device . However I am having a challenge locating the repository of the form configuration on the server to effect the fix.

Kindly assist

[2021-04-13 15:22] 23prarthana commented on #138
@wbrunette Can I work on this?

[2021-04-13 16:21] wbrunette commented on #138
@23prarthana I have assigned the issue to you

[2021-04-13 16:26] wbrunette commented on #71
@chinenyelilian you do not need to update the server. You can push updated files to your mobile device or Andriod emulator over USB.

Check out the following: https://docs.odk-x.org/getting-started-2-architect/

The forms are available in the Application Designer. Here is how to set it up https://docs.odk-x.org/app-designer-setup/

Also check out this documentation: https://docs.odk-x.org/build-ap

[2021-04-13 16:29] elmps2018 commented on #241
Hi @iamhks! Thanks for working on this! Sorry for any confusion, but this looks like adding, editing, and deleting an instance, rather than sub-forms and linked tables. More like issue #240 or #237. I am not sure if @swaingotnochill is still working on those, let me check.

[2021-04-13 16:29] elmps2018 commented on #240
@swaingotnochill are you still working on this issue? @iamhks completed something similar in #241.

[2021-04-13 16:30] elmps2018 commented on #237
Hi @emeka-okechukwu-dev are you still working on this issue? @iamhks completed something similar in #241.

[2021-04-13 16:38] swaingotnochill commented on #240
@elmps2018 Yes..will submit soon.

[2021-04-13 16:50] wbrunette commented on #81
@amarealcoder can you give us an update on the issue? Do you have any questions? It is fine to find a different issue if you don't want to work on this one, but please let us know so we can remove you from being assigned.

[2021-04-13 16:58] amarealcoder commented on #81
I am sorry I have not been able to give update on the issue due to
circumstances beyond my control. You can go ahead and assign someone else.
Thanks.

On Apr 13, 2021 5:50 PM, "wbrunette" ***@***.***> wrote:

@amarealcoder <https://github.com/amarealcoder> can you give us an update
on the issue? Do you have any questions? It is fine to find a different
issue if you don't want to work on this one,

[2021-04-13 16:59] wbrunette commented on #81
@amarealcoder you can keep the issue if you want until you have time. I was simply checking in.

[2021-04-13 17:02] amarealcoder commented on #81
No, its ok. I will pick some other issue when I resume.

On Tue, Apr 13, 2021, 5:59 PM wbrunette ***@***.***> wrote:

[2021-04-13 17:03] wbrunette commented on #81
@iamhks are you still interested in this issue?

[2021-04-13 17:11] iamhks commented on #240
@swaingotnochill if you have not yet started, we can use mine for this one and you can work on #241 because I got confused and made a video of this issue.

[2021-04-13 17:14] swaingotnochill commented on #240
Anything goes fine..I made one earlier but it was too fast..Since, you made one, that's great..We will use yours. Thanks for working on this issue.

[2021-04-13 17:17] iamhks commented on #240
Thanks @swaingotnochill.
@elmps2018 Please check if everything's okay or if any changes are to be made on the video.
Link: https://drive.google.com/file/d/1U6zQ_AnXTbmI6uV0DentrLv2ohiPuUMO/view?usp=drivesdk

[2021-04-13 17:17] wbrunette commented on #250
@khushishikhu this orders the forms list, not the instance list (to clarify terminology). If you want to document it I don't see a problem, but I do not think it belongs in the general directions as it is more of advanced item, not a getting started item. @elmps2018 can provide the information about where best to put the documentation. Perhaps a new section for user adjustments.

[2021-04-13 17:38] elmps2018 commented on #250
@khushishikhu good suggestion! Not a getting started level issue, but the using survey has more details: https://docs.odk-x.org/survey-using/ it talks about instance order, for instance. So putting form order after opening a form could be a good spot here.

[2021-04-13 17:40] elmps2018 commented on #240
@swaingotnochill and @iamhks thanks this looks great, will upload this to the YouTube channel shortly!

[2021-04-13 17:40] #240 closed, assigned to nobody

[2021-04-13 17:45] khushishikhu commented on #250
@wbrunette @elmps2018 can you please assign me on this issue. Thank you for making it me more clear

[2021-04-13 17:47] wbrunette commented on #250
@khushishikhu I have assigned the issue to you.

[2021-04-13 17:55] iamhks commented on #81
@wbrunette Yes, please assign it to me.

[2021-04-13 18:01] wbrunette commented on #81
@iamhks I have assigned the issue to you.

[2021-04-13 18:05] elmps2018 opened #252 "Android emulator links broken in docs"
There are a bunch of mentions, see pic, of the android emulator in docs but they give 404. Please fix!
<img width="703" alt="Screen Shot 2021-04-13 at 1 03 11 PM" src="https://user-images.githubusercontent.com/35489974/114599589-e8b28200-9c58-11eb-80d2-90ae1ef9a3f6.png">

[2021-04-13 18:12] chinenyeokafor commented on #252
@elmps2018 Please assign this to me.

[2021-04-13 18:14] elmps2018 commented on #252
@chinenyelilian assigned to you, thanks!

[2021-04-13 18:34] elmps2018 opened #253 "Video: Syncing with ODK-X services"
Make a video showing how to use ODK-X services to log in and sync data for our Youtube Channel. Can basically do a video demoing this process of logging and syncing with a demo server: https://docs.odk-x.org/survey-sample-app-install/
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a youtube channel to

[2021-04-13 18:35] elmps2018 commented on #253
Make sure to go slow enough and use highlighting/cursor/something so viewers can tell what you are entering and clicking!

[2021-04-13 18:37] elmps2018 opened #254 "Video: Installing basic tools (English)"
Make a video showing how to install the basic tools on a tablet. Basically, video this: https://docs.odk-x.org/basics-install/
We have this in Spanish already as well so can do something very similar: https://youtu.be/jrGSySKK9p8
Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Context: ODK-X has started a youtube channel to share

[2021-04-13 18:39] chinenyeokafor commented on #253
@elmps2018 Can I work on this?

[2021-04-13 18:45] Leena1666 commented on #254
Can you please assign this to me?

[2021-04-13 18:45] elmps2018 commented on #253
Hi @chinenyelilian! It looks like you are assigned to two open issues. We ask folks to make sure to finish off one of their issues before taking another to make sure issues are being actively worked on and that there are enough to go around! If this is still available when you finish one of the other issues let me know and I can assign you!

[2021-04-13 18:47] elmps2018 commented on #254
@Leena1666 just assigned you, thanks, let us know any questions or share your video when ready!

[2021-04-13 18:48] Leena1666 commented on #254
sure, Thanks

[2021-04-13 19:09] chinenyeokafor commented on #71
@wbrunette I have already moved the updated file to my mobile device. Opening the plot form with the survey application produces the expected result.
![Screenshot_20210413-195955.png](https://user-images.githubusercontent.com/28391088/114607133-ffed7180-9c50-11eb-9c1c-426727805523.png)

[2021-04-13 19:15] emeka-okechukwu commented on #237
Hi @elmps2018, so sorry for the delay but yeah I am still working on it. But since @iamhks seems to have done something similar then there's no problem.

Anyhow, I can continue if you'd like me to?

[2021-04-13 19:49] elmps2018 commented on #237
Hi @emeka-okechukwu-dev! If you can show the different kinds of saves, the finalize vs. incomplete vs. ignore that was not done and would still be helpful. @iamhks showed save and finalize with adding instances, but there are the different types of saves to video still.

[2021-04-13 20:11] iamhks commented on #237
Yes, you can find that here: https://docs.odk-x.org/survey-using/#saving-a-form-instance

[2021-04-13 23:31] chinenyeokafor commented on #253
@elmps2018 I have turned in one of my open issues (Awaiting response from @wbrunette).

After it is approved, I will get back to this. Thank you

[2021-04-14 04:53] linl33 commented on #245
Anonymous access enabled

[2021-04-14 04:53] #245 closed, assigned to linl33

[2021-04-14 14:23] ADISKING1 commented on #253
Hey @elmps2018,
If this issue is still available, I would like to work on it.

[2021-04-14 19:27] elmps2018 commented on #253
Hi @chinenyelilian and @ADISKING1 since @chinenyelilian had turned in an issue and asked for this one first, I am assigning to @chinenyelilian

[2021-04-14 19:30] #252 closed, assigned to chinenyeokafor

[2021-04-14 19:45] elmps2018 opened #255 "Video: Different views in ODK-X Tables"
Make a video showing how to use the different views in ODK-X Tables for our Youtube Channel. Can basically do a video walking through the same content as this documentation: https://docs.odk-x.org/tables-using/ This one is particularly likely to benefit from text of what is going on (e.g. "Switching to list view")/audio narration (if with audio narration please check & fix the automatic captioning

[2021-04-14 19:47] chinenyeokafor commented on #253
Thank you @elmps2018

This is the link to the video: https://drive.google.com/file/d/1lHoT5sP7MYMekS_ix58-204BetTm_2bt/view?usp=drivesdk
Kindly review and share feedback.

[2021-04-14 19:48] chinenyeokafor commented on #255
@elmps2018 Can I work on this?

[2021-04-14 19:56] elmps2018 commented on #253
@chinenyelilian this looks good -- it has all the right content. One suggestion would be if there is anyway to speed up the video part where the syncing is going on (sorry, I don't know video editing, but if it's possible to have the syncing phase be at high speed so folks don't have to watch the sync for many minutes).

[2021-04-14 19:57] elmps2018 commented on #255
@chinenyelilian assigned you!

[2021-04-14 20:29] chinenyeokafor commented on #253
@elmps2018 The video has been edited accordingly.

Please see the video: https://drive.google.com/file/d/1lMeHAmfA0imB_0al17hwlPOz80SYJKrm/view for your review.

[2021-04-14 20:47] elmps2018 commented on #253
@chinenyelilian this is great, just uploaded to the YouTube channel, thanks!

[2021-04-14 20:47] #253 closed, assigned to chinenyeokafor

[2021-04-14 22:26] #152 closed

[2021-04-14 22:38] #248 closed, assigned to iamhks

[2021-04-15 00:30] chinenyeokafor commented on #255
Thank you @elmps2018

Please see video: https://drive.google.com/file/d/1lV9yJrJQOY7xbidHILNHjVvsN3Rd5Xwz/view?usp=drivesdk

Kindly review and share feedback.

[2021-04-15 03:40] #249 closed, assigned to Shubhamr837

[2021-04-15 12:00] aditisingh2412 commented on #236
Hey! Can I work on this issue?

[2021-04-15 12:00] aditisingh2412 commented on #242
Hey! Can I work on this issue?

[2021-04-15 13:05] linl33 commented on #242
@swaingotnochill Can you give us an update on this issue? Let us know if you have any questions or would like to be unassigned.

[2021-04-15 13:06] linl33 commented on #236
@swaingotnochill Can you give us an update on this issue. Let us know if you have any questions or would like to be unassigned.

[2021-04-15 15:45] elmps2018 commented on #255
@chinenyelilian this is great, thank you! Will upload to the YouTube channel next!

[2021-04-15 15:45] #255 closed, assigned to chinenyeokafor

[2021-04-15 16:53] Leena1666 commented on #254
Here's my video, will be glad to get any feedback on what I can improve! https://drive.google.com/drive/folders/1M43qRk9Mm1ev7S_KOjT2QFctxkOF5rQ9?usp=sharing

[2021-04-15 17:33] khushishikhu commented on #147
@elmps2018  Can I try to work on this issue. This will help me to learn more about the documentation of odk-x as a contributor and will research to make this issue done.

[2021-04-15 17:39] elmps2018 commented on #147
Hi @khushishikhu, it looks like you already have a number of open issues. We ask folks to focus on working on a few issues -- if you can finish off some of the other ones then can ask again for this one!

[2021-04-15 17:44] khushishikhu commented on #147
@elmps2018 yes sure I understand, that is why I asked it now because recently my PR got merged of one issue and one more is about to done. So I thought I am allowed to take a one now and start working. But It's okay I totally understand your point too.
Thank you!!

[2021-04-15 17:47] elmps2018 commented on #147
@khushishikhu, looking at assignees quick it looked like you still have more than one open issue assigned. Are there some you are no longer working on?
<img width="1275" alt="Screen Shot 2021-04-15 at 12 47 04 PM" src="https://user-images.githubusercontent.com/35489974/114915069-b8015280-9de8-11eb-9d6c-e8bb99c99b1e.png">

[2021-04-15 17:52] wbrunette commented on #147
@khushishikhu our general limit is normally two open with more issues allowed with completed PRs in waiting for reviewer. This means @elmps2018 answered correctly,

This means the following PRs should have some movement before getting a third, we allowed a higher number sometimes because of interrelated like (#225 and #110).

However currently, the mentors have answered on:
#225 (and thus related

[2021-04-15 17:56] khushishikhu commented on #147
@elmps2018 @wbrunette okay sure I got your point. Thank you for making me consern I will take care of this thing from next time.

[2021-04-15 18:11] wbrunette commented on #192
@starboi02 can you give us an update on this issue? Do you have any questions?

[2021-04-15 18:31] elmps2018 commented on #254
@Leena1666 thanks for working on this, looks great and I will upload to our YouTube next!

[2021-04-15 18:31] #254 closed, assigned to Leena1666

[2021-04-16 04:07] linl33 opened #256 "Outdated minimum Android version for Survey in docs"
https://github.com/odk-x/docs/blame/master/odkx-src/survey-using.rst#L15 should be updated to Android version 4.4.

[2021-04-16 05:48] chinenyeokafor commented on #256
@linl33 Please can I work on this?

[2021-04-16 05:52] wbrunette commented on #256
@chinenyelilian I have assigned the issue to you.

[2021-04-16 08:56] EstherPhebe commented on #198
@linl33 Can I work on this?

[2021-04-16 09:37] #256 closed, assigned to chinenyeokafor

[2021-04-16 09:37] linl33 commented on #198
@EstherPhebe I've assigned this issue to you.

[2021-04-16 10:17] starboi02 commented on #192
@wbrunette I am unable to resolve what `newInstanceKeyToValueMap` is. Can you please give some insight on it.

[2021-04-16 14:01] linl33 commented on #192
@starboi02 It's a typo, I meant to write `newInstanceElementKeyToValueMap`. This variable contains the evaluated value for `newRowInitialElementKeyToValueMap`. See https://docs.odk-x.org/xlsx-converter-reference/?highlight=newrowinitialelementkeytovaluemap#queries for more on `newRowInitialElementKeyToValueMap`

[2021-04-16 15:14] chinenyeokafor commented on #24
@linl33 I am unable to replicate the error.

[2021-04-16 15:57] pawanharariya commented on #199
@wbrunette Can I work on this?

[2021-04-16 16:04] #250 closed, assigned to khushishikhu

[2021-04-16 16:38] wbrunette commented on #199
@pawanharariya I have assigned the issue to you.

[2021-04-16 17:37] wbrunette commented on #24
@linl33 with this being over 5 years old I am not sure we need this issue any more. If you remember and can provide more details great otherwise should we close it?

[2021-04-17 02:12] iamhks commented on #241
Hi @elmps2018 , since this issue is still pending, I thought I'll complete it. But I have a doubt, I was referring to https://docs.odk-x.org/survey-using/#opening-a-subform and it also showed creating a new instance. Could you point me to the doc/reference for sub-forms/linked tables in Survey?

[2021-04-17 03:03] clarlars opened #257 "ODK-X Services Server Settings Server Password Visibility Icon Is Incorrect"
When a user enters the Server Password in Server Settings, the visibility icon shows the password when visibility is hidden and hides the password otherwise (see attached image).  It should be the other way around.  This happens in ODK-X Services 2.1.8 rev 242p.
![password_visibility_icon](https://user-images.githubusercontent.com/8062768/115100024-bae66b00-9eee-11eb-8496-b604c79c2fdc.jpg)

[2021-04-17 03:08] sarahelshabrawy commented on #257
I can work on it

[2021-04-17 03:33] wbrunette commented on #257
@sarahelshabrawy I have assigned the issue to you

[2021-04-17 03:51] khushishikhu commented on #110
![image](https://user-images.githubusercontent.com/65439761/115100930-eb192280-9f5d-11eb-8c5c-91218c9ef9d4.png)
@linl33  can you please help me to know where the `instances_last_save_date_label` function is written because I have checked in `prompt.js` too and couldn't find anything relevant to this, so that I can solve this issue

[2021-04-17 05:22] #229 closed, assigned to khushishikhu

[2021-04-17 06:59] riturajjain2000 commented on #222
Can this be closed as I have fixed the issue 😃

[2021-04-17 08:24] pawanharariya commented on #257
@clarlars  I searched through login of few sites and found out that this has two different interpretations: one that you suggested and second one where the icon implies the state you want to switch to and not the current state.

For example: sites like grammerly, mailchimp, instagram,etc use this implementation.
![Screenshot (81)](https://user-images.githubusercontent.com/43620548/115106647-abfdc8

[2021-04-17 09:09] #222 closed

[2021-04-17 10:10] wbrunette commented on #154
@carcablop can you give us an update on this issue? do you have any questions? If you no longer want to work on this issue please let us know.

[2021-04-17 10:11] wbrunette commented on #105
@shivanisinghnitp can you give us an update on this issue? do you have any questions? If you no longer want to work on this issue please let us know.

[2021-04-17 10:15] wbrunette commented on #74
@swaingotnochill can you give us an update on this issue? do you have any questions? If you no longer want to work on this issue please let us know.

[2021-04-17 11:09] chinenyeokafor commented on #71
@wbrunette This is a reminder that you are yet to review the pull request I created for this issue.

I have observed same issue with the v2.1.8 preview release.

[2021-04-17 11:58] sarahelshabrawy commented on #257
@pawanharariya I thought of the same thing as well. It's somehow confusing to be honest, however, I think that the implementation @clarlars suggested sounds more logical although I'm okay with both.

[2021-04-17 12:20] swaingotnochill commented on #242
@linl33 Yes..I am working on the other issues first, so @aditisingh2412 if you want feel free to work on this.

[2021-04-17 12:22] swaingotnochill commented on #236
@linl33 I actually want to know is the navigation we want is  Next or Previous button in forms and finalizing it or it is something else.

[2021-04-17 13:11] Leena1666 commented on #137
Can you please elaborate this issue?

[2021-04-17 13:20] wbrunette commented on #137
@Leena1666 I really appreciate the inquiry on this issue. However, Submit is still a prototype tool that is not well documented. This is not a good issue for interns or people just starting with ODK-X to tackle. If you still want to take it on let us know.

[2021-04-17 13:20] wbrunette commented on #236
@elmps2018 what are your thoughts?

[2021-04-17 13:21] wbrunette commented on #242
@aditisingh2412 are you still interested?

[2021-04-17 13:25] Leena1666 commented on #137
@wbrunette ,
Where can I learn about this submit prototype tool?

[2021-04-17 13:27] wbrunette commented on #137
@Leena1666 there is no documentation so the only way to learn is to look at the code: https://github.com/odk-x/submit/

[2021-04-17 13:41] Leena1666 commented on #137
Thank you for your help,
I'll look into it further.

[2021-04-17 15:43] elmps2018 commented on #236
@swaingotnochill this issue is about navigating with the contents menu. See the contents part here: https://docs.odk-x.org/survey-using/?highlight=contents#navigating-a-form

You can use the contents menu to go to and see entered data. One of the common confusing things about the contents menu is that when you do this and then go "back" it follows the same path you used to get there. So showing bo

[2021-04-17 15:46] aditisingh2412 commented on #242
Yes I'm interested.

[2021-04-17 15:48] wbrunette commented on #242
@aditisingh2412 I have assigned the issue to you.

[2021-04-17 15:48] elmps2018 commented on #241
Hi @iamhks! So the example shows creating a new instance **from inside a form**, which is a sub-form or linked table. You can demo this with the same household members example in the link. You would show entering the main (household) form, navigating/entering along to the members form, and then entering members data in the linked_table/sub-form, then saving that (ending back up in the household fo

[2021-04-17 15:48] linl33 commented on #257
I think we should use the default Google provided. I've seen seen this implemented both ways. But the default that comes with the libraries is fine. So if the visibility icon was modified, IMO, we should restore to the default but if this is the stock settings I think it's fine.

[2021-04-17 17:11] clarlars commented on #257
This issue stood out to me as it deviates from the previous behavior, but in the end, I am also fine with the default behavior provided by Google if no one has any objections.

[2021-04-17 18:59] khushishikhu commented on #147
@elmps2018 can I take this issue?

[2021-04-17 19:42] sarahelshabrawy commented on #257
That seems sensible, I'm fine with it as well, Just let me know if we're going to close this issue before I start working on it.

[2021-04-17 19:47] elmps2018 commented on #147
Hi @khushishikhu! Appreciate your enthusiasm for working on issues! It looks like you still have two open issues
<img width="1331" alt="Screen Shot 2021-04-17 at 2 46 05 PM" src="https://user-images.githubusercontent.com/35489974/115125123-c2a81d00-9f8b-11eb-9b67-45bfe7236dbb.png">

Are you awaiting review on any of those?

[2021-04-17 20:34] wbrunette commented on #147
@elmps2018 (those two are combined) so it's fine for her to have a third.

[2021-04-17 20:35] wbrunette commented on #257
@sarahelshabrawy what is the google default? Please verify that we are following the Android standards. Once you do that we can close this.

[2021-04-17 20:49] sarahelshabrawy commented on #257
Yes, I understood. Just wanted to make sure that everyone is okay with it.. I will go ahead then

[2021-04-17 21:24] elmps2018 commented on #147
@wbrunette @khushishikhu Great thanks for clarifying!

[2021-04-17 21:32] wbrunette commented on #147
@khushishikhu since this issue was created we have revised the default setup to automatically obtain a encryption certificate using letsencrypt. However, sometimes people still have their own certificate already and they simply want to add an instance sync-endpoint to an existing domain (e.g., odkx.mydomain.com and mydomain already has a registered TLS/SSL certifcate). Alternatively some people do

[2021-04-18 02:47] iamhks commented on #241
Thank you so much for the elaborate clear explanation @elmps2018 , I understood where I was making a mistake.
Here's the link to the video: https://drive.google.com/file/d/1VoolhhUZzxviy4dbvLFt41KcnCdSis_d/view?usp=sharing

[2021-04-18 06:57] aditisingh2412 commented on #242
Could you please explain what I have to do in this issue? I have to make a video of what's present in this document: https://docs.odk-x.org/xlsx-converter-using/ right?

[2021-04-18 16:32] elmps2018 commented on #242
Hi @aditisingh2412! Thanks for working on this issue! So there is a LOT of written documentation on the xlsxconverter and making forms to convert. But what we wanted for this video is a bit more of an introduction to converting and preview in chrome. I think starting with the app designer on your computer, showing navigating to that path, and grunt to launch the preview, then walking through and e

[2021-04-18 16:49] elmps2018 commented on #241
Hi @iamhks! Thanks for working on this! This is the right content now! Could you just slow it down (may be able to do this with video editing software or just redo slower) so that folks can more easily follow along? Particularly for picking the household form, to highlight clearly and slowly which one you are picking, and then to give people a moment to read/see the screen before adding an instanc

[2021-04-19 01:38] iamhks commented on #241
@elmps2018 Sure, here's the updated one: https://drive.google.com/file/d/1WPZhjyln05t--SsQ9cyEyoMXR81afg7G/view?usp=sharing
Feel free to point out if there's something I need to slow down even further.

[2021-04-19 04:15] divyankachaudhari commented on #235
If this is not done yet, can I take this on?

[2021-04-19 05:05] Shubhamr837 commented on #235
Hi @divyankachaudhari , I am unable to create a form with multiple languages. You can go ahead with this. I have unassigned myself.

[2021-04-19 06:17] divyankachaudhari commented on #167
@elmps2018  What does this issue require?

[2021-04-19 06:20] sanyud24 opened #258 "Selection of multiple table to download from cloud endpoint"
Currently we  are only able to select only one table inside suitcase , To correct this issue  we can make a queue/list of  tables selected and then download them all together .
@wbrunette  @linl33

[2021-04-19 06:41] linl33 commented on #257
The example shown on Google's Material Design website (https://material.io/components/text-fields/android#using-text-fields) implements the password visibility toggle as implemented by @pawanharariya.

@sarahelshabrawy I see that you've opened a pull request to invert the icons, did you find a source that recommends differently?

[2021-04-19 09:45] pawanharariya commented on #257
@linl33 Yes the current implementation is the default one. However it was implemented by @VarunT11 and not me. I just found this issue interesting and was sharing my views.

[2021-04-19 10:40] sarahelshabrawy commented on #258
Can I work on it ?

[2021-04-19 12:27] sanyud24 commented on #258
hey , @sarahelshabrawy , I'm sorry I'm not the mentor , Mentors for outreachy are @wbrunette and @linl33  and caroline krafft ,  I opened up this issue for myself and wanted mentors consideration over
 it , you can look for this open issue https://github.com/odk-x/tool-suite-X/issues/207

[2021-04-19 13:18] elmps2018 commented on #235
@divyankachaudhari I have assigned you, thanks for working on this issue! This demo https://docs.odk-x.org/cold-chain-tour-health-facilities/ has multiple languages if you want to use that as the example (there are other apps with multiple languages as well).

[2021-04-19 13:20] elmps2018 commented on #167
Hi @divyankachaudhari! Thanks for asking about this! We created this issue a while ago as a placeholder on our roadmap -- there are specific issues with specific videos in the queue. I will close this. Sorry for the confusion!

[2021-04-19 13:20] #167 closed

[2021-04-19 13:24] sarahelshabrawy commented on #258
@sanyud24  I'm sorry I didn't know that you wanted to work on it, so I was asking one of the mentors to assign it to me. Anyway, sorry for the misuderstanding, Good luck.

[2021-04-19 13:32] sanyud24 commented on #258
Ohnno! It's  alright✌,  thankyou for understanding,  best of luck to you too😊

[2021-04-19 14:17] elmps2018 commented on #241
@iamhks this is great thanks! Uploading to Youtube next.

[2021-04-19 14:17] #241 closed, assigned to iamhks

[2021-04-19 14:23] elmps2018 opened #259 "Video: Demo Geographic Health Survey app"
Make a video demoing the [Geographic Health Survey app](https://docs.odk-x.org/episample-intro/)! There is a good guided tour documented in these docs that you could work through on video. Do not need to show the install/code/underlying files but do show all the great features

Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Cont

[2021-04-19 14:24] elmps2018 opened #260 "Video: Demo Longitudinal Clinic Study app"
Make a video demoing the [Longitudinal Clinic Study app](https://docs.odk-x.org/hope-study-intro/)! There is a good guided tour documented in these docs that you could work through on video. Do not need to show the install/code/underlying files but do show all the great features

Can do without sound or with audio narration (if with audio narration please check & fix the automatic captioning).

Co

[2021-04-19 14:26] elmps2018 opened #261 "Video: Demo Inventory Management and Maintenance App"
Make a video demoing the [Inventory Management and Maintenance App](https://docs.odk-x.org/cold-chain-intro/)! There is a good guided tour documented in these docs that you could work through on video. Do not need to show the install/code/underlying files but do show all the great features

Can do without sound or with audio narration (if with audio narration please check & fix the automatic capti

[2021-04-19 14:33] sarahelshabrawy commented on #259
Can I work on it ?

[2021-04-19 14:34] chinenyeokafor commented on #261
Please can I work on this??

[2021-04-19 14:35] sarahelshabrawy commented on #260
Would you please assign it to me.

[2021-04-19 14:36] elmps2018 commented on #259
@sarahelshabrawy thanks for helping with this documentation work! I have assigned to you! Let us know any questions.

[2021-04-19 14:37] elmps2018 commented on #261
@chinenyelilian thanks for helping with this documentation work! I have assigned to you! Let us know any questions.

[2021-04-19 14:39] elmps2018 commented on #260
Hi @sarahelshabrawy! I just assigned one of the other demos to you and it looks like you now have two open issues! We encourage folks to finish an issue rather than take on a third one so that the issues queue is up to date and there are enough easy/good first issues to go around!

[2021-04-19 14:46] iamhks commented on #142
@elmps2018 Could you elaborate this a little? I see this: https://docs.odk-x.org/sync-endpoint/
I understand that we need to document Sync client library, some resource where I can learn about the same would be helpful.

[2021-04-19 14:49] elmps2018 commented on #142
@iamhks this is a tricky one because it does not yet have documentation, you may need to look at the code -- @linl33 or @wbrunette can you point to where?

[2021-04-19 15:41] linl33 commented on #142
@iamhks For now I think it will be enough to document that the sync-client library exists, where it is, and a description of its purpose. The source is at https://github.com/odk-x/sync-client.

[2021-04-19 16:07] wbrunette commented on #258
@sanyud24 you are correct this is an issue. The reason we did put it in the issue queue yet is because if you read the project description you will see this is part of the suggested project. If accepted this should be part of the new user interface for suitcase.

[2021-04-19 16:38] khushishikhu commented on #147
@wbrunette I was reading this document https://docs.odk-x.org/sync-endpoint-manual-setup/ and then this https://gist.github.com/chrismclarke/32a0b7331c6027a3e7be4d0d2c0866d3  and found out that there isn't the documentation for creating SSL certificate in [this](https://docs.odk-x.org/sync-endpoint-manual-setup/) .does the instructions given [here](https://gist.github.com/chrismclarke/32a0b7331c60

[2021-04-19 16:39] sanyud24 commented on #258
Ohkay , sure ,should I close this issue then?

[2021-04-19 16:40] aditisingh2412 commented on #242
Okay sure I'll do this :)

[2021-04-19 16:54] wbrunette commented on #147
The sync-endpoint-default-setup automatically uses letsencryt and does this for the user in the setup script.
Therefore, we have the use case of starting from nothing covered/documented, what we are looking for is if you already have an TLS/SSL certificate how do you setup sync-endpoint with a previously obtained certificate. Does that make sense? It's good that you did some investigating as it he

[2021-04-19 17:27] sanyud24 opened #262 "Error message while selecting "Empty" directory"
There can be an error dialog box while selecting a empty directory in odk-x-suitcase instead of letting suitcase select the empty directory.

Steps to reproduce :
1. login into suitcase
2.  using the browse button select an empty directory

[2021-04-19 17:29] sanyud24 commented on #262
could this be a valid issue @wbrunette  @linl33

[2021-04-19 17:29] wbrunette commented on #262
This is a valid issue, thank you for finding issues to work on! It's good to see initiative in improving ODK-X 🥇

[2021-04-19 17:30] sanyud24 commented on #260
may I work on this issue?

[2021-04-19 17:33] wbrunette commented on #260
@sanyud24 I have assigned this issue to you.

[2021-04-19 17:41] sanyud24 commented on #262
Thankyou, I will be working over it then.

[2021-04-19 17:43] sanyud24 commented on #260
Thankyou , for assigning @wbrunette , I'll be working over it

[2021-04-19 18:16] #258 closed, assigned to nobody

[2021-04-20 10:24] khushishikhu commented on #147
@wbrunette  what does here domain mean, like do I have to create my own one or we have some specified domains that are to be written here?
![Capture1](https://user-images.githubusercontent.com/65439761/115377899-ac999700-a1ed-11eb-93a3-523c802dbad9.PNG)

and I was trying to create a certificate for testing purpose so that I can know about how things work. but then I run this command `sudo certbot

[2021-04-20 14:33] wbrunette commented on #147
You have to own the domain for certbot to work. The domain traffic must be directed to the machine that is running certbot must be on that domain. Certbot uses it's remote servers to verify that you actually own the domain then issues the certificate.

Let's encrypt is a provider of TLS/SSL certificates. The nice thing is that the certificates are free; https://letsencrypt.org/
There are lots of c

[2021-04-20 15:16] #189 closed

[2021-04-20 18:59] shivanisinghnitp commented on #105
I am sorry but because of some issues in my family I could not complete the issue!
You can unassign me.
Thank you!

[2021-04-20 20:00] khushishikhu commented on #147
Thank you for making me clear @wbrunette and I think this https://phoenixnap.com/kb/install-ssl-certificate-nginx can be the way to add an owned  SSL certificate in a nginx server ( HTTPS port:443 ) and an existing domain. please let me know your opinion?

[2021-04-20 20:12] elmps2018 commented on #105
@shivanisinghnitp thanks for letting us know!

[2021-04-20 22:13] wbrunette opened #263 "Consolidate sync-endpoint default user instructions"
Create a new documentation file to consolidate sync-endpoint user instructions into it's own section under sync-endpoint. The pages that information got consolidated from should be updated with prominent links to the user section.

https://docs.odk-x.org/sync-endpoint/#creating-groups
(leave configuration and startup but move creating users, creating groups, and assigning to groups to new section.

[2021-04-20 22:18] chinenyeokafor commented on #263
@wbrunette Please can I work on this?

[2021-04-20 22:19] matt9j commented on #147
Hi @khushishikhu ! That could be a possible approach, but the main challenge I think will be integrating that with how the nginx config and certificates are handled in docker right now. In addition to importing the certificate, the certbot functionality will need to be disabled.

[2021-04-20 22:21] chinenyeokafor commented on #263
Thank you!

[2021-04-20 22:24] wbrunette opened #264 "Add option to sync endpoint default setup python script to disable the certbot container"
If someone wants to supply their own certificate the script should have an option for manually adding a certificate and not start up certbot.

[2021-04-20 22:25] wbrunette commented on #147
@matt9j good point. I think the main issue is to document how to get the certificate working with nginx. I think secondary is to open an issue to add to disable certbot. I just created https://github.com/odk-x/tool-suite-X/issues/264. Feel free to comment here.

@khushishikhu write the instructions assuming the certbot can be disabled.

[2021-04-20 23:38] wbrunette opened #265 "Add deprecation warning to Aggregate Extenstion directions"
At the top of the Aggregate extension page a large red message should inform users that Aggregate is deprecated and no longer supported.

https://docs.odk-x.org/aggregate-tables-extension/

[2021-04-20 23:41] sarahelshabrawy commented on #265
Can I work on it ? I opened a pull request for one of my 2 issues, but it's still under review.

[2021-04-20 23:45] wbrunette commented on #265
@sarahelshabrawy I will assign it to you because you may have missed @linl33 question. Your pull request review has stopped because we are waiting on the answer to: https://github.com/odk-x/tool-suite-X/issues/257#issuecomment-822213199

Therefore, the reviewers are waiting on you ... normally we only allow a third when you are waiting on the reviewers.

[2021-04-21 00:00] sarahelshabrawy commented on #257
@linl33 As @pawanharariya mentioned in his [comment](https://github.com/odk-x/tool-suite-X/issues/257#issuecomment-821788573) the default behaviour provided by material design is not implemented by all sites, like facebook .. Both implementations are okay, even material design used to implement the suggested implementation in previous versions. But as mentioned it was agreed to apply Android stand

[2021-04-21 00:03] sarahelshabrawy commented on #265
@wbrunette Thanks for letting me know, I really missed it and was waiting for the review, sorry.

[2021-04-21 04:11] khushishikhu commented on #147
@wbrunette @matt9j  Thank you for clearing out my doubts, It really helped me a lot.

[2021-04-21 06:26] sanyud24 commented on #264
May I work on this @wbrunette

[2021-04-21 06:28] wbrunette commented on #264
@sanyud24 I have assigned the issue to you.

[2021-04-21 06:48] sanyud24 opened #266 "ODK-X docks/ Sync-Endpoint Documentation : Port number"
From what I've surveyed in setting up sync-enpoint and running the server , people are making common mistakes of not shutting down application running over port:80 like Apache2, which runs on port80 , I came across with this  problem too , had to search a lot for this , This issue can be added below the Note here

![port](https://user-images.githubusercontent.com/57134307/115507259-85000880-a299-1

[2021-04-21 06:49] sanyud24 commented on #266
Can I do this modification mentors ?

[2021-04-21 08:33] sanyud24 commented on #260
Hi  ,  let me know if I had to do some changes
Here's the video link:

https://drive.google.com/file/d/1nb6TpRPeuKhmfQDKDYiUDMyEiN1hhkar/view?usp=sharing

[2021-04-21 09:46] divyankachaudhari commented on #235
Thank you very much, but I'm unable to do it :( Same issues as @Shubhamr837

[2021-04-21 13:13] EstherPhebe commented on #235
@elmps2018 I want to work on this, please assign it to me.

[2021-04-21 15:38] elmps2018 commented on #235
@EstherPhebe assigned to you! Please note that this demo https://docs.odk-x.org/cold-chain-tour-health-facilities/ has multiple languages if you want to use that as the example (there are other apps with multiple languages as well). You can use the demo here, you don't have to create a form.

[2021-04-21 16:30] wbrunette commented on #266
@sanyud24 I am not sure I get exactly what you are proposing, yes you cannot have conflicting ports. Running on port 80 is a protected port so it's a advisable to run it on another port when developing. Go ahead an make a proposed change in a pull request and we can review the details of what you are suggesting.

[2021-04-21 16:30] #265 closed, assigned to sarahelshabrawy

[2021-04-21 16:42] elmps2018 commented on #260
Hi @sanyud24! Thanks for working on this! A few comments:
-Please go slower at key screens, for example, the first screen where you pick the form to start with, and use highlighting or somehow indicate which you are clicking.
-Please try to demo all of the tablet based content in the demo. While you showed some bits of survey, one of the great things in the demo is about the existing client list a

[2021-04-21 17:05] sanyud24 commented on #260
Ohkay , sure I'll do it again with more clarity.

[2021-04-21 18:48] #199 closed

[2021-04-22 11:35] chinenyeokafor commented on #261
@elmps2018 Please is there an existing demo server URL and login details for the the cold chain application?

[2021-04-22 13:08] elmps2018 commented on #261
Hi @chinenyelilian great question! There is not a demo server but there is a demo app you can download and push to your tablet. Details: https://docs.odk-x.org/cold-chain-intro/#installing-cold-chain . This one does require setting up a demo server to test the group permissions and things, if you are able to do that.

[2021-04-22 13:16] chinenyeokafor commented on #261
@elmps2018  Yes, I already have the app on my mobile device. I was setting up the sync endpoint and just wanted to clarify.

Thanks.

[2021-04-22 14:40] pawanharariya commented on #207
@elmps2018 Some things are missing on this page https://docs.odk-x.org/docs-tech-guide/#keep-improving . In the `setup collaboration accounts` section it says three platforms but only mentions github and odk-x forum. I guess the third one is slack. Same issue is seen in some other places in this section. How should I correct this?

[2021-04-22 15:10] sanyud24 commented on #260
Hi , I've covered all the three options from screening to sync data
video link:
https://drive.google.com/file/d/1o8Wws1h96Nf1hXShI0kJkHf9MNun45Lz/view?usp=sharing

[2021-04-22 15:23] elmps2018 commented on #207
@pawanharariya you are right there should be two platforms with github and ODK-X forum. You can make line edits in the docs following the docs contribution directions that you found this error in :)

[2021-04-22 17:35] #266 closed, assigned to sanyud24

[2021-04-22 18:51] khushishikhu commented on #237
@elmps2018 If someone isn't working on this issue. can I start working on this one?

[2021-04-22 20:22] emeka-okechukwu-dev commented on #237
Hi @khushishikhu, unfortunately currently working on it and will have a turnover by Saturday.

Sorry about the delay guys been balancing with school work previously and just got free.

[2021-04-22 20:24] emeka-okechukwu commented on #237
Hi @khushishikhu, unfortunately, I'm currently working on it and will have a turnover soon.

Sorry about the delay guys been extremely busy and just got free.

[2021-04-22 20:31] khushishikhu commented on #237
@emeka-okechukwu-dev oh it's okay. I do understand. Please take your time. Thank you for letting me know.

[2021-04-22 22:36] elmps2018 commented on #260
@sanyud24 thanks for the revised video! This is much clearer and walks through more features! My one suggestion is if you are able to speed up the syncing part (I think you can do this as a speed up in any video editing app) that would be helpful. Otherwise ready to post to youtube!

[2021-04-23 04:36] sanyud24 commented on #260
Yeah sure I'll do it ✌

[2021-04-23 08:13] sanyud24 commented on #260
Hi , I've done the changes , fast-forwarded syn part to 30 sec
https://drive.google.com/file/d/1os7pvp9inQEoU4ve1aTOOjvvYaA-F7dI/view?usp=sharing

[2021-04-23 09:50] sanyud24 commented on #154
If nobody is working on this issue right now , May I ?

[2021-04-23 11:31] wbrunette commented on #154
@carcablop since we have not heard from you in weeks, I am going to assign this issue to @sanyud24. If you are still working on the issue or have questions please let us know as soon as possible and I will re-assign the issue back to you.

[2021-04-23 12:17] sanyud24 commented on #264
Hi , I'm little confused about what I've to do when the user chooses "y" in using their own certificate like will they be manually uploading it to the filepath, previously where certbot was storing the certificate or something else . It'll be helpful if I can get some help over how to handle the "y" statement .

[2021-04-23 12:25] sanyud24 commented on #154
Thankyou @wbrunette for assigning 👍

[2021-04-23 14:46] elmps2018 commented on #260
@sanyud24 fabulous thanks so much! I'll upload to the Youtube channel next!

[2021-04-23 14:46] #260 closed, assigned to sanyud24

[2021-04-23 14:54] carcablop commented on #154
@wbrunette  Sorry for not responding in time, I am no longer working on this issue. Thank you.

[2021-04-23 15:37] sanyud24 commented on #264
https://github.com/odk-x/sync-endpoint-default-setup/pull/28  is just  a sample PR to know if I'm on the right way.

[2021-04-23 16:21] sanyud24 commented on #260
thankyou!! sure 👍

[2021-04-23 17:36] wbrunette commented on #264
@sanyud24 you are definitely on the right track. Here is the documentation issue: https://github.com/odk-x/docs/pull/96

It would be great if you and @khushishikhu coordinated a bit as her ideas should be tested and you are working on the code that could allow that testing :) If you both worked together we could have a complete solution.

[2021-04-23 18:15] wbrunette commented on #264
@matt9j feel free to add any additional suggestion or feedback to either pull request.

[2021-04-23 19:29] khushishikhu commented on #264
@wbrunette yes sure even I was thinking this too but @sanyud24 were assigned so I let her do that.

[2021-04-23 23:38] sanyud24 commented on #264
Yeah ohkay , thanks a lot @wbrunette and @khushishikhu

[2021-04-24 01:41] chinenyeokafor commented on #261
I have set up Sync Endpoint on Azure cloud service and created 2 users A and B on phpLDAPadmin and granted all permissions to user A. I've set the admin password and allowed non-encrypted connections on my mobile device. With User A, I have reset the App Server and synchronized from the server.
Everything looks fine but the Cold Chain Management app still displays "User is Not Authorized. Please L

[2021-04-24 09:20] EstherPhebe commented on #235
@elmps2018 I hope you are well

https://drive.google.com/folderview?id=1QVq1-IHGl6Q224xiZcAtdQnBJLypO8Mr

The folder has the video and accompanying .srt files.  Please let me know what you think

[2021-04-24 17:55] khushishikhu commented on #264
@sanyud24 if I am understanding your point correctly. https://gist.github.com/chrismclarke/32a0b7331c6027a3e7be4d0d2c0866d3#alt-deploy---via-python-script  Maybe this documentation will help you to take any reference or any other idea

[2021-04-24 21:51] elmps2018 commented on #235
@EstherPhebe thanks so much this is great! Just uploaded to the Youtube Channel!

[2021-04-24 21:51] #235 closed, assigned to EstherPhebe

[2021-04-24 21:53] elmps2018 commented on #261
@chinenyelilian awesome work getting this all set up so far! Were you able to set up the different groups as well? https://docs.odk-x.org/cold-chain-intro/#installing-cold-chain has a warning about the groups.

[2021-04-25 03:20] sarahelshabrawy commented on #259
@elmps2018 I'm sorry, I'm having some issues with my android device, would you please assign it to someone else ?

[2021-04-25 04:30] sanyud24 commented on #264
thanks a lot!! @khushishikhu

[2021-04-25 08:07] sanyud24 commented on #154
![subforms](https://user-images.githubusercontent.com/57134307/115985727-cf032a00-a5ca-11eb-812f-756bac1a065d.jpg)

Here ,most of the subforms are already inside the  parentform , like household member and education form inside household and many more then, What changes do I have to do ?

[2021-04-25 13:06] chinenyelilian commented on #261
@elmps2018 I used the groups created when the LDAP server was brought up.

[2021-04-25 16:31] elmps2018 commented on #259
@sarahelshabrawy I thought I got a message "@elmps2018 I'm sorry, I'm having some issues with my android device, would you please assign it to someone else ?" but then don't see it here, were you able to fix and still want to be assigned or should I unassign?

[2021-04-25 16:33] elmps2018 commented on #154
Hi @sanyud24 it looks like you are looking in Chrome (preview) but if you look at the main survey screen on the tablet, the household member and education form are directly available and we want people to be able to hide those.

[2021-04-25 16:35] elmps2018 commented on #261
@chinenyelilian using the groups created when following the default setup instructions is likely causing the problem since there are specific regional groups built into the app that are needed to access the data.

[2021-04-25 16:41] chinenyeokafor commented on #261
Okay, Thanks

[2021-04-25 17:52] wbrunette opened #267 "Document how to use the QR scanner in ODX-X services to log in"
Add documentation about configuring/logging in to the server using a QR code as alternative to typing the server URL, user name password.

Possible areas to add the QR code login methods are:
https://docs.odk-x.org/services-using/#initial-server-configuration
https://docs.odk-x.org/services-using/#authenticating-users

A QR code can be generated using app-designer.

[2021-04-25 17:57] wbrunette opened #268 "Add documentation about the QR code generator in app-designer"
The application designer has the ability to generate a QR code that services can use to automatically populate the server URL, username and password in ODK-X Services. A description of this available functionality should be added to the documentation of Application Designer.

[2021-04-25 19:17] sanyud24 commented on #154
Ohkay , Thankyou @elmps2018 , I got it !!

[2021-04-25 19:22] sanyud24 commented on #267
Hi, Although I have  open issues  , one of them is a long one and taking time ( https://github.com/odk-x/tool-suite-X/issues/264) , so may I work on this , this is a small issue , I'll do it asap?

[2021-04-25 20:12] EstherPhebe commented on #268
@wbrunette I'd like to work on this.

[2021-04-25 20:33] wbrunette commented on #268
@EstherPhebe I have assigned the issue to you

[2021-04-25 20:50] wbrunette commented on #267
@sanyud24 I am going to assign the issue to you, but this is a one time exception.

[2021-04-25 23:26] chinenyeokafor commented on #261
@elmps2018  Please see link to the demo video and kindly review.

https://drive.google.com/file/d/1onYMGg3Fi785jJOyGAPdR3aggrYorlnI/view?usp=drivesdk

[2021-04-26 05:35] sanyud24 commented on #267
Thanks a lot!!

[2021-04-26 14:42] sanyud24 commented on #154
Hi  evryone , its a silly doubt , but I wanted to know that if I change a "Json" file of one of the table then using "$grunt" will the local json server work? and will I be able to fetch the object inside survey app code locally ??because I worked earlier with json objects but it was in the form of API so I'm confused .

Earlier I tried  hiding sub-forms using position in a listview , but it got m

[2021-04-26 14:49] wbrunette commented on #154
@sanyud24 I do not think you can test it in the app-designer because the Android form's list is not the same as the app-designer forms list. The app-designer list of forms is simply another form called framework.

[2021-04-26 15:02] sanyud24 commented on #154
No, sorry  ,What I want to say is that if I change a Json file inside app-designer locally on my device and run app-designer ,then will I be able to fetch json object  inside survey app.

[2021-04-26 15:15] sanyud24 commented on #154
There's  FormProviderApi which fetches the forms inside the listview in survey app . Am I right here? I just want to clear somethings

[2021-04-26 15:17] wbrunette commented on #154
using the command "grunt adbpush" will push the files to your device assuming you have USB debugging turned on. To verify everything is set up correctly type "adb devices" and you should see your android device listed there (not an emulator will show up as a device"

[2021-04-26 15:31] sanyud24 commented on #154
Ohkay I'll try it , thankyou!!

[2021-04-26 15:54] EstherPhebe commented on #236
@swaingotnochill I see that your last update was 9 days ago, are you still working on this or can I work on it?

[2021-04-26 16:20] swaingotnochill commented on #236
@EstherPhebe plzz go ahead...I am busy with my end term exam and final project..

[2021-04-26 16:30] elmps2018 commented on #236
@swaingotnochill thanks for the update!
@EstherPhebe assigned to you thanks for working on this!

[2021-04-26 16:57] elmps2018 commented on #261
@chinenyelilian this is great glad you got it working! The one thing I wanted to check before posting to Youtube was whether you had changed or wanted to edit out the password/address if it's a server you have, don't want anyone messing that up!

[2021-04-26 18:52] chinenyeokafor commented on #261
@elmps2018, Please go ahead. I have changed the login parameters.

[2021-04-26 19:33] iamhks commented on #81
@wbrunette Could you shed some light into this? Also am I supposed to document for all the 3 logging Systems or just the ODK-X one would suffice?

[2021-04-26 19:39] wbrunette commented on #81
@iamhks The issue is for all 3 types of logging systems. We can break the issue up if you do not feel comfortable documenting all 3 systems. https://github.com/odk-x/tool-suite-X/issues/81#issuecomment-813627457

[2021-04-26 19:41] iamhks commented on #144
Hi @elmps2018 , is this issue already resolved or there is still some scope of contribution? If yes, please give some details as in what all grunt commands should be added.

[2021-04-26 19:59] iamhks commented on #105
Hi all, can I work on this?

[2021-04-26 20:05] wbrunette commented on #144
There is now pulling logs:
https://github.com/odk-x/app-designer/pull/148/files

[2021-04-26 20:19] #71 closed

[2021-04-26 20:21] #172 closed

[2021-04-26 21:19] elmps2018 commented on #261
@chinenyelilian Great! Uploading next! Thanks for your help!

[2021-04-26 21:19] #261 closed, assigned to chinenyeokafor

[2021-04-26 21:25] elmps2018 commented on #144
I think a lot of the options available if you type grunt -- help aren't documented anywhere (but please check!). A screenshot, table, or list of those could be very helpful in the docs.

[2021-04-26 21:27] elmps2018 commented on #105
Hi @iamhks it looks(?) like you have at least two open issues, we tend to ask people to work on a couple at a time until they finish (although I see you have work going right now!) so once those are finished if you want to come back to this and it's still available we can assign you.

[2021-04-26 21:33] iamhks commented on #105
@elmps2018 I am aware of this and I wouldn't have asked if that was the case.
![Screenshot from 2021-04-27 03-00-38](https://user-images.githubusercontent.com/43777817/116153415-e34b4200-a704-11eb-9a54-17bdba73ebd8.png)
I have already made a PR for both first (which in itself is an ongoing one) and second issue so I only have 1 active issue assigned to me.

[2021-04-26 21:34] elmps2018 commented on #105
@iamhks Ah-ha, got confused by the first one! Assigned you now.

[2021-04-27 06:45] chinenyeokafor opened #269 "ODK-X REST Protocol links broken in docs"
There are mentions of rest protocol, that when clicked returns dead-end 404 errors.
![image](https://user-images.githubusercontent.com/28391088/116197262-70ee5800-a72c-11eb-887f-6ec589610b33.png)

[2021-04-27 07:19] iamhks commented on #269
Hi @chinenyelilian I think there's already a related issue to fix broken links and typo here: https://github.com/odk-x/tool-suite-X/issues/207

[2021-04-27 08:46] chinenyeokafor commented on #269
Thanks for pointing this out  @iamhks
I guess odk-x/docs/pull/109 closes this.

[2021-04-27 14:42] maprehensive opened #270 "Sync-endpoint sign in page UX improvement"
The Sync Endpoint sign in page has an outdated title.

Add a header and include the ODK-X logo
Update the page title to: Sign in to Sync Endpoint
Reduce the width of the content container to 440px

![Sign in page](https://user-images.githubusercontent.com/1215441/116258579-47badf80-a79f-11eb-9c68-1e84d6825430.png)

[2021-04-27 14:55] chinenyeokafor commented on #270
@maprehensive I'd like to work on this.

[2021-04-27 14:59] maprehensive opened #271 "Sync-endpoint navigation UX improvement"
The Sync-endpoint header and navigation has an out of date logo and can be simplified.

Change the logo to use the ODK-X logo
Remove the My Account pick list in the navigation
Update the hyperlink on the logo to link to the Sync-endpoint landing page (Who Am I?)

Remove prefacing text "Logged in as" from the username
Remove the hyperlink applied to the username - doesn't link to anything
Change th

[2021-04-27 15:48] elmps2018 opened #272 "Update ODK-X Scan with warning/request for maintainer"
The ODK-X Scan tools have not been updated in a couple of years and are in need of a maintainer!
This issue is to add an announcement to the ODK-X scan read me - on github - and the docs
https://docs.odk-x.org/scan-intro/
to a) warn users that the tools have not been recently updated and b) encourage someone to become a maintainer of the tools.

[2021-04-27 15:51] EstherPhebe commented on #272
Hi @elmps2018 Can I work on this, I'm done with my second open issue and I'd send in the details for my second one very soon.

[2021-04-27 15:51] #2 closed

[2021-04-28 08:29] sanyud24 commented on #271
May I work on this ?

[2021-04-28 08:46] sanyud24 opened #273 "Survey Listview UI Update"
Hi everyone , its almost been a week since I started working on Survey app for the issue https://github.com/odk-x/tool-suite-X/issues/154  and I'm enjoying working on it , It's just my proposal idea about the listview that contains forms :
1. It can be modified a bit by adding padding and backgrounds , this is just something I just worked upon , its totally my own interest.
2. The textsize of  tex

[2021-04-28 08:49] iamhks commented on #105
Hi @elmps2018 I am a little confused with this. I was unable to find the formatting options in doc & the app. So I checked out the app designer but still there were just text color and font type and nothing in terms of how text displays in survey. Can you help me out?

![Screenshot from 2021-04-28 14-14-20](https://user-images.githubusercontent.com/43777817/116375177-a67a6a80-a82c-11eb-839a-b4a6bc

[2021-04-28 09:31] iamhks commented on #144
I think more grunt commands will/can be added in the future hence I have made a PR addressing this issue not closing it.

[2021-04-28 17:21] elmps2018 commented on #105
Hi @iamhks sorry for the confusion! These would be modifications you can make in your xlsx file for a survey. For example, you can bold, italicize, etc. anything that is in the display.prompt.text column. So this is not in the chrome interface so much as the excel file. Folks don't know that/what options are available for customization.

[2021-04-28 17:28] elmps2018 commented on #144
That makes sense!

[2021-04-28 18:27] #268 closed, assigned to EstherPhebe

[2021-04-28 18:29] #272 closed, assigned to EstherPhebe

[2021-04-28 21:02] EstherPhebe commented on #236
Hello @elmps2018,
The video and caption files are in the link folder

[https://drive.google.com/folderview?id=1PEMEu2b9rEL9872aj1FINYObXiBpjvpe](https://drive.google.com/folderview?id=1PEMEu2b9rEL9872aj1FINYObXiBpjvpe)

[2021-04-28 22:28] elmps2018 commented on #236
@EstherPhebe great thanks for doing the captions too! Just added to the YouTube channel!

[2021-04-28 22:28] #236 closed, assigned to EstherPhebe

[2021-04-28 22:59] wbrunette commented on #273
The PMC/TSC would need to discuss at our next meeting. We met before you submitted this issue (April 27(. The next meeting is May 11.

[2021-04-28 23:03] wbrunette commented on #271
@sanyud24 I have assigned the issue to you.

[2021-04-28 23:09] wbrunette commented on #270
@chinenyelilian I have assigned the issue to you.

[2021-04-29 01:46] sarahelshabrawy commented on #259
I wanted to give it a try once more yes , but unfortunately I'm busy and wont be able to complete it, If you would please assign it to someone else .. sorry for the delay.

[2021-04-29 01:53] elmps2018 commented on #259
@sarahelshabrawy thanks for letting me know!

[2021-04-29 01:58] #267 closed, assigned to sanyud24

[2021-04-29 09:54] sanyud24 commented on #273
Yeah , Sure , Thankyou for the review.

[2021-04-29 16:43] iamhks commented on #149
Hi all, can I work on this?

[2021-04-29 17:59] wbrunette commented on #149
@iamks you can work on this but this is a large issue. You need to look at the code and there are lots of functions to document. The comments that describe the function will give you a good place to start.

An example of one of the files is done: https://docs.odk-x.org/injected-interfaces/?highlight=injected#list-of-available-methods-in-odkcommon-js

Remaining JavaScript files that are "injected"/

[2021-04-29 18:04] iamhks commented on #149
Thankyou @wbrunette I am willing to work on this. Will be back with doubts I face while working on it.

[2021-04-29 19:06] #105 closed

[2021-04-29 20:08] EstherPhebe commented on #259
@elmps2018 Hello, can I work on this?

[2021-04-29 20:26] elmps2018 commented on #259
@EstherPhebe just assigned you now! Thanks for working on this!

[2021-05-03 05:54] sanyud24 commented on #271
Hi , I'm sorry but I'm just not able to find the html or xml file that contains this page , Can I get this issue unassigned as I've not applied to Sync-Endpoint , I would like to spend some of the remaining days working on projects I applied for .

[2021-05-03 07:38] sanyud24 opened #274 "Suitcase: Add serialVersionUID to serializable classes"
Add serialVerison ID to serializable classes like PushPanel , PullPanel , LoginPanel , IOPanel etc . to remove the warning  .

As it is strongly recommended that all serializable classes explicitly declare serialVersionUID value, since its computation is highly sensitive to class details that may vary depending on compiler implementations, any change in class or using different id may affect the s

[2021-05-03 08:41] victory-lydia commented on #191
Desktop/outreachy/odk/ODK-X_ApplicationDesigner_v2.1.7/ODK-X_ApplicationDesigner_v2.1.7
add button to convert all forms in app/config/tables

[2021-05-03 08:44] victory-lydia commented on #191
[https://github.com/victory-lydia/app-designer/commit/359a06e978bd5aff948bd84b7f0219e4959225e4](url)

[2021-05-03 08:47] victory-lydia commented on #191
[https://github.com/victory-lydia/app-designer/commit/359a06e978bd5aff948bd84b7f0219e4959225e4](url) @wbrunette  this is the link to the pull request.

[2021-05-03 08:49] victory-lydia commented on #191
[https://github.com/victory-lydia/app-designer/commit/359a06e978bd5aff948bd84b7f0219e4959225e4](url) @wbrunette  this is the link to the pull request.

[2021-05-03 10:36] victory-lydia commented on #191
[Desktop/outreachy/odk/ODK-X_ApplicationDesigner_v2.1.7/ODK-X_ApplicationDesigner_v2.1.7/xlsxconverter/index.html](url) @wbrunette  this is the link to the pull request

[2021-05-03 11:13] victory-lydia commented on #191
[https://github.com/victory-lydia/app-designer/commit/359a06e978bd5aff948bd84b7f0219e4959225e4#diff-560ec98e82093a1439707c533892214a2b952e9ed5b6151222421dac375901d0](url) @wbrunette this is the link to the pull request.

[2021-05-03 11:27] victory-lydia commented on #191
[https://github.com/victory-lydia/app-designer/commit/359a06e978bd5aff948bd84b7f0219e4959225e4#commitcomment-50314878](url) @wbrunette  this the link to the pull request.

[2021-05-03 14:44] maprehensive commented on #271
@sanyud24 No problem, I've unassigned you.

[2021-05-03 15:17] maprehensive opened #275 "Sync-endpoint landing page layout improvements"
This issue to improve the presentation of the information presented on the Sync-endpoint landing page (currently called Who Am I?).

Change the page title from "Who am I?" to "Sync Endpoint"

Create a two-column layout to show the current page contents.
Heading is "Account details"
For the current content under Who am I?, show Username, Full name and Default group in the left column
For the curren

[2021-05-03 15:28] sanyud24 opened #276 "PowerShell command for activating odkxenv"
The command here should be  " .\odkxenv\Scripts\activate "

![wrongcode](https://user-images.githubusercontent.com/57134307/116896841-3d428f00-ac52-11eb-9ae7-5af59a161ce1.jpg)

[2021-05-03 15:40] maprehensive opened #277 "Sync-endpoint form table page navigation UX improvement"
The form table page currently has the page navigation links in a collapsible left hand column. The form table name / page title is also contained in that column.

To maximize available screen width for the form table contents, and to make the page title and links always visible,
Move the page title to the top of the page, below the main navigation
Move the navigation links to the top of the page,

[2021-05-03 16:12] victory-lydia commented on #191
[https://cs50.harvard.edu/x/2021/notes/0/emoji_zoomed.png](url)

[2021-05-03 16:13] victory-lydia commented on #191
[Desktop/outreachy/odk/ODK-X_ApplicationDesigner_v2.1.7/ODK-X_ApplicationDesigner_v2.1.7/Gruntfile.js](url)

[2021-05-03 16:18] victory-lydia commented on #191
I have finished the issue

[2021-05-03 16:38] maprehensive opened #278 "Sync-endpoint allow bulk delete on form table"
## Overview

The ability to bulk-delete rows from sync-endpoint can save users significant time when managing data. Current functionality allows for a single row to be deleted. This issue is for the creation of bulk-delete functionality.

### Separate View and Delete actions

As "View" row details is a single-row action, this button is separated into it's own column with title "Details". The View

[2021-05-04 15:43] sanyud24 commented on #276
Hi , May  I work on this @wbrunette

[2021-05-04 23:29] wbrunette commented on #276
@sanyud24 I assigned the issue to you

[2021-05-06 00:34] wbrunette commented on #191
@victory-lydia you need to open a pull request to the odk-x/app-designer repository.

Here are some instructions: https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2021-05-06 00:35] #276 closed, assigned to sanyud24

[2021-05-06 06:57] victory-lydia commented on #191
thanks @wbrunette

[2021-05-06 14:33] sanyud24 commented on #274
May I work on this issue if it seems a valid issue to you   . @wbrunette .

[2021-05-08 23:13] #81 closed

[2021-05-10 14:33] EstherPhebe commented on #259
@elmps2018 I hope you are well? I apologize for the delay with this issue, I've had to look for new accommodations, pack up my former home and move without much help.

I am currently working on this and need clarification concerning the [Village Geographic Survey](https://docs.odk-x.org/episample-tour-geo-survey/) Collect Screen. I have cloned the repo and pushed it to my android device and import

[2021-05-10 14:40] EstherPhebe commented on #242
@elmps2018 Hi. If nobody is working on this, can I work on it?

[2021-05-10 20:03] elmps2018 commented on #242
@aditisingh2412 was assigned -- any updates? If I don't here back in a day or so I can assign to you @EstherPhebe

[2021-05-10 20:07] elmps2018 commented on #259
Hi @EstherPhebe! I am guessing what is happening is that you have to be "at" the right location to collect the data for the household. You may be able to set very big accuracy bounds (see here: https://docs.odk-x.org/episample-tour-config/) or change the GPS coordinates in the underlying data so they work for near where you are.

[2021-05-10 20:40] EstherPhebe commented on #259
Okay, thank you @elmps2018. I'll let you know if either of the suggestions work.

[2021-05-11 03:32] aditisingh2412 commented on #242
@elmps2018 you can assign this issue to @EstherPhebe

[2021-05-11 03:34] elmps2018 commented on #242
Thanks for the update @aditisingh2412! @EstherPhebe added you on!

[2021-05-11 15:30] wbrunette commented on #273
After PMC/TSC meeting we decided that we did not want the arrow as the only click option. Clicking on the words is a common use case.

[2021-05-11 15:31] #273 closed, assigned to nobody

[2021-05-11 16:26] Wishy-S commented on #275
@maprehensive can i work on this issue please?

[2021-05-13 16:25] wbrunette commented on #275
@Wishy-S I have assigned the issue to you. Thank you for taking it on :)

[2021-05-14 16:26] #269 closed, assigned to nobody

[2021-05-18 14:16] Wishy-S commented on #275
@wbrunette As i m new to the community so getting a few problems while logging into server.
 I m trying signing in into the "ODK server 2.0" using default username : **admin** and password : **aggregate**
But it says **Incorrect username or password** .
I have done my set up exactly described in  _**https://github.com/odk-x/sync-endpoint-web-ui/blob/master/RUN.md**_ .
Can you please show me the pa

[2021-05-19 23:03] wbrunette commented on #275
@Wishy-S the instructions are in the process of being updated. Check out the pull request with some of the changes:
https://github.com/odk-x/sync-endpoint-web-ui/pull/14

[2021-05-24 21:20] EstherPhebe commented on #237
@emeka-okechukwu-dev Hi, please let me know if you have an update on this? I'd like to work on it.

[2021-05-25 00:09] emeka-okechukwu commented on #237
Hi @EstherPhebe, just finished the school semester a couple of weeks ago. Was also finding out the best way to show highlight/circle what I select for a while and just finished with the best way to do it.

[2021-05-25 00:10] emeka-okechukwu commented on #237
Hi @elmps2018, my apologies my the delay, was finding out the best way to highlight my selections

Here's the best way I found (prolonging the selection):

https://drive.google.com/file/d/1tTWVkza9avAg7BM2RLblLuYVbCods17n/view?usp=sharing

Please lemme know what you think

[2021-05-25 14:51] #32 closed

[2021-05-25 17:29] elmps2018 commented on #237
@emeka-okechukwu-dev this looks good to me.
@EstherPhebe did you have any comments? If this looks good to you, I sent you the Youtube invite, do you want to upload this video?

[2021-05-25 17:48] EstherPhebe commented on #237
Hi @elmps2018, it looks good. I'll upload it, I'm still figuring my way around the YouTube studio. Thanks @emeka-okechukwu-dev

[2021-05-25 20:55] #237 closed, assigned to nobody

[2021-05-26 17:02] elmps2018 commented on #45
There are notes in the prioritisation doc on next steps that "I think we did this and did not close the issue"

[2021-05-27 10:16] EstherPhebe opened #279 "Add Currently Not Supported and Deprecated section to the Documentation Index."
Adding a **Currently Not Supported** and **Deprecated** section to the Documentation Index helps give an idea of the state of an application. [Aggregate Tables extension](https://docs.odk-x.org/aggregate-tables-extension) will be moved to the **Deprecated** section while [ODK-X Scan](https://docs.odk-x.org/scan-intro) will be moved to **Currently Not Supported**.

[2021-05-27 10:56] EstherPhebe opened #280 "Add details of build tasks to documentation"
Describe the various [build tasks](https://github.com/odk-x/docs#build-tasks) in detail, for clarity on what each of the build tasks do and add link in the README.

[2021-05-27 18:19] EstherPhebe commented on #242
Here is the link to the video

https://drive.google.com/file/d/1qiEmoM-6L6M4-lwCrvwMN5_EMPz63o4o/view?usp=drivesdk

[2021-05-28 02:04] elmps2018 commented on #242
@EstherPhebe thanks for working on this! Also great idea to advertise the channel at the start. One point to add in the description or as an intro slide might be that you need to set up various apps (chrome, nodejs, etc.). Alas can't just download the app designer and have grunt work. Maybe a separate video about setting up app designer first is needed? What do you think? Otherwise looked good in

[2021-05-28 07:10] linl33 commented on #242
@elmps2018 Looks good to me as well.

@EstherPhebe FYI you can upload videos directly to GitHub now ([Link to announcement](https://github.blog/2021-05-13-video-uploads-available-github/))

[2021-05-28 13:32] EstherPhebe commented on #242
@elmps2018 Thanks for the feedback. I'll make an application designer installation video, create an application designer playlist and put the video at the top, so its the first one in the queue. Does that work?

[2021-05-28 13:33] EstherPhebe commented on #242
Thanks @linl33. I'll check that out

[2021-06-01 14:22] elmps2018 commented on #242
@EstherPhebe that sounds great! Good idea to use the playlists!

[2021-06-03 15:46] #142 closed

[2021-06-04 07:14] #198 closed

[2021-06-07 05:18] EstherPhebe opened #281 "Add YouTube Video detail and link to documentation footer"
ODK-X has a YouTube channel populated with videos showing how to use different ODK-X Tools. Add link to YouTube to the footer of the documentation

[2021-06-08 04:40] #281 closed, assigned to nobody

[2021-06-08 06:46] linl33 commented on #274
We don't use Java Serialization. Thanks for pointing this out though.

[2021-06-08 06:46] #274 closed, assigned to nobody

[2021-06-10 08:10] EstherPhebe opened #282 "Add troubleshooting page to the getting started section of the documentation."
This section will cover issues that crop up when installing and configuring ODK-X Basic Tools and how to solve them. Most of the issues are questions that have been asked frequently in the Forum.

[2021-06-10 08:37] #242 closed, assigned to EstherPhebe

[2021-06-14 03:31] linl33 opened #283 "Add deprecation warning to Suitcase permission CSV upload"
Suitcase CSV CLI provides a function to upload a permission CSV to Sync Endpoint. This feature hasn't been supported by Sync Endpoint since user/group management was switched to LDAP/ActiveDirectory.

Or this feature could just be removed.

[2021-06-14 15:31] #279 closed, assigned to EstherPhebe

[2021-06-18 17:14] #282 closed, assigned to EstherPhebe

[2021-06-22 00:04] EstherPhebe opened #284 "Add signature key information to Build Scripts"

[2021-06-23 10:44] EstherPhebe opened #285 "New TOC Index structure for the Documentation"
The goal of the new TOC structure is to ensure better navigation and discoverability in the documentation.

All mobile applications (including Notify) will be moved under the Mobile application section and Desktop applications will be moved to the Desktop application section. The Deprecated and Currently Not Supported section will be merged into one section.

A couple of sections will remain the s

[2021-06-28 14:53] elmps2018 opened #286 "Error [object SQLError] when doing purge database in app designer/chrome."
error [object SQLError] when doing purge database in app designer/chrome.

Not clear yet if this causes any subsequent problems.

Forum post: https://forum.odk-x.org/t/error-in-application-designer-when-pressing-purge-database/1416/4?u=elmps2018

[2021-06-30 21:19] #285 closed, assigned to EstherPhebe

[2021-07-06 13:32] #284 closed, assigned to EstherPhebe

[2021-07-06 13:33] #280 closed, assigned to EstherPhebe

[2021-07-10 21:10] EstherPhebe opened #287 "Integrate Google Custom Search Engine for better search experience in the docs."

[2021-07-12 20:33] #287 closed, assigned to EstherPhebe

[2021-07-20 15:47] #286 closed, assigned to nobody

[2021-07-20 16:28] EstherPhebe opened #288 "Update Suitcase documentation to reflect GSoC changes."
https://docs.odk-x.org/suitcase-intro/#using-odk-x-suitcase

Changes include :
1. updated Screenshots to cover the changes in the UI
2. document changes in GUI
3. any other changes

[2021-07-20 16:39] EstherPhebe opened #289 "Document new date prompts in XLSX Converter reference docs (GSoC)."
Add:
1. Year only prompts
2. Month only prompts
3. Year and month only
4. Non-gregorian calendar date pickers.

[2021-07-22 11:09] Shubhamr837 commented on #288
@linl33 please assign this issue to me.

[2021-07-29 22:01] wbrunette commented on #275
@Wishy-S are you still working on this issue? It is fine if you are no longer working on it, as we would like to unassign the issue to let others know they can work on it. If you are still working on the issue great. Please let us know.

[2021-07-29 22:02] wbrunette commented on #270
@chinenyelilian are you still working on this issue? It is fine if you are no longer working on it, as we would like to unassign the issue to let others know they can work on it. If you are still working on the issue great. Please let us know.

[2021-07-29 22:02] #188 closed

[2021-07-30 07:08] Wishy-S commented on #275
Apologies ,For now I'm not able to complete the task so , you can assign it
to someone else.

On Fri, 30 Jul 2021, 3:31 am wbrunette, ***@***.***> wrote:

[2021-08-03 06:20] toadmengo commented on #275
I'd like to work on this issue

[2021-08-04 22:57] #271 closed, assigned to nobody

[2021-08-05 01:32] toadmengo commented on #277
I'll try to work on this.

[2021-08-05 17:26] wbrunette commented on #277
@toadmengo if you have questions feel free to ask by commenting on this issue.

[2021-08-19 15:37] elmps2018 opened #290 "Note 4GB+ recommended for server (Droplet)"
Apps need at least 2GB so recommend 4GB+ for server (Droplet on Digital Ocean,  for example)

[2021-08-19 15:39] elmps2018 opened #291 "SSH settings"
Document SSH settings options/what is needed (e.g. on Digital Ocean to set up a Droplet).

[2021-08-20 00:58] #275 closed, assigned to toadmengo

[2021-08-21 02:34] EstherPhebe opened #292 "Update Digital Ocean instruction for Sync Endpoint with Cloud Services"
1. The python script instructions have to be taken out as they are not working.
2. The screenshots and instructions have to be updated to reflect the new Digital Ocean UI and workflow.
3. Include SSH Key instruction link.

[2021-08-31 00:56] #292 closed, assigned to EstherPhebe

[2021-09-19 21:57] #263 closed, assigned to chinenyeokafor

[2021-09-19 22:04] wbrunette commented on #259
@EstherPhebe what is the status on this issue?

[2021-09-19 22:07] wbrunette commented on #195
eliminated the script and now use Digitial ocean console based instructions

[2021-09-19 22:07] #195 closed

[2021-09-19 22:15] wbrunette commented on #125
@VarunT11 worked on this for GSoC project. The PR into development should reference this issue.

[2021-09-20 09:19] EstherPhebe commented on #259
@wbrunette I was not able to resolve the issues with the Collect Module on my device, I talked to Li about it but we just never got around to figuring out what was wrong and resolving it.

[2021-09-21 03:46] john7325 commented on #191
This issue seems interesting. May I be assigned this issue? @wbrunette

[2021-09-26 15:30] Shubhamr837 opened #293 "Suitcase shows done (Success message ) after deleteing a table using Anonymous Login. ( For Gsoc Branch )"
Steps to reproduce :
1 ) Login using Anonymous login in suitcase.
2 ) Go to clear tab.
3 ) Delete a Table from the list.
Even after 401 response suitcase shows "Done" in the progress bar.

[2021-09-26 16:28] adi9835 commented on #293
Hi can work on this? @Shubhamr837

[2021-09-26 16:30] adi9835 commented on #293
Can you help me get started I have successfully compiled the project in Intellij but I don't know where should I look.

[2021-09-26 16:33] Shubhamr837 commented on #293
Hi @adi9835 you can check the this file in my fork. https://github.com/Shubhamr837/suitcase/blob/tableIdDropDown/src/main/java/org/opendatakit/suitcase/net/DeleteTask.java
The do in background method should throw an exception if response status code is not 200.

[2021-09-27 13:43] adi9835 commented on #293
Hi I have Just pushed my changes, please have a look.

[2021-09-27 13:47] Shubhamr837 commented on #293
Yes merged in my branch.

[2021-09-27 13:47] #293 closed, assigned to nobody

[2021-09-28 18:15] toadmengo opened #294 "Sync-Endpoint Export data not working"
In the Export Data section of Sync-Endpoint, neither CSV nor JSON format will download. Pressing the Download Data button takes the user to a page that cannot be found.

I ran into this issue while running the WebUI locally and using odkdemo.gr:30015 for Sync-Endpoint, which could be part of the problem.

[2021-10-09 13:05] ShristiJain commented on #290
Hi @elmps2018 I would like to work on this issue. Can you please guide me on how to get started with this issue and what changes are required to be done.

[2021-10-09 14:23] EstherPhebe commented on #291
I'm closing this because it has already been addressed in Setting up ODK-X Sync-Endpoint with Cloud Services.

[2021-10-09 14:23] #291 closed, assigned to nobody

[2021-10-09 15:00] EstherPhebe opened #295 "Update permalink URL to match the table title"
The permalink URL for the tables on the [Using ODK-X XLSX Converter](https://docs.odk-x.org/xlsx-converter-using/#) page could be improved with a more descriptive URL..

https://docs.odk-x.org/xlsx-converter-using/#id3 could be improved to https://docs.odk-x.org/xlsx-converter-using/#simple-survey-example
https://docs.odk-x.org/xlsx-converter-using/#id4 could be improved to https://docs.odk-x.org/

[2021-10-09 16:18] ShristiJain commented on #295
Hi @EstherPhebe , I am Shristi Jain. I would like to work on this issue. I would be grateful if you could help me on how to get started on this.

[2021-10-09 16:46] wbrunette commented on #290
@ShristiJain I have assigned the issue to you. Here are some instructions on contributing to our documentation: https://docs.odk-x.org/contributing/

There is also documentation in README file of the GitHub repo: https://github.com/odk-x/docs

[2021-10-09 17:07] ShristiJain commented on #290
Thank you @wbrunette . I will start working on it right away.

[2021-10-09 19:30] EstherPhebe commented on #295
@ShristiJain I have assigned it to you.

[2021-10-10 07:32] ShristiJain commented on #290
Hi,
Should I add this recommendation to the "sync-endpoint-cloud-setup.rst" file ?

[2021-10-10 17:19] ShristiJain commented on #295
Hey @EstherPhebe I have made a pull request to fix this issue. Kindly review it.

[2021-10-10 19:39] wbrunette commented on #290
@ShristiJain that sounds like a good place. When you submit a pull request it will be reviewed and if changes are desired he reviewer will mention anything you need to fix before it's accepted.

[2021-10-10 21:05] sheykerkup commented on #278
@EstherPhebe  @wbrunette  can I work on this? If i understand well this work is to be done in ODK-X tables right?

[2021-10-10 21:08] wbrunette commented on #277
https://github.com/odk-x/sync-endpoint-web-ui/pull/20

[2021-10-10 21:08] #277 closed, assigned to toadmengo

[2021-10-10 21:09] wbrunette commented on #278
@sheykerkup ... oops., this issue should be marked as ready for release. A recent PR included these changes https://github.com/odk-x/sync-endpoint-web-ui/pull/20

Sorry about the confusion.

[2021-10-10 21:09] #278 closed, assigned to nobody

[2021-10-10 21:10] wbrunette commented on #278
@sheykerkup the changes are in the development branch waiting for the 2.1.9 release before moving to the master branch

[2021-10-10 21:14] sheykerkup commented on #278
Ok thanks.

[2021-10-10 21:22] sheykerkup commented on #119
@wbrunette I will like to work on this issue.

[2021-10-10 21:22] wbrunette commented on #119
@sheykerkup  I have assigned this issue to you.

[2021-10-10 21:23] sheykerkup commented on #119
Where can I currently find this feature? Can I have a little more details as to which ODK-X tools this belongs to and how to replicate the new feature on my android device?

[2021-10-10 21:23] sheykerkup commented on #119
Ok

[2021-10-10 21:40] wbrunette commented on #119
You can launch from ODK-X Tables webkit by using the ODK-X java interface available in odkCommon
odkCommon.doAction(dispatchStruct, 'com.google.zxing.client.android.SCAN', null);

See documentation:
https://docs.odk-x.org/injected-interfaces/#doaction

[2021-10-10 21:51] sheykerkup commented on #119
Thank you very much. I will take on this immediately.

[2021-10-10 23:27] Kulex001 commented on #295
@EstherPhebe since there is no much easy win or good first issue related to my topic, can i also contribute to this issue please?

[2021-10-10 23:38] Kulex001 commented on #259
@elmps2018 can i work on this please?

[2021-10-11 14:19] ShristiJain commented on #290
Okay sure. Thanks

[2021-10-11 19:28] #270 closed, assigned to wbrunette

[2021-10-11 19:32] #224 closed, assigned to ADISKING1

[2021-10-11 19:35] elmps2018 commented on #259
@Asukwo-comfort - I think @EstherPhebe was working on this but having problems. @EstherPhebe can you give us an update? Should @Asukwo-comfort give it a try (but may encounter the same problems...)

[2021-10-12 08:36] Kulex001 commented on #209
@wbrunette i will go with this, thank you

[2021-10-12 09:41] EstherPhebe commented on #209
@Asukwo-comfort I have assigned this to you.

[2021-10-12 10:36] EstherPhebe commented on #295
Hi @ShristiJain, The goal is that https://docs.odk-x.org/xlsx-converter-using/#id3 permalink which is what is currently on the page should change to a more descriptive permalink, like this https://docs.odk-x.org/xlsx-converter-using/#simple-survey-example

The tables on the [XLSX Converter Reference page](https://docs.odk-x.org/xlsx-converter-reference/#) all have updated permalink tables, see htt

[2021-10-12 10:57] EstherPhebe commented on #259
Hi @Asukwo-comfort, you can work on this. I had specific issues when I tried to create the video but you can try at it. The guided tour documentation is here [Geographic Health Survey](https://docs.odk-x.org/episample-intro/)

Here are a couple of demo videos on the YouTube channel, https://youtu.be/qX6VJnI6JnM and https://youtu.be/KRUlRyAQQ1c. You can get an idea of what you're supposed to do.

[2021-10-12 12:17] Lamouresparus commented on #79
Hi @wbrunette I am Love Otudor, an Outreachy applicant. I would like to work on this issue.

[2021-10-12 14:38] ShristiJain commented on #295
Hey @EstherPhebe , I will look into the xlsx-converter-reference.rst file, as mentioned by you, to understand this better and then get back to you. Thank you for your help.

[2021-10-12 15:48] wbrunette commented on #79
@Lamouresparus I have assigned the issue to you.
Here is a comment I left in the pull request that fixed some of the hardcoded strings"
"There are still some hardcoded strings in androidlibrary_lib/src/main/java/org/opendatakit/utilities/NameUtil.java:69:

We are simply looking where people put strings in the code they should be changed to be a constant string defined in our constant files.

[2021-10-13 01:09] JudeUk commented on #153
@wbrunette @elmps2018 I will like to take up this issue. Currently looking through the app-designer/xlsx-converter codebase and examples in app-designer to see how the Columns work and what they do. I'll revert if i have any questions

[2021-10-13 01:11] elmps2018 commented on #153
@JudeUk great I assigned to you! Let us know if you have any questions!

[2021-10-13 09:00] josdebum commented on #259
Hello @EstherPhebe, I'm interested in working on this issue

[2021-10-13 09:31] CtripleU commented on #143
Hello @wbrunette,

I'd like to resolve this issue. Could you please assign it to me? Thank you.

--
Cumi

[2021-10-13 15:25] elmps2018 commented on #259
Hi @josdebum I think @Asukwo-comfort is assigned to this from the earlier conversation. If you can find an issue that doesn't have a current assignee that would be great!

[2021-10-13 15:26] elmps2018 commented on #143
Hi @CtripleU I assigned this to you! The past comments have some more info, but let us know any questions!

[2021-10-13 16:48] CtripleU commented on #143
Thank you, Caroline!

[2021-10-14 06:24] Lamouresparus commented on #79
Hi @wbrunette. I have created a PR for this [here](https://github.com/odk-x/androidlibrary/pull/209).
Thank you 😊

[2021-10-14 10:56] OyinOlamide commented on #207
Hi @EstherPhebe ,Can I please be assigned to this issue? And how do I start, please?

[2021-10-14 10:58] OyinOlamide commented on #223
Hello @elmps2018 , I am an Outreachy applicant and would like to work on this. Can I please be assigned to this?

[2021-10-14 11:01] OyinOlamide commented on #148
Hi @elmps2018 , Can I please be assigned to this task? I'd like to work on it, also, how do I go about it and what do I need to resolve this?

[2021-10-14 11:54] greatestofal commented on #138
Hi @wbrunette I will like to work on this task. What do I need to know to work on it effectively?

[2021-10-14 11:58] greatestofal commented on #207
Hello @elmps2018, can I please work on this? What do I need to get started? Thanks

[2021-10-14 11:59] greatestofal commented on #192
Hello @linl33, can I please work on this? What do I need to get started? Thanks

[2021-10-14 16:10] elmps2018 commented on #223
Hi @OyinOlamide! This is an open issue that anyone could work on! I have assigned it to you but if you can comment with what, specifically, you end up working on other folks can then contribute as well!

[2021-10-14 16:15] elmps2018 commented on #148
Hi @OyinOlamide! I assigned you to this issue! I think a good way to go about this would be to try to generate error messages in each app (e.g. in survey, in tables, in xlsx-convertor) and then add a "tip" section in the documentation for the app about "Common errors and error messages" that helps explain them. If you go through the getting started/trying out sections in the docs you are likely to

[2021-10-14 16:20] elmps2018 commented on #138
Hi @greatestofal I assigned this to you! See some of the previous comments in this issue for a bit of information on what needs to be documented.

[2021-10-14 16:22] elmps2018 commented on #207
Hi @OyinOlamide and @greatestofal this is an ongoing, open issue, which anyone can (non-exclusively) work on if fixing any minor issues in docs (if you find a typo, bad link, etc.). If your pull request is focused on fixing an error please just reference this issue. Thanks!

[2021-10-14 16:57] ShristiJain commented on #295
Hey @EstherPhebe , I have made a PR to fix this issue. Kindly check.

[2021-10-14 23:09] elmps2018 commented on #192
Hi @greatestofal I have assigned this to you! Please see the previous comments in this thread for details on how to get started and let us know questions!

[2021-10-15 05:02] josdebum commented on #87
Hi @elmps2018 can I work on this issue.

[2021-10-15 14:56] elmps2018 commented on #87
@josdebum absolutely! I assigned this issue to you! There's some suggestions on how to get started in previous comments -- reading and trying out the docs and then figuring out how things are inter-related and adding links is the goal!

[2021-10-15 17:56] Florence-Njeri commented on #129
@EstherPhebe @wbrunette can I work on this?

[2021-10-15 21:09] wbrunette commented on #129
@Florence-Njeri I have assigned the issue to you. To be clear, this should only stop the back button from in ODK-X Tables as it's the expected behavior in ODK-X Survey

[2021-10-16 11:59] CtripleU commented on #143
Hi, Caroline.

I have made a PR to fix this issue. Kindly review. Thank you.

[2021-10-16 12:19] CtripleU commented on #180
Hello, @chlarsen.

I'd like to resolve this. Could you please assign it to me? Thank you.

[2021-10-16 18:17] wbrunette commented on #180
@CtripleU I have assigned the issue to you.

[2021-10-17 00:57] Lamouresparus commented on #20
Hello @wbrunette @mitchellsundt I would like to pick up this issue. Can I please get more context regarding this. Because this seems to happen when I insert a new username for verification.

[2021-10-17 01:03] CtripleU commented on #180
Thank you @wbrunette!

[2021-10-17 07:03] JudeUk commented on #153
Hello @elmps2018 i need your help please, following this guide (https://docs.odk-x.org/contributing/), i decided to give Issue 207 — Line Edits a try as a first contribution. I have set up my docs contributing environment locally and even went on to make some modifications on a file. My problem is at the point of serving the site locally, to see my edit on a browser, i get this error when i go to

[2021-10-17 22:20] #79 closed

[2021-10-17 22:21] wbrunette opened #296 "Remove hardcoded strings in InitalizationUtil"
In anroidlibrary the file InitializationUtil has hardcoded strings "csv" and "properties" that should be abstracted to a string constant.

[2021-10-18 08:06] JudeUk commented on #207
Hello @elmps2018 i need your help please, following this guide (https://docs.odk-x.org/contributing/), i decided to give Issue 207 — Line Edits a try as a first contribution. I have set up my docs contributing environment locally and even went on to make some modifications on a file. My problem is at the point of serving the site locally, to see my edit on a browser, i get this error when i go to

[2021-10-18 09:37] chitranshix commented on #296
Hi! I'm Chitranshi Srivastava from India. I have experience in developing Android apps in Kotlin & JAVA. I am an Outreachy applicant in the pre-proposal stage. I want to contribute to ODK-X by "Updating ODK-X’s Tests to most recent Android Testing Framework." Kindly assign me this issue so that I can start contributing.

[2021-10-18 11:32] OyinOlamide commented on #148
Thank you @elmps2018 Apart from the link in the thread, is there any other link or resource that would help with this task?

[2021-10-18 16:05] elmps2018 commented on #207
Hi @JudeUk! Thanks for trying to work on the docs! So it looks like the build and checks are not working either (earlier errors in your screenshot). This suggests something has gone wrong with the initial setup. Did you get any error messages or issues when following the setup directions?

[2021-10-18 16:22] CtripleU commented on #180
Hi, @wbrunette.
Since there is no page in the documentation for this, can I create one?

[2021-10-18 16:23] elmps2018 commented on #153
Hi @JudeUk please see comments on the Forum and the other issue you posted! If you can kindly post one place (the Forum is good for support problems that aren't specific to the issue) this saves us all time :)

[2021-10-18 17:00] elmps2018 commented on #148
@OyinOlamide one other approach that might be helpful is looking through posts about error messages on ODK-X Forum. That might provide some good examples of error messages and especially ones folks might have found confusing.

[2021-10-18 17:05] elmps2018 commented on #180
Hi @CtripleU! Good idea to create a new page for this. Please also investigate and suggest where this should fall in relation to other pages in the TOC.

[2021-10-18 17:05] elmps2018 commented on #296
Hi @apigeoneer! I have assigned this to you! Please let us know any questions as you work away.

[2021-10-18 17:23] Lamouresparus commented on #20
@wbrunette I am waiting for a response please

[2021-10-18 18:13] chitranshix commented on #296
Thanks! I've made a PR, kindly review it.

[2021-10-18 22:20] JudeUk commented on #207
Hi @elmps2018 you are right, the checks wasn't working. I went through the instructions again and was able to run the docs app locally. Thanks once again

[2021-10-18 22:49] JudeUk commented on #217
@wbrunette @pawanharariya hi can i work on this issue please?

[2021-10-19 00:53] CtripleU commented on #180
Alright, thank you for the clarification @elmps2018.

[2021-10-19 13:30] #296 closed, assigned to chitranshix

[2021-10-19 21:44] wbrunette commented on #217
@JudeUk I have assigned the issue to you

[2021-10-19 21:46] wbrunette commented on #20
@Lamouresparus we actually have a new UI going to launch soon. Therefore I am closing this issue because a fix should come out in 2.1.10 release.

[2021-10-19 23:52] wbrunette opened #297 "Remove OI File Manager requirement from documentation"
ODK-X had a dependency on using OI File Manager versions 2.1.8 and lower. However, with the upcoming version 2.1.9 drops the requirement to use OI File Manager. The documentation should be updated to reflect this change.

[2021-10-19 23:54] wbrunette opened #298 "Update minimium Android version in the documentation"
In version 2.1.9, ODK-X will drop support for Android 4.4.4. The new minimum Android version is 5.0. The documentation should be updated to reflect this change.

[2021-10-20 08:35] Lamouresparus commented on #298
Hello @wbrunette I would like to work on this. Thanks

[2021-10-20 08:36] Lamouresparus commented on #20
Alright. Thank you.

[2021-10-20 09:07] CtripleU commented on #297
Hello, @wbrunnette!
I'd like to work on this. Could you please assign this to me? Thank you

[2021-10-20 10:03] JudeUk commented on #207
Hello @elmps2018 i just made a Pr kindly review. thank you

[2021-10-20 10:54] Ksenia2102 commented on #298
@wbrunette I ready to work on this

[2021-10-20 10:58] Ksenia2102 commented on #297
@wbrunette
I would like to on this too.

[2021-10-20 11:01] Ksenia2102 commented on #283
Hello @linl33. I would like to work on it, can you assign me? Thanks

[2021-10-20 16:56] wbrunette commented on #297
@CtripleU I have assigned the issue to you since you were first. Please make sure to search the documentation so that you find all references to OI File Manager.

[2021-10-20 17:02] wbrunette commented on #298
@Lamouresparus I have assigned the issue to you since you were first.

[2021-10-20 18:17] CtripleU commented on #297
Thank you, @wbrunette.
I have submitted a PR for this issue. Kindly review.

[2021-10-20 18:22] CtripleU commented on #180
Hello, @elmps2018. I was trying to deploy sync endpoint using docker first following the documentation, but `mvn clean install` keeps throwing an error -

` Failed to execute goal io.fabric8:docker-maven-plugin:0.34.1:start (start) on project postgres-test: I/O Error: Unable to create network for [odk-network] : {"message":"Failed to Setup IP tables: Unable to enable SKIP DNAT rule:  (iptables fai

[2021-10-20 18:55] wbrunette commented on #262
according to @Shubhamr837 this got fixed with the Suitcase UI revamp in suitcase

[2021-10-20 18:55] #262 closed, assigned to sanyud24

[2021-10-20 19:08] wbrunette commented on #180
Is Docker running? What processes are currently running in docker?

From: Cumi Oyemike ***@***.***>
Sent: Wednesday, October 20, 2021 11:23 AM
To: odk-x/tool-suite-X ***@***.***>
Cc: wbrunette ***@***.***>; Mention ***@***.***>
Subject: Re: [odk-x/tool-suite-X] Documentation for deploying Sync Endpoint without Docker (#180)

Hello, @elmps2018<https://github.com/elmps2018>. I was trying to deploy s

[2021-10-20 19:40] Lamouresparus commented on #298
Thank you @wbrunette

[2021-10-20 23:52] elmps2018 commented on #180
@CtripleU, my docker skills are limited but hopefully @wbrunette can help!

[2021-10-21 00:03] elmps2018 commented on #297
@wbrunette potential follow-up issue(s): identifying and re-doing any videos that show OI file manager.

[2021-10-21 00:11] elmps2018 opened #299 "Remove OI file manager from YouTube videos"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X. Some probably include OI file manager, which is going away as a requirement in v2.1.9. Using the preview [release](https://forum.odk-x.org/t/preview-release-odk-x-tool-suite-v2-1-9/1527) for v2.1.9 please redo videos that had OI file manager to show i

[2021-10-21 07:20] chitranshix commented on #299
I'm up for it. Please assign me this issue.

[2021-10-21 10:45] CtripleU commented on #180
Hello, @wbrunette. Yes, Docker is running. But let me try restarting it. Thank you.

[2021-10-21 11:00] CtripleU commented on #180
Running `sudo systemctl restart docker` before `mvn clean install` worked @wbrunette. Thank you!

[2021-10-21 11:06] chitranshix opened #300 "Bug in Authentication Error dialog box"
**Current Scenario**
On the "Change User/Logout" screen, if a user selects the "Authenticate New User" button with empty fields for username
& password & then clicks on the "OK" button in the Authentication Error dialog box, the user is redirected to the main screen.
![IMG_20211021_143658 (2)](https://user-images.githubusercontent.com/43718257/138264849-8406f483-2941-4437-a1da-d97f218fb2b7.jpg)

*

[2021-10-21 14:21] elmps2018 commented on #299
@apigeoneer assigned to you! Let us know any questions! If you can let us know what videos you are working on and share revised videos on google drive as they are ready that would be great.

[2021-10-21 16:59] Lamouresparus commented on #300
@wbrunette can I pick up this task please?

[2021-10-21 20:52] sheykerkup opened #301 "location to create framework.xlsx file not clear in documentation."
***Docs Workflow***: Building an Application -> ODK-X Survey: Designing a Form

***Steps to Reproduce the Issue:***
1) Visit the documentation site (https://docs.odk-x.org/)
2) Select ‘Build an Application’ in the sidebar (https://docs.odk-x.org/build-app/#).
3) Go to ‘Creating framework.xlsx’ section of the content (https://docs.odk-x.org/build-app/#creating-framework-xlsx) and notice the first s

[2021-10-21 21:21] sheykerkup commented on #301
@EstherPhebe  @wbrunette  is this valid?

[2021-10-22 05:26] chitranshix commented on #299
Thanks! I can start with the video [How to install basic ODK-X tools on your tablet](https://www.youtube.com/watch?v=_387vP9CO9M). It includes OI file manager installation.

Do I need to recreate the whole video & share my version or download the YouTube video, edit it so as to remove the parts concerning the OI file manager & share that?

[2021-10-22 17:57] wbrunette commented on #301
It should refer to config/assets/framework/forms/framework/framework.xlsx. Assigning the issue to you.

[2021-10-22 18:02] wbrunette commented on #300
@apigeoneer go ahead and put in a PR to fix the issue. One thing to check is if the code is being reused somewhere else as maybe the behavior is correct for the same dialog. (It may be only used on this screen something to investigate)

[2021-10-22 22:03] wbrunette opened #302 "Fix tests in AndroidLibrary PR#214 and resubmit PR"
I accidentally merged https://github.com/odk-x/androidlibrary/pull/214 and had to revert the merge with the following commit (https://github.com/odk-x/androidlibrary/commit/2eb7074e0d415cda97f09cff0b9a3ed071f12d2c) because PR#214 caused the unit tests to break.

We will need the code that was in PR#214 but we need the Android unit tests to pass.

To fix this issue create a new Pull Request(PR) wit

[2021-10-22 22:15] wbrunette commented on #43
Fixes: https://github.com/odk-x/app-designer/pull/174

[2021-10-22 22:31] wbrunette opened #303 "Add To Tables Documentation how to Debug a Android Webview"
Debugging errors in customized html and JavaScript files can be challenging when customizing Tables applications. A section should be added to the documentation on how to connect your Chrome browser to an Android Webview to get debugging information.

Possible Resources to Link:
https://developer.chrome.com/docs/devtools/remote-debugging/webviews/
https://developer.chrome.com/docs/devtools/remote-

[2021-10-23 06:36] sheykerkup commented on #303
Hi, @wbrunette  I recently went through this and had some challenges which I succeeded to resolve. If you do not mind I will like to document them including the steps I took to resolve debugging tables showing spreadsheet as default view.

[2021-10-23 07:07] Kulex001 commented on #302
@wbrunette can i take this?

[2021-10-23 07:12] Kulex001 commented on #259
@elmps2018 I mistakenly unassigned myself. Can you reassign me this please?

[2021-10-23 07:42] chitranshix commented on #300
Hi! I have created a PR. Please have a look.

[2021-10-23 09:17] sheykerkup commented on #301
@wbrunette  I have sent a PR for this issue.

[2021-10-23 10:12] kenejane commented on #303
Hi @wbrunette , do I assume this issue has been assigned?, If yes please point me to another good first issue i can begin with. Thank you

[2021-10-23 14:16] wbrunette commented on #302
@Asukwo-comfort I have assigned the issue to you

[2021-10-23 14:20] wbrunette commented on #302
@Asukwo-comfort I just saw the request to put back the video issue assignment to you. We generally only allow 2 issues at a time. Which two issues do you want to have assigned so that we can open one up to someone else?

[2021-10-23 16:05] CtripleU commented on #180
Hello, @wbrunette!
I have been following the readme [here](https://github.com/odk-x/sync-endpoint/blob/master/docs/maven-full.md)  in an attempt to set up the Sync Endpoint without Docker and have successfully moved through steps 1 to 12. I am now stuck at step 13 since there is no `/libs` folder under `src/main` where the `build.xml` file is supposed to be located.
Could you please give any point

[2021-10-23 16:38] CtripleU commented on #104
Hello, @wbrunette.
While working on issue #180, I came across the minimum tested/recommended versions for MySQL and PostgreSQL in the readme file for the Sync-Endpoint. I'd like to resolve this issue by adding them to the documentation. Could you please assign this to me? Thank you.

[2021-10-23 19:33] wbrunette commented on #303
@sheykerkup I have assigned the issue to you.

[2021-10-23 19:37] wbrunette commented on #104
@CtripleU I am assigning this to you. Instead of having the versions in two places that require updates, it makes more sense to add a link to the documentation that points to the README file to get the versions.

[2021-10-23 20:01] wbrunette opened #304 "FOR OUTREACHY LEAFLET PROJECT - Create an Android Application with a WebView that has a custom webpage."
This issue is an introductory task that helps demonstrate someone's preparedness to accomplish the Outreachy Fall 2021 Leaflet Project.  To complete this introductory task post a comment that contains a link of your repository and branch on GitHub that contains a functioning Android Application that uses the Android WebView to create a simple custom webpage.  The webpage needs only to display cust

[2021-10-23 20:14] Kulex001 commented on #302
Okay, i should be unassigned from this "Re: [odk-x/tool-suite-X] Video:
Demo Geographic Health Survey app (#259)"
Thank you

On Sat, Oct 23, 2021, 15:20 wbrunette ***@***.***> wrote:

[2021-10-23 20:17] wbrunette commented on #259
@Asukwo-comfort is working on other issues so removing assigned on this issue to make it available to anyone

[2021-10-23 20:31] wbrunette commented on #180
@CtripleU things have changed significantly from those directions.

The key is that Apache Tomcat takes a war (which is being generated by our maven modules). Once you have the WAR you need to get the properties file correct for Apache Tomcat to work.

You can delete steps 13 and on because the configuration has completely changed so the testing is in docker and the last 13 steps are for running t

[2021-10-24 02:29] kenejane commented on #304
I will love to work on this project.

[2021-10-24 05:35] permission-error1 commented on #304
Hi @wbrunette I would like to participate in this

[2021-10-24 06:46] sheykerkup commented on #304
@wbrunette. I would love to work on this issue.  I started playing around with android webview, leaflet and openStreetMap last week and created a demo project for it already on github, though it is not perfect for now. My project might have already gotten more advanced since I had set up leaflet. Do I need to create another project or swap the map page with another to display the custom "Hello Wor

[2021-10-24 10:51] permission-error1 commented on #304
Hi @wbrunette! are we supposed to include this functionality in a forked repo of https://github.com/odk-x/androidlibrary or it should be an independent repo of our own?

[2021-10-24 13:02] chitranshix commented on #304
Here are the repos I created displaying custom text using Android WebView in 2 separate Android apps -
[JAVA Android WebView demo](https://github.com/apigeoneer/android_webview_demo_java/tree/master), [Kotlin Android WebView demo](https://github.com/apigeoneer/android_webview_demo_kotlin).

[2021-10-24 14:23] kenejane commented on #304
@wbrunette Here is a link to the repository I created. https://github.com/kenejane/Android-webview

[2021-10-24 15:56] sheykerkup commented on #304
I have updated the application to load and display custom hello world page first instead of map.
Here is the link [https://github.com/sheykerkup/ODK-X-Leaflet.js-Demo](https://github.com/sheykerkup/ODK-X-Leaflet.js-Demo) branch `main`

[2021-10-25 07:27] EstherPhebe commented on #299
@apigeoneer You can choose to either recreate the video or download and edit the current video, just decide what works best for you and share the videos for feedback.

[2021-10-25 07:55] permission-error1 commented on #304
Hi @wbrunette here is the Android App I created that has a webpage that displays "Hello World!" https://github.com/julian55455/android-webview

[2021-10-25 14:13] #301 closed, assigned to sheykerkup

[2021-10-25 14:29] Lamouresparus commented on #304
Hello @wbrunette  I would like to work on this

[2021-10-25 16:25] CtripleU commented on #104
Noted, @wbrunette. Thank you

[2021-10-25 17:52] CtripleU commented on #180
Thank you for the explanation @wbrunette . I'm still a bit confused though. Please, could you give any pointers on how the WAR can be gotten?

[2021-10-25 17:56] wbrunette commented on #180
The module in the sync-endpoint maven project titled "sync-endpoint-war" builds the war.

[2021-10-25 19:30] JudeUk commented on #153
hi @wbrunette Please do you mean  model "worksheet" when you say "sheet description" in your reply? thanks in advance for your kind reply

[2021-10-25 20:08] wbrunette commented on #153
@JudeUk  yes the model "worksheet" or "sheet" or "tab" in an XLSX workbook

[2021-10-25 22:56] wbrunette opened #305 "Create Unit Tests for AlertNProgressMsgFragmentMgr"
Create a set of tests to test the class AlertNProgessMsgFragmentMger in Android Library. This test should be an AndroidTest folder as it will run as part of the integration tests.

The class is located in src/org/opendatakit/fragment/AlertNProgessMsgFragmentMger

[2021-10-25 23:02] wbrunette opened #306 "Add a tableid name check to the XLSX converter."
Add a check to the XLSX Converter to ensure that the tableId does not begin with a letter and contain only letters, digits or underscores.

[2021-10-25 23:11] #294 closed, assigned to wbrunette

[2021-10-26 01:55] kenejane commented on #230
I would like to work on this issue

[2021-10-26 02:08] wbrunette commented on #230
@kenejane I have assigned the issue to you

[2021-10-26 05:14] CtripleU commented on #180
Alright, thank you!

[2021-10-26 05:40] chitranshix commented on #299
Sure. Thanks.

[2021-10-26 09:43] Lamouresparus commented on #305
Hello @wbrunette can I take up this isssue please?

[2021-10-26 10:31] sheykerkup opened #307 "Replace deprecated references to opendatakit GitHub repository to odk-x in docs"
Update references to opendatakit base repo to odk-x in docs in the **docs-tech-guide** section.

[2021-10-26 10:32] chitranshix commented on #305
I too am interested in working on this after [my last PR](https://github.com/odk-x/services/pull/217/commits/35ab61319a3d1cb319d3908e8b2f5503e0629b71) is merged.

[2021-10-26 10:38] Lamouresparus commented on #304
Hi @wbrunette here is the link to the [repository](https://github.com/Lamouresparus/Outreachy_Odk-x_Leaflet_Project) for the Android Web View Demo. It is on the master branch.
Thank you😊

[2021-10-26 11:20] chitranshix commented on #299
Here is a [Google Drive link](https://drive.google.com/file/d/1bqHu5RY0UHBWsHuPcHIR0tOrYHYrbKKT/view?usp=sharing) of the edited video. Let me know if any more changes are needed.
Now I'm working on the [Instalar apps ODK-X (Install apps in ODK-X: Spanish)](https://www.youtube.com/watch?v=jrGSySKK9p8) video.

[2021-10-26 11:28] sheykerkup commented on #307
@wbrunette  @EstherPhebe  I have sent a PR for this issue.

[2021-10-26 14:59] kenejane commented on #230
Alright @wbrunette . I am looking into it already

[2021-10-26 15:03] #307 closed, assigned to nobody

[2021-10-26 15:45] sheykerkup commented on #119
Hi @wbrunette, I succeeded to launch a barcode scanner and processed a barcode successfully. I also noticed to do this I had to install a barcode scanner having the package `com.google.zxing.client.android.SCAN` on my device before it could work.

I have sent a sample of where I would like to place this documentation in the PR. Please confirm if that is ok or needs some changes.

[2021-10-26 16:12] sheykerkup commented on #306
@wbrunette, if the table id is not to begin with a letter what should it begin with? Did you mean "does not begin with a letter"?
If not can I work on this issue as and can you tell me what a table id should begin with?

[2021-10-26 16:35] elmps2018 commented on #299
@apigeoneer thanks for working on this! So it looks like this points out that the file manager, shown in downloads, is not needed in v2.1.9. @EstherPhebe @wbrunette or @jbeorse do you think it is helpful to mention file manager even to say it is not needed or confusing? Not sure which myself, but we should pick an approach to be consistent across videos.

[2021-10-26 16:44] sheykerkup commented on #119
@elmps2018  this was the comment I left earlier.

[2021-10-26 16:51] wbrunette commented on #306
this is also related to this issue https://github.com/odk-x/tool-suite-X/issues/112

You can tackle both if you want since it will be code in the same place.
L=letters only
X=letters, digits, and underscores only

So a table id would be LXXXXXXX...XXX (where the ... represents more X)

[2021-10-26 16:54] wbrunette commented on #299
It is not needed to install and use. It's only needed to clear your device currently, which is very useful to know how to do. However it's no longer a prerequisite to have it installed.

[2021-10-26 16:55] elmps2018 commented on #299
@wbrunette, right, but the question is do we want that it is NOT needed in 2.1.9 mentioned in the video, or not at all because it adds to confusion and just show with files by google instead?

[2021-10-26 16:57] wbrunette commented on #119
for clarification - @elmps2018 and @EstherPhebe, @sheykerkup has a picture of where he would like to put the barcode scanner documentation in the first comment here: https://github.com/odk-x/docs/pull/161

[2021-10-26 16:59] wbrunette commented on #299
It should probably only be mentioned in the clearing the setup video, which needs to be redone. https://www.youtube.com/watch?v=KNogiu-crzA

[2021-10-26 17:01] wbrunette commented on #299
To clarify we should remove OI file manager completely from the videos

[2021-10-26 17:04] sheykerkup commented on #306
Ok I get it now. Will work on it.

[2021-10-26 17:09] wbrunette commented on #306
@sheykerkup I have assigned the issue to you

[2021-10-26 17:14] sheykerkup commented on #306
Ok

[2021-10-26 18:22] #295 closed, assigned to ShristiJain

[2021-10-26 19:07] elmps2018 commented on #119
Ah-ha, okay, tracking this better now :) So it seems like the suggested page is just full of lists up until there. Should this just be a list item? Or do we want a worked-through example (or this needs more detail than the other listed items) to help people?

[2021-10-26 20:13] sheykerkup commented on #119
Yes, you put it a bit clearer. That is what I meant to ask? I was thinking that page is already full but wonder where else I could put the information. Is there any other section this could fit better or do I need to create a whole different section (if yes what heading)

[2021-10-26 21:56] wbrunette commented on #305
@Lamouresparus I have assigned this issue to you

[2021-10-26 23:09] permission-error1 commented on #207
@wbrunette  @elmps2018 I need your reviews here https://github.com/odk-x/docs/pull/164

[2021-10-26 23:52] permission-error1 commented on #207
@elmps2018 could you review this one too https://github.com/odk-x/docs/pull/165

[2021-10-27 01:35] permission-error1 commented on #207
@elmps2018 could you review here please https://github.com/odk-x/docs/pull/166

[2021-10-27 02:42] permission-error1 commented on #207
@elmps2018  could you review this https://github.com/odk-x/docs/pull/168

[2021-10-27 09:00] chitranshix commented on #299
Here are the newly edited videos -

I've removed any mention of OI file manager completely from these -
[How to install basic ODK-X tools on your tablet](https://drive.google.com/file/d/1G75qnf-gxMM628riNDzlYUlOtnQuQYut/view?usp=sharing) (This video has OI file manager in the background. Is that okay?)
[Instalar apps ODK-X (Install apps in ODK-X: Spanish)](https://drive.google.com/file/d/1ee0gFgWF

[2021-10-27 19:42] ShristiJain commented on #290
Dear mentors @elmps2018 , @EstherPhebe , @jbeorse and @wbrunette ,
I have made a PR to solve this issue. Kindly review it and let me know if there are any changes.

[2021-10-27 20:41] #290 closed, assigned to ShristiJain

[2021-10-27 20:48] elmps2018 commented on #299
Hi @apigeoneer thanks for working on these! @wbrunette and @apigeoneer what do you recommend? It seemed like @wbrunette you were suggesting recreating the videos, which I think makes sense to show with Files by Google instead.

[2021-10-27 22:08] wbrunette commented on #299
I think you want to recreate the How to Delete All ODK-X Data using files by Google... that is probably the most important one

[2021-10-28 05:33] sheykerkup commented on #306
@clarlars @wbrunette  @EstherPhebe  this issue seems to have been fixed in this commit [https://github.com/odk-x/app-designer/commit/89a2a9be2](https://github.com/odk-x/app-designer/commit/89a2a9be2) and merged with this commit [371abd8ff0b53a1018cf1a8fc72e3f773c76a9ea](371abd8ff0b53a1018cf1a8fc72e3f773c76a9ea). Can you please verify this, as I can not replicate the issue.

On processing the .xlsx

[2021-10-28 08:48] chitranshix commented on #299
Okay. I'm recreating the ones in English.

[2021-10-28 10:07] sheykerkup commented on #303
@wbrunette  @clarlars  I have linked a PR for this. I am not sure why I can not tag you in that repository.

[2021-10-28 11:56] kenejane commented on #230
Hello @wbrunette , I downloaded the ODK-X survey version 2.1.8 and the pre-Release version 2.1.9 APK from the releases GitHub repo and I didn't encounter the issue described above. I ran the apps on my phone which operates on android version 9. Here is a link of how the app behaved when I replicated the issue. Do let me know if I should also use an emulator to replicate.

https://user-images.githu

[2021-10-28 16:21] wbrunette commented on #230
@kenejane Yes please try to use the exact emulator specified as the problem version by  emeka-okechukwu-dev

[2021-10-28 17:28] wbrunette commented on #306
Maybe the error reports we are getting are the unicode issue and it pops up the description as similar even though it's a different issue: https://github.com/odk-x/tool-suite-X/issues/112. Can you add a check to make sure the characters are legal unicode characters.

[2021-10-29 02:34] kenejane commented on #230
Ok @wbrunette, let me work on it again

[2021-10-29 07:32] CtripleU commented on #104
Hello, @wbrunette. I just opened a PR to fix this. Kindly review. Thanks!

[2021-10-29 08:09] CtripleU opened #308 "Add user group instructions for Web UI Login in the Sync-Endpoint documentation"
Although there are instructions for adding new users and groups [here](https://docs.odk-x.org/sync-endpoint-user-instructions/?highlight=ldap%20user#assigning-users-to-groups), the admin group to which a user should be added to be able to log in to the Web UI isn't stated. This causes end-users to frequently encounter the `incorrect username or password`  issue when trying to log in with the users

[2021-10-29 08:30] CtripleU commented on #308
Hello, @elmps2018 and @wbrunette.
Could you please review this issue and inform me if it is valid? Thank you!

[2021-10-29 08:35] sheykerkup commented on #306
ok

[2021-10-29 11:51] chitranshix opened #309 "Remove the "Select the form to open" text from Survey app"
When you open the Survey app, a text at the top says "Select the form to open".

   Case 1 - When there are no forms -> In this case, this text isn't needed. Since there are no forms, a user can't act on the text.
![Screenshot_2021-10-29-13-05-24-342_org opendatakit survey (2) (1) (1)](https://user-images.githubusercontent.com/43718257/139430579-4f5f7156-52d5-4d94-8be9-422c01807431.jpg)

   Case 2

[2021-10-29 12:02] chitranshix commented on #309
If this issue is valid, I want to work on it. Thanks.

[2021-10-29 13:42] wbrunette commented on #308
It is not true that they have to be ad admin, as you can login to the Sync Web UI with any user. However, the user does need to have one of the Tables roles assigned https://docs.odk-x.org/data-permission-filters/
These "roles" are available as Groups 500, 501, 502 503.

Feel free to create a PR clarifying that a user needs to be assigned one of the roles in addition to any group they want to use.

[2021-10-29 14:23] CtripleU commented on #308
Thank you for the correction, @wbrunette. I will create a PR just as you have explained.

[2021-10-30 00:48] Lamouresparus commented on #305
Thank you, @wbrunette. I have opened a PR for this task here https://github.com/odk-x/androidlibrary/pull/216

[2021-10-30 09:12] chitranshix opened #310 "Update the screenshots in the doc to incorporate Tables app changes"
There are many images in the [Trying out ODK-X Tables](https://docs.odk-x.org/tables-sample-app/#trying-out-odk-x-tables) section that have screenshots from the old versions of ODK-X which do not display some of the recent changes made in the app, namely the addition of a **sync icon** & **"ODK-X Tables" text** beside the ODK-X Tables icon in the title bar.

For example -
A screenshot from the cur

[2021-10-30 21:33] permission-error1 commented on #310
@EstherPhebe  @elmps2018 can I work in this!

[2021-10-30 22:32] julian55455 commented on #310
@apigeoneer could you point me to the apk where you got that kind of an screenshot please... I have a different screenshot surprisingly

[2021-10-31 16:40] elmps2018 commented on #310
@julian55455 I have assigned you! @apigeoneer thanks for raising this issue!

[2021-10-31 18:21] sheykerkup commented on #119
@wbrunette  @elmps2018  I have linked the complete documentation for this process with sample code I used to achieve this. Please checkit out. For some reason, I can not seem to tag you all on that repository. https://github.com/odk-x/docs/pull/183

[2021-10-31 18:39] permission-error1 commented on #119
@sheykerkup u can always tag them manually

[2021-10-31 18:44] sheykerkup commented on #119
Thanks. I will try that now.

[2021-10-31 21:19] sheykerkup commented on #191
@wbrunette  @clarlars  is this issue still valid? I would like to work on it.

[2021-10-31 21:26] sheykerkup commented on #163
@clarlars can i work on this?

[2021-11-01 17:07] chitranshix commented on #299
Here are the recreated videos. Please have a look & suggest any changes.

[How to Import Data in ODK-X Tables
](https://drive.google.com/file/d/1KVEtUPaC7K3E3UtnqCCw1evQ7KixeFmH/view?usp=sharing)
[How to Export Data from ODK-X Tables
](https://drive.google.com/file/d/1x24zMCna-xHpxmt8_5p5KMXmdDG3u8Hb/view?usp=sharing)
[How to Delete All ODK-X Data
](https://drive.google.com/file/d/1a48aU-8rz8ixin1

[2021-11-01 17:16] elmps2018 commented on #163
@sheykerkup I assigned to you!

[2021-11-01 17:22] wbrunette commented on #299
@elmps2018 and @EstherPhebe note the new videos.

@apigeoneer a link is not showing for the Zip and Share data

[2021-11-01 17:33] wbrunette commented on #191
@sheykerkup it's currently assigned to @john7325-1925487

[2021-11-01 19:55] elmps2018 commented on #299
@apigeoneer thanks for working on these! I am reviewing my way through and commenting as I go to help keep track. The ODK-X Tables importing one looks good to me, @EstherPhebe did spot any issues or does it look good to you too? I am adding this to the 2.1.9 milestone since we would want to put these out with 2.1.9 version.

[2021-11-01 19:59] elmps2018 commented on #299
How to export looks good too.

[2021-11-01 20:14] elmps2018 commented on #299
How to delete looks good to me.

[2021-11-01 20:15] elmps2018 commented on #299
For the "How to install" @wbrunette do we want to say any app at all or recommend Files by Google?

[2021-11-01 20:17] permission-error1 commented on #310
@apigeoneer could you help here please.... Follow the conversation and find out  https://github.com/odk-x/docs/pull/179

[2021-11-01 22:02] sheykerkup opened #311 "Fix typos in ODK-X documentation home page"
The ODK-X documentation home page has the following typos;

-  In the Section ‘View data on device’,  `Investigate and visualize entire datasets directly on the device through graphical, map, and tabular displays and through filtered views`.  Should fix double 'and' in the sentence.

- ‘The ODK-X Tool Suite is free and open-source software for collecting, managing, and using data in resource-const

[2021-11-01 23:01] sheykerkup opened #312 "Fix typo in ODK-X Survey"
1     In the section **Viewing Saved Form Instances**  `After synchronization this will include all form instances from all devices that have synced with the server.`  should have a comma after synchronization.

2     In the section **Viewing Saved Form Instances.** `This list of instances is ordered reverse chronologically by the last save date.` Should be 'saved'.

3     In the section  **Naviga

[2021-11-01 23:09] sheykerkup opened #313 "Learn more about ODK-X Services typos"

[2021-11-01 23:10] #313 closed, assigned to nobody

[2021-11-01 23:10] sheykerkup opened #314 "Learn more about ODK-X Services typos"

[2021-11-01 23:11] #314 closed, assigned to nobody

[2021-11-01 23:30] sheykerkup opened #315 "Learn more about ODK-X Services typos"
@wbrunette  @clarlars  @EstherPhebe When I click on the '**ODK-X Services**' **a tab opens i then click on 'Learn more about ODK-X Services**' I see the following typos.

**1**    Under the heading '**Syncing'** there is a typo be be i the statement (1. The username can be be changed by pressing the Change User button. Instructions are provided in the Authenticating Users section.)
**2**    In the

[2021-11-01 23:34] sheykerkup opened #316 "Fix typo in Documentation - ODK-X Services"
-  In the section **Syncing**,  `The username can be be changed by pressing the Change User button. Instructions are provided in the Authenticating Users section.` Repetition of 'be'.

-  In the section **Syncing**, `When you are ready to sync you data click on Sync Now.` Should be `When you are ready to sync your data, click on Sync Now.`

-  In the section **Tables Settings**,  `Use Custom Home

[2021-11-01 23:35] #315 closed, assigned to nobody

[2021-11-02 00:30] sheykerkup opened #317 "Fix typos in documentation - Managing ODK-X Services"
Page **Managing ODK-X Services** of the Documentation [Managing ODK-X Services](https://docs.odk-x.org/services-managing/) has the following typos;

-  In the section **Resetting the App Server**,  `The username can be be changed by pressing the Change User button.`  Repetition in the word `be`.

-  In the section **Resetting the App Server**,  `A confirmation dialog will popup asking you to confi

[2021-11-02 06:20] sheykerkup commented on #311
@wbrunette @clarlars  would like to send  PR for this

[2021-11-02 06:21] sheykerkup commented on #312
@wbrunette @clarlars  would like to send  PR for this

[2021-11-02 06:21] sheykerkup commented on #312
@wbrunette @clarlars  would like to send  PR for this.

[2021-11-02 06:22] sheykerkup commented on #316
@wbrunette @clarlars  would like to send  PR for this

[2021-11-02 06:22] sheykerkup commented on #317
@wbrunette @clarlars  would like to send  PR for this

[2021-11-02 07:14] apigeoneer commented on #299
Hi! Files by Google doesn't have an option to compress into a zip folder, so I used my default file manager for that video. Should I share that one or make another by using Files & some online compressor?

[2021-11-02 07:36] apigeoneer commented on #299
Also, for some reason, the APKs weren't getting installed on my phone using Files by Google, so I used the default file manager in that one.

Hi! Files by Google doesn't have an option to compress into a zip folder, so I used my default file manager for that video. Should I share that one or make another by using Files & some online compressor?

[2021-11-02 07:36] chitranshix commented on #299
Hi! Files by Google doesn't have an option to compress into a zip folder, so I used my default file manager for that video. Should I share that one or make another by using Files & some online compressor?

[2021-11-02 07:38] sheykerkup commented on #191
ok.

[2021-11-02 07:57] chitranshix commented on #310
Hi @julian55455! I've shared a [screenshot](https://github.com/odk-x/docs/pull/179).

[2021-11-02 08:20] chitranshix opened #318 "Bug in ODK-X Tables App"
On loading the sample tables in the ODK-X Tables app, the home screen displays 5 demo apps, each with a button to "Launch Demo". After clicking on this button, the next screen displays 0-3 buttons to open different types of data tables present in the app.

For the "Tea", "Plot" & "JGI" app demos, the next screen mentioned above isn't scrollable in landscape mode. This means that all the buttons ca

[2021-11-02 09:44] sheykerkup opened #319 "Too many steps to select a list view."
In the previous version, using the IO File Manager it was easy to select a list view and details view for a form but in this version, it just launches a file manager and the user will have to start searching for the directory to find the list view for the form.

I suggest the intent to select custom views should lunch directly in the appropriate folder HTML directory like before.

[2021-11-02 09:51] sheykerkup opened #320 "Bug in ODK-X Table - Possible to select a file which is not an html file for list view and details view."
Select View Types options in ODK-X Tables preferences should prevent users from selecting an invalid view. Currently, it is possible to select a **.xlsx** file as **List  View File** which in turn will not display anything on the screen when the user sets view type to List.

One way of handling this will be to launch the intent to select files with a filter matching only a particular type.

[2021-11-02 11:14] kenejane commented on #230
Hello @wbrunette , The emulator on my android studio is not displaying when it's launched and it is because I don't have enough space on my computer for it to run seamlessly. However, I installed the ODK-X survey preview version 2.1.9 on my phone that runs on android 9 and I was able to reproduce the error encountered by @swaingotnochill . I didn't create a new issue because this was already open.

[2021-11-02 11:28] sheykerkup opened #321 "Bug in ODK-X tables - Changing default View type in Display Settings does not reload view."
When a user selects a table from the list of tables in ODK-X Table and click on the hamburger menu item to change view type, the view type is changed immediately but when you set a default view type through the settings, it requires going back to tables list and selecting the same table to see the changes.

Users should be able to see a change on the displayed screen after changing the default vie

[2021-11-02 11:51] kenejane opened #322 "Blurry words in ODK-X survey"
In the example data loaded into the ODK-X survey app that contains tables data and form data, When the 'Select Examples' table is clicked the new window where the surveys are recorded has a very sharp white background which is not friendly to the eye and makes viewing the words difficult. Attached is a preview. I installed the ODK-X survey app on my phone which runs on android 9.
![WhatsApp Image

[2021-11-02 12:03] sheykerkup opened #323 "Sort by name does not work in ODK-X Tables when there are alternating letter case."
When a user tries to sort tables by name, the user expects to see them listed alphabetically either ascending or descending irrespective of the letter cases used in table names.

In this case table name, `scan_example` appears after 'Weather Conditions for Geo-Weather Survey'  because `scan_example` starts with a small letter having a higher ASCII value but Alphabetically it should not be the case

[2021-11-02 16:17] wbrunette commented on #323
@sheykerkup this is a valid issue. If you want to be assigned to fix it let us know.

[2021-11-02 16:20] sheykerkup commented on #323
Yes, please.

[2021-11-02 16:20] wbrunette commented on #299
I think we want to say we recommend Files by Google.

[2021-11-02 16:22] wbrunette commented on #318
@apigeoneer this is a valid issue. Let us know if you want us to assign this to you

[2021-11-02 16:46] wbrunette commented on #322
@kenejane this appears to be a valid issue. If you would like to fix it let us know.

[2021-11-02 16:47] wbrunette commented on #322
It should be noted that the change should not make any other form look incorrect as it should be a change local to the css styles of this form.

[2021-11-02 16:54] wbrunette commented on #230
@kenejane  thanks for confirming the problem was fixed. Please record this as a contribution for Outreachy

[2021-11-02 16:55] kenejane commented on #322
@wbrunette  would love to work on it

[2021-11-02 16:57] wbrunette commented on #322
@kenejane I have assigned the issue to you

[2021-11-02 17:37] elmps2018 commented on #299
@apigeoneer I think for install we want to recommend Files by Google and show that one. I think it's less important for the zip.

[2021-11-02 22:19] wbrunette commented on #317
@sheykerkup go ahead and prepare a PR to fix the issues.

[2021-11-02 22:22] wbrunette commented on #316
@sheykerkup on your third bullet 'choose' would be incorrect, how about 'selects'

I have assigned the issue to you.

[2021-11-02 22:25] wbrunette commented on #316
In the future there is already a line edits in the documentation for finding and fixing documentation errors https://github.com/odk-x/tool-suite-X/issues/207

[2021-11-02 22:26] wbrunette commented on #311
In the future there is already a line edits in the documentation for finding and fixing documentation errors https://github.com/odk-x/tool-suite-X/issues/207

[2021-11-03 02:04] kenejane commented on #322
ok @wbrunette . I am on it

[2021-11-03 04:54] sheykerkup commented on #316
OK I see it. Should I close all these issues I created regarding line edits then?

[2021-11-03 08:34] Lamouresparus opened #324 "Better user experience when authenticating a user"
In the ODK-X survey app

<img src="https://user-images.githubusercontent.com/34775925/140028924-0827c18b-d2f6-4103-bf52-20a938492c74.jpeg" width="320" height="680">

When a new user has been authenticated and verification is successful.

<img src="https://user-images.githubusercontent.com/34775925/140028825-9b1df42e-7d6b-45f6-9a18-9b3eb8c54b2d.jpeg" width="320" height="680">

<img src="https://use

[2021-11-03 17:40] wbrunette commented on #324
Thank you for raising this issue. The good news is people are already working on re-implementing the sign-in workflow.

This is a duplicate of https://github.com/odk-x/tool-suite-X/issues/125 A new user interface is in the pipeline for release. It did not make it this release but will next release.

[2021-11-03 17:40] #324 closed, assigned to nobody

[2021-11-03 18:06] #104 closed

[2021-11-04 07:32] Lamouresparus opened #325 "No Input Validation When finalizing a form"
In the Survey App, I can create a blank form. This because, I can go to next without selecting any option, or typing anything.
This is understandable, because you can mark the instance as incomplete. My concern is the fact that you could actualy finalize an empty form (that is no entry was recorded). Is this a bug, or is this how its supposed to work?

[2021-11-04 11:48] chitranshix commented on #299
Hi! I've been trying for quite some time now, but for some reason,  the installation of all APKs (both v2.1.8 & the preview version) using Files by Google is failing with the snack bar "Something went wrong. The app was not installed". Can anyone suggest why this might be happening?
I'm using Redme Note 8 Pro.

[2021-11-04 16:49] wbrunette commented on #325
There is the required column in form definition that if set to true will require the question be answered before the user can move on. It's up to the form designer to decide if the question is required or not.

[2021-11-04 16:49] #325 closed, assigned to nobody

[2021-11-04 19:26] elmps2018 commented on #299
@apigeoneer thanks for persisting! Can you ask on the Slack if anyone else has tried with the Files by Google and what happened? And with what tablet/phone version? Then we can narrow down what the issue is a bit.

[2021-11-05 04:43] chitranshix commented on #299
Sure.

[2021-11-05 04:45] wbrunette commented on #299
Files by Google you should be able to install from the Google Play store.

You should use Chrome to install ODK-X Services, Survey, and Tables

[2021-11-05 04:46] wbrunette commented on #299
Also, Chrome has to be authorize to allow the installation of APKs as shown in the current video

[2021-11-06 14:50] chitranshix opened #326 "Generalize the instruction steps in the doc for all Android devices"
Problem -
The line under the [Installing ODK-X Basic Tools](https://docs.odk-x.org/basics-install/#installing-odk-x-basic-tools) section says "These instructions describe the steps to install the ODK-X basic tools on a tablet." Another line under the [Prerequisites](https://docs.odk-x.org/basics-install/#prerequisites) section says "You must have an Android tablet with an operating system version

[2021-11-07 18:20] #303 closed, assigned to sheykerkup

[2021-11-09 11:20] Leena1666 commented on #259
can I work on this issue?

[2021-11-17 03:50] ShristiJain commented on #326
Can I work on this issue?

[2021-12-01 01:06] permission-error1 opened #327 "Autocomplete searchable list select one for search different states"
This issue intends to Autocomplete searchable list select one in ODK-X. Just in case  the select_one were for state names, if you start typing N it would give you all the N states or any other states that are related state. For better understanding of this issue one may follow this [conversation](https://forum.odk-x.org/t/autocomplete-searchable-list-select-one/791)
Also/related: #225

[2021-12-16 20:45] #52 closed

[2021-12-21 14:40] linl33 opened #328 "Investigate Services sync progress dialog update rate"
Investigate if it is possible to easily reduce the rate sync progress dialog updates are be sent to the popup dialog. The updates to the dialog are already throttled but updates are still happening too frequently.

[2021-12-21 14:43] #289 closed, assigned to EstherPhebe

[2021-12-21 14:43] #297 closed, assigned to CtripleU

[2022-01-04 16:28] wbrunette opened #329 "Fix Sync-Endpoint-Web-Ui Unit Tests"
The unit tests should be revised to rely on "odk-rest-interface-2.1.8.jar" and NOT the historic aggregate-rest-interface jar

To test this you should delete the aggregate-rest-interface-2017-06-22.jar dependency.

NOTE: this issue is related to the development branch of the sync-endpoint-web-ui

[2022-01-13 19:05] sanyud24 commented on #327
Hi @elmps can I work on this issue

[2022-01-18 14:40] elmps2018 commented on #321
There is a difference between table views that are associated with a table and views in the app ODK-X tables that are not associated with a table @wbrunette says.

[2022-01-18 14:44] elmps2018 commented on #319
Possibly bundle into a GSOC project.

[2022-01-18 14:45] elmps2018 commented on #319
Now using Android's built in system (which behaves differently across versions) which is part of the problem.

[2022-01-18 14:52] elmps2018 commented on #110
Goal is to be able to customize order of instances in Survey or Tables interface

[2022-01-18 14:55] elmps2018 commented on #110
This could either be (more simply) a table setting in the table xlsx, like the instance name.
This could also be (more complex-ly) something you could select dynamically in the interface.

[2022-01-26 07:52] puranjayK commented on #302
Hi @wbrunette, is the issue still open. I would like to work on it

[2022-01-26 16:14] wbrunette commented on #302
yes, it's available puranjayK. I have assigned it to you.

[2022-02-11 18:42] wbrunette opened #330 "Fix the end of the AWS instructions"
1) The 'Launching the ODK-X Server' section does not show a screenshot of the web-ui login ( http://[IP_ADDRESS]/web-ui/login) the screenshot incorrectly has the users/group login.
2) The instructions to take the stack up and down are out of date. They should be

Take the stack/swarm down:
"docker stack rm syncldap"

Bring the stack/swarm up with HTTPS support execute this command in the sync-endp

[2022-02-11 18:48] #304 closed, assigned to kenejane, Lamouresparus, chitranshix, julian55455, sheykerkup

[2022-02-14 11:37] maprehensive opened #331 "Services sync dialogue UI: update color and layout"
The current service sync dialogue uses purple in the progress bar and OK button text.

## Colour update

The progress bar should be updated to the blue specified in the [design guidelines](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/)

## Layout update

- Apply padding of 20px top, right, bottom and left.
- Align all internal elements left.
- Apply a fixed,

[2022-02-14 11:42] maprehensive opened #332 "Services sync dialogue UI: allow user to show and hide sync details"
When a sync is occurring the dialogue box can show a lot of rapidly changing sync details text. This can be uninformative and districting.

Allow users to hide the sync details text by adding a Show / Hide button to the dialogue box .

Note that color and layout updates are detailed in #331

![Sync dialogue - details hidden](https://user-images.githubusercontent.com/1215441/153857939-b6accbf8-e5b3

[2022-02-16 20:27] wbrunette opened #333 "Fix CSV naming on Suitcase export"
When Suitcase downloads a table and saves the contents in into a CSV file the CSV file is named "link_unformatted". The CSV filename should be the table id so it should be "<table_id>.csv"

[2022-02-21 03:15] wbrunette opened #334 "Website side bar missing Services"
The website side bar is missing the ODK-X Services section.

https://odk-x.org/software/

[2022-02-21 04:27] debaghosh commented on #334
Hi! Sent you a PR 😃

[2022-03-01 16:42] #334 closed, assigned to nobody

[2022-03-04 19:38] sanyud24 commented on #333
hi , can i work on this issue @wbrunette

[2022-03-04 20:32] wbrunette commented on #333
@sanyud24 I am assigning the issue to you

[2022-03-25 17:37] jmlengineering commented on #331
@wbrunette Hello, I would like to work on this issue.

[2022-03-25 19:52] wbrunette commented on #331
@jmlengineering I have assigned the issue to you

[2022-03-27 07:55] WaltonG commented on #329
@wbrunette I would like to work on this issue. I trust that it will give me an insight into the endpoint codebase.

[2022-03-27 15:15] wbrunette commented on #299
@elmps2018 is this complete? If a part is not complete from this discussion maybe we can make an issue for it?

[2022-03-27 15:16] #298 closed, assigned to Lamouresparus

[2022-03-27 15:19] wbrunette commented on #194
For future reference for someone taking on this issue. Take a look at the previous incomplete PR. https://github.com/odk-x/sync-endpoint-default-setup/pull/26

The comments in the PR give additional direction

[2022-03-27 15:26] wbrunette commented on #333
@sanyud24 can you give us an update on your progress?

[2022-03-27 15:29] wbrunette commented on #209
There was progress made on a previous PR but not completed.

A good starting point is to look at PR: https://github.com/odk-x/tables/pull/179

[2022-03-27 15:32] #119 closed

[2022-03-27 15:35] wbrunette commented on #329
@WaltonG I have assigned the issue to you. If you delete the jar the unit tests start to fail.

[2022-03-27 15:42] wbrunette commented on #247
This issue already has a good start but it is not finished. See the comments in the incomplete PR:
https://github.com/odk-x/docs/pull/83

[2022-03-27 15:47] wbrunette opened #335 "Fix error in Docs about missing reference label"
A label got changed with this PR now we are getting this error:

sync-endpoint.rst:144:undefined label: sync-endpoint-setup-create-user

Because of this PR deleted the reference label.
https://github.com/odk-x/docs/pull/208

[2022-03-27 18:58] OlaitanAdesina commented on #332
Hello, I would like to work on this issue.

[2022-03-27 21:02] wbrunette commented on #332
@OlaitanAdesina I have assigned the issue to you

[2022-03-28 07:08] Bombos28 commented on #130
Hi. Could I work on this?

[2022-03-28 09:25] sanyud24 commented on #333
sorry for the delay, will be submitting the PR today.

[2022-03-28 12:53] aasthaa-007 commented on #335
Hi @wbrunette
I would like to fix the issue
Can I proceed?

[2022-03-28 13:35] designechi commented on #130
Hello, can I work on this issue?

[2022-03-28 14:28] designechi commented on #166
Hello, I would love to work on this issue.

[2022-03-28 14:49] designechi commented on #214
Hello, can i work on this issue?

[2022-03-28 16:27] wbrunette commented on #166
@designechi this is a general issue that will be part of the "User interface uplift for mobile apps" so you can work on it and make it part of your application. However, it will be hard to make a lot of progress during the contribution period as choosing a new UI framework will probably take some back and forth with the management committee.

If the "User interface uplift for mobile apps" is selec

[2022-03-28 16:31] wbrunette commented on #130
@Bombos28 and @designechi
This is a general issue that represents the "User interface uplift for mobile apps" project, so you can work on it and make it part of your application. If the "User interface uplift for mobile apps" is selected, the intern will be assigned the issue.

@maprehensive can this be broken into any smaller tasks for the contribution period prior to the Outreachy application?

[2022-03-28 16:33] wbrunette commented on #335
@aasthaa-007 I have assigned the issue to you

[2022-03-28 16:43] wbrunette commented on #317
NOTE: The spelling of "popup" is correct when referring to a computing UI visual element, so there is one less change.

[2022-03-28 16:56] wbrunette commented on #316
The page the edits are needed is: https://docs.odk-x.org/services-using/

[2022-03-28 16:59] #300 closed, assigned to chitranshix

[2022-03-28 17:00] #308 closed, assigned to CtripleU

[2022-03-28 17:07] wbrunette commented on #214
@designechi I have assigned the issue to you.

[2022-03-28 17:11] designechi commented on #214
Okay, thank you!

[2022-03-28 17:29] elmps2018 commented on #299
@wbrunette this is not complete. Isn't it an issue currently?

[2022-03-28 17:47] designechi commented on #130
Okay, thank you for the clarity @wbrunette

[2022-03-28 17:49] designechi commented on #166
Okay, thank you for the response.

[2022-03-28 18:19] WaltonG commented on #329
@wbrunette After removing the aggregate-rest-interface jar and running junit test the test fails on two classes. OdkUploadClientTest.java and TablesControllerAjaxTest.java. My thought is that this could be test driven development because the tested OdkUploadClient class has not been created and the tested methods in TablesControllerAjax have not been implemented. (they are marked ToDO).
I am think

[2022-03-28 18:51] wbrunette commented on #329
Sounds like a good approach. Replace missing functionality and make it part of the test code seems like how I would approach it.

[2022-03-28 21:39] bossintroverts commented on #317
hello @wbrunette can I be assigned this please?

[2022-03-28 23:23] AliceUmeji commented on #316
Hi @wbrunette can I be assigned this task?

[2022-03-29 01:30] wbrunette commented on #316
@AliceUmeji I have assigned the issue to you

[2022-03-29 10:37] AliceUmeji commented on #316
@wbrunette thank you.

Please I tried looking for but can't find the code, can you help me out @wbrunette? Thanks

[2022-03-29 11:21] Sukriti-sood commented on #317
@wbrunette  Can I work on this issue

[2022-03-29 12:54] wsmmxmm commented on #194
Hi team! I am an outreachy applicant. Please can I work on this issue if it is still open?

[2022-03-29 12:55] wsmmxmm commented on #194
Hi team! I am an outreachy applicant. Please can I work on this issue if it is still open?

[2022-03-29 16:00] wbrunette commented on #194
@wsmmxmm it is still open. I will assign it to you. Check out the PR I commented about as much of the work has been attempted once, just not fully completed.

[2022-03-29 16:04] wbrunette commented on #317
@Sukriti-sood I have assigned the issue to you

[2022-03-29 16:54] #133 closed

[2022-03-29 18:57] WaltonG commented on #302
Hi @wbrunette. Am ready to work on this issue. My understanding is that the codebase to work on is from pull request PR #214 and PR #302 should fix the failing tests in PR #214.

[2022-03-29 19:03] elmps2018 opened #336 "Remove OI file manager from "How to Delete All ODK-X Data" video"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X. Some include OI file manager, which has gone away as a requirement in more recent versions. We need to redo videos that had OI file manager to show instead operations using Google Files.

This issue is to revise the "How to Delete All ODK-X Data" vide

[2022-03-29 19:06] elmps2018 opened #337 "Remove OI file manager from "How to Zip and Share ODK-X Data" video"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X. Some include OI file manager, which has gone away as a requirement in more recent versions. We need to redo videos that had OI file manager to show instead operations using Google Files.

This issue is to revise the "How to Zip and Share ODK-X Data" v

[2022-03-29 19:07] WaltonG commented on #329
I just realised that junit gave me a false positive on passed tests. After running maven  clean install, surefire reported additional test failures that were omitted by junit. This is a complex issue than I thought

[2022-03-29 19:10] elmps2018 opened #338 "Remove OI file manager from "How to Export Data in ODK-X Tables" video"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X. Some include OI file manager, which has gone away as a requirement in more recent versions. We need to redo videos that had OI file manager to show instead operations using Google Files.

This issue is to revise the "How to Export Data in ODK-X Tables

[2022-03-29 19:12] elmps2018 opened #339 "Remove OI file manager from "How to Zip and Share ODK-X Data" video"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X. Some include OI file manager, which has gone away as a requirement in more recent versions. We need to redo videos that had OI file manager to show instead operations using Google Files.

This issue is to revise the "How to Zip and Share ODK-X Data" v

[2022-03-29 19:17] elmps2018 opened #340 "Remove OI file manager from "How to install basic ODK-X tools on your tablet" video"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X. Some include OI file manager, which has gone away as a requirement in more recent versions. We need to redo videos that had OI file manager to show instead operations using Google Files.

This issue is to revise the "How to install basic ODK-X tools o

[2022-03-29 19:26] elmps2018 opened #341 "Video of setting up ODK-X Sync Endpoint with Digital Ocean"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X.

This issue is to create a video demo of setting up ODK-X Sync Endpoint with Digital Ocean

Here are the docs instructions: https://docs.odk-x.org/sync-endpoint-cloud-setup/#option-1-digitalocean-console

Note you can get a free trial.

[2022-03-29 19:27] elmps2018 opened #342 "Video of setting up ODK-X Sync Endpoint with Azure"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X.

This issue is to create a video demo of setting up ODK-X Sync Endpoint with Azure

Here are the docs instructions: https://docs.odk-x.org/sync-endpoint-cloud-setup/#option-2-azure-console

Note you can get a free trial.

[2022-03-29 19:29] elmps2018 opened #343 "Video of setting up ODK-X Sync Endpoint with AWS"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X.

This issue is to create a video demo of setting up ODK-X Sync Endpoint with AWS

Here are the docs instructions: https://docs.odk-x.org/sync-endpoint-cloud-setup/#option-3-amazon-web-services-console

Note you can get a free tier account.

[2022-03-29 19:30] elmps2018 opened #344 "Video of setting up ODK-X Sync Endpoint Users and Groups"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X.

This issue is to create a video demo of setting up users and groups

Here are the docs instructions: https://docs.odk-x.org/sync-endpoint-user-instructions/

Note you will need to set up a server to test, see options here: https://docs.odk-x.org/sync

[2022-03-29 19:33] elmps2018 opened #345 "Video of using ODK-X Suitcase - Graphical interface"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X.

This issue is to create a video demo of ODK-X Suitcase (graphical interface)

Here are the docs instructions: https://docs.odk-x.org/suitcase-intro/

[2022-03-29 19:34] elmps2018 opened #346 "Video of using ODK-X Suitcase - Command line interface"
On our YouTube [channel](https://www.youtube.com/channel/UCxOZGaf3xUiD85q8qJaw2bQ), there are a number of videos demo-ing various features of ODK-X.

This issue is to create a video demo of ODK-X Suitcase (command line interface)

Here are the docs instructions: https://docs.odk-x.org/suitcase-intro/

[2022-03-29 21:56] sanyud24 commented on #344
Hi, @elmps2018 may I work on this issue?

[2022-03-29 22:04] elmps2018 commented on #344
Hi @sanyud24 just assigned you to this issue! Let us know any questions as you are working away.

[2022-03-29 22:32] permission-error1 commented on #339
Hi @elmps2018 I would like to work on this.

[2022-03-29 22:36] elmps2018 commented on #339
@julian55455 great, I assigned it to you! Let me know if you have any questions while working away.

[2022-03-29 22:44] permission-error1 commented on #339
@elmps2018 Do we just have to  use a screen record of an android device or you have some other specific tools you use to record these videos

[2022-03-30 03:37] nuilewis commented on #338
Hello, I would like to claim this issue, please

[2022-03-30 13:29] shreyavijayvargiya commented on #345
@elmps2018 what should be the username and password to open ODK-X Suitcase? I read the documentation but it's still unclear to me and I'm not able to login anonymously too.

[2022-03-30 14:53] elmps2018 commented on #338
Great, @nuilewis assigned to you! Let us know if you have any questions while working away.

[2022-03-30 14:57] elmps2018 commented on #339
Hi @julian55455! You can definitely do this with a screen recording to capture the work on the tablet. It's nice if you can make sure to have a pointer as you record or highlight in video editing software after. But anything that will create a video that can be uploaded to YouTube works!

[2022-03-30 15:24] elmps2018 commented on #345
You may be able to download from one of the demo servers:
-https://docs.odk-x.org/tables-sample-app-install/
- https://docs.odk-x.org/survey-sample-app-install/

@wbrunette or @linl33 do you know if these should allow demoing suitcase?

If not, you may need to set up a demo server or see if someone working on a demo server will let you demo suitcase with it.

[2022-03-30 15:38] wbrunette commented on #345
Yes, Suitcase will work with the demo servers. I do not remember off the top of my head if Suitcase supports anonymous users so it is probably best to use the username/password login.

[2022-03-30 18:15] wbrunette commented on #302
@WaltonG thank you for asking clarifying questions. You are currently linking to Issue 214 not the PR 214 in the Android library repository. See the PR https://github.com/odk-x/androidlibrary/pull/214

You need to fix the PR so it passes the tests and can be merged.

The title ended up looking weird as the number of this issue is #302 and does not refer to a PR (NOTE: the difference between black

[2022-03-30 18:28] nuilewis commented on #338
Thank you, So I was thinking the best way to go about it would be to recreate the video, so I was able to get the applications, but I wanted to find out if there is some sample data or dummy data that I can use to show how to export data?

[2022-03-30 18:31] elmps2018 commented on #338
Great question @nuilewis! Yes, either the Tables or Survey demos would be good (you can create data or use existing data from the Tables demo):
https://docs.odk-x.org/survey-sample-app-install/
https://docs.odk-x.org/tables-sample-app-install/

[2022-03-30 18:51] nuilewis commented on #338
Alright, thanks!

[2022-03-30 19:32] #335 closed, assigned to aasthaa-007

[2022-03-30 20:02] vkamunya commented on #330
Hello @wbrunette  I'm new to contributing and wanted to work on this issue, where do I edit the documentation to be able to make the changes? Thanks

[2022-03-30 20:11] sanyud24 commented on #344
https://drive.google.com/file/d/1bOAENDMsi7c5rrJIOdLkmr-I95CxPPDx/view?usp=sharing
Did the tutorial on setting up ODK-X Sync Endpoint Users and Groups @elmps2018

[2022-03-30 20:15] vkamunya commented on #330
Hello @wbrunette wbrunnette, could you assign me this issue?

[2022-03-30 20:21] WaltonG commented on #302
@wbrunette thank you for clarification. Yes assign me the issue

[2022-03-30 20:22] wbrunette commented on #302
@WaltonG I have assigned the issue to you

[2022-03-30 20:28] wbrunette commented on #330
@vkamunya I have assigned the issue to you

[2022-03-30 20:30] #333 closed, assigned to sanyud24

[2022-03-30 21:49] sanyud24 opened #347 "Hide/Show password icon in Services"
The show password icon should show the password but the functionality has been reversed in both server password and change admin password dialog box.

...................................................................................................
![adminpass](https://user-images.githubusercontent.com/57134307/160936343-34840b66-b4ea-42ca-acc6-8f6ac55fb7af.jpeg)
![serverpass](https://user-image

[2022-03-30 21:50] sanyud24 commented on #347
@wbrunette @elmps2018 May I work on this issue if it seems valid?

[2022-03-30 21:55] wbrunette commented on #347
1) we have an open issue about this already so I am closing this a duplicate https://github.com/odk-x/tool-suite-X/issues/257
2) The password already has a new UI waiting to be tested

[2022-03-30 21:55] #347 closed, assigned to nobody

[2022-03-31 08:09] AnshuKumari197 commented on #330
can i work on this issue ?

[2022-03-31 08:10] WaltonG commented on #302
Working on it

On Wed, 30 Mar 2022, 23:22 wbrunette, ***@***.***> wrote:

[2022-03-31 09:34] AnshuKumari197 commented on #331
@wbrunette I also want to work on this issue. Please assign me this project. I will surely resolve this issue.

[2022-03-31 16:19] permission-error1 commented on #339
@elmps2018 not so sure whether you linked the right example of the video for this issue but I still fail to import the data in .csv format in the adk-x tables app.
**I get an error Import file must reside in opendatakit folder**
An example of the video can be found on my google drive
https://drive.google.com/file/d/12s4UGaCnB_gromkGgY2gGuAhxsQRtOJI/view?usp=sharing

cc @wbrunette @elmps2018

[2022-03-31 16:23] elmps2018 commented on #339
Hi @julian55455! This is a "correct" error. As per the importing directions:
https://docs.odk-x.org/tables-managing/#importing-data
The file you import needs to be in a specific location. If you put it there hopefully will then work!

[2022-03-31 17:08] wbrunette commented on #331
@AnshuKumari197, thanks for the inquiry. Unless the issue says it's a "placeholder issue" or "an open issue for multiple people" we generally do not assign multiple people. We are going to give @jmlengineering some time to complete the issue before we even think about re-assigning.

[2022-03-31 17:46] nuilewis commented on #338
Hello, I am done with the video, I decided to make it a 16:9 aspect ratio and added additional text to make it easier to follow along, with some music. I was wondering what's the best way to send the video for review?, would a link on Google Drive work?

[2022-03-31 17:49] elmps2018 commented on #338
Hi @nuilewis! A google drive link is great! I am not sure about including music -- there may be copyright issues.

[2022-03-31 17:57] nuilewis commented on #338
I made sure to use royalty-free music, so I don't think copyrights will be an issue

[2022-03-31 18:12] nuilewis commented on #338
https://drive.google.com/file/d/1bDCfBwBRmxC4bjPb_tE3ynomvkRtlxzW/view?usp=sharing
Here is the link to the file.

[2022-03-31 18:13] nuilewis commented on #338
I'll be waiting for your feedback, please. Thanks!

[2022-03-31 18:34] elmps2018 commented on #344
Hi @sanyud24 thanks for working on this! It looks super close, I am just going to ask @matt9j or @wbrunette to check on the technical details! I did notice adding an entry directly rather than a child at the start and group #507

[2022-03-31 18:53] elmps2018 commented on #338
Hi @nuilewis! This looks good! If you can just add one detail, to point out that the data are in the table_id.csv file (and that the other two are the table properties and definitions) that would be great! Then I think it's set.

[2022-03-31 18:58] nuilewis commented on #338
alright

[2022-03-31 19:19] sanyud24 commented on #213
@wbrunette may I work on this issue?

[2022-03-31 19:25] wbrunette commented on #213
@sanyud24 I was reviewing the issues assigned to you and you have several. Some of them are from a while ago. It would be nice if you removed yourself from the ones you are no longer working on. Then I will assign you this issue. Keep your self assigned to ones that you have completed and are under review.

[2022-03-31 19:47] sanyud24 commented on #213
Sure @wbrunette, I've unassigned myself from https://github.com/odk-x/tool-suite-X/issues/154, My PRs are under review in the other 2 issues

[2022-03-31 19:49] wbrunette commented on #213
@sanyud24 I have assigned the issue to you

[2022-03-31 19:50] wbrunette commented on #264
@sanyud24 where is the PR for this one?

[2022-03-31 20:21] sanyud24 commented on #264
@wbrunette This is the PR - https://github.com/odk-x/sync-endpoint-default-setup/pull/28
I'll be reworking on it though, to fix the issues I couldn't before.

[2022-03-31 22:24] permission-error1 commented on #339
@elmps2018 even when I place this file in `**opendatakit folder**` nothing seems working.

Is it working from your side?
cc @wbrunette

[2022-03-31 23:17] elmps2018 commented on #339
@julian55455 it's not just the open data kit folder generally, it's the exact location listed in the directions.

[2022-03-31 23:36] permission-error1 commented on #339
@elmps2018  do you mean something like this `opendatakit/default/config/assets/csv/.csv`?. Because that's what am doing

[2022-03-31 23:52] elmps2018 commented on #339
Yes, except .csv should be tableid.csv where tableid is replaced with the name of the table you are trying to import into.

[2022-04-01 00:30] permission-error1 commented on #346
Hey @elmps2018 @wbrunette . I would like to take on this.
What could be the username and the password. I want to first understand how the graphical user interface works then I could change CLI
 **"Otherwise, please specify an ODK-X Cloud Endpoint username and password with sufficient permissions."**
![Screenshot from 2022-04-01 03-28-40](https://user-images.githubusercontent.com/78744671/161171716

[2022-04-01 00:35] elmps2018 commented on #346
Hi @julian55455! I currently see you assigned to two issues. Are you still working on both? We try not to let applicants take on more than two at the same time just so there are enough to go around.
See here: https://github.com/odk-x/tool-suite-X/issues/345 for info on how to use from a demo server.

[2022-04-01 01:08] permission-error1 commented on #339
Hey @elmps2018  I need your review here https://drive.google.com/file/d/1GVEUMDu6Tc0h47Npj8hfkcQd8j1JdroB/view?usp=sharing

[2022-04-01 01:10] permission-error1 commented on #339
@elmps2018 I think we could change the link of the youtube of this issue to something like https://www.youtube.com/watch?v=jzqu7w4VepM

[2022-04-01 01:15] permission-error1 commented on #346
@elmps2018 Am waiting for your review on this https://github.com/odk-x/tool-suite-X/issues/339
Though an not certain of the other one am assigned to.
Could you point me to it please?
Thanks

[2022-04-01 01:23] elmps2018 commented on #346
You can search for what you are assigned to on the issues queue clicking on assignee and searching (and I am sure there are other ways as well). This issue has you assigned as well https://github.com/odk-x/tool-suite-X/issues/310

[2022-04-01 01:28] #337 closed, assigned to nobody

[2022-04-01 01:28] elmps2018 commented on #337
Duplicate.

[2022-04-01 01:29] elmps2018 commented on #339
Hi @julian55455! Okay, a bit confused here with the different issues! I may have put the wrong link, so fixed that, but did you mean to do the importing one or this one? Your comments were about importing, which is different than zip or share.

[2022-04-01 05:47] permission-error1 commented on #346
@elmps2018 are the screenshots still relevant in #310

[2022-04-01 06:03] permission-error1 commented on #339
@elmps2018 actually I noticed later that the link to youtube was different from the issue description. So I left importing and did what the description of the issue  required How to `Zip and share ODK-X Data` and uploaded a new different video on my drive  https://drive.google.com/file/d/1GVEUMDu6Tc0h47Npj8hfkcQd8j1JdroB/view?usp=sharing

[2022-04-01 08:30] Sukriti-sood commented on #342
@elmps2018 Can I work on this issue?

[2022-04-01 13:13] nuilewis commented on #338
Hello, this is the link for the updated video
https://drive.google.com/file/d/1Cdm-VAYivdTzqM6YVCIzfU-f9pA6G4IL/view?usp=sharing

please have a look whether it's okay, thanks!

[2022-04-01 13:45] permission-error1 commented on #339
@elmps2018  Sorry for confusing you but at first I was mislead by the youtube link of importing

[2022-04-01 17:44] wbrunette commented on #342
@Sukriti-sood I have assigned the issue to you

[2022-04-01 18:05] nuilewis commented on #338
Please use this instead, I made some slight changes

https://drive.google.com/file/d/1fJTbiQ1kqbHTdx07pHsCkqnChBp-e2Ve/view?usp=drivesdk

[2022-04-01 20:00] sanyud24 commented on #344
Sure @elmps2018 I'll fix that

[2022-04-02 00:29] AliceUmeji commented on #316
@wbrunette I have submitted a pull request.

https://github.com/odk-x/docs/pull/214

Thank you.

[2022-04-02 00:55] sanyud24 commented on #344
Hi @elmps2018 , did it with the child entry https://drive.google.com/file/d/1dKzJzQxkhD9wzPxeFhYYhA9KKle3V-qy/view?usp=sharing

[2022-04-02 09:04] shreyavijayvargiya commented on #345
@elmps2018 @wbrunette I downloaded the odk-x suitcase .jar file and proceeded as mentioned in the documentation but I have a few concerns-
1. In the download tab -> I'm getting an error message on the screen but still the CSV files are getting downloaded on my system.
2. Nothing about the update tab or clear tab is mentioned in the documentation.
3. In the clear tab, when I click the delete button

[2022-04-02 10:06] maprehensive opened #348 "FOR OUTREACHY UI UPLIFT PROJECT - Identify accessibility improvements for mobile apps"
The scope of this issue is to identify accessibility improvements for Services, Survey or Tables.

The output of this issue should be a UI design change that improves accessibility in one of the mobile applications (Notify is out of scope for this issue).

There are two parts to this issue:

1. Identify accessibility improvements using Accessibility Scanner app

- Use the Android [Accessibility Sc

[2022-04-02 19:21] dikshamalik2552 commented on #129
Hi @wbrunette, I am working on it. Can you please assign me this issue?

[2022-04-02 20:27] AliceUmeji commented on #223
Hello @wbrunette, @elmps2018 may I work on this issue?

While working on fixing a typo I discovered that the number 5 of 'Working on the Docs' section (first line) simply read 'Finally, you can open an editor of your choice and work on the documentation.' without detailing out the steps needed to accomplish this.

What I mean is that the document should assume that the person reading it is a compl

[2022-04-02 21:53] wbrunette commented on #129
@dikshamalik2552 I have assigned the issue to you

[2022-04-02 22:00] wbrunette commented on #223
Yes you may work on this issue. I think it's probably best to provide a link that others will update over time. Maybe a wikipedia link https://en.wikipedia.org/wiki/Source-code_editor

[2022-04-02 22:21] AliceUmeji commented on #223
Ok @wbrunette, will look into how to do that. Thank you

[2022-04-02 23:18] wbrunette commented on #223
@AliceUmeji  - I should also clarify that what I mean was add a link that points to another website that is constantly being updated over time. (I didn't mean that others would update ODK-X docs; instead, we get to take advantage of the world updating wikipedia).

[2022-04-03 09:44] WaltonG commented on #302
@wbrunette I have pushed the commited the changes. All 41 tests have passed

[2022-04-03 16:17] AliceUmeji commented on #223
Oh @wbrunette you mean I should edit wikipedia and embed its link in ODK-X docs right? Hope this still counts as an Outreachy contribution please

[2022-04-03 17:48] wbrunette commented on #223
Adding a sentence about Code editors and then a link to popular ones count as a contribution.

[2022-04-03 17:49] wbrunette commented on #302
@WaltonG it's good to link the PR you want reviewed to this Issue. NOTE: you need to create a Pull Request for your changes to be reviewed and merge. Check out the Outreachy channel for more information about Pull Requests as I linked instructions and others linked tutorials.

[2022-04-03 19:28] AliceUmeji commented on #223
@wbrunette Ok, thank you. Will let you know when I'm done.

[2022-04-03 20:40] WaltonG commented on #302
@wbrunette I have linked the PR

[2022-04-04 07:43] khushi200701 commented on #348
Hello, I'm interested in working on this. Please assign me this issue :)

[2022-04-04 10:26] wbrunette commented on #348
@khushi200701 I have added you to the issue

[2022-04-04 11:57] khushi200701 commented on #348
Hey, the link for the Accessibility Scanner app is broken, can't access it :/
![image](https://user-images.githubusercontent.com/58480229/161538851-48e32e3c-b485-432c-8292-2a865da343ee.png)

[2022-04-04 12:16] shreyavijayvargiya commented on #348
can i also work on this? will you assign it to me?

[2022-04-04 17:52] wbrunette commented on #348
@shreyavijayvargiya  I have added you

[2022-04-04 18:38] elmps2018 commented on #346
So that issue is to identify screen shots that need to be updated and update them; I am not sure which may still need updating, you would have to review it as part of the issue.

[2022-04-04 18:42] elmps2018 commented on #339
@julian55455 great this is the right content now! Can you do the start slower (show files for longer, for example) and then speed up the compression? You may be able to do this with video editing software (or just cut out the time between 5% and 90% or something).

[2022-04-04 19:12] elmps2018 commented on #338
Hi @nuilewis! Can you just change where it says table_id.csv folder to table_id.csv file? Otherwise looks good.

[2022-04-04 19:32] elmps2018 commented on #345
Hi @shreyavijayvargiya can you send a screen shot of the error message for (1) and explain a bit more about what steps you are taking that lead to the error message?
@wbrunette are there new tabs that need to get documented for (2)
(3) it may not allow you to clear the server (you may not have permissions to clear the demo server). For the video you can just point to it and note what it does rathe

[2022-04-04 20:55] #317 closed, assigned to Sukriti-sood

[2022-04-04 21:22] elmps2018 commented on #344
@sanyud24 great! @wbrunette or @matt9j please check the technical details.

[2022-04-04 21:43] jmlengineering commented on #331
I have lost a link to the resources, is there a how to for setting up the environment?

[2022-04-04 22:08] wbrunette commented on #331
@jmlengineering check the README file.

[2022-04-05 00:05] maprehensive opened #349 "FOR OUTREACHY UI UPLIFT PROJECT - UI improvement: consistent menu items under the ellipsis"
The scope of this issue is to determine a consistent set of menu items under the ellipsis in the mobile app header for Services, Survey and Tables.

By making the menu items consistent, users should be able to more easily learn where certain functions are in an application.

Objectives:
- Provide consistent menu layouts within applications
- Make it easier for users to learn which functions will b

[2022-04-05 00:10] maprehensive commented on #348
@khushi200701 try starting with this link: https://support.google.com/accessibility/android/answer/6376570?hl=en
Perhaps it's a Play Store region issue.

[2022-04-05 06:21] nuilewis commented on #338
okay

[2022-04-05 06:22] nuilewis commented on #338
here's the updated video
https://drive.google.com/file/d/1k4rKtmOlyBXu1wmK6-2ZUqS7lNG-JMK1/view?usp=sharing

[2022-04-05 07:02] kavyarishi19 commented on #349
Kindly assign me this issue

[2022-04-05 09:13] sanyud24 commented on #329
@wbrunette Can I please pick up this issue? It's relevant to the testing Outreachy project so it would give me more exposure to the current test suites.
PS: I don't have any ToDo PRs, they are under-review.

[2022-04-05 10:32] sanyud24 commented on #329
@wbrunette I can see the JARs have been updated in this https://github.com/odk-x/sync-endpoint-web-ui/pull/21 PR.
But the tests are failing since their behavior hasn't been updated with the changing code:
1. ODKUploadClient has been removed: https://github.com/odk-x/sync-endpoint-web-ui/commit/1d6dd8a30f9685123296bff533f796ba13302e08 (existed 5 years ago)
2. TablesControllerAjaxTest: Jackson deser

[2022-04-05 11:30] WaltonG commented on #329
@sanyud24 You may proceed with the issue

[2022-04-05 11:38] wbrunette commented on #349
@kavyarishi19 I have added you to the issue, as a reminder multiple people can work on this issue.

[2022-04-05 11:41] wbrunette commented on #329
@WaltonG and @sanyud24 I have changed the issue to be assigned to @sanyud24

[2022-04-05 15:25] AliceUmeji commented on #349
Can I also be assigned to this issue?

[2022-04-05 19:17] elmps2018 commented on #338
Hi @nuilewis! This looks great, I think the only thing is you had the ODK rather than ODK-X logo at the end. If you just want to delete that part of the video or swap out for the ODK-X logo then all set and I will upload.

[2022-04-05 19:24] nuilewis commented on #338
Okay, I tried to find the ODK-X logo but couldn't find one that was good enough or high res enough for the video so I used the ODK logo. I guess I'll remove the logo then.

[2022-04-06 07:12] matt9j commented on #344
Hi @sanyud24, thanks for your contribution! The users part of the video looks great to me! The groups part is almost set, but is missing the detail that the group names have to have a particular structure. This is the note in the group creation documentation:

[2022-04-06 07:51] sanyud24 commented on #344
Sure @matt9j !! will make the changes.

[2022-04-06 15:27] sanyud24 commented on #344
https://drive.google.com/file/d/1fL5PIGxr-0RlsE1Z3T3kRmMyPT3aZVlq/view?usp=sharing
Did the final changes @matt9j @elmps2018

[2022-04-06 15:40] elmps2018 commented on #344
@matt9j if you can recheck this addressed your comment and let us know that would be great!

[2022-04-07 13:35] #316 closed, assigned to AliceUmeji

[2022-04-08 19:02] nuilewis commented on #338
Hello @elmps2018 I was able to replace the ODK logo with the ODK-X logo, here's the link.

https://drive.google.com/file/d/1kbTrF4L4wMQPbgpvB1M8VuhE6EYpjYae/view?usp=drivesdk

[2022-04-08 20:37] elmps2018 commented on #338
@nuilewis Great, I just uploaded it to our YouTube channel, should be visible soon! Thanks for working on this and make sure to record your contribution.

[2022-04-08 20:45] #338 closed, assigned to nuilewis

[2022-04-08 21:12] nuilewis commented on #338
Okay, thanks!

[2022-04-09 10:37] kavyarishi19 commented on #349
The following changes have been made in the UI of Tables app:
![UIChanges1](https://user-images.githubusercontent.com/78750829/162567190-fff6465f-8443-470a-b0cc-acd1517051ef.jpeg)
The colour of the outline icons have been changed to Dark Blue along with some changes in the icons
The icons used before were
![Screenshot (82)](https://user-images.githubusercontent.com/78750829/162567356-e8ce89ff-b65d

[2022-04-09 14:14] shreyavijayvargiya commented on #345
@elmps2018
![Screenshot (20)](https://user-images.githubusercontent.com/57625355/162577892-829a2f6c-2da0-4e51-85d6-98a8021db443.png)

I get this error message every time I select any of the following- download attachments, apply scan formatting, or extra metadata columns, but still, the CSV files are getting downloaded on my system so I think that the feature is working fine but I don't know why t

[2022-04-10 04:43] kavyarishi19 commented on #349
@maprehensive

@wbrunette

[2022-04-10 07:21] dikshamalik2552 commented on #323
Hi @wbrunette, Can you please assign me this issue

[2022-04-10 09:24] maprehensive commented on #349
@kavyarishi19 Thanks for the contribution, the UI changes are well articulated.

My feedback is to also focus on improvements to consistency and learnability of the menu items that presented on the menu bar and under the ellipsis.

Here's a good reference for the principle: [Ten Usability Heuristics: #4: Consistency and standards](https://www.nngroup.com/articles/ten-usability-heuristics/).

So yo

[2022-04-10 14:53] permission-error1 commented on #339
@elmps2018 does this look any better
 https://drive.google.com/file/d/1k1ShuSq6fMUnXcyLB6TeSvmSqAelG_ms/view?usp=sharing

[2022-04-10 18:52] wbrunette commented on #323
@dikshamalik2552 I have assigned the issue to you

[2022-04-10 20:16] wbrunette commented on #302
Closed by https://github.com/odk-x/androidlibrary/pull/229

[2022-04-10 20:16] #302 closed, assigned to WaltonG

[2022-04-11 11:25] AliceUmeji commented on #223
@wbrunette, during my research I found that you can edit directly in github. I believe this is easier and more straight forward. Please is there a reason why you don't use this method? or should I include this method instead? It can be added as a tip.

[2022-04-11 13:11] shreyavijayvargiya commented on #348
@maprehensive @wbrunette
I made some improvements in the login_fragment of the services app. Please check it and give some feedback if any.

![IMG_20220411_181423](https://user-images.githubusercontent.com/57625355/162746315-b78f2d38-aac0-482a-9db0-1521d34d278f.jpg)

This is the login_fragment of the services app. The accessibility scanner app gave me a few suggestions for this screen-
1. It sugge

[2022-04-11 16:22] elmps2018 commented on #345
Hi @shreyavijayvargiya! I am not sure what the problem is either, can you maybe create an issue with this error? If you want to do the video without selecting those options and just highlight that you can select them if you want, that would work.

[2022-04-11 16:31] wbrunette commented on #223
@AliceUmeji We do mention this method (maybe not in the contribution guide) so feel free to add it as a tip. The problem is that you do not get the errors you need to fix without running it locally. So it's only helpful for minor changes. With regards to Outreachy one of the reasons we do documentation as starting contribution is because the applicant is demonstrating skills using various tools. C

[2022-04-11 21:57] sanskruti-shahu commented on #348
Hey @wbrunette , I am interested please assign me this issue under Outreachy.

[2022-04-11 22:25] wbrunette commented on #348
@sanskruti-shahu I have added you

[2022-04-12 13:59] maprehensive commented on #348
@shreyavijayvargiya Thanks for the contribution - looking good!

Here are some suggestions for going deeper on this:

- follow up on the Item label issue with the form fields
- Consider whether the blended background creates low visual contrast in parts of the button
- Is there an improvement that could be added to the style guide as a result of your changes?

Thanks!
Ben

[2022-04-12 15:00] dikshamalik2552 commented on #129
Thank you, @wbrunette. I have opened a PR for this task here https://github.com/odk-x/tables/pull/201

[2022-04-12 16:46] Ndacyayisenga-droid commented on #339
@elmps2018

[2022-04-12 17:07] elmps2018 commented on #339
@julian55455 looks great! I'll upload to YouTube channel next. Thanks! Make sure to record your contribution!

[2022-04-12 17:07] #339 closed, assigned to julian55455

[2022-04-12 18:10] dikshamalik2552 commented on #209
Hi @wbrunette, Can you please assign me this issue

[2022-04-12 18:22] wbrunette commented on #209
@dikshamalik2552 I have assigned the issue to you

[2022-04-13 04:52] nuilewis commented on #348
Hello, please I would like to work on this issue for Outreachy

[2022-04-13 04:54] wbrunette commented on #348
@nuilewis I have added you

[2022-04-13 05:00] nuilewis commented on #348
okay, thanks.

[2022-04-13 21:40] jesse5555 commented on #343
hello @elmps2018
I kindly request to be assigned this.  However, i lack a valid credit card for opening up a AWS account for now.  Is there any alternative or i should just look for any other issue.

[2022-04-13 21:46] elmps2018 commented on #343
hi @jesse5555! I am not sure if you can do AWS without a credit card (is it required even for the free tier)? If not, you can request for another issue.

[2022-04-13 21:47] jesse5555 commented on #343
i have been able to login so i think a credit card ain't that much of a mandate
hope i am not face no restrictions

[2022-04-13 21:48] jesse5555 commented on #343
i will keep you posted if i have privileges

thanks for the quick response  @elmps2018

[2022-04-13 21:52] jesse5555 commented on #343
Hey @elmps2018
i guess i am locked out :laughing:
they are requesting me for a credit card to verify the account on querying and clicking the EC2 link

I will look for another-one shortly.

Thank you so much @elmps2018