[2022-04-13 21:56] jesse5555 commented on #340
hey @elmps2018
I kindly request to be assigned this

[2022-04-13 21:57] elmps2018 commented on #340
@jesse5555 just assigned you now! Let us know any questions.

[2022-04-14 00:00] matt9j commented on #344
That looks great! Thanks for y'alls patience with a late reply!

[2022-04-14 09:40] sanskruti-shahu opened #350 "Unable to import CSV file in ODK-X Tables"
I am finding it difficult to import a csv file in odk-x tables app. I tried many way still it was showing the same error message "Import file must reside in opendatakit folder". My Phone model is RMX2170 and Android version is 11. Below is screenshot of the error message.
![Screenshot_2022-04-12-21-32-59-66_a305c8886056dfccf05fd1acad510506](https://user-images.githubusercontent.com/76054960/163358

[2022-04-14 10:13] aasthaa-007 commented on #348
Hey @wbrunette can I work on this issue?

[2022-04-14 11:22] jesse5555 opened #351 "(broken link) see example installation on Ubuntu link, points to the repo's github main page"
while trying to [build]( https://github.com/odk-x/sync-endpoint-default-setup#build) the [sync-endpoint-default-setup]( https://github.com/odk-x/sync-endpoint-default-setup) repo,  using Ubuntu seams to be a much easier but its link just does nothing and opens the repo's main page on opening in a new browser.

Below is a simple video for this.

https://user-images.githubusercontent.com/99703219/16

[2022-04-14 11:27] jesse5555 commented on #351
hello @matt9j @elmps2018
If this issue makes sense, i kindly request it to be assigned to me

[2022-04-14 11:31] jesse5555 commented on #351
If you don't mind, you can also add **simple** and **docs** label or its equivalent showing that the fix is a one-line patch in docs
Thank you

[2022-04-14 13:10] niyolynate commented on #348
Am interested in working on this issue. please assign me under Outreachy.

[2022-04-14 15:23] wbrunette commented on #348
@aasthaa-007 and @niyolynate I have added you to the issue

[2022-04-14 15:34] elmps2018 commented on #351
@jesse5555 assigned to you, if you can fix the link that's great!

[2022-04-14 15:41] elmps2018 commented on #344
@matt9j thanks! @sanyud24 I'll get this added to YouTube next, thanks for working on this!

[2022-04-14 15:41] #344 closed, assigned to sanyud24

[2022-04-15 02:10] nuilewis commented on #348
Hello,
I started working on the design for the Services app. the main feedback I got from the Accessibility Scanner was a lack of contrast between the different elements.
So I tried to address that with the design. I cleaned up some of the screens and tried to improve the contrast of the different elements.
I also tried to make some of the pages a bit clearer, and more user friendly, especially fo

[2022-04-16 11:57] mustafaali10 commented on #336
I am supposed to produce a video where we delete all the ODK-X Data using Google Files instead of OI File Manager.

Did I get it right @elmps2018 Ma'am ? And if yes I would like to work on it !

[2022-04-17 06:38] jesse5555 commented on #351
hey @elmps2018 I kindly request for a review from you.

[2022-04-17 12:18] #351 closed, assigned to jesse5555

[2022-04-18 09:51] sanyud24 commented on #350
Hi @sanskruti-shahu, there's a guide on how to upload [here](https://docs.odk-x.org/tables-managing/)

[2022-04-18 17:12] elmps2018 commented on #336
Hi @mustafaali10! Yes, you have the right idea! I just assigned you to this issue! Let us know if you have any questions while working away.

[2022-04-19 00:48] niyolynate commented on #348
Have tried with Eclipse. after multiple times failing with Android. #first-time issues. but continuing to try.
![Welcome](https://user-images.githubusercontent.com/98440370/163898564-f77e6734-ffc2-4323-9bba-0b904ef1b342.png)
 Still on rough view while taking time to try again with android. Network related issues.
![w2](https://user-images.githubusercontent.com/98440370/163899416-5c2d46f8-80f5-4fbf

[2022-04-19 02:51] maprehensive commented on #348
@nuilewis This is very clearly laid out, with some good ideas for improving the legibility of the interface. Nice work.

For the colors, did you consider the colors in the Design Guidelines?
https://docs.google.com/presentation/d/1QfeE20gnWU9HFWkgSo5aaFMsTItNtQbRqXPu0ZqmeH0/

It is acceptable to suggest improvements to the colors in the Guidelines, but you should have a rationale, and note that th

[2022-04-19 02:52] maprehensive commented on #348
@niyolynate Is the issue that you're unable to download Android Studio due to network problems?

[2022-04-19 05:53] nuilewis commented on #348
Thank you for the feedback. When designing I did not have access to the Style Guide, I was unable to find the link so I could not get the proper colours.

[2022-04-19 18:05] AliceUmeji commented on #349
Can I work on this issue @maprehensive?

[2022-04-19 19:52] #330 closed, assigned to vkamunya

[2022-04-19 23:02] wbrunette commented on #349
@AliceUmeji I have added you to the issue, as a reminder multiple people can work on this issue.

[2022-04-20 00:53] shreyavijayvargiya commented on #348
Hey @maprehensive, Thanks for your feedback. I worked on it and made a few changes to the UI-
1. I removed the TextFields and used only the android:hint in EditTextFields as it solves the purpose and saves space.
2.  You were right, the color that I chose earlier wasn't fitting so I took a color that's two shades lighter than the one provided in the style guide from the material design color palet

[2022-04-20 04:08] khushi200701 commented on #348
Hey, I would like to make a small suggestion here, hope you don't mind.

For the first screen, where you removed text labels and added placeholder
text instead, it's not a good UX practice, that's because when someone
starts typing in the text box, the placeholder text disappears and if the
user gets distracted for a second, they wouldn't remember what they were
typing.
I'm sure you'll find some a

[2022-04-20 12:04] maprehensive commented on #348
@shreyavijayvargiya
Thanks for iterating on your contribution, some good improvements there.

For the headings, I think that having contrast between the text field and the labels, or headings and text, is very important for legibility. You're achieving this by bolding the headings.

[2022-04-20 13:03] khushi200701 commented on #348
@maprehensive I have not posted my design improvements here, instead just directly put them in my proposal.
Should i put them here as well?

[2022-04-20 13:45] maprehensive commented on #348
@khushi200701 Yes please! then you can reference this issue in your application. It's part of the Outreachy requirements.

[2022-04-21 08:33] khushi200701 commented on #348
Hi,
Here are the changes I made for **SURVEY:**
<br/>

![image](https://user-images.githubusercontent.com/58480229/164413107-23aa05f8-b75d-4aff-b262-82e4f86da6ff.png)

Changes made:

- Increased whitespace to give the design some breathing room
  - Left and right padding
  - Padding above and below the heading
- Gave a light blue background color to the heading to distinguish it from the rest of t

[2022-04-21 08:41] khushi200701 commented on #348
Here are the changes I made for **SERVICES:**

![image](https://user-images.githubusercontent.com/58480229/164414651-4b100588-b90a-46ce-a93d-f27a2185370d.png)

Changes made:

- Increased whitespace to give the design some breathing room
  - Left and right padding
  - Padding above and below the headings and text
- Made the text a darker colour to fix the text contrast issue (but not a jet black as

[2022-04-21 13:31] khushi200701 commented on #348
![image](https://user-images.githubusercontent.com/58480229/164467519-dff67372-fa6a-4292-93cf-f7642c44b083.png)

For the **Tables** app, I figured out some issues which I wasn't able to solve through Android studio because the Tables app gets the data from the organization and not ODK.

So, for this, we can focus on making basic changes like improving text contrast, white space, visual hierarchy,

[2022-04-21 20:12] mustafaali10 commented on #336
@elmps2018 Ma'am it's done!  Sorry for taking a while as I wasn't well the past days.

Here's the video : https://drive.google.com/file/d/1UlY6eO6E9e6y0-qGywpskQqaxWWNRbVC/view?usp=sharing

I request you to have a look and let me know any changes to be made !

Thanks.

[2022-04-21 21:52] wbrunette opened #352 "Add documentation about ODK-X's url scheme"
Write documentation about how the URLs are constructed.

[2022-04-22 10:31] niyolynate commented on #348
@maprehensive yes please i have failed totally tried all but nothing. so i tried with eclipse, after multiple times of failure to an issue i had been assigned to.
if anyone could help will appreciate it.
i live in a remote area to network coverage
 and i think also my coding skills are not so good.
![ODK - X](https://user-images.githubusercontent.com/98440370/164694538-ca7522ea-6c3a-47dc-8e5b-34ca

[2022-04-22 10:50] niyolynate commented on #348
Yes. i have downloaded multiple times, and the last time it brought me C++,  Kotlin Instead of Java.

[2022-04-22 13:44] aasthaa-007 commented on #348
Here is one of the issues which I got from the Accessibility Scanner App
In this issue, I fixed the size of the field to make them more readable to the user

![screenshot_ODK-X Services_2022-04-14-16_04_03](https://user-images.githubusercontent.com/70707726/164721533-9463b15f-8619-460a-9007-557f4d57a9e3.png)

Below are the changes made to resolve the issue,

![image](https://user-images.githubuser

[2022-04-22 16:10] elmps2018 commented on #336
@mustafaali10 thanks this looks good! I'll upload it to Youtube next.

[2022-04-22 16:10] #336 closed, assigned to mustafaali10

[2022-04-22 18:54] mustafaali10 commented on #336
Thanks @elmps2018 Ma'am ! 👍😄

[2022-04-28 23:11] AliceUmeji commented on #349
Here is my submission. Thank you.
https://docs.google.com/document/d/1I5Zhl8wBDzLztbvX17fc7qBh5J9ZqGxQA10rCcb8qRc/edit?usp=sharing

[2022-04-28 23:13] AliceUmeji commented on #349
Quick question @wbrunette, @maprehensive and Caroline please. I'd like to keep working on this project. Do I continue redesigning or should I focus on the issues instead? Thank you.

[2022-05-10 14:36] #147 closed

[2022-05-10 20:04] wbrunette opened #353 "Updating a single file with Suitcase"
FROM Forum:

Thanks, I tried just that, but I am still unable to do this. I tried using CLI and this is the error I get -
Error: Unable to reach Cloud Endpoint server.
javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

The

[2022-05-15 16:31] aasthaa-007 commented on #352
Hi! @wbrunette may I work on this issue?

[2022-05-16 20:39] wbrunette commented on #352
@aasthaa-007 you are welcome to work on this if you know what the ODK-X URL scheme is.

[2022-05-17 05:38] shreyavijayvargiya commented on #345
@elmps2018 Here's the drive link for the video. Please check once.
https://drive.google.com/file/d/1Z--MceQOE0rWe2HUWkOenMf3SpJ1gIAV/view?usp=sharing

[2022-05-17 06:01] shreyavijayvargiya opened #354 "odk-x_Suitcase- Error in downloading tables csv"
I'm attaching the screen recording here of the error message I'm getting in downloading the files in odk-x_suitcase.
https://drive.google.com/file/d/11bulGC-Yb6m4Z0Xq_KIcyRmlv5RY8bvv/view?usp=sharing

[2022-05-17 16:10] elmps2018 commented on #345
Hi @shreyavijayvargiya! Thanks for working on this! I think you can skip the installation step (which will also be confusing because there will be newer versions than 2.1.9). Starting with the Suitcase interface the demo video is helpful! If you can trim the video to be just that it would be great.

[2022-05-17 17:53] wbrunette commented on #354
@shreyavijayvargiya thank you for providing the video, it's very helpful. My first question is why are you applying "Scan formatting" to a non-Scan enabled form?

[2022-05-19 12:01] shreyavijayvargiya commented on #354
@wbrunette can you please tell me how to differentiate between which is a scan-enabled form and which one is not?
Rest I think I understand now why I'm getting this error message. Thanks!

[2022-05-19 13:17] shreyavijayvargiya commented on #345
@elmps2018 Please check the updated link-
https://drive.google.com/file/d/1K0iJcPS0K_89_LdGymjs50-R4cO-4im7/view?usp=sharing

[2022-05-19 14:33] elmps2018 commented on #345
Great thanks @shreyavijayvargiya I'll upload it to the Youtube next!

[2022-05-19 14:33] #345 closed, assigned to shreyavijayvargiya

[2022-05-19 19:39] wbrunette commented on #354
Check out: https://docs.odk-x.org/scan-intro/

[2022-05-20 00:50] #354 closed, assigned to nobody

[2022-06-07 13:47] maprehensive opened #355 "Refresh the ODK-X logo"
The current ODK-X logo can be difficult to use in different contexts and at smaller sizes. This is partly due to use of multiple colours, shading, outlining and crowding of the letters.

The logo could be modernised and improved by simplifying the existing logo, changing use of colours, or by evolving the logo through bigger changes.

The updated logo should maintain the use of the brand colors:
h

[2022-06-07 13:56] maprehensive opened #356 "Refresh mobile app icons"
The current mobile app icons are not branded ODK-X, and do not clearly communicate the core app function.

This task is to redesign the app icons to be:

- Recognisable as applications in the ODK-X suite of tools
- Ideally incorporating the ODK-X logo (note this issue for Logo refresh https://github.com/odk-x/tool-suite-X/issues/355)
- can be distinguished as Services, Survey or Tables without acc

[2022-08-30 15:00] maprehensive commented on #349
This issue will be closed as the Outreachy applications have concluded.

[2022-08-30 15:00] #349 closed, assigned to kavyarishi19, AliceUmeji

[2022-08-30 15:03] maprehensive commented on #348
This issue will be closed as the Outreachy applications have concluded.

[2022-08-30 15:03] #348 closed, assigned to shreyavijayvargiya, khushi200701, aasthaa-007, nuilewis, sanskruti-shahu, niyolynate

[2022-09-13 20:25] ravamo commented on #355
Hi folks,
attached is the first draft. For now, we copy the initial ideas.
![logo_odk-x](https://user-images.githubusercontent.com/47725050/190002265-026c83a4-12fb-4655-9a1e-cbd8d8bf2b3b.png)

[2022-10-01 04:08] maprehensive commented on #355
Hi Rafa and team,
Thanks for picking this up. We discussed in PMC this week and had some suggestions for the next iteration:

**The color versions are preferred, but with some changes to the colors and how they're used**

- Align with colours from style guide
- Updated Style Guide link: https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/
- Mix up colours on letters

[2022-10-01 05:38] maprehensive opened #357 "ODK-X Tables - Menu navigation UI improvement"
The ODK-X Tables mobile application has multiple menu navigation states, depending on where the user is in the application.

The menu navigation is a mix of icons and text items under the ellipsis menu. The mix changes on different screens:

![Screenshot_Tables01](https://user-images.githubusercontent.com/1215441/193394083-2116341e-8e79-4573-b1ed-07246fe838e9.png)
![Screenshot_Tables02](https://us

[2022-10-01 05:46] maprehensive opened #358 "ODK-X Services - Menu navigation UI improvement"
The ODK-X Services mobile app has multiple menu navigation states, depending on where the user is in the application.

The menu navigation is a mix of icons and text items under the ellipsis menu. The mix changes on different screens:

![Screenshot_Services01](https://user-images.githubusercontent.com/1215441/193394603-04354027-4001-4021-8905-cfa07126a406.png)
![Screenshot_Services02](https://user

[2022-10-01 06:01] maprehensive opened #359 "Redesign form navigation for ODK-X Survey"
The navigation between forms pages in ODK-X Survey is not well presented, and does not fit long form names well.

![Screen Shot 2022-10-01 at 13 52 27](https://user-images.githubusercontent.com/1215441/193394850-4cff4f80-f947-4999-aa98-83e9f504a589.png)

## Why this needs to be improved:
- Long form names do not fit in the button
- The layout 'breaks' on some devices
- The design can be updated in

[2022-10-01 06:11] maprehensive opened #360 "ODK-X Survey - Menu navigation UI improvement"
The ODK-X Survey mobile app has a mix of icons and text items under the ellipsis menu

![Screenshot_Survey01](https://user-images.githubusercontent.com/1215441/193395264-e732f43b-e24d-4566-873f-8dd00840a85d.png)

## Why this needs to be improved:
- icons do not currently communicate the function they link to. The function needs to be learned by the user.

## Objectives:
- Limit icon use to functio

[2022-10-01 10:49] maprehensive commented on #356
Will be separated into separate issues for different apps.

[2022-10-01 10:49] #356 closed, assigned to nobody

[2022-10-01 10:52] maprehensive opened #361 "Redesign the ODK-X Tables app icon"
The current Tables app icon is not branded ODK-X, and do not clearly communicate the core app function.

![Screenshot_Tables01](https://user-images.githubusercontent.com/1215441/193406111-f3c4a92f-53c5-4c2c-8b9e-7a8ebab102fe.png)

This task is to redesign the app icon to be:

- Recognisable as applications in the ODK-X suite of tools
- Ideally incorporating the ODK-X logo (note this issue for Logo

[2022-10-01 10:54] maprehensive opened #362 "Redesign the ODK-X Survey app icon"
The current Survey app icon is not branded ODK-X, and do not clearly communicate the core app function.

![Screenshot_Survey01](https://user-images.githubusercontent.com/1215441/193406186-7847d81d-d74b-47be-ae1d-77b042eb5bce.png)

This task is to redesign the app icon to be:

- Recognisable as applications in the ODK-X suite of tools
- Ideally incorporating the ODK-X logo (note this issue for Logo

[2022-10-01 10:55] maprehensive opened #363 "Redesign the ODK-X Services app icon"
The current Services app icon is not branded ODK-X, and do not clearly communicate the core app function.

![Screenshot_Services03](https://user-images.githubusercontent.com/1215441/193406246-01dbbe03-1084-4e17-8787-0aaf2c2116d8.png)

This task is to redesign the app icon to be:

- Recognisable as applications in the ODK-X suite of tools
- Ideally incorporating the ODK-X logo (note this issue for

[2022-10-02 01:25] maprehensive opened #364 "ODK-X Tables - set the status bar color"
Set the color of the app status bar to match the app background color in ODK-X Tables.

![Screen Shot 2022-10-02 at 09 40 09](https://user-images.githubusercontent.com/1215441/193434269-1f02dc49-89ab-4edb-8a82-23682beeb370.png)
_Example of the default status bar color (left) and status bar color changed to match the app background (right)_

## Why this needs to be improved:
- the menu bar in the a

[2022-10-02 01:45] maprehensive opened #365 "ODK-X Survey - Set the status bar color"
Set the color of the app status bar to match the app background color in ODK-X Survey.

![Screen Shot 2022-10-02 at 09 40 09](https://user-images.githubusercontent.com/1215441/193434269-1f02dc49-89ab-4edb-8a82-23682beeb370.png)
_Example of the default status bar color (left) and status bar color changed to match the app background (right)_

## Why this needs to be improved:
- the menu bar in the a

[2022-10-02 01:46] maprehensive opened #366 "ODK-X Services - Set the status bar color"
Set the color of the app status bar to match the app background color in ODK-X Services.

![Screen Shot 2022-10-02 at 09 40 09](https://user-images.githubusercontent.com/1215441/193434269-1f02dc49-89ab-4edb-8a82-23682beeb370.png)
_Example of the default status bar color (left) and status bar color changed to match the app background (right)_

## Why this needs to be improved:
- the menu bar in the

[2022-10-02 02:39] maprehensive opened #367 "ODK-X Tables - implement dark and light themes"
This issue is to enable and configure dark and light themes for ODK-X Tables

https://developer.android.com/develop/ui/views/theming/darktheme

## Design Guidelines:
Colors for a dark theme have been specified in the [ODK-X Design Guidelines](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/)

## Outreachy
This issue can be used for an Outreachy application for t

[2022-10-02 02:40] maprehensive opened #368 "ODK-X Survey - implement dark and light themes"
This issue is to enable and configure dark and light themes for ODK-X Survey

https://developer.android.com/develop/ui/views/theming/darktheme

## Design Guidelines:
Colors for a dark theme have been specified in the [ODK-X Design Guidelines](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/)

[2022-10-02 02:41] maprehensive opened #369 "ODK-X Services - implement dark and light themes"
This issue is to enable and configure dark and light themes for ODK-X Services

https://developer.android.com/develop/ui/views/theming/darktheme

## Design Guidelines:
Colors for a dark theme have been specified in the [ODK-X Design Guidelines](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/)

[2022-10-02 02:52] maprehensive opened #370 "ODK-X Survey - implement layout improvements on Form Home Screen"
The Home Screen for a form in Survey shows the details for a particular form, and all current instances of that form.

This screen has been redesigned, with spacing and colors updated to improve the user interface.

This issue is to implement the user interface changes specific in the [ODK-X Design Guidelines](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/)

#

[2022-10-03 10:37] ravamo commented on #355
Hi @maprehensive ,
Thanks for your feedback . Let me check the availability of the volunteers because part of them has a mission and I don't know if they have time for this now. But let me check.

[2022-10-03 16:34] wbrunette commented on #370
This UI is being rendered in a WebKit on Android. This UI is NOT part of the native Android UI, instead, it is part of ODK-X that is rendered as a webpage. This UI source code is in the Application Designer source tree.

[2022-10-03 16:37] wbrunette commented on #370
This is going to take coordination to allow the UI to change form light to dark

[2022-10-03 16:51] wbrunette commented on #367
@maprehensive can you be more specific what you are looking for here? The only UI in tables is the top bar and the menus associated, the rest of the UI is created by users as custom web pages.

[2022-10-03 16:56] wbrunette commented on #368
The in Survey the form selection screen and the top bar and the menus associated, the rest of the UI is created by ODK-X JavaScript rendering system so it's a series of  web pages. This means the majority of the UI is being rendered in a WebKit on Android. The question UI source code is in the Application Designer source tree.

[2022-10-08 16:56] Redeem-Grimm-Satoshi commented on #366
@maprehensive can I work on this task?

[2022-10-08 17:45] Redeem-Grimm-Satoshi commented on #365
@maprehensive can I work on this?

[2022-10-08 17:46] Redeem-Grimm-Satoshi commented on #364
@maprehensive can I work on this?

[2022-10-08 18:21] salmasabo commented on #364
I would like to work on this issue

[2022-10-08 21:15] Praise-Ugwum commented on #360
Hi Ben

I'd love to be assigned to this issue.

Kind regards.

[2022-10-08 23:23] phelisa1 commented on #366
@maprehensive I would love to work on this task. May I please get permission to work on it?

[2022-10-08 23:26] phelisa1 commented on #360
Hi there @maprehensive may I please work on this issue?

[2022-10-08 23:29] phelisa1 commented on #359
Hello again @maprehensive, may I please work on this issue?

[2022-10-08 23:29] kryptosjay commented on #366
I would love to work on this project if i will be granted access to the task, thank you

[2022-10-09 00:23] Iceey01 commented on #357
Hello @wbrunette
Can I be assigned to this

[2022-10-09 01:11] BlueSkiez-dev commented on #332
Hi, I would like to work on this issue

[2022-10-09 01:14] BlueSkiez-dev commented on #331
Hi, I would like to work on this issue

[2022-10-09 01:16] BlueSkiez-dev commented on #358
Hi @wbrunette I would like to work on this issue

[2022-10-09 01:18] BlueSkiez-dev commented on #369
Hi @maprehensive I'd like to work on this issue

[2022-10-09 01:40] maprehensive commented on #365
@Redeem-Grimm-Satoshi Yes! I've assigned you. Thanks!

[2022-10-09 01:41] maprehensive commented on #366
@Redeem-Grimm-Satoshi since I've assigned you to https://github.com/odk-x/tool-suite-X/issues/365 I will assign this to the next requester.

@phelisa1 Thanks! You are assigned to this issue.

[2022-10-09 01:42] maprehensive commented on #364
@Redeem-Grimm-Satoshi since I've assigned you to https://github.com/odk-x/tool-suite-X/issues/365 I will assign this to the next requester.

@salmasabo Thanks! You are assigned to this issue.

[2022-10-09 01:44] maprehensive commented on #366
@kryptosjay I've assigned you to this issue. Thanks!

[2022-10-09 01:45] maprehensive commented on #357
@Iceey01 You are assigned to this issue. Thanks!

[2022-10-09 01:47] maprehensive commented on #358
@BlueSkiez-dev You're assigned. Thanks!

[2022-10-09 01:49] maprehensive commented on #359
@phelisa1 Yes, but I'll assign after you've completed https://github.com/odk-x/tool-suite-X/issues/366. Thanks :)

[2022-10-09 03:44] cvemann commented on #369
Hello @maprehensive
This sounds interesting, and also for accessibility issues. Can I design the dark theme while @BlueSkiez-dev implements it?

[2022-10-09 03:50] cvemann commented on #360
I'd love to jump on this @maprehensive

Also, where can we see the full application?

[2022-10-09 03:51] harloma commented on #223
I would like to work on this issue, can I get assigned to this

[2022-10-09 03:53] cvemann commented on #331
If this is still open, I'd also like to jump on it

[2022-10-09 03:55] cvemann commented on #363
I'd like to try my hands on this @maprehensive

[2022-10-09 03:57] cvemann commented on #359
Same here @maprehensive since multiple people can work on this issue.

[2022-10-09 05:02] cvemann commented on #368
I'd love to convert the light theme of the ODK-X Survey app into a dark theme for each of the benefits listed by @maprehensive

[2022-10-09 05:03] cvemann commented on #367
I'd love to work on this too @maprehensive

[2022-10-09 05:06] cvemann commented on #332
Is this issue open to simultaneous people? If yes, I'd also like to work on it to improve it's UX @maprehensive

[2022-10-09 05:11] cvemann commented on #357
Since multiple people can work on it simultaneously, @maprehensive can I join @Iceey01 to work on it?

[2022-10-09 07:16] EvelyneMwende commented on #367
Hi @maprehensive. Can i work on this issue?

[2022-10-09 08:02] EQua-Dev commented on #360
Hello, please I would like to work on this issue @maprehensive

[2022-10-09 08:29] EQua-Dev commented on #359
Hi @maprehensive, please can I be assigned this task?

[2022-10-09 08:30] EQua-Dev commented on #358
Hi @maprehensive, please can I be assigned this task?

[2022-10-09 08:32] EQua-Dev commented on #357
Hi @maprehensive, please can I be assigned this task?

[2022-10-09 09:41] Iceey01 commented on #357
Thank you @maprehensive

[2022-10-09 11:50] permission-error1 commented on #363
Hi @maprehensive @wbrunette @elmps2018.... Can you assign this to me please

[2022-10-09 12:44] permission-error1 commented on #363
@maprehensive @elmps @wbrunette  can you take a review at this!

![odklogo2](https://user-images.githubusercontent.com/78744671/194757295-4f663fb2-f193-41d6-88a9-06da5260aaa3.png)

[2022-10-09 14:40] BlueSkiez-dev commented on #358
@maprehensive Proposed redesign for Issue #360
![ezgif-5-b4c8b35d2d](https://user-images.githubusercontent.com/67054844/194762862-c6efc7a8-8f24-408c-86f5-788926afa43a.gif)

The decisions influencing the design and the details of the redesign are as follows:
<img width="863" alt="Frame 12" src="https://user-images.githubusercontent.com/67054844/194762915-f459c696-e889-45fc-b8b4-82ecf8129f7b.png">
<

[2022-10-09 16:30] Augusta2 commented on #364
Hello, I will love to work on this.

[2022-10-09 16:39] Augusta2 commented on #360
Hello @maprehensive I will be delighted to work on this project.

[2022-10-09 16:45] Augusta2 commented on #366
Hello @maprehensive I would love to work on this issue

[2022-10-09 16:47] Augusta2 commented on #359
Hello @maprehensive  Can I work on this task?

[2022-10-09 16:51] Augusta2 commented on #331
Hello @wbrunette, can I work on this issue?

[2022-10-09 16:54] Augusta2 commented on #309
Hello Can I work on this issue

[2022-10-09 18:10] Redeem-Grimm-Satoshi commented on #365
@maprehensive I just sent a pull request to fix this issue https://github.com/odk-x/androidlibrary/pull/231

[2022-10-09 22:58] Praise-Ugwum commented on #360
Hi @maprehensive, I'd love to work on this issue.

[2022-10-09 23:34] Karimatu05 commented on #360
Hello, i would love to contribute in this project.

[2022-10-09 23:36] Karimatu05 commented on #360
Hi, i would love to contribute on this project @maprehensive

[2022-10-10 00:06] Karimatu05 commented on #362
Hi, am Outreachy applicant. I would love to work on this please @maprehensive

[2022-10-10 00:23] Pamela-owino commented on #359
Hello @maprehensive, can I please work on this issue?

[2022-10-10 00:28] Pamela-owino commented on #361
Hi @maprehensive , can I please be assigned to this task?

[2022-10-10 00:29] Pamela-owino commented on #360
Hello, @maprehensive , I would love to contribute to this issue.

[2022-10-10 00:36] Karimatu05 commented on #365
Hi, i would love to work on this @maprehensive

[2022-10-10 00:44] Pamela-owino commented on #364
Hello @maprehensive , can I be assigned to this issue?

[2022-10-10 04:29] Moonp1e7 commented on #365
Hello @maprehensive , I would love to work on this task. May I get permission to do it?

[2022-10-10 05:30] cvemann commented on #359
Hello @maprehensive

This is the redesign that improves on the issues above.

<img width="434" alt="Navigation Form" src="https://user-images.githubusercontent.com/80982139/194803633-3ad0d23b-bff8-44a6-a9bc-237fc2bc3d92.png">

Here are my reasons for this redesign:

- I used ellipsis to hide the remaining characters in long form names.
- I also used the tint blue hue #E7EEF6 has the background for

[2022-10-10 06:00] wadva474 commented on #74
@wbrunette , i would like to work on this issue. can you please assign to me?

[2022-10-10 07:06] permission-error1 commented on #358
Hi @maprehensive i would like to work on this

[2022-10-10 07:17] Redeem-Grimm-Satoshi commented on #362
@maprehensive sent a PR for the first issue, Can I draft out different versions of this ODK-X Survey App Icon?

[2022-10-10 07:54] maprehensive commented on #362
Yes, that's a good way to approach this task. We will then provide feedback on the designs and you can iterate again.

[2022-10-10 07:54] maprehensive commented on #362
Sure thing @Karimatu05 , I will assign you.

[2022-10-10 07:57] maprehensive commented on #358
@EQua-Dev you're assigned. Thanks!

[2022-10-10 07:57] maprehensive commented on #358
@julian55455 you're assigned. Thanks!

[2022-10-10 08:07] maprehensive commented on #358
@BlueSkiez-dev That's a great proposal, very nicely articulated.

The consistency and simplicity is good. One thing to consider is whether there are any screens that Sync function should not be available from?

[2022-10-10 08:10] maprehensive commented on #359
@Augusta2 and @Pamela-owino you're assigned. Thank you!

[2022-10-10 08:15] maprehensive commented on #365
@Karimatu05 and @Moonp1e7 - you're assigned. Thank you :)

[2022-10-10 08:21] Redeem-Grimm-Satoshi commented on #365
@maprehensive Please did you check the PR?

[2022-10-10 08:21] maprehensive commented on #363
@julian55455 @Cveman1 you're assigned. Thanks :)

[2022-10-10 08:24] maprehensive commented on #363
@julian55455 That's a good start!

My suggestions:
- review at small sizes
- try some variations on the blue cloud – I don't think it does a good job of communicating the function of the app
- write some explanation of your design decisions with the next iteration

Good job - keep going!

[2022-10-10 08:25] maprehensive commented on #361
@Pamela-owino you're assigned. Thanks!

[2022-10-10 08:29] maprehensive commented on #360
@phelisa1, @Cveman1, @Praise-Ugwum, @Pamela-owino, @Karimatu05, @EQua-Dev and @Augusta2 you're assigned. Thank you!

[2022-10-10 08:30] maprehensive commented on #357
@EQua-Dev @Cveman1 you're assigned. Thanks!

[2022-10-10 08:33] BlueSkiez-dev commented on #357
Hi @maprehensive, can I be assigned to this task?

[2022-10-10 08:36] BlueSkiez-dev commented on #359
@maprehensive I'd like to work on this issue...

[2022-10-10 09:00] BlueSkiez-dev commented on #358
Yes indeed.
Here's what I propose in that case @maprehensive

<img width="863" alt="Frame 12" src="https://user-images.githubusercontent.com/67054844/194831330-89e1e8f6-bc37-48bb-afb5-5925a523b8e9.png">

[2022-10-10 09:04] Oluwatobi1992 commented on #361
Hi @maprehensive , can I be assigned to this task too?

[2022-10-10 09:08] Oluwatobi1992 commented on #363
Hello @maprehensive I would like to be assigned to this task too

[2022-10-10 10:15] baimamboukar opened #371 "Implementing refreshed mobile app design in flutter"
Hello @maprehensive @clarlars @wbrunette
I am an outreachy applicant!
I found this project interesting I would like to contribute to it!
While going to ODK-X outreachy landing page, I saw the [new mobile app design](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/edit#slide=id.p)

I'm suggesting to integrate the design using flutter
- the android version
- the P

[2022-10-10 10:36] Augusta2 commented on #364
Good day @maprehensive, I am from Outreachy and this is my first time working with GitHub.
I can't seem to find the file I need to work on. Can you point me in the right direction? Thank you

[2022-10-10 10:39] BlueSkiez-dev commented on #359
Hi @maprehensive
The best way around this issue is to make the view responsive.
Trying to compress the components on one line will cause a layout break, and truncating the text on the form title will cause informative issues. So the goal is to break the line and use the available space on smaller screens

My Solution to this issue is as follows:

![ezgif-1-e3acb0b9a8](https://user-images.githubuse

[2022-10-10 11:19] Thimmo commented on #369
Hello @maprehensive
I would also love to work with @Cveman1 in designing the dark and light themes interface while @BlueSkiez-dev implements it.

[2022-10-10 11:30] jessjaey commented on #355
@maprehensive Hello
I'm Jessica Alexandra Jide an outreachy applicant.
Please I would like to be assigned this issue of modernizing the ODK-X logo.

[2022-10-10 11:32] Thimmo commented on #355
Hello @maprehensive
I would love to be assigned to this task and come up with different drafts for the logo.

[2022-10-10 11:35] jessjaey commented on #361
@maprehensive Can I be assigned this issues?

[2022-10-10 11:35] cvemann commented on #369
Awesome @Thimmo

[2022-10-10 11:49] jessjaey commented on #362
@maprehensive  can I be assigned this

[2022-10-10 11:49] jessjaey commented on #363
@maprehensive  Can I be assigned this too?

[2022-10-10 11:50] lhurvedavies commented on #357
Hi @maprehensive, can I please be assigned to the task?

[2022-10-10 12:05] Thimmo commented on #360
Hello, @maprehensive
I would also love to contribute to this project and fix the issue.

[2022-10-10 12:09] cvemann commented on #360
Awesome. Thanks @maprehensive

[2022-10-10 12:10] Thimmo commented on #362
Hello @maprehensive Can I also be assigned to join @Karimatu05 in fixing this issue

[2022-10-10 12:16] wadva474 commented on #364
@Augusta2 , the changes you need to make is in the android Library Project
https://github.com/odk-x/androidlibrary

you can read the guide on setting up tables project https://github.com/odk-x/tables/#setting-up-your-environment
@maprehensive , i can also join @Augusta2 to work on the issue and implementing the app bar dark mode .

[2022-10-10 12:58] JessicaItepu commented on #361
Hello, can i be assigned to this task. Thanks in advance.

[2022-10-10 12:59] JessicaItepu commented on #360
Hello, can i be assigned to this project?. Thanks in advance.

[2022-10-10 13:01] JessicaItepu commented on #364
Hello, i would love to work on this project. Could you please assign it to me.

[2022-10-10 13:02] Pamela-owino commented on #360
Thank you

[2022-10-10 13:02] JessicaItepu commented on #367
I would like to put my skills to the test through this project too. Kindly grant me access

[2022-10-10 13:03] Karimatu05 commented on #362
Thanks but am a UI\UX designer so would i also send a pull request or i can attach my contribution to the issues am assigned ? @maprehensive

[2022-10-10 13:07] Karimatu05 commented on #365
Thanks but am a UI\UX designer so would i also send a pull request or i can attach my contribution to the issues am assigned ? @maprehensive

[2022-10-10 14:06] wadva474 commented on #259
@wbrunette can i be assigned this task? Thanks in anticipation

[2022-10-10 14:46] mishymia commented on #370
Hi @maprehensive I'd love to work on this issue

[2022-10-10 14:52] damiadejoro commented on #370
Hi, @maprehensive Can I be assigned to this issue?

[2022-10-10 15:26] cvemann commented on #357
Awesome. Thanks @maprehensive

[2022-10-10 15:41] zainabwahab100 commented on #365
@maprehensive I'm interested in this task. Can I get permission to work on it

[2022-10-10 15:51] Augusta2 commented on #364
Thanks for your reply.
@wadva474

[2022-10-10 16:21] ghost commented on #369
Hello @maprehensive. My name is Emenyi Nelly and I am an Outreachy intern for this season.Please can I be assigned this issue?

[2022-10-10 16:42] elmps2018 commented on #259
@wadva474 I have assigned you, please let us know any questions while you are working away.

[2022-10-10 16:48] elmps2018 commented on #223
Hi @harloma! I assigned you - but wanted to note this is something that other folks can work on as well. Let us know if you have any questions while working away.

[2022-10-10 16:52] elmps2018 commented on #363
@Oluwatobi1992 and @jessjaey assigned you as well! Look forward to seeing everyone's ideas!

[2022-10-10 16:53] damiadejoro commented on #368
I would like to work on this issue. Can this be assigned to me?

[2022-10-10 17:01] jessjaey commented on #363
Thankyouuuuuu

[2022-10-10 17:09] jessjaey commented on #360
@maprehensive I can get permission to work on this and the redesigning of the logo?
I have alot of ideas to share 😀

[2022-10-10 17:19] Praise-Ugwum commented on #360
Hi everyone, I suggest we collaborate since this issue was assigned to seven of us. How can we discuss this more?

[2022-10-10 18:56] harloma commented on #223
Thanks

[2022-10-10 19:19] Thimmo opened #372 "Color palette in the design guideline"
Hello, @maprehensive

1. A typographical error in the hex code for the light shade of blue. It was stated as (E7EEF6) in the palette but (E8EEF6) was written in the diagrammatic description

![Copy of ODK-X Design Guidelines - Google Slides and 19 more pages - Personal 2 - Microsoft​ Edge 10_10_2022 8_03_17 PM](https://user-images.githubusercontent.com/105228037/194936861-9a587e10-7aac-42fe-961b-8

[2022-10-10 21:41] mimi-tech commented on #372
@Thimmo I am an outreachy applicant. Please can I work on this task? Thank you.

[2022-10-10 21:50] Dimmah15 commented on #360
Hi @maprehensive

Can i be assigned to this, i would love to contribute

[2022-10-10 21:55] Hilzygift commented on #368
Hi @maprehensive, I'd like to work on this issue; ODK-X Survey- Implement dark and light themes (converting the light theme to a dark theme and improving its experience.

[2022-10-10 21:56] mimi-tech commented on #341
Hi @elmps2018
Hope you are doing great. I am an outreachy applicant. Can I work on this task?

[2022-10-10 22:04] mimi-tech commented on #368
Hi @maprehensive, Hope you doing well, I am an outreachy applicant. I would like to work on this issue.

[2022-10-10 22:04] elmps2018 commented on #341
@mimi-tech I assigned you! Let us know if you have any questions while working away.

[2022-10-10 22:04] Hilzygift commented on #372
Hi @maprehensive, I'd like to work on this issue and organizing the color style

[2022-10-10 22:15] mimi-tech commented on #341
@elmps2018 Thank you for assigning me the task. My question is can I use a good sound in the background while showing what to do  or do I need to be explaining each task by talking while making the video.

[2022-10-10 22:19] elmps2018 commented on #341
@mimi-tech please see the other videos on Youtube. You should generally be explaining what you are doing as you do it.

[2022-10-10 22:21] damiadejoro opened #373 "Relocate Translation Button To Improve Usability On Sample Application Overwiew Document"
The language translator button is located at the end of the page, this may not be a good user experience for non-English speaking users as they may have initial confusion trying to locate the translator button, and they may leave the entire page thinking there is no translation option n the page. To improve usability, we may need to move this button to the navigation bar or place the button at the

[2022-10-10 22:22] mimi-tech commented on #341
@elmps2018 Okay Thanks

[2022-10-10 22:22] damiadejoro commented on #373
I would love to be assigned to this task.

[2022-10-10 22:53] damiadejoro opened #374 "ODK-X Survey - Set Contrast For Accessibility"
The background colour and text colour needs to be adjusted on the warning toast. [https://docs.odk-x.org/survey-sample-app/
![Image](https://user-images.githubusercontent.com/81168278/194963942-3ee2bd64-bff6-402a-a581-a3d944d897ac.jpeg)
](url)

[2022-10-10 22:53] damiadejoro commented on #374
I would like to be assigned to this task.

[2022-10-10 22:57] Hilzygift commented on #366
Hi @maprehensive, I would like to collaborate with other assigned contributors to work on this task.

[2022-10-10 23:44] damiadejoro commented on #372
Hi, I would like to be assigned to this task. Thank you.

[2022-10-11 00:00] damiadejoro opened #375 "ODK-X Documentation - Relocate Translation Button To Improve Usability"
The language translator button is located at the end of the page, this may not be a good user experience for non-English speaking users as they may have initial confusion trying to locate the translator button, and they may leave the entire page thinking there is no translation option on the page. To improve usability, we may need to move this button to the navigation bar or place the button at th

[2022-10-11 00:01] damiadejoro commented on #375
Hi, mentors

Can I please be assigned to this issue? I was also wondering if it can be merged with the initial issue I raised.

[2022-10-11 07:36] jessjaey commented on #355
@maprehensive Can I carry on with this issue?
 Have ideas to share
Referencing the suites icon design too.

[2022-10-11 09:40] ghost commented on #369
Hello @maprehensive this is really awesome. Please can i would love to work on this isssue.

[2022-10-11 11:11] ghost commented on #166
Hello @wbrunette I would love to work on this issue, if it is still open.

[2022-10-11 11:22] ghost commented on #125
Hello @wbrunette @elmps2018, is this issue still open ? If yes, I would like to be assigned to work on it for my outreachy contribution. Thanks

[2022-10-11 11:33] ghost commented on #130
Hi @wbrunette @maprehensive I would like to be assigned to work on it for my outreachy contribution. Thanks

[2022-10-11 11:36] ghost commented on #332
Hello @maprehensive @wbrunette I would love to work on the UI for this issue for my outreachy contribution. Thanks

[2022-10-11 11:40] ghost commented on #361
Hello @maprehensive I would like to be assigned to this issue. Thanks.

[2022-10-11 11:41] Origboye commented on #372
@Thimmo hi, i would like to be assigned to this task

[2022-10-11 11:50] ghost commented on #366
Hi @maprehensive I would like to work on this issue. Thanks

[2022-10-11 11:53] Origboye commented on #370
Hi @maprehensive, can i be assigned to this issue?

[2022-10-11 11:54] ghost commented on #357
Hi @maprehensive @wbrunette I would love to work on this task

[2022-10-11 11:56] ghost commented on #360
Hi @maprehensive @wbrunette I would love to work on this issue

[2022-10-11 11:57] ghost commented on #358
I would love to work on this issue @maprehensive @wbrunette

[2022-10-11 12:19] ZeedDeveloper commented on #352
@wbrunette Hi, I will like to work on this task but can I get guidance on what the ODK-X URL scheme is

[2022-10-11 14:24] maprehensive commented on #375
Hi @damiadejoro,

I'll refer this issue to @elmps2018, who has done a lot of work on docs.

And please note that this issue won't count towards an Outreach application. Although it is user experience related, Outreachy scope is focussed on the mobile applications.

Thanks

[2022-10-11 14:26] maprehensive commented on #374
Hi @damiadejoro,

I'll refer this issue to @elmps2018, who has done a lot of work on docs.

And please note that this issue won't count towards an Outreach application. Although it is user experience related, Outreachy scope is focussed on the mobile applications.

Thanks

[2022-10-11 14:28] damiadejoro commented on #375
Thank you for your reply @maprehensive. I understand.

[2022-10-11 14:29] damiadejoro commented on #375
This means issues raised should be mostly focused on the mobile applications, right?

[2022-10-11 14:30] damiadejoro commented on #374
Alright. Noted, thanks.

[2022-10-11 14:33] maprehensive commented on #373
Hi @damiadejoro - I think this is a duplicate of https://github.com/odk-x/tool-suite-X/issues/375

[2022-10-11 14:36] damiadejoro commented on #373
It is similar but it is not. It's the same issue on different documents. I noticed this first then issue #375.

[2022-10-11 14:36] damiadejoro commented on #373
Hi @maprehensive - It is similar but it is not. It's the same issue on different documents. I noticed this first then issue #375.

[2022-10-11 14:41] #288 closed, assigned to Shubhamr837, EstherPhebe

[2022-10-11 14:42] maprehensive commented on #372
@Thimmo thanks for these corrections - that's great.

@mimi-tech , @Hilzygift, @damiadejoro, @Origboye – since @Thimmo has already identified the changes required in the style guide, this issue wouldn't count towards Outreachy applications.

I think the best thing is for me to update the style guide with the updates that @Thimmo has identified.

Thanks

[2022-10-11 14:54] maprehensive commented on #371
@baimamboukar the main outcome we want from the Outreachy project is to implement new designs into templates using Android Studio. I don't think implementation using Flutter is in scope.

@wbrunette can you comment?

[2022-10-11 14:56] maprehensive commented on #370
@mishymia @damiadejoro @Origboye this issue needs review form the PMC, so I will not assign it yet. Thanks.

[2022-10-11 15:01] damiadejoro commented on #370
@maprehensive - How do we get started, please? How do we know which tasks to ask for or contribute to?
Personally, I'm yet to be assigned to any tasks. I just wanted to make sure I'm doing the right thing and if not, what can I do better?

[2022-10-11 15:05] baimamboukar commented on #371
Integrating this very nice design with flutter would be great 🙂
And also, the iOS version will be available ☄️

Please do well to consider it @wbrunette @EstherPhebe @maprehensive

[2022-10-11 15:14] maprehensive commented on #369
@BlueSkiez-dev @Cveman1 @Thimmo @Emenyi95 – thanks for the responses. This issue needs review with the PMC and it's not meant for Outreachy applications.

[2022-10-11 15:22] maprehensive commented on #365
Not yet, but we will review and consider as part of the application. thanks.

[2022-10-11 15:23] maprehensive commented on #365
To work on this issue you should submit a pull request. If you want to only do design it's better to choose one of the design issues.

Thanks.

[2022-10-11 15:44] maprehensive commented on #360
@JessicaItepu I can only assign 10 people, but please still work on this issue and submit your designs here. It will be counted for your application. Thanks

[2022-10-11 15:52] maprehensive commented on #355
@jessjaey @Thimmo –  I will leave this issue assigned to @ravamo and team for now. It is not part of the Outreachy application.

[2022-10-11 16:07] elmps2018 commented on #166
Hi @AkorOG! As mentioned above, this is a hard one to complete, but you can definitely work on it! I assigned it to you.

[2022-10-11 16:10] JessicaItepu commented on #360
How do you intend to do that? I would like to work with you

[2022-10-11 16:11] JessicaItepu commented on #360
How do you intend to work with us. I would love to collaborate on this

[2022-10-11 16:11] elmps2018 commented on #125
Hi @AkorOG! I assigned you!

[2022-10-11 16:15] JessicaItepu commented on #360
Thank you, how do we access the previous designs so we can make our additions to it.

[2022-10-11 16:26] Karimatu05 commented on #362
@maprehensive can u send us where we can get the complete design so that we can make the icons changes

[2022-10-11 16:27] Karimatu05 commented on #365
okay thanks @maprehensive

[2022-10-11 16:28] BennyMakachi opened #376 "Undocumented spacing for content within cards"
<img width="1680" alt="Screen Shot 2022-10-11 at 5 09 17 PM" src="https://user-images.githubusercontent.com/115473782/195145755-73ab9e88-3dbf-4697-9035-b60bd1195700.png">

@maprehensive The Spacing between the card content is undocumented and could lead to inconsistencies across card designs similar to the one in the photo.

Going by the 8pt grid the spacing between the **black copy** and **Incomp

[2022-10-11 16:33] Thimmo commented on #355
Okay. Thank you @maprehensive

[2022-10-11 16:34] jessjaey commented on #355
@maprehensive Noted
Thankyou

[2022-10-11 17:09] damiadejoro commented on #367
I am interested in working on this issue.

[2022-10-11 17:40] Redeem-Grimm-Satoshi commented on #365
- @maprehensive this   ** navigationBarColor** doesn't work

So I did some changes.

1. I used **statusBarColor** instead of **naviagationBarColor** ( Tested Locally and it worked )
2. Added **windowsLightStatusBar** ( with boolean value: [true] so that status bar doens't become opaque
3. Light and Dark theme colors implemented

Please Check[ PR](https://github.com/odk-x/androidlibrary/pull/233) f

[2022-10-11 17:43] Redeem-Grimm-Satoshi commented on #365
I pushed it to dev branch, It will solve status bar issues across Survey, Tables and Services App

[2022-10-11 17:46] Joyfro commented on #366
Hello @maprehensive , I would love to work on this task

[2022-10-11 17:47] Joyfro commented on #366
Hello @maprehensive , I would love to work on this issue.

[2022-10-11 18:01] mishymia commented on #376
Hi @maprehensive can you please assign me to this issue?

[2022-10-11 19:24] BennyMakachi opened #377 "Need for Type Scale, Text contrast and Color style"
<img width="1680" alt="Screen Shot 2022-10-11 at 7 59 28 PM" src="https://user-images.githubusercontent.com/115473782/195177087-531ed676-5a28-41e0-9e66-f979a82ed320.png">

@maprehensive The Font documentation only lists the typeface (fonts) used. There is no typeface scale to enable designers/ developers to know what font sizes to use for - Headings, Paragraphs, Captions, etc.

A type scale is ess

[2022-10-11 20:02] Redeem-Grimm-Satoshi commented on #366
- @maprehensive this   ** navigationBarColor** doesn't work

So I did some changes.

1. I used **statusBarColor** instead of **naviagationBarColor** ( Tested Locally and it worked )
2. Added **windowsLightStatusBar** ( with boolean value: [true] so that status bar doesn't become opaque
3. Light and Dark theme colors implemented

Please Check[ PR](https://github.com/odk-x/androidlibrary/pull/233) f

[2022-10-11 20:14] jessjaey commented on #363
@maprehensive @elmps2018
I made different variations for the service app icon
Please look through and review.![image](https://user-images.githubusercontent.com/105664383/195189550-f5c133ff-ca72-4c93-90a0-d82433216101.png)

[2022-10-11 20:16] jessjaey commented on #362
@maprehensive
Please review my design on the Survey app icon ![image](https://user-images.githubusercontent.com/105664383/195189737-2874c184-bdc5-465f-83a5-c72774feae89.png) icon

[2022-10-11 20:17] jessjaey commented on #361
@maprehensive
Please review my design on the Tables app icon
Note: I tried to keep a similar look and feel in the all app icons for consistency sake.

![image](https://user-images.githubusercontent.com/105664383/195190050-c16b96f1-8f40-4e2e-8fab-da215853b1be.png)

[2022-10-11 21:24] Daveojoe commented on #363
I am David Joseph (davejoe) and I am an outreachy applicant, I will like to be assigned on the services app icon @elmps2018

[2022-10-11 21:56] cvemann commented on #369
Alright then. How do we identify issues that are meant for Outreachy though?

[2022-10-11 22:02] jmlengineering commented on #331
It's fine by me.

On Sun, Oct 9, 2022 at 12:51 PM Augusta2 ***@***.***> wrote:

[2022-10-11 22:08] Cveman1 commented on #370
I think some of the issues have descriptions that show it's for Outreachy.

Since this is Open Source, it's not only outreach applicants that are working on it, do you understand?

[2022-10-11 22:13] elmps2018 commented on #363
Hi @Daveojoe I assigned you as well!

[2022-10-11 22:15] cvemann commented on #374
Hello @maprehensive, please I need more clarity on what you mean.

I hope this means we can go ahead with the interface designs and UI components of the mobile applications on a design tool

[2022-10-11 22:29] Blessing1135 commented on #366
Hello@maprehensive, I would love to work on this issue, and I will be glad if the opportunity is given to me. Thank you.

[2022-10-11 22:29] JessicaItepu commented on #361
Hello @maprehensive i sent a mail expressing my confusion. I think i have gotten a hang of it now thanks a lot

[2022-10-11 22:39] JessicaItepu commented on #361
![IMG-20221011-WA0002](https://user-images.githubusercontent.com/115474999/195210995-7d0f0c5a-f4c8-42c3-8e39-7dd51ad0a7f8.jpg)

Hello @maprehensive kindly review this wirk. Am i to share the link to this comment in the contribution section?

[2022-10-11 23:37] Augusta2 commented on #357
@maprehensive  please assign this task to me

[2022-10-12 00:01] Joyfro commented on #311
Please I would like to fix this issue, kindly assign me @sheykerkup

[2022-10-12 00:21] Augusta2 commented on #358
@maprehensive  Please I will love to work on this issue

[2022-10-12 00:24] Thimmo commented on #360
Hello @maprehensive,
These are what I have come up with

- **I added a caption to the synchronization icon for more clarity.**
- **I moved the settings icon to the "meatball menu" as an additional menu allowing the Sync icon to stand out and reducing cognitive load for the user.**
- **I added a feedback alert/notification to signify success or error during synchronization.**

![Menu Nav](https://u

[2022-10-12 02:18] cvemann commented on #359
Hello @maprehensive, In contribution to creating custom UI components for ODK-X Apps, I made an improvement to the form navigation I designed earlier. See:

![image](https://user-images.githubusercontent.com/80982139/195233450-2751df72-d770-4f85-9ee8-aa14a4025d7f.png)

**Description;**
It has...
- a well designed top bar which contains the title (22px) for the current survey form.
- a colour fill

[2022-10-12 02:47] cvemann commented on #374
Hi @damiadejoro, here's the link to each of the ODK-X apps. Click the link to see the releases and check the assets to download the apks to your device.

- [Survey](https://github.com/odk-x/survey/releases/tag/2.1.10)
- [Services](https://github.com/odk-x/services/releases/tag/2.1.10)
- [Tables](https://github.com/odk-x/tables/releases/tag/2.1.10)

If it isn't clear, let me know

[2022-10-12 05:13] JessicaItepu commented on #360
Hello, did you get the survey app to know what it looks like ib full? Thanks in advance for your response

[2022-10-12 05:15] JessicaItepu commented on #360
Also if you mean the general odk-x logo. I found it on Google. Check it out

[2022-10-12 05:16] JessicaItepu commented on #360
Also if you mean the general odk-x logo. I found it on Google. Check it out

[2022-10-12 06:09] G-ann commented on #360
Hello. I would love to be assigned to this issue .

[2022-10-12 06:11] G-ann commented on #359
Hello, can I be assigned to this issue, I would love to contribute.

[2022-10-12 06:14] G-ann commented on #357
@maprehensive I would love to work on this, can I be assigned to it please.

[2022-10-12 06:17] G-ann commented on #332
Hello, I would love to work on this, if it's still open @maprehensive

[2022-10-12 06:19] G-ann commented on #331
I'd love to jump on this, can I be assigned to this issue @maprehensive

[2022-10-12 07:01] Daveojoe commented on #363
Thanks @elmps2018

[2022-10-12 07:22] damiadejoro commented on #374
I understand there are three apps, yeah. What I don't understand is what I am meant to do when I haven't been assigned a task.

[2022-10-12 07:36] Amarachhhiii commented on #367
I am interested to work on this issue. Can you assign me to this issue?

[2022-10-12 07:38] jessjaey commented on #361
@JessicaItepu I love your design ✨

[2022-10-12 07:38] Amarachhhiii commented on #368
Hi @maprehensive @wbrunette I'm an Outreachy applicant, I would love to work on this issue.

[2022-10-12 08:20] wadva474 commented on #259
@elmps2018 , after checking out the maleria-demo branch to install the application following the guide (https://docs.odk-x.org/episample-intro/#installing-episample)

Below is the screenshot of running the application on my end

<img width="1024" alt="Screenshot 2022-10-12 at 09 18 00" src="https://user-images.githubusercontent.com/34124778/195289119-d81d7e3d-85b8-4d5a-a0b6-8a733caa2d62.png">
the

[2022-10-12 09:46] veekamunya commented on #368
Hello @maprehensive since the automatic dark and light theme only works on android 11 and higher, android devices with a lower android version would need a manual ligh-dark theme switch within the app..I would like to create a switch design to toggle between light and dark theme following the odk-x design guidelines and i would love to be asssigned this issue

[2022-10-12 09:56] Praise-Ugwum commented on #360
Hi @maprehensive. I came up with this redesign.

To fulfil the Objectives:

- I included only the Menu icon because it can be easily recognised by most users.
- I transferred other icons into the menu to simplify the design.
- I included descriptions of all icons in the menu.
- This design will also create uniformity and consistency on all screens.

<img width="2023" alt="ODX-K solution" src="http

[2022-10-12 10:08] Praise-Ugwum commented on #367
Hi @maprehensive, can I work on this issue, please?

[2022-10-12 10:10] Praise-Ugwum commented on #357
Hi @maprehensive, please can I also be assigned to this issue?

[2022-10-12 10:10] Karimatu05 commented on #362
@maprehensive this is what i came up with. Your feedbacks are welcome thank you.
![ideas](https://user-images.githubusercontent.com/100648626/195680697-35ff08a4-06aa-4968-89b0-5a0a0b5b77a1.jpg)

[2022-10-12 10:13] Karimatu05 commented on #362
![ideas](https://user-images.githubusercontent.com/100648626/195316096-e8000691-88df-46a2-8267-e9b19100ae30.png)

[2022-10-12 10:16] jessjaey commented on #370
@maprehensive  Can i be assigned this issue??

[2022-10-12 10:19] jessjaey commented on #360
@maprehensive I would like to work on this issue

[2022-10-12 10:26] jessjaey commented on #359
@maprehensive Can I be assigned this issue??

[2022-10-12 10:27] jessjaey commented on #357
@maprehensive Can I be assigned this issue

[2022-10-12 10:54] mishymia commented on #359
Hi @maprehensive can I be assigned to this issue?

[2022-10-12 11:04] mishymia commented on #357
@maprehensive please can I be assigned to this issue?

[2022-10-12 11:19] Augusta2 commented on #358
Hello @maprehensive,  I already finished this project although I was not assigned to it. If I must be, Can you please assign it?
I will still post screen shots just in case. Thanks

[2022-10-12 12:04] Augusta2 commented on #358
@maprehensive This is my work on the Menu Navigation UI improvement.
I tried to make navigation throughout the application easier.
Please correct me if I'm missing anything.

![Augusta_Home page](https://user-images.githubusercontent.com/115414092/195337207-c95a5f36-eadd-45b4-97b0-a4bce692de4e.jpg)
![Augusta_Menu](https://user-images.githubusercontent.com/115414092/195337244-5780d514-18a7-412f-9fb

[2022-10-12 12:30] BlueSkiez-dev commented on #357
Hi @maprehensive @wbrunette
Here are my proposed changes to the menu navigation

Issue 1
<img width="939" alt="Frame 29" src="https://user-images.githubusercontent.com/67054844/195342384-d453303a-27bb-4f13-b994-46942442263e.png">

Issue 2
![ezgif-3-1a229c2e2e](https://user-images.githubusercontent.com/67054844/195342712-e60697d0-f68b-41b6-9b54-0c73694851a9.gif)

<img width="939" alt="Frame 68" src

[2022-10-12 13:10] Augusta2 commented on #363
Hello @maprehensive I would love to work on this

[2022-10-12 13:11] Augusta2 commented on #362
Hello @maprehensive  I would love to work on this

[2022-10-12 13:15] Augusta2 commented on #360
@JessicaItepu you can get it at the Repository
Check under Applications and click any of the links.

[2022-10-12 13:18] AnishaSingh0118 commented on #376
hello @BennyMakachi I am an Outreachy applicant and would love to give my best to resolve this issue.
Kindly assign me.

[2022-10-12 13:35] Amarachhhiii commented on #376
Hi @maprehensive I am outreachy applicant and I would love to work on this issue with @AnishaSingh0118

[2022-10-12 13:49] elmps2018 commented on #374
Hi @damiadejoro, please go ahead and comment on other tasks you might want. This one is going to need PMC review before we decide to implement it so it will be some time before we can make a decision if it should be implemented. Sorry about that!

[2022-10-12 14:22] Joyfro commented on #364
Hi, I would love to work on this issue. could you please assign it to me? @maprehensive

[2022-10-12 14:35] Thimmo commented on #360
Yes, I did.

[2022-10-12 14:37] Thimmo commented on #360
Thank you for this reply. @Augusta2 also mentioned something helpful.

[2022-10-12 15:57] elmps2018 commented on #259
Hi @wadva474! It looks like you are testing this out in preview xlsxconverter. If you have an android phone, please try that, since the instructions call for it ("Similarly, you can push the application to your device using the [Pushing and Pulling Files](https://docs.odk-x.org/build-app/#build-app-pushing) instructions.").

[2022-10-12 18:07] JessicaItepu commented on #360
Thank you

[2022-10-12 19:07] salmasabo commented on #364
Thank you.!
I have began work on it already.

[2022-10-12 19:25] salmasabo commented on #363
Hi Jess.! I'm salma and I'd like to connect with you if you don't mind

[2022-10-12 19:29] jessjaey commented on #363
Yes Ofcourse
If you're on the slack channel, Send me a message: Jessica Alexandra jide

[2022-10-12 19:47] Grace-io opened #378 "ODK-X Services- Need for distinguishable settings icons"
In the ODK-X services settings the **device specific settings** and **table specific settings** have no distinguishable icons as they have the same icons which might make users of this application (who are trying to complete an action quickly) mistake one setting for the other.
![Screenshot_20221012-194857](https://user-images.githubusercontent.com/115491097/195432210-0a301288-f1c3-4e8e-811d-ca0ae

[2022-10-12 23:31] maprehensive commented on #363
@jessjaey This is great. Love to see the variations and notes on design choices.

For the next iteration, I would focus on making the idea work at a small size. The ODK-X logo won't be clear if the overall icon is 20x20px.

Thank you!

[2022-10-13 00:35] Muyheeza-design opened #379 "To contribute to Custom UI components for ODK-X mobile apps"
Hello,

I would like to contribute to this task.

[2022-10-13 03:10] NiranjanNlc commented on #364
I would like to work on this issuse .

[2022-10-13 03:12] NiranjanNlc commented on #357
Please assighn me this issuse . I want to work on this issuse.
Thanks.

[2022-10-13 03:14] NiranjanNlc commented on #366
Hi ,  I want  to work on this issue, and would  be thankful for the opportunity

[2022-10-13 03:15] TrieuNgo opened #380 "Allow camera access permission to use JS barcode scanner on the ODK-X Table"
Hi

I've been working to use [JS barcode scanner](https://github.com/zxing-js/library) on the odk-x tables. And I found that the table does not have permission to access the camera. I tried to rework the table with camera access and successfully use the JS barcode scanner on the odk-x tables. I attached patch files for the changes on both the [androidcommon](https://github.com/odk-x/androidcommon)

[2022-10-13 07:49] 010220010 commented on #379
hii, @maprehensive  please I'd like to be a contributor to this issue I don't know if you can assign me some tasks in due course.

[2022-10-13 08:58] jessjaey commented on #363
@maprehensive Thankyou for your feedback , Noted!
I'll work on the next iteration with this in mind

[2022-10-13 11:08] Joyfro commented on #366
Hello @maprehensive, can you please guide me on how I can work on this issue?. I have forked and cloned the services repository but I can't seem to find any settings, theme.xml , or styles.xml files

[2022-10-13 12:59] IjeomaGeorge commented on #367
@maprehensive I'll love to work on the themes issue

[2022-10-13 13:01] IjeomaGeorge commented on #379
Hi @maprehensive  I'll really love to contribute to the custom UI components for the ODK-X mobile Apps

[2022-10-13 13:20] cvemann commented on #379
Hey @IjeomaGeorge, request for tasks to be assigned you from either @maprehensive or @wbrunette.

Welcome

[2022-10-13 13:26] Grace-io commented on #378
Hi @maprehensive @wbrunette  I'll love to work on this task

[2022-10-13 13:43] IjeomaGeorge commented on #379
@Cveman1 Hi, It was a mistake, thanks for the correction

[2022-10-13 14:19] Blessing1135 commented on #366
Helo @maprehensive thank you for the opportunity pls I need a.guide on how to go about it

[2022-10-13 14:22] Daveojoe commented on #359
Hi, @maprehensive can I be assigned to this issue?

[2022-10-13 15:03] maprehensive commented on #366
@NiranjanNlc @Joyfro @Blessing1135 you can work ion this without being assigned.

To get started, check page 12 of the [style guide](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/), there are some notes there on the relevant files.

[2022-10-13 15:08] maprehensive commented on #379
@Muyheeza-design @010220010 @IjeomaGeorge please make a contribution to one of the issues listed in this forum post for your Outreachy application: https://forum.odk-x.org/t/welcome-outreachy-applicants-winter-2022/2002

[2022-10-13 15:11] maprehensive commented on #364
@NiranjanNlc Thanks! You can work on this issue without being assigned.

[2022-10-13 15:17] maprehensive commented on #360
@G-ann @jessjaey Yes please go ahead and work on the issue. You no longer need to be assigned. thanks!

[2022-10-13 15:19] maprehensive commented on #359
@G-ann @jessjaey @mishymia @Daveojoe Yes please go ahead and work on it. You no longer need to be assigned to the issue. Thanks!

[2022-10-13 15:22] maprehensive commented on #357
@NiranjanNlc @G-ann @jessjaey @Praise-Ugwum @mishymia @Augusta2 Please go ahead and work on the issue. You no longer need to be assigned to work on it for your Outreachy application.
Thanks!

[2022-10-13 15:44] Augusta2 commented on #360
@maprehensive
This is the design I came up with.
I removed the settings icon from the top bar.
I met some people and had them test the app and I observed that they did not notice the 'Sort by' feature. To remedy this, I tried to make it more visible and within the reach of the users.

![Augusta_Description](https://user-images.githubusercontent.com/115414092/195642518-abe29e55-558f-4552-9e31-e7cbd

[2022-10-13 15:54] cvemann commented on #363
Hi @maprehensive, here's an iteration of the ODK-X logo.

![image](https://user-images.githubusercontent.com/80982139/195643427-a48179b5-89bf-4194-b25f-1af8728212d6.png)

I took the reduction route to make the logo more simple and minimal. This follows Dieter Ram's 10th principle of design. that says 'Good design involves little design as possible.

Since the Services app provides services to be u

[2022-10-13 17:11] wadva474 commented on #259
Hi @elmps2018 , i have been able to install the Episample application, But having issues (https://github.com/odk-x/tool-suite-X/issues/259#issuecomment-836774936) same as @EstherPhebe , I have changed my Gps location to ethopia. and i also set a big accuracy bounds (https://github.com/odk-x/tool-suite-X/issues/259#issuecomment-837256380).

I would like to confirm if there is a default location i s

[2022-10-13 17:13] elmps2018 commented on #259
Hi @wadva474 I don't know about a default location - is it still causing problems with the location set and big bounds?

[2022-10-13 17:20] wadva474 commented on #259
yes, i have added a large bound actually, but still same issue

[2022-10-13 17:25] elmps2018 commented on #259
@wadva474 is the bound large enough that it would work from your GPS location? Are you getting the exact same screenshot as @EstherPhebe?

[2022-10-13 17:50] wadva474 commented on #259
@elmps2018 , yes i am getting the exact screenshot, i added a bound (3,000,000) still just showing the red progress.

Probable issues i am thinking about
- The Map API key needs to be renewed (Maps are not loading in the survey screen)

[2022-10-13 17:54] elmps2018 commented on #259
@wbrunette any ideas on this one?

[2022-10-13 17:58] IjeomaGeorge commented on #379
@Muyheeza-design  noted, thanks, I'll make my contribution

[2022-10-13 17:59] wadva474 commented on #364
@maprehensive , i have created a PR to address the issue

https://github.com/odk-x/androidlibrary/pull/235

[2022-10-13 18:21] JessicaItepu commented on #364
Hello @maprehensive kindly review my work
![Uploading odk-x status bar redesign.png…]()

[2022-10-13 18:25] JessicaItepu commented on #364
![odk-x status bar redesign](https://user-images.githubusercontent.com/115474999/195676468-0c9cfd94-8c0b-4601-8af3-4be4e56beaa2.png)

@maprehensive thia is my submission on the given project

[2022-10-13 19:02] Karimatu05 commented on #360
@maprehensive
Design Rationale
Declutter the menu navigation
System feedback for users (success and error state)
Icon usability (Proper labels and consistent icon pack)

NOTE: Interface icons are from Material Icon
Waiting to see your feedback soon, thank you

![Menu2x](https://user-images.githubusercontent.com/100648626/195682379-d14e34f1-e0b7-4def-b3a7-b6cf2906da14.jpg)

[2022-10-13 19:29] Coder-For-Life commented on #366
Hello @maprehensive can I work on this?
I need like a guide on how to go about this

[2022-10-13 19:36] Joyfro commented on #368
Hello @maprehensive , Please I would like to be assigned to this issue

[2022-10-13 19:49] JessicaItepu commented on #367
![odk tables light and dark](https://user-images.githubusercontent.com/115474999/195695316-c7087ab0-0ae2-4b55-bb1c-abc691e9f09d.png)

Hello @maprehensive... This project was very close to another one i submitted so i did it too. I hope you approve and assign me to it officially. Thank you

[2022-10-13 20:00] JessicaItepu commented on #366
Hello @maprehensive could you pleasee assign me to this project too? I am excited to jump on it

[2022-10-13 20:03] JessicaItepu commented on #363
Hello @maprehensive may i please be assigned to this task... i would really appreciate

[2022-10-13 20:05] JessicaItepu commented on #363
I like how your brain works.. this is nice

[2022-10-13 20:07] Joyfro commented on #361
Hello @maprehensive, Please assign me to this task. I would love to work on this

[2022-10-13 20:07] jessjaey commented on #363
Hi Jessica
Our mentor says You can contribute to any issues without being assigned.

[2022-10-13 20:09] jessjaey commented on #361
@Joyfro
Our mentor says we can work on any issues without being assigned.
Drop your contributions ✨

[2022-10-13 20:11] JessicaItepu commented on #363
Oh wow. Thank you

[2022-10-13 20:51] jessjaey commented on #361
@maprehensive
I put your feedback into consideration for my iterations of the app icons
Please review these![image](https://user-images.githubusercontent.com/105664383/195707954-5aefd80f-5cc6-49a0-8520-85b7427524bd.png)

[2022-10-13 20:51] jessjaey commented on #363
@maprehensive I put your feedback into consideration for my iterations of the app icons![image](https://user-images.githubusercontent.com/105664383/195708065-df5338a9-c471-470d-b409-72d2fbddd82e.png)

[2022-10-13 20:55] jessjaey commented on #362
I put your feedback into consideration for my iterations of the app icons![image](https://user-images.githubusercontent.com/105664383/195708660-720f91eb-1b6b-467d-a751-63707b2215cd.png)

[2022-10-13 21:24] cvemann commented on #362
I love your new iterations, a bit sleek

[2022-10-13 21:28] IjeomaGeorge commented on #365
Hello,@maprehensive I redesigned the status bar for the ODK-X Survey App for the dark mode to match the background color and also added the light mode.
![ODK-X STATUS BAR](https://user-images.githubusercontent.com/81042220/195714071-d4619add-5dc6-454a-98e4-4365b6e64969.png)

[2022-10-13 21:31] jessjaey commented on #362
Thankyou for your feedback ✨

[2022-10-13 21:33] jessjaey commented on #359
@maprehensive  worked on this issue and I would appreciate your feedback on this.
Thankyou ![image](https://user-images.githubusercontent.com/105664383/195714985-becace8c-9f54-4f47-adf4-57b6b1dae6a2.png)

[2022-10-13 21:44] JessicaItepu commented on #363
![Odx service logo redesign](https://user-images.githubusercontent.com/115474999/195716564-26af49b3-0bd7-48c1-aa55-9d30a44ed2db.png)

@maprehensive @elmps2018 kindly review this, i would love to get a feedback. Thanks in advance.

[2022-10-13 21:55] JessicaItepu commented on #361
Thank you 😊

[2022-10-14 00:16] G-ann commented on #376
@Amarachhhiii @AnishaSingh0118 @mishymia @BennyMakachi the rules have been changed, you don't have to be assigned to an issue, you can go ahead and start contributing.

[2022-10-14 04:26] AnishaSingh0118 commented on #376
Thank you for the information : )

[2022-10-14 06:29] AnishaSingh0118 commented on #378
Hi @Grace-io  is that ok
![tables setting](https://user-images.githubusercontent.com/76876709/195777708-9aaf3045-cf9e-43c4-bb2a-01256b5539cb.jpeg)

[2022-10-14 07:59] Muyheeza-design commented on #379
@maprehensive thank you
I will make my contributions

[2022-10-14 10:37] Grace-io commented on #362
Hi @maprehensive . this was what i came up with
![{FE621048-1292-4EED-8FD0-0E63DAAB134E}](https://user-images.githubusercontent.com/115491097/195826697-bc62962f-40f1-476c-807c-285e12319085.png)
![{DA03963F-7079-49D7-A962-B46ED7356031}](https://user-images.githubusercontent.com/115491097/195826721-18aca36f-074d-44ca-b68c-bee0ad3b3353.png)
![{715AB2E3-756D-4F9C-974F-3693F6E676B6}](https://user-image

[2022-10-14 11:06] AnishaSingh0118 commented on #378
Hello, @Grace-io I have tried to fix this issue. Kindly guide if there is anything that needs to be done from my end. Would love to hear your feedback on this particular PR!  [#249](https://github.com/odk-x/services/pull/249)

[2022-10-14 11:36] Grace-io commented on #378
Hi @AnishaSingh0118 , I like this concept however we cannot work on this issue yet because it has not been approved. If you're an Outreachy applicant, you can contribute to any of the issues in the link below as only the contribution to any of the issues here will be considered for the Outreachy application.
https://forum.odk-x.org/t/welcome-outreachy-applicants-winter-2022/2002

[2022-10-14 11:36] Grace-io commented on #378
Hi @AnishaSingh0118 , I like this concept however we cannot work on this issue yet because it has not been approved. If you're an Outreachy applicant, you can contribute to any of the issues in the link below as only the contribution to any of the issues here will be considered for the Outreachy application.
https://forum.odk-x.org/t/welcome-outreachy-applicants-winter-2022/2002

[2022-10-14 11:39] AnishaSingh0118 commented on #378
Thank you so much for guiding me the right path for Outreachy's contributions :)

[2022-10-14 15:09] Joyfro commented on #366
@maprehensive I have resolved this issue and created a pull request. [https://github.com/odk-x/services/pull/250](https://github.com/odk-x/services/pull/250)
Also tested on my android emulator and it worked. please see screenshots below:

![android studio](https://user-images.githubusercontent.com/111269247/195880289-269bb7e0-8ced-4d70-b0e2-0c7122d2b6ed.png)

[2022-10-14 19:11] Augusta2 commented on #363
Hello @maprehensive
I did my best to redesign the icons following the ODX-K design guidelines.
This is my first time designing a logo and I am open to corrections and critiques. Thank you

This is the first Icon I am proposing

![Augusta_thought process](https://user-images.githubusercontent.com/115414092/195922196-9d26418a-1fe5-41c6-ab84-de2a150d8f93.png)
![Augusta_Proposed Icon1 ](https://user-i

[2022-10-14 19:15] Augusta2 commented on #363
@maprehensive
This is the Second Icon i came up with.
This is the link to the [Project Proposal](https://drive.google.com/file/d/12OMuIkIisqHpF6xC9JqXdZkrJozTA5bF/view?usp=drivesdk)

![Augusta_Proposed Icon2b](https://user-images.githubusercontent.com/115414092/195925292-4d3535eb-3012-42ea-8895-9dc3d34e482e.png)

![Augusta_Other variations 2b](https://user-images.githubusercontent.com/115414092/19

[2022-10-14 19:17] JessicaItepu commented on #363
Really?

[2022-10-15 01:00] Itsmiracle1130 commented on #362
Kindly review this I would like to know what you think

![image](https://user-images.githubusercontent.com/115800726/195961908-4c07e305-5b7e-452c-b1ed-db0804742e48.jpeg)

![image](https://user-images.githubusercontent.com/115800726/195961915-881d893f-4561-477d-bde8-001e0af825f6.jpeg)

[2022-10-15 09:21] cvemann commented on #361
I love the second variation of this, it has ODK-X in it, and still shows a representation of the table. Nice stuff

[2022-10-15 09:26] NiranjanNlc commented on #366
Hey @maprehensive  , I have resolved the issuse and created a [pull request ](https://github.com/odk-x/androidlibrary/pull/236) to address  it .
Please review it .
I have verified both the  light mode and dark mode  in my device .  Please refer the screenshot below .
<p  align = "center" >
  <img src="https://user-images.githubusercontent.com/25600880/195978644-8ad85dc6-b300-46b8-944f-94e66b23ed6e

[2022-10-15 10:55] Joyfro commented on #367
Hello @maprehensive ,
 Please assign me to this issue, I would be excited to work on this as my second contribution.

[2022-10-15 12:46] jessjaey commented on #361
Thankyou
For your feedback ✨

[2022-10-15 20:31] Coder-For-Life commented on #366
@maprehensive I'm confused, are we supposed to use a specific language or any language of our choice?

[2022-10-16 00:08] Thimmo commented on #362
Hello @maprehensive,
Here is what I have come up with for the survey app icon.

![ODKX-logo](https://user-images.githubusercontent.com/105228037/196011851-e6158100-409f-4953-b247-52073ca4d090.png)

**For accessibility, I also tested the logo for distortion in different sizes.**
![Frame 49](https://user-images.githubusercontent.com/105228037/196011872-1b3ad7ba-9c35-4254-bd22-5ca471f72358.png)

![Fr

[2022-10-16 01:42] cvemann commented on #363
Thank you @JessicaItepu, you are smart-much too!

[2022-10-16 05:40] maprehensive commented on #331
Thanks @jmlengineering - I will unassign you and open this up for Outreachy participants to work on.

[2022-10-16 05:43] maprehensive commented on #331
@BlueSkiez-dev @Cveman1 @G-ann @Augusta2 Go for it!

[2022-10-16 05:45] maprehensive commented on #332
@wbrunette – can I open this issue to Outreachy applicants? Will probably need guidance on the technical implementation.

[2022-10-16 06:07] NiranjanNlc commented on #364
Hey @maprehensive , I have created a  [pull request](https://github.com/odk-x/androidlibrary/pull/236) to address the issuse .
I have verified for  both light and dark mode on my device .
<p  align = "center" >
  <img src="https://user-images.githubusercontent.com/25600880/196020817-64214b38-c995-4b32-9047-7239699291d9.jpg" width="40%" />
  <img src="https://user-images.githubusercontent.com/25600

[2022-10-16 06:11] NiranjanNlc commented on #365
Hey @maprehensive ,
I figured out that a single pull request would solve status bar issuse over all the survey , table and services app .
Please review  this [pull request](https://github.com/odk-x/androidlibrary/pull/236)

[2022-10-16 08:45] caxrii commented on #357
@maprehensive  Can i create a pull request when I'm done working on the issue?

[2022-10-16 08:52] caxrii commented on #358
@maprehensive I'd like to work on this

[2022-10-16 08:53] caxrii commented on #360
@maprehensive I'd like to work on this

[2022-10-16 08:54] jessjaey commented on #360
Hi there,
Read through the instructions, you can work on any issues without being a assigned

[2022-10-16 08:55] caxrii commented on #359
@maprehensive I'd like to work on this

[2022-10-16 10:16] caxrii commented on #331
@maprehensive I'd like to work on this

[2022-10-16 10:35] maprehensive commented on #366
@Coder-For-Life you can make the required changes in Android Studio in the theme files. There was some instruction in a link in the issue description, and some notes from other contributors.

See if reading back through those comments and reviewing other contributions helps.

[2022-10-16 10:35] maprehensive commented on #366
No need to be assigned - you can go ahead and work on it!

[2022-10-16 10:39] maprehensive commented on #364
Thanks @JessicaItepu - nicely laid out! Have you submitted a pull request with the changes?

[2022-10-16 10:47] maprehensive commented on #365
Thanks @IjeomaGeorge that looks good.

Have you submitted a pull request with the changes?

[2022-10-16 10:49] maprehensive commented on #363
@Cveman1 Strong concept and design process, very well explained.

Considerations for the next iteration:
Try with different treatments:
- in the header with the app name next to it
- in the status bar when Services is synching (screenshot below)

And think about whether it is recognizable enough with / without the color? There may be a need to integrate something more from the ODK-X logo to increa

[2022-10-16 11:00] maprehensive commented on #363
@jessjaey Nice iteration – that's a good improvement with a good rationale.

Some thoughts for the next iteration:
- create smaller size versions and view them on a phone, this can help check whether the icon will work in different conditions
- because the lines are quite light, the icon doesn't have a strong presence. You could try filling in the container (cloud / rectangle), or thickening the l

[2022-10-16 11:06] maprehensive commented on #363
@JessicaItepu Nice work, I like the ideas and the presentation is good.

I'd like to see this at smaller sizes to see if the three elements - logo, cloud and 'wifi' thing - will all be clear when the whole icon is at 20 x 20.

Because you've got a lot of ideas in the icon, you could try taking something away to strengthen the overall execution. For example - reduce the colors used, or try without

[2022-10-16 11:16] maprehensive commented on #363
@Augusta2 Great work exploring multiple ideas and showing your design rationale. I can see a lot of work has gone into this.

I would try these icons at smaller sizes and see how the smaller elements - the cog, the wifi thing - hold up when they're reduced in size. It may be a challenge to get all the elements to work well together at the small sizes.

Try with different treatments:

- in the head

[2022-10-16 11:39] cvemann commented on #363
Thanks for your feedback.

I perfectly understand what you mean, I'll put them to different use cases and test in my future iterations.

[2022-10-16 11:43] cvemann commented on #364
I love the way this looks @NiranjanNlc

[2022-10-16 12:47] maprehensive commented on #362
@jessjaey Great work!

Your concepts are very polished, the gradient gives it really professional look.

I like the way the first iteration promotes the document / list icon – it focusses on the function of the app.

A question to help with the next iteration – which icon communicates the function of the app better - the document icon, or the document with the list?

Great work, this is really goo

[2022-10-16 12:59] maprehensive commented on #362
@Karimatu05 Good job.

Great to see the iterations, the use of the brand colors and seeing the icon placed in the header is really helpful - we get to see how it will work!

For your next iteration see if you can bring your ideas together into one strong icon:
- selecting the color you think will work best
- choose between the outline or solid color treatment
- choose between having the ODK-X logo

[2022-10-16 13:07] maprehensive commented on #362
@Grace-io This is a really unique idea - well done.

The presentation and rationale is really good. The explanation of the technical design choices is a good thing to include – it shows how much thought has gone into the idea.

And showing the icon in different treatments – mono, white background, color background – really helps show how it will work.

In your next iteration you could try:
- using

[2022-10-16 13:10] maprehensive commented on #362
@Itsmiracle1130 This is a very distinct and eye-catching design.

The incorporation of parts of the logo and clipboard is well done.

I would be interested to see:
- some of your design rationale / decisions written down
- your summary of what the final icon shape is meant to represent
- versions using fewer colors - simplifying can really strengthen a design
- showing the icon in context - e.g. t

[2022-10-16 13:15] maprehensive commented on #362
@Thimmo This is a nice execution, I like the way you've brought your ideas together.

Good communication of the design rationale, and it's great to see the different sizes.

I would be interested to see:

- an iteration on the sizes of the elements in the icon - the checkboxes, list lines, ODK-X logo - the balance doesn't feel quite right
- Could the tick be incorporated into a check box? that may

[2022-10-16 13:39] maprehensive commented on #361
@jessjaey Well done, again these are good concepts and great to see iterations of the designs.

The solid background in the first iteration makes it visually stronger, especially at small sizes. It is a nice shape - a little bit abstract, which works well.

I can see it will be a challenge to incorporate the shape and the logo at the right size. That should be the focus of the next iteration - mak

[2022-10-16 13:40] ghost commented on #357
Presently, there is no consistency across the screens for the menus. The user needs to be familiar with the screens without giving them the stress of learning. To remedy this situation, I have changed all the menu items to be locked in the overflow menu and thus the user clicks the overflow menu for the items to be revealed.

### Why is this a better way?
- The user does not need to guess the purp

[2022-10-16 13:48] maprehensive commented on #361
@JessicaItepu This is a nicely presented, strong, clear design.

The use of a single color works well, and the overall simplicity is a strength.

For your next iteration you could consider:
- is Var 1 meant to sit on a brown background? Or is it a thick brown border? Maybe the brown and white could be inverted to maximize the size of the table / cells part of the icon
- I think the header in Var 2

[2022-10-16 14:06] maprehensive commented on #360
@Thimmo Nice work, this is well laid out and clearly expressed.

Note that this issue is focussed on the Survey app. I note there was a type in the body referring to Services - I've corrected that. The Services designs can go in a separate issue.

It's good that you've simplified the nav by removing the cog from the header.

You should also show what the menu looks like when it is open / selected,

[2022-10-16 14:09] Augusta2 commented on #359
Hello @maprehensive
Hope your day is going well?

This is my contribution on this issue.

The users I asked to check out the App did not notice that the Button holding the form name was clickable, therefore, they missed whatever information they would have gotten from it.
I think we should solve the issue of the Form navigation and also find a way to make the other information reachable and more n

[2022-10-16 14:11] maprehensive commented on #360
@Praise-Ugwum Thanks - this is a nicely presented design.

The design shows Services app - this issue is for the Survey app navigation. Do you have a design for Survey?

[2022-10-16 14:31] cvemann commented on #360
Hi again @maprehensive

I'm certain you must be getting loads of notifications.

As part of the efforts to uplift the UI of the ODK-X tools, I redesigned this menu navigation UI to give it a modern look and feel. This involved:
- Applying my UX Writing knowledge to improve some of the microcopies to make menu labels clearer, easy to understand and navigate the app.
- Using proper information archi

[2022-10-16 14:33] maprehensive commented on #360
@Augusta2 Well done getting user feedback on the navigation and highlighting user issues in your design.

Moving Sort by into the page is a good way to address the issue of discoverability. Can this be done with standard Android design components? You could reference the material design guidelines to see if there is a standard design pattern that can be used.

Including a home button in the header

[2022-10-16 14:42] maprehensive commented on #360
@Karimatu05 This is a well presented, clean design proposal.

It looks good, and it's great to see your icon design in there as well!

The menu for Survey has Sync, Settings, About and Sort by – your design has different options.

The sync icon rotates in different screens, is there a meaning behind this?

The behavior of Sync is mainly handled by the Services app, so showing the success/fail stat

[2022-10-16 16:31] caxrii commented on #359
![Light](https://user-images.githubusercontent.com/99927193/196046442-91ac5362-0553-4a6f-b37a-a58e30aeedb5.png)
![Light 1](https://user-images.githubusercontent.com/99927193/196046436-b9652ebe-afb7-434b-a981-a1cc262f1db6.png)
![Light 2](https://user-images.githubusercontent.com/99927193/196046440-ad9e4f5e-4030-41b1-8c5b-246f943b4b8e.png)
![Light 3](https://user-images.githubusercontent.com/9992719

[2022-10-16 18:13] Augusta2 commented on #360
Thanks @maprehensive
I will get right to it

[2022-10-16 18:49] Grace-io commented on #362
Thank you for the feedback @maprehensive
 I will ensure that I implement them in my next iteration.

[2022-10-16 19:20] caxrii commented on #331
@maprehensive

**Services sync dialogue UI update :**
1. I used auto-layout for the sync dialogue and put its resizing properties to fixed width and height  .The contents in the auto-layout resizing properties are also set to fixed width and height. This would to prevent the element from changing height and 'flickering' when the sync details change from single line to multiple line
2. I used chang

[2022-10-16 19:46] Caxri7 commented on #331
![Uploading Sync.png…]()

[2022-10-16 20:55] IjeomaGeorge commented on #365
Thanks for the feedback @maprehensive , I'll submit this immediately

[2022-10-16 21:51] Augusta2 commented on #360
@maprehensive You said i should follow desighn guidelines. I assume you meant font colours and styles?

If yes, then I adjusted it
![Augusta_Sort3](https://user-images.githubusercontent.com/115414092/196059926-d7578db5-5ebf-4e1a-a910-887a849d311c.png)

I also came up with other designs for the sort by option.

For the first design, I agree with @Cveman1 and I think a search button will really be h

[2022-10-16 22:17] Pamela-owino commented on #360
@maprehensive The sort by button was hidden and not easily accessible by a user. To fix this,I removed the settings and menu Icon and replaced them with a tertiary filter button. The filter icon is more important in this case because it helps the user achieve their desired task.
![Screenshot 2022-10-17 01 07 33](https://user-images.githubusercontent.com/115387068/196060759-978c22b6-8ee2-45e3-b48b-

[2022-10-17 01:02] JessicaItepu commented on #363
![Odx service logo redesign](https://user-images.githubusercontent.com/115474999/196068280-379e84a4-ec05-47e8-b391-eb695828fbb6.jpg)

Thank you @maprehensive for your kind feedback, i tried to put your suggestions into these redesigns.
I changed the logo used from ODK to ODK-X and tried reducing the colours to strenghten the overall execution like you said.
I also presented these in smaller sizes

[2022-10-17 02:50] JessicaItepu commented on #363
![Untitled](https://user-images.githubusercontent.com/115474999/196078676-eeb2d015-8550-4789-a000-0119e3b88a31.png)
![Untitled](https://user-images.githubusercontent.com/115474999/196078700-d947a3a7-3b91-4af3-901a-522e72580042.jpg)
![Untitled nn](https://user-images.githubusercontent.com/115474999/196078712-39a5c649-0c12-4d7a-beb9-cfe5aec6916e.png)
![Untitled n](https://user-images.githubuserconte

[2022-10-17 03:20] JessicaItepu commented on #363
![Untitled z](https://user-images.githubusercontent.com/115474999/196082117-e71052f6-2757-427e-896a-72ddd00d1ecb.png)
![Untitled v](https://user-images.githubusercontent.com/115474999/196082131-125481b0-e8c2-411c-9439-da5772fd4317.png)
![Untitled y](https://user-images.githubusercontent.com/115474999/196082141-2b7438b7-1f87-4a93-8346-1f51299a18f9.png)
![Untitled nn-2](https://user-images.githubuse

[2022-10-17 06:29] jessjaey commented on #361
Thankyou for your feedback
I'll work on it✨> @jessjaey Well done, again these are good concepts and great to see iterations of the designs.

[2022-10-17 06:31] jessjaey commented on #362
@maprehensive Thankyou for your feedback
I'll work on it✨

[2022-10-17 06:33] jessjaey commented on #363
Thankyou for your feedback
I'll work on it✨

[2022-10-17 08:05] Itsmiracle1130 commented on #362
Thanks for your feedback @maprehensive ,all observations are duly noted and will be effected as requested in my iteration

[2022-10-17 12:05] Blessing1135 commented on #366
@maprehensive Trust you are good? Thank you so much for the opportunity, however I have a question  regarding the issue, must this changes be made using the android Studio or one can use figma? I am very new to these and I need help. Thank you.

[2022-10-17 12:06] Karimatu05 commented on #360
@maprehensive ,The sync icon was added to aid user understand the system feedback and how that will enable them know what happening to the sync at a point. But since the implementation will be hard to fit in we can have it pending I believe. here is my second iteration. i would be waiting for your feedback please thank you
![Second Iteration2x](https://user-images.githubusercontent.com/100648626/1

[2022-10-17 17:39] cvemann commented on #366
Hi @Blessing1135, some issues have descriptions that tell whether it is technical or for the UI stream of the applicants. Although I stand to be corrected, the technical stream is for the Android developers while the design is for the UI designers:

See here:
![image](https://user-images.githubusercontent.com/80982139/196245450-20a38813-162c-4f67-9efb-2d9723d270e9.png)

[2022-10-17 17:44] caxrii commented on #357
![ODK-X Tables](https://user-images.githubusercontent.com/99927193/196245233-0f7f1675-b062-4e55-aa4d-e5bdbb0f6f5f.png)
![ODK-X Tables 01](https://user-images.githubusercontent.com/99927193/196245207-d94ea376-e0ae-4e01-8532-e713bc9327e4.png)
![ODK-X Tables 02](https://user-images.githubusercontent.com/99927193/196403648-55a73b11-3f34-42bd-a7b5-b98016a2a439.png)
![ODK-X Tables 03](https://user-image

[2022-10-17 21:29] Pamela-owino commented on #360
I removed the settings icon on the navigation bar and replaced it with the filter icon because the latter is more essential to the user.  The filter button was hidden in the menu and, therefore, not easily accessible. Bringing it to a location where it can be seen makes the navigation bar more user friendly.
I then placed settings, account, and about inside the menu.
![Redesign 1 ](https://user-im

[2022-10-17 22:44] JessicaItepu commented on #362
.

[2022-10-17 22:56] JessicaItepu commented on #361
![odk tables icon redesign](https://user-images.githubusercontent.com/115474999/196298565-95004115-dde7-4aa3-8a67-07aa8eb4c54e.png)
![z](https://user-images.githubusercontent.com/115474999/196298424-b7626d2f-c864-4ed0-99ac-8aff0eda521c.png)
![y](https://user-images.githubusercontent.com/115474999/196298492-7ce7470e-5857-422b-9cfe-68b5ff94c817.png)
![tables dark](https://user-images.githubuserconte

[2022-10-18 03:00] jessjaey commented on #362
@maprehensive
Please review my design,I put your feedback into consideration for my iterations of the app icons![image](https://user-images.githubusercontent.com/105664383/196325518-dcf026c8-709c-48e7-8c36-f529177d4a3f.png)![image](https://user-images.githubusercontent.com/105664383/196325537-a8bce20e-d25d-4e46-8dbb-e304506df3f6.png)

[2022-10-18 03:01] jessjaey commented on #361
@maprehensive Please review my design,I put your feedback into consideration for my iterations of the app icons![image](https://user-images.githubusercontent.com/105664383/196325710-51cfd58f-8f8a-4092-abcd-54bf13300458.png)![image](https://user-images.githubusercontent.com/105664383/196325725-74968724-cd32-4544-a758-5200c5ff89f3.png)

[2022-10-18 03:03] jessjaey commented on #355
@maprehensive Please review my design,I put your feedback into consideration for my iterations of the app icons
![image](https://user-images.githubusercontent.com/105664383/196325918-9aca3dd5-9d0b-451f-b82a-d53b75ad3362.png)![image](https://user-images.githubusercontent.com/105664383/196325927-6f4a06c1-521d-447c-bf0d-c69f266a0853.png)

[2022-10-18 03:04] jessjaey commented on #363
@maprehensive Please review my design,I put your feedback into consideration for my iterations of the app icons
![image](https://user-images.githubusercontent.com/105664383/196326000-ecceabdc-7b8e-4bc5-a91d-c5b47f7b50a0.png)
![image](https://user-images.githubusercontent.com/105664383/196326013-38f78d1a-e0d9-47bf-9fb0-c0ea55c16ec3.png)

[2022-10-18 07:11] Augusta2 commented on #363
Good day @maprehensive

I changed the design based on your instructions and added the icon to the status bar and the Header.

![Logo mockup1b](https://user-images.githubusercontent.com/115414092/196359323-784648d0-184b-41e4-af79-d4bdada545f2.png)
![Logo mockup6](https://user-images.githubusercontent.com/115414092/196359416-a63bae26-327f-4ee6-920e-a43692f75da4.png)
![Logo mockup 2b](https://user-im

[2022-10-18 08:31] IjeomaGeorge commented on #359
Hi @maprehensive I redesigned the issue on The navigation between forms pages in ODK-X Survey,
1. I used the eclips on the household survey button just as @Cveman1 which suggests that the button has more character after the household; this allows for the button's simplicity and neatness.
2. Knowing well well that ODK-X App has both a dark and a bright mode, I also created a dark mode for it becaus

[2022-10-18 09:44] caxrii commented on #332
I would like to work on this?

[2022-10-18 10:15] caxrii commented on #360
![ODK-X Survey](https://user-images.githubusercontent.com/99927193/196401514-2c4b4b9c-dafb-497d-a501-9993c3ffb367.png)
![ODK-X Survey 01](https://user-images.githubusercontent.com/99927193/196401567-1327cc9f-76f5-4b79-9099-c2d2a0c64c49.png)

@maprehensive
Here is my thought on the issue the navigation needs to be simple and minimal for users to be able to understand the function and for easy use s

[2022-10-18 13:04] IjeomaGeorge commented on #370
Hi @damiadejoro you can work on any issue, take note of technical issues I think they are for devs, work on issues for designers and comment it under the issue

[2022-10-18 13:45] maprehensive commented on #380
@TrieuNgo if the patch files contain the fix for the issue, can you submit it as a pull request?

@wbrunette we need to add a barcode reader JS lib to our web app in Tables, and this requires permission to access the camera.

We have previously been getting users to install a separate app, zxing. We need to simplify our setup process, so we want to remove the separate app from the process.

[2022-10-18 13:51] maprehensive commented on #366
@Blessing1135 the changes for this issue would need to be made using Android Studio.

Thanks @Cveman1 !

[2022-10-18 14:18] maprehensive commented on #363
@JessicaItepu That looks really good!

All variations look strong to me. The outline weight is good, and simplifying to blue makes it clearer.

This is great for your application. You can keep iterating if you like, but this is plenty if you'd like to look at other issues.

Thanks!

[2022-10-18 14:23] maprehensive commented on #363
@jessjaey This iteration is really clear and simple - nice work!

I think the ODK-X logo is still a little hard to see (my eyesight is quite bad 🤓). One suggestion is to slightly increase the whitespace around the logo – that can help bring clarity at small sizes.

But this is minor feedback - it's a good iteration and the icon has really progressed. This will make a good contribution to your appl

[2022-10-18 14:28] maprehensive commented on #363
@Augusta2 Good work - great to see the variations in context.

I have one suggestion - try removing the white background behind the ODK-X logo - if you can integrate the logo with a transparent background it will give it extra 'polish'

Thanks for iterating on this, it's really good to see the progression of the work!

[2022-10-18 14:29] mishymia commented on #359
Hi @maprehensive
The goal is to make longer names fit so it doesn't break out on some devices
Here's my idea and reasons for the redesign.
- The button that contains "Household survey", I added a drop-down icon to clearly indicate that it is a button.
- I increased the spacing between text and the icon (48px maintaining the 8pt grid system of the guidelines), doing so it can contain longer texts a

[2022-10-18 14:33] maprehensive commented on #362
@jessjaey This is really nice.

I like the way you've simplified and provided a rationale for your preferred design.

My only minor feedback is the same as for Services icon:

Thanks!

[2022-10-18 14:38] maprehensive commented on #361
@jessjaey This is another good iteration, and I can see the common style running across the three icons.

One thing I notice is the softer pink/orange background color makes the icon a little less crisp at smaller scale. If you were really polishing the icon that could be something to work on.

But again, this iteration shows good improvement and is great for your application.

Thanks very much :)

[2022-10-18 14:43] maprehensive commented on #361
@JessicaItepu Very nice.

I like the improvements you've made to both variations. Var 2 is really standing out; the drop shadow is effective and the logo looks clear at the larger size.

The dimensions of Var 2 might present some problems for certain treatments, sometimes a more square shape is just easier to manage in different situations.

But these are great iterations and very good references

[2022-10-18 14:51] Augusta2 commented on #363
@maprehensive I wish I can get the SVG of the logo.
Can anyone help me out?

[2022-10-18 15:04] maprehensive commented on #360
@Cveman1 Fantastic contribution - very ambitious, thoughtful and clearly explained.

My feedback:

**Search** - good feature suggestion. At my organization we have built a search field - except in Tables, where we render our  forms -it's a useful feature. It is out of the scope of this task though, because we want to focus on redesign of existing functionality. That's not a problem, as I think you

[2022-10-18 15:07] Karimatu05 commented on #362
@maprehensive  what do you think on this?
![ideas 2](https://user-images.githubusercontent.com/100648626/196469626-5cdac698-f683-428c-ad65-43b1609813a1.jpg)

[2022-10-18 15:17] maprehensive commented on #360
@Augusta2 great to see these iterations, nice work.

Search - same feedback  as for @Cveman1 - good feature suggestion – it's a useful feature. It is out of the scope of this task though, because we want to focus on redesign of existing functionality. I agree that your treatment has a nice balance between the Sort and Search functions, it's nicely executed.

If you iterate again, remove the search

[2022-10-18 15:22] maprehensive commented on #360
@Karimatu05 This is looking really consistent and clean. The Material icons work well with your app icon, and the navigation looks very clear and usable.

I'm not completely sure what Sync info is, so that could may be be explained further.

Nice work!

[2022-10-18 15:32] maprehensive commented on #360
@Pamela-owino Great to see the grid layout in action! 📐

Bringing the sort icon out of the menu is a simple and effective solution to make it more findable. And I think the icon is well-known enough that it works without a label. This is a good design solution.

Some feedback for improvements:
- ODK-X is Android only, so it's better to reference an Android device / screen size rather than iPhone
-

[2022-10-18 15:37] maprehensive commented on #360
@Caxri7 Very clean and simple design and well explained.

The decision to remove the icons is a strong design choice. A possible improvement that wouldn't affect the simplicity is to change the order of the menu options by frequency of use.

Thanks!

[2022-10-18 15:39] caxrii commented on #360
Thanks @maprehensive

[2022-10-18 15:40] maprehensive commented on #358
@Caxri7 You can work on this without being assigned - go for it!

[2022-10-18 15:41] JessicaItepu commented on #363
Thank you so much.. @maprehensive see you in other projects

[2022-10-18 15:42] Augusta2 commented on #363
@maprehensive  This is my design without the white background.

![Screenshot 2022-10-18 163355](https://user-images.githubusercontent.com/115414092/196478325-e1ee9036-dcd5-4f4d-96a1-2448dbd502a4.png)
![Screenshot 2022-10-18 163612](https://user-images.githubusercontent.com/115414092/196478329-d0417c51-cc4f-47df-a652-de5aa26289c0.png)
![Screenshot 2022-10-18 163629](https://user-images.githubuserco

[2022-10-18 17:30] caxrii commented on #358
![ODK-X Services](https://user-images.githubusercontent.com/99927193/196489389-b0d02020-a3f7-402c-90bf-22f784bcc37e.png)
![ODK-X Services 03](https://user-images.githubusercontent.com/99927193/196489217-17e7aadb-c820-4122-83dd-7fa0f205b50e.png)
![ODK-X Services 02](https://user-images.githubusercontent.com/99927193/196489205-4e3b4735-f7bb-4cf4-8bd2-7bcb7f197c40.png)
![ODK-X Services 01](https://us

[2022-10-18 22:39] Augusta2 commented on #357
Hello @maprehensive
These are my iterations on this issue

![Screenshot 2022-10-18 232839](https://user-images.githubusercontent.com/115414092/196557935-d96336b3-7b9f-4432-b6d4-ca42481b4b3c.png)
![Screenshot 2022-10-18 233101](https://user-images.githubusercontent.com/115414092/196557974-16b971aa-3195-41b4-a517-5e055aa0e2a5.png)
![Screenshot 2022-10-18 232922](https://user-images.githubusercontent

[2022-10-18 22:40] Grace-io commented on #362
Hi @maprehensive, here is what I was able to come up with after iteration based on your feedback. I'll appreciate more feedbacks as it will help me improve my design.
![Odk-x survey logo icon iter](https://user-images.githubusercontent.com/115491097/196558425-eef53030-9cdc-4357-a5af-f1fb4a64716a.png)

[2022-10-19 00:55] maprehensive commented on #332
@BlueSkiez-dev @Cveman1 @AkorOG @G-ann Yes, please go ahead and work on this. This is a technical piece, and will require some input from @wbrunette

[2022-10-19 03:22] Thimmo commented on #362
@maprehensive Thank you for your feedback. I reiterated on the design based on your feedback. I was able to come up with these changes.

- **I incorporated the circle tick into the checkbox**
- **I also simplified the use of colors to strengthen the design**
- **Lastly, I balanced up the size of the elements in the design from the checkboxes to the list lines and the ODKX logo**

![completed surve

[2022-10-19 08:10] Rubadel commented on #366
@maprehensive Hello Dear,
I see that more of one worked on this task, Is it okay? Can I work on what I issue want without worry if another one get worked on it before me ?

[2022-10-19 11:45] Augusta2 commented on #360
Wow, thanks @maprehensive. I definitely learnt something new and I enjoyed the process.

Here is my design.
I designed this in 3 states;
 - Unselected state
- Pressed state
- Selected State

Unselected state
![Augusta_Toggle button](https://user-images.githubusercontent.com/115414092/196680131-fcc2503a-4188-4855-88d5-0148b7e117bb.png)

Pressed State
![Augusta_Toggle pressed](https://user-images.gi

[2022-10-19 12:21] Rubadel commented on #360
@Augusta2 Hi sir, Could I ask you about the place of the adding menu, I do not find main_activity.xml file or something like that.. could you guid me about that please

[2022-10-19 12:29] Augusta2 commented on #360
I don't understand. Is it for this issue?

[2022-10-19 12:36] Rubadel commented on #360
Yes about this, see here
<img width="95" alt="Screen Shot 1444-03-23 at 3 34 28 PM" src="https://user-images.githubusercontent.com/66481905/196692339-717692bb-0c0f-4b5e-8ab7-8a582cdcd38c.png">
 I means This menu

[2022-10-19 13:09] Augusta2 commented on #360
This particular issue is a Design problem, not technical.

We are required to redesign the Menu navigation and post screenshots of our design here.

So just download the App, go through it and redesign it according to the instructions posted above.
I use Figma, there are other softwares you can use.

[2022-10-19 13:18] Rubadel commented on #360
Okay, Thank you very much dear

[2022-10-19 13:37] Joyfro commented on #363
@maprehensive Kindly review my services app logo redesign. I would appreciate a feedback , thank you

![Desktop - 1 final](https://user-images.githubusercontent.com/111269247/196722921-6eee499e-40f6-4464-b753-cfb012a66e2c.jpg)

![Changed mockup light mode](https://user-images.githubusercontent.com/111269247/196706567-081fd12b-3f2f-4778-8934-fccf8ae3d374.jpg)
![Changed mockup dark mode](https://use

[2022-10-19 14:11] maprehensive commented on #366
Hi Ruba, yes you can work on any of the Outreachy issues. Multiple people can work on these issues. Sent from my iPhoneOn 19 Oct 2022, at 4:11 pm, Ruba Adel ***@***.***> wrote:﻿
@maprehensive Hello Dear,
I see that more of one worked on this task, Is it okay? Can I work on what I issue want without worry if another one get worked on it before me ?

—Reply to this email directly, view it on GitHub,

[2022-10-19 17:08] salmasabo commented on #364
@maprehensive heres my submission to the issue![image](https://user-images.githubusercontent.com/115367130/196758059-fea05d51-ff0d-490c-b481-f6232044693e.png)

[2022-10-19 17:13] salmasabo commented on #364
@maprehensive heres my submission for the issue ![image](https://user-images.githubusercontent.com/115367130/196759373-2a14e228-2c4d-44df-889a-a3f80c437e94.png)

[2022-10-19 17:16] JessicaItepu commented on #364
Hello. @salmasabo, for your image to show i think you have to put it first. That is select image first .. then add your comment.

[2022-10-19 17:20] salmasabo commented on #364
Hi Jessica,thank you for letting me know,let me correct it now.

[2022-10-19 17:21] salmasabo commented on #364
![image](https://user-images.githubusercontent.com/115367130/196760820-ba601a8b-3e84-4d50-900c-84142f0670e9.png)

@maprehensive heres my submission to the issue.

[2022-10-19 17:24] salmasabo commented on #364
![image](https://user-images.githubusercontent.com/115367130/196761749-046ad91a-f60b-4350-b920-1ed4ba6679a1.png)
Hello @maprehensive heres my submission to the issue.

[2022-10-19 17:29] JessicaItepu commented on #364
![Screenshot_20221019-182809_Samsung Internet](https://user-images.githubusercontent.com/115474999/196762894-39e9720d-1010-4b60-9d00-32121c47ac64.jpg)

Did your picture show this long text before you hit send?

[2022-10-19 17:31] salmasabo commented on #364
Yes it did,looks like it's still not showing the image right.?

[2022-10-19 17:31] JessicaItepu commented on #361
![odk tables icon redesign 2](https://user-images.githubusercontent.com/115474999/196763478-975278c7-9f12-48e9-ad84-66486d7e2987.png)

I made futher iterations to variant 2 @maprehensive

[2022-10-19 17:34] JessicaItepu commented on #361
![zzzz](https://user-images.githubusercontent.com/115474999/196763981-73b53d5d-0251-4042-8081-c6ce3399dfcc.png)
In context.

[2022-10-19 17:36] JessicaItepu commented on #364
No, its not showing. Try resaving it. From your design app

[2022-10-19 17:48] caxrii commented on #332
@maprehensive @wbrunette what are the technical input required for this.

[2022-10-19 17:55] salmasabo commented on #364
![image](https://user-images.githubusercontent.com/115367130/196767921-cabfba1b-0fa7-431d-8e71-6cb726ead1d7.jpeg)
@maprehensive heres my submission to the issue.

[2022-10-19 18:32] JessicaItepu commented on #364
Hello i need your help. How can i contact you outside this forum. @salmasabo

[2022-10-19 19:57] Redeem-Grimm-Satoshi commented on #364
@Jessica I've replied you on ODK-X forum

On Wed, Oct 19, 2022, 7:33 PM JessicaItepu ***@***.***> wrote:

[2022-10-19 19:58] Redeem-Grimm-Satoshi commented on #364
Redeem Grimm here

On Wed, Oct 19, 2022, 8:57 PM Ram Automi ***@***.***> wrote:

[2022-10-19 20:01] salmasabo commented on #364
Okay,Hit me up on slack

[2022-10-19 20:28] Rubadel commented on #360
@maprehensive
I think is better to be like that,
everything organized within single place, clear and very simple, as well as less activity so less resource..

 I have conducted the design as all guides that mention in the slides, as I tried it with light blue and light green which are in the design guide slides ,

I am very excited for your opinion ^^) ..

https://user-images.githubusercontent.com

[2022-10-19 20:33] JessicaItepu commented on #364
Ohhhhh. I am so sorry. Just got the mail.

[2022-10-19 20:44] JessicaItepu commented on #362
![odk survey 1](https://user-images.githubusercontent.com/115474999/196799925-35809183-5854-41a9-98ff-42408b53ee5a.png)
![odx survey](https://user-images.githubusercontent.com/115474999/196799976-45268ddf-a398-4185-a3fe-00c3bbdebff6.png)

@maprehensive could you check out this design? I tried to put in all your previous suggestions and corrections and i hope this is to your liking. I would like to

[2022-10-19 23:48] Rubadel commented on #359
I design this layout, (I try more than one for search design)

<img width="310" alt="Screen Shot 1444-03-24 at 2 41 38 AM" src="https://user-images.githubusercontent.com/66481905/196824907-05518198-ff14-43c0-b029-0b1db173c283.png">

<img width="315" alt="Screen Shot 1444-03-24 at 2 43 12 AM" src="https://user-images.githubusercontent.com/66481905/196824915-c214100a-72a0-455b-82cf-780550633bb8.png"

[2022-10-20 06:24] wadva474 commented on #364
@maprehensive i have created a PR to address the issue
 - https://github.com/odk-x/tables/pull/204 (Pull request on Tables)
 - https://github.com/odk-x/androidlibrary/pull/235 (Pull request on Android Library)

[2022-10-20 08:21] wadva474 commented on #366
@maprehensive , i have created PR to address themes generally in ODX- applications (Services, Survey and Tables)
The following PR's address the issues
- https://github.com/odk-x/androidlibrary/pull/235
- https://github.com/odk-x/services/pull/251
- https://github.com/odk-x/tables/pull/204

Thanks.

[2022-10-20 10:20] Rubadel commented on #358
@maprehensive

**At the first** for the **sync status icons**,
it is better to be appear based on the sync status, and when click on them show the releted function,

these video display what I mean :

**Conflict sync status**

https://user-images.githubusercontent.com/66481905/196920633-3d61413a-3869-4493-973a-f39e7e7ac0c3.mov

The Icon of sync appear as there is problem with sync, and  the clicki

[2022-10-20 12:45] cvemann commented on #360
Yes, the search and sort feature works hand in hand

[2022-10-20 13:35] cvemann commented on #360
Thanks for your feedback @maprehensive. It's helpful

Okay, the search feature, I understand.

I meant the 'Refresh' to mean 'Scan' on the existing ODK-X Service app.

While 'Contents' is the action hidden when you click on the name of a form in Survey. See here:
![IMG_20221020_142819](https://user-images.githubusercontent.com/80982139/196962112-9231da7f-0e9b-4c5b-9767-5ab27f0ea58b.jpg)

For the *

[2022-10-20 14:54] salmasabo commented on #364
![6](https://user-images.githubusercontent.com/115367130/196981569-c7430639-9b50-4b8e-801b-3f254f7c0c1f.png)
@maprehensive here's my submission to the issue.

[2022-10-20 16:07] wbrunette commented on #332
You will need to check out the Services code and find the appropriate place to update colors. https://developer.android.com/

[2022-10-20 16:10] JessicaItepu commented on #364
Not showing @salmasabo

[2022-10-20 16:18] wbrunette commented on #380
@TrieuNgo please submit a Pull Request and @ me on the PR. Right now I am being @ a lot so if I don't see it tag me again. I do not see a reason we cannot pull that in.

[2022-10-20 16:52] wbrunette commented on #259
The map API key is tied into the build. How are you building the tools you are viewing? Are you downloading and using the official versions from the ODK-X website?

[2022-10-20 17:00] wbrunette commented on #370
To fix this issue you will need to make adjustments to the HTML/CSS/JavaScript files used for our customizable rendering system. The files are located in the application-designer repository.

[2022-10-20 17:05] wbrunette commented on #125
@AkorOG the most current version of the sign in flow is the "outreachy-2022" branch. We will not accept any changes to the current sign-in flow since we already have a new version in the works. If you want to make improvements to the new flow (not the currently released version) that can be reviewed by the PMC.

I would focus on the outreachy tasks that have been published for your application.
 h

[2022-10-20 17:12] wbrunette commented on #371
@baimamboukar Thank you for posting ideas.

While Flutter is an interesting idea, I do not think you can complete the necessary changes within the outreachy internship. There is more work because the customizable rendering framework in HTML/JavaScript/CSS will need to be adapted as well. ODK-X is a customizable platform and we will need to ascertain if all the customizable features can be brought

[2022-10-20 17:46] wbrunette commented on #352
@ZeedDeveloper unfortunatley, that is kind of the issue in itself. If I wrote about it to explain to you then it basically completes the issue. This issue is meant for someone who knows what the URL scheme is to document it.

[2022-10-20 18:04] wadva474 commented on #259
@wbrunette , the Documentation states that the malaria-demo branch of the app designer repository should be installed. which i did  to get the build

[2022-10-20 18:06] wbrunette commented on #259
I am talking about where did you get ODK-X Tables from?

[2022-10-20 18:07] wadva474 commented on #259
i got the Table from the tables master branch @wbrunette

[2022-10-20 18:09] wbrunette commented on #259
The issue is the Map API key is tied into our official release which is cryptographic-ally signed.

Try downloading the 3 official APKs from the ODK-X website.

[2022-10-20 18:35] wadva474 commented on #259
okay,  Thanks would try that out

[2022-10-20 22:00] Karimatu05 commented on #363
hello @maprehensive what do you think on this? Please i will be waiting for your feedback, thank you.
![ideas 3](https://user-images.githubusercontent.com/100648626/197066969-e01ec61e-286d-4cbd-a450-c350e0e98ea2.jpg)

[2022-10-20 22:08] Augusta2 commented on #362
Hello @maprehensive
This is my design for the ODK-X survey icon. I will love to hear what you think about them.

![Survey icon thought process](https://user-images.githubusercontent.com/115414092/197067616-aaeb9471-a848-4a43-b05f-c5d6e79a5b05.png)
![SUrvey Icon thought process2](https://user-images.githubusercontent.com/115414092/197067650-f19ef0d1-0020-45e7-8c40-31052f7f1b50.png)
![SUrvey iconTP3

[2022-10-21 00:23] cvemann commented on #331
Hi again @maprehensive

I’ve updated the colour of the progress bar as specified in the [design guidelines](https://docs.google.com/presentation/d/1Ol7YhG4WPLOWCoQZUrKHLPguHSiDz8RC3m8dNyTGGLo/edit?usp=sharing) and improved the layout to meet the acceptance criteria.

![image](https://user-images.githubusercontent.com/80982139/197077729-2f3c21d4-b1f9-49d5-aa59-d8211f47e95e.png)

### For the dialogu

[2022-10-21 02:40] BlueSkiez-dev commented on #363
<img width="663" alt="Frame 74" src="https://user-images.githubusercontent.com/67054844/197098446-d011ae51-206f-40c2-b283-b6baabd22dc9.png">

@maprehensive @wbrunette  This is my submission for the Services icon redesign
Please let me know your thoughts

[2022-10-21 02:47] BlueSkiez-dev commented on #363
Hi @maprehensive @wbrunette
Here is my submission for the services icon redesign.

I'd love to know your thoughts on this.

<img width="663" alt="Frame 74 (1)" src="https://user-images.githubusercontent.com/67054844/197099285-b017132f-4622-4f56-89ce-839a2aca74ae.png">

[2022-10-21 02:48] BlueSkiez-dev commented on #362
Hi @maprehensive  @wbrunette
Here is my submission for the survey icon redesign.

I'd love to know your thoughts on this.

<img width="663" alt="Frame 75 (1)" src="https://user-images.githubusercontent.com/67054844/197099597-c046f1e7-5c6b-4e64-b1ec-4f436f43ea38.png">

[2022-10-21 03:15] cvemann commented on #362
This is super cool, clean and simple

[2022-10-21 05:52] wadva474 commented on #259
@wbrunette @elmps2018 , I am still having the same issue after installing the official release of Tables, services and Survey.

attached is a video recording for more insight

[tables_recording.webm](https://user-images.githubusercontent.com/34124778/197122444-145de702-afa8-462a-b595-0cc7627713e5.webm)

[2022-10-21 07:49] JessicaItepu commented on #363
Let me be the first to say this is absolutely beautiful

[2022-10-21 08:54] jessjaey commented on #363
This is sleekkkk
I love it!!!
Nice one✨

[2022-10-21 09:20] BlueSkiez-dev commented on #362
Thanks a lot 🙏 @Cveman1

[2022-10-21 09:24] BlueSkiez-dev commented on #363
@JessicaItepu @jessjaey Thank you 🥹

[2022-10-21 10:47] mishymia commented on #357
Hi @maprehensive .
For this issue, the goal is to make icons clearly communicate their functions, so that users can easily know what they do. And also create consistency in the menu bar across the application.
   So here's my redesign and idea:
- For the first screen;
The old menu bar has 4 different icons which can be properly improved as shown in my design.
I placed the "sync icon" and "settings

[2022-10-21 10:58] NiranjanNlc commented on #366
#### Hey @maprehensive , based on the feedback received from @wbrunette  i have updated the following [pr on android libary ](https://github.com/odk-x/androidlibrary/pull/236) followed by the [pr on service repo](https://github.com/odk-x/services/pull/252) to address the issuse .
#### Please review and let us know .
Thanks .

[2022-10-21 18:30] salmasabo commented on #367
![image](https://user-images.githubusercontent.com/115367130/197264625-ae2e6aa9-012d-4712-b9f2-aa290c13ae81.png)
@maprehensive this is light and dark theme redesign to the issue.

[2022-10-21 18:36] salmasabo commented on #359
![image](https://user-images.githubusercontent.com/115367130/197265522-2113e492-f577-4bac-b026-89abcb44818d.png)
@maprehensive
1.I placed the navigations in auto layout so it's scalable and responsive across all devices.

2.I chose chevron icons to indicate back and forth as they are the modern icons used to depict that.

3.also added numeric progress to indicate progress as users fill the form.

[2022-10-21 18:42] JessicaItepu commented on #367
Hello @salmasabo this is a technical project not a design one.

[2022-10-21 21:05] Rubadel commented on #357
@maprehensive,

This is my suggestion about Navigation bar and the icons.

- It solve -different menu for screen- problem.
- It consistent across the application for all devices.
- It is simple, clear, familiar with most users.

<img width="173" alt="Screen Shot 1444-03-25 at 11 42 30 PM" src="https://user-images.githubusercontent.com/66481905/197285516-808199c3-429d-4ea2-9cae-dbe28ab26e5f.png">

[2022-10-21 23:57] Karimatu05 commented on #358
Hello @maprehensive i made this iteration what do you think? i will be waiting for your feedback thank you
![third Iteration](https://user-images.githubusercontent.com/100648626/197306311-d0a5bf75-3cae-4dd3-815b-f8089c5d3f12.jpg)

[2022-10-22 00:04] Karimatu05 commented on #359
Hello @maprehensive what do you think on this please, looking forward to see your feedback thank you
![Household Survey](https://user-images.githubusercontent.com/100648626/197306622-8b96a728-349a-49c7-bc9b-ac42ccd40e8e.jpg)

[2022-10-22 00:45] Karimatu05 commented on #360
Thank you  so much sir and i will remove the sync info  now

[2022-10-22 06:56] Itsmiracle1130 commented on #362
Hello @maprehensive based on your feed back I was able to make a few adjustments to my previous icon and also a few more illustrations
Please I'd like to know what you think about these...

![image](https://user-images.githubusercontent.com/115800726/197325064-f14fe50c-9029-408d-9320-c88ca0ea541e.jpeg)

![image](https://user-images.githubusercontent.com/115800726/197325108-673dcf9a-aaac-41e8-b2e5-

[2022-10-22 10:11] 010220010 commented on #360
Hello @maprehensive I hope this meets you well, this are my little redesign ideas for the odk-x survey menu for an android frame. Below are attached files for the presentation and a mirror of the overall flow.

**The Presentation**

https://user-images.githubusercontent.com/105234341/197333692-a5a6a293-8a85-4d52-a13f-e371703a0cf5.mp4

**The mirror flow**

https://user-images.githubusercontent.com/

[2022-10-22 10:39] salmasabo commented on #332
I would like to work on this issue

[2022-10-22 11:24] BlueSkiez-dev commented on #332
@salmasabo you can go ahead

[2022-10-23 02:37] maprehensive commented on #363
@Augusta2 Thanks, that looks cleaner. Nice work!

[2022-10-23 02:45] maprehensive commented on #363
@Joyfro This is a great idea with nice execution. Very creative.

The ODK-X logo is a bit difficult to see clearly. (It's a difficult logo to work with!) Two suggestions to increase the eligibility: increase the size, increase the space around the logo. Having the icon outline so close to the logo makes it a bit harder to see clearly.

And I notice in the mockup of the header that the sync in the

[2022-10-23 02:52] maprehensive commented on #363
Hi @Karimatu05 This is a good start - strong presence, nice use of color and a new take on representing Services.

My feedback would be to choose which element you would like to be dominant - the phone frame, the hammer and screwdriver or the logo - and then rework it so that element is visually prominent.

At the moment the phone frame is the strongest due to the size and thickness of the lines.

[2022-10-23 03:06] maprehensive commented on #363
@BlueSkiez-dev Very nice. The icon does achieve the goals, bold, clean etc, that you've set out.

The specification asks for the ODK-X logo to be incorporated. It's not a bad thing to vary from the specification, but you should include the reason in your rationale. In your next iteration or your application you could say why you thought the ODK-X brand would still be communicated even without the

[2022-10-23 03:20] maprehensive commented on #362
@Karimatu05 This is great. Clean and simple, and I like the consistency you've got across your different app icons.

The icon is a little big in the mockups compared to the navigation icons - it's approx twice the height now. You could try bringing the size down to see if it still works well in the app header.

Nice work, this is looking really good.

[2022-10-23 03:27] maprehensive commented on #362
@Grace-io Very nice! This is looking good.

Further feedback:
- the solid line makes the icon stronger versus the outline stroke you used in the local screen mockup
- the list lines are getting a bit squashed and lost at small sizes, it would be good to see if you can make these more prominent by spacing, reducing from 3 to 2, using less colors or some other way!

Great iteration, thanks!

[2022-10-23 03:29] maprehensive commented on #362
@Thimmo I think this works well. It's very clear, particularly at the larger sizes.

Thank you!

[2022-10-23 03:29] maprehensive commented on #362
@Thimmo I think this works well. It's very clear, particularly at the larger sizes.

Thank you!

[2022-10-23 03:34] maprehensive commented on #362
@JessicaItepu This is looking really good - strong in the light and dark mode.

The overall icon size is too big in the mockups. You could check out standard dimensions in the top app bar and try resizing yours: https://m3.material.io/components/top-app-bar/overview

Thanks!

[2022-10-23 04:02] maprehensive commented on #362
@Augusta2 This is good. The write-up of your thought process is clear and helpful, the decisions you have made make sense.

Feedback:
- simplify: focus on the idea that you think is the strongest and make it prominent so that it is unmissable, even at small sizes
- the ODK-X logo looks altered - you should use the existing logo.
- keep working on the overall size - it will need to be even smaller

[2022-10-23 04:08] maprehensive commented on #362
@BlueSkiez-dev This is a good start, well done.

My comments re. the use of logo and the choice of color from the Services app apply here as well.

Feedback: the check/tick mark is a bit lost in the mockups - it looks like it's competing for prominence with the background color or the circle color.

I would try to make the tick stand out very clearly at smaller sizes.

Great work, thank you.

[2022-10-23 04:13] maprehensive commented on #362
@Itsmiracle1130 Great iteration with a very clear explanation of the thought process.

The use of the X is clever, but it is not standing out, especially smaller sizes. You could explore how to make this more prominent by reducing the lines, changing color, size or something else!

Good to see the color variations – which color do you think works best, and why?

Thank you!

[2022-10-23 04:21] maprehensive commented on #361
@JessicaItepu Very nice!

I think this consolidates the strengths of the icon – it is clear and has good presence.

One small thing - I measured the new icon off the screen and it's pretty much 1:1 ratio (97 x 97px). How are you measuring it to get 45 x 38?

And I would check the standard dimensions of the icons in the top app bar - https://m3.material.io/components/top-app-bar/overview - it looks

[2022-10-23 04:31] maprehensive commented on #360
@Augusta2 Good to see that incorporated into the design.

It's definitely a way to make the sort more prominent. Do you think that it works well? You could add some notes to your application on this.

Thanks for the iteration – looking forward to seeing this in your application :)

[2022-10-23 04:56] maprehensive commented on #360
@Rubadel Nice work. It's a good start on bringing a full global navigation to the apps.

Feedback:
- the user might be overwhelmed by the number of choices
- some choices may not be as relevant in different contexts (reset configuration, Table specific settings)
- the navigation will change in different parts of the apps, so that might add confusion for the user

I like the overall idea. If you do

[2022-10-23 04:59] maprehensive commented on #360
@Cveman1 Thanks! You've gone deep into the application - that's fantastic.

Look forward to the next iteration.

[2022-10-23 05:09] maprehensive commented on #360
@010220010 Good ideas in this design, well done.

Feedback:

The Sort selection looks like it would require custom development - is this the case? If yes, that would be good to revisit, since the focus of this project is to create standard designs that can be easily templated for the community to use. https://m3.material.io/components is a reference for standard UI.

I would like to see the ration

[2022-10-23 05:37] JessicaItepu commented on #361
Oh when i click on it in my design app thats the size. I also put in that specific size. I will check to see if something changed. Thank you @maprehensive

[2022-10-23 06:04] JessicaItepu commented on #361
![IMG-20221023-WA0000](https://user-images.githubusercontent.com/115474999/197376698-5cc664c0-5d9c-432a-af47-701c156338e7.jpg)
@maprehensive i just used snipping tool to get a screenshot so the dimensions can show it real time. The icon is 45 by 38.
From your correction i will try to make it smaller and show you what it looks like.

[2022-10-23 06:14] JessicaItepu commented on #361
![new tables icon blck](https://user-images.githubusercontent.com/115474999/197377022-8a3700bf-3a11-46b2-8b81-b64b623929cd.png)
Reduced the size to 40 × 35.

![IMG-20221023-WA0001](https://user-images.githubusercontent.com/115474999/197377041-9a6855d3-a36a-45b5-8ee9-dbd5c3c21f91.jpg)
Size seen in screenshot of design screen.

@maprehensive

[2022-10-23 06:26] JessicaItepu commented on #362
Thank you @maprehensive for the feedback. I have tried reducing the size.

![odx survey-1](https://user-images.githubusercontent.com/115474999/197377372-8ac98aea-c27c-4370-89f4-6e60bb99c76e.png)
![IMG-20221023-WA0002](https://user-images.githubusercontent.com/115474999/197377386-f750014e-4d75-4afe-9dc2-cd5499ee8a7e.jpg)

[2022-10-23 07:17] JessicaItepu commented on #359
..

[2022-10-23 07:18] JessicaItepu commented on #358
..

[2022-10-23 07:19] JessicaItepu commented on #357
...

[2022-10-23 07:39] salmasabo commented on #367
Okay,thank you

[2022-10-23 09:19] maprehensive commented on #357
@BlueSkiez-dev Apologies for the slow feedback.

This is great. The issues are clearly identified and solutions well articulated and justified.

1 and 3 establish a pattern of a single action promoted on the top app bar, the visual treatment is a nice reinforcement.

The table view content options are good. Redesign #1 does a good job of promoting the different views which may not be easily found

[2022-10-23 09:31] maprehensive commented on #357
@Emenyi95 This is a good start. Great that you've gone deep into the app, and down into the lower levels!

Feedback:
- is there an action / navigation item that could be promoted to the top app bar? There is the potential to save the user a few taps.
- is the order of the menu items optimized and logical? Since the design relies on the menu, ordering, grouping etc could be considered to improve th

[2022-10-23 09:34] maprehensive commented on #357
@Caxri7 A nice, clean design solution and good presentation.

My feedback (as with Emenyi95)

- is there an action / navigation item that could be promoted to the top app bar? There is the potential to save the user a few taps.
- is the order of the menu items optimized and logical? Since the design relies on the menu, ordering, grouping etc could be considered to improve the user experience.

Tha

[2022-10-23 09:47] maprehensive commented on #357
@Augusta2 Great work - very thorough and well presented.

The icon improvements are good - although Table Manager and Table Settings may not be obvious to all users.

The floating action buttons are interesting, and can be a good way to introduce contextual actions. Do they require custom development? Is there a Material component that could achieve a similar outcome? That would align with the goa

[2022-10-23 09:55] maprehensive commented on #357
@mishymia This is really nice work. Consistent and thoughtful, I think it improves the design.

Organising by screen has strengthened the design rationale by referencing the context. Thanks!

Good work creating clear text labels, like "Import CSV File". That's effective.

Feedback: You could expand on your reasons for hiding some icons, like Sync on the first screen. And I would be interested to k

[2022-10-23 09:58] maprehensive commented on #357
@Rubadel Great to see this 'global' solution linking across all apps.

Feedback: for Tables, there's a few variations of the navigation, so if you iterate on this design, it would be good to see how the solution handles the different requirements of the screens in Tables. There's a few functions that aren't currently represented in your design.

Thank you 🙏🏻

[2022-10-23 10:05] mishymia commented on #357
Thank you

[2022-10-23 14:38] jessjaey commented on #362
@maprehensive I did a few variations to work on your feedback.please review
![image](https://user-images.githubusercontent.com/105664383/197398281-59b7fb4c-7545-42f7-aa47-0ebb9553699d.png)![image](https://user-images.githubusercontent.com/105664383/197398287-105afcc5-17b2-4f79-be27-103eb2935b1d.jpeg)![image](https://user-images.githubusercontent.com/105664383/197398288-bf0cb7a3-839e-49b6-918d-c7d9

[2022-10-23 14:41] jessjaey commented on #361
@maprehensive I made iterations from the feedback. Please review
![image](https://user-images.githubusercontent.com/105664383/197398465-ff63c871-d153-430f-9911-9db773c2a107.png)![image](https://user-images.githubusercontent.com/105664383/197398472-fcc1f366-5a50-4aef-b3f6-f24c29d7dee6.jpeg)![image](https://user-images.githubusercontent.com/105664383/197398478-3aa8c664-5908-4fd4-b833-9544ae33f687.jp

[2022-10-23 14:44] jessjaey commented on #363
@maprehensive I made more iterations from your feedback
Please review!![image](https://user-images.githubusercontent.com/105664383/197398607-f8c15cc7-321e-485b-87bb-c697694caf06.png)![image](https://user-images.githubusercontent.com/105664383/197398618-6d993683-97c0-4b1e-b0a6-5d0311729d63.jpeg)![image](https://user-images.githubusercontent.com/105664383/197398628-1f98edc1-8445-4f9b-ab9a-8c58a7b0ea

[2022-10-23 15:36] Grace-io commented on #362
Thank you 😊
I will definitely put these into consideration in my next iteration. Thank you for your feedback

[2022-10-23 19:05] cvemann commented on #360
Thank you for this @maprehensive

Yes, and definitely, the next iteration.

[2022-10-23 23:34] JessicaItepu commented on #360
![odkmenu 1 png](https://user-images.githubusercontent.com/115474999/197423614-1720512b-5e99-4f04-86da-312c13c5d2f4.png)
![odkmenu 2-1](https://user-images.githubusercontent.com/115474999/197423643-c6dc1661-0d80-4b68-8b01-217747cb7ad4.png)
![odkmenu 3-1](https://user-images.githubusercontent.com/115474999/197423647-fc044957-45f2-49a2-9482-8fc7f7991d80.png)
![Description-2](https://user-images.gith

[2022-10-24 06:30] TrieuNgo commented on #380
@wbrunette There are two PRs to grant camera permissions for a barcode reader JS lib to our web app in Tables:
1. https://github.com/odk-x/androidcommon/pull/148
2. https://github.com/odk-x/tables/pull/207

[2022-10-24 10:03] maprehensive commented on #378
@Grace-io Thank you for raising this! It's now an Outreachy issue 🎉 (Sorry for the delay)

@AnishaSingh0118 this can be referenced in your Outreachy application.

Remember that our icon set comes from the Material Design framework - referenced in the Style Guide :)

[2022-10-24 10:55] Augusta2 commented on #362
Thanks @maprehensive

Based on your feedback;
- I reduced  the size to accommodate the status bar and top bar
- I removed one of the features from my previous design and made the checkbox more visible.

In Addition; I made the colours deeper to make it look more mature and stand out.

![odk survey icon ](https://user-images.githubusercontent.com/115414092/197510053-3fff3e4f-cdfe-4a0e-8342-a2409782

[2022-10-24 10:57] JessicaItepu commented on #362
Hi @Augusta2, you posted this under the wrong issue

[2022-10-24 11:54] 010220010 commented on #360
Hii @maprehensive, a big thanks to you for your detailed review on my design but I still find the statement "The Sort selection looks like it would require custom development" confusing, I don't know if you can just briefly explain that to me so that I can tap from your ocean of knowledge in this field.
And as for the rationale for the "select form..." button, I thought that since the aim of the w

[2022-10-24 12:19] Augusta2 commented on #362
Hello @maprehensive
I appreciate your feedback. I made some adjustments.
I reduced the size of the icon.

![survey icon feedback ](https://user-images.githubusercontent.com/115414092/197522942-8d9f090d-920b-4f33-b04d-c25a8a4087ac.png)
![odkx survey icon4](https://user-images.githubusercontent.com/115414092/197522944-7e1877d8-42d3-4313-9934-09baf417df0c.png)
![odkx survey icon 3](https://user-image

[2022-10-24 13:18] Augusta2 commented on #361
@maprehensive Here is my design

![Tables- Thought process](https://user-images.githubusercontent.com/115414092/197534335-a3941f92-530e-44c5-93a4-1db7deb32e9d.png)
![Tables-Thought process](https://user-images.githubusercontent.com/115414092/197534356-0368ee01-3acb-41a3-b61e-826ebaffe46b.png)
![Tables icon redesign](https://user-images.githubusercontent.com/115414092/197534415-7fd94bc3-6a04-4645-9

[2022-10-24 13:38] AnishaSingh0118 commented on #378
Thank you :) Happy contributer.

[2022-10-24 14:12] wbrunette commented on #380
Question for PMC, since this is a fine grain permission and requires a prompt do we want to have it granted before it's needed or a blanket grant of permission on start up?

[2022-10-24 14:55] BennyMakachi commented on #331
@maprehensive  Kindly review my redesign for feedback and approval. Thank you!

<img width="761" alt="ODK-X Scrrendhot" src="https://user-images.githubusercontent.com/115473782/197556768-53267691-6675-437e-900b-1a7455fd180a.png">

<img width="690" alt="ODK SC2" src="https://user-images.githubusercontent.com/115473782/197556500-3059ea81-5159-4d47-8b4d-d07c71e4376d.png">

https://user-images.githubu

[2022-10-24 15:31] cvemann commented on #378
Awesome. Thanks @Grace-io you win

[2022-10-24 16:36] JessicaItepu commented on #366
[Pull request ](https://github.com/odk-x/androidlibrary/pull/239)

[2022-10-24 16:40] JessicaItepu commented on #366
Hello @maprehensive, I have created a [Pull request ](https://github.com/odk-x/androidlibrary/pull/239) addressing the status bar icons in all the odk apps. I have also included screenshots of my android emulator running each app. Thank you.

[2022-10-24 16:51] JessicaItepu commented on #364
Hello @maprehensive, my previous submission to this issue was a designed one as at the time i didn't know the issue was technical.

Noe i have created a [Pull request ](https://github.com/odk-x/androidlibrary/pull/239) adressing it technically. This pull request covers the changes in all the ODK apps and their screenshots. Thank you

[2022-10-24 16:52] JessicaItepu commented on #364
Thank you @Redeem-Grimm-Satoshi for taking your time to put me through on things that were difficult before. 🙏. I hope the review is positive.

[2022-10-24 17:00] JessicaItepu commented on #332
..

[2022-10-24 17:11] mishymia commented on #358
Hi @maprehensive this is my design as I wait for your feedback thanks.
![services 1.png](https://user-images.githubusercontent.com/105456703/197584540-4fbab4a0-d96b-4b3f-870d-e73ac576d70b.png)
![services 2.png](https://user-images.githubusercontent.com/105456703/197584570-af7f150e-6c58-4cc6-82f7-ef4d1baa25da.png)
![services 3.png](https://user-images.githubusercontent.com/105456703/197584597-4c1d7

[2022-10-24 18:10] JessicaItepu commented on #365
I have addressed the issue alonside the other apps and created a [Pull request](https://github.com/odk-x/androidlibrary/pull/239). @maprehensive kindly check this out. Thank you

[2022-10-24 19:19] cvemann commented on #364
Awesome work @JessicaItepu

Wow. You really used the code editor finally

[2022-10-24 20:50] Blessing1135 commented on #366
@maprehensive Good day and thank you for always having time to respond to me, I am not taking this for granted, Yes I asked for an avenue on how to change the status of the odk-x service bar color I was told the changes have to be made via Android Studio though I went to figma to work on a similar thing before I asked, however, I downloaded the android Studio and been trying to understand it bette

[2022-10-24 20:58] Redeem-Grimm-Satoshi commented on #366
@Blessing1135 send a screenshot of the error message you're having.

On Mon, Oct 24, 2022, 9:50 PM Blessing1135 ***@***.***> wrote:

[2022-10-24 21:04] wadva474 commented on #259
@elmps2018 , @wbrunette Please i need Help replicating the features of the app, still having locating issues as indicated in the video . Thanks in anticipation

[2022-10-24 21:29] BennyMakachi commented on #357
@maprehensive, Kindly review my redesign for feedback and approval. Thank you!

<img width="963" alt="Task 1" src="https://user-images.githubusercontent.com/115473782/197632909-26f257de-7698-41a0-8df2-c4a1044e3f37.png">

<img width="919" alt="Task 2" src="https://user-images.githubusercontent.com/115473782/197632709-a79f9aa9-c951-423c-8a24-734d29fe3ab6.png">

[2022-10-24 22:39] Thimmo commented on #378
Thank you @Grace-io for raising this issue.

@maprehensive I have been able to replace the confusing icons with more distinguishable ones. I also tested it with users, and they found no problem associating the new icons with their functions
![issue378](https://user-images.githubusercontent.com/105228037/197643208-9e6ea39b-73b6-44d8-ba35-f3e51b8f1943.png)

[2022-10-24 23:15] Blessing1135 commented on #366
![Screenshot (104)](https://user-images.githubusercontent.com/115433348/197647185-78591f59-d106-491e-bec2-b96f1aea736b.png)

@Redeem-Grimm-Satoshi Thank you for the reply, here is the screenshot.

[2022-10-24 23:42] Pamela-owino commented on #360
@maprehensive Thank you for your feedback. I have made the necessary improvements.
![Screenshot 2022-10-25 02 40 49](https://user-images.githubusercontent.com/115387068/197650321-9af257db-e14e-4c4b-999f-4cecbfe5dd53.png)

[2022-10-24 23:48] TrieuNgo commented on #380
@wbrunette It should be a blanket grant of permission on startup, which is the same as Geo Location permission. After that, a barcode reader JS lib is added to our web app in Tables and then a barcode scanner, with camera permission, is able to be launched by using the javascript on the webview.

[2022-10-25 00:31] Thimmo commented on #360
Thank you for your feedback. I have made reiterations, and this is what I have come up with.

- Reduced the icons on the navigation bar to the synchronization function and the menu bar. I tried bringing the whole contents of the "settings" to the menu to improve the navigation, but it turned out to be overwhelming to the users after testing.
- I brought the "sort by" icon to be in line with the "s

[2022-10-25 08:12] BlueSkiez-dev commented on #363
Hi @maprehensive, good day!
An iteration to the logo based on the feedback you gave

<img width="663" alt="Frame 74 (2)" src="https://user-images.githubusercontent.com/67054844/197719781-fc5fff21-017c-4126-9319-682830ceefa0.png">

[2022-10-25 10:05] BlueSkiez-dev commented on #362
Hi @maprehensive, good day!
An iteration to the logo based on the feedback you gave;

<img width="663" alt="Frame 76" src="https://user-images.githubusercontent.com/67054844/197745307-13e99c0a-408a-4019-a31a-7a942179ecb9.png">

[2022-10-25 10:26] BlueSkiez-dev commented on #361
This is nice 👏🏻
The ODK-X logo could be more prominent though...

[2022-10-25 10:29] BlueSkiez-dev commented on #361
Hi @maprehensive @wbrunette
Here is my submission for the tables icon redesign.

I'd love to know your thoughts on this.

<img width="663" alt="Frame 75 (3)" src="https://user-images.githubusercontent.com/67054844/197750387-2b743090-02ad-47ba-8f2f-24467fd9e72a.png">

[2022-10-25 11:14] AnishaSingh0118 commented on #378
Hello @Grace-io, While making a PR to fix this issue I have kept in mind that it should be licenced so that we can use that icon without copyright. If creativity is concerned then I can put more efforts and can update the icon with a unique and creative manner. So, should I make a PR without copyright icon to show the creative icon format ? Or this one is perfect? Kindly guide.

[2022-10-25 13:39] realdipo commented on #358
**@maprehensive Here are my contributions to Menu Navigation UI improvement #358. I took some liberties with the assigned design guidelines for text colours and error state colours as these weren't outlined in the design guidelines.**

![Rationale 2](https://user-images.githubusercontent.com/30560611/197787631-2fecdcaf-4546-4ab5-ae83-343e613acce8.png)
![Rationale 3](https://user-images.githubuserc

[2022-10-25 18:10] Redeem-Grimm-Satoshi commented on #366
You're cloning the wrong repository.

On Tue, Oct 25, 2022, 12:15 AM Blessing1135 ***@***.***>
wrote:

[2022-10-25 18:45] 010220010 commented on #360
Hello there @maprehensive I hope this meets you well. This is a presentation of the screenshot with their respective text call outs as earlier suggested by you
![The menu panel was decluttered to the barest minimum leaving just a menu icon, the odk-k survey logo and a button  This button seeks to chunk up all the recently opened forms under a single click rather than leaving ](https://user-images.

[2022-10-25 18:58] Blessing1135 commented on #366
Thank you @Redeem-Grimm-Satoshi would you mind helping out with the process to be taken? This is my very first time doing this please.

[2022-10-25 20:34] Karimatu05 commented on #363
Okay sir i will work on it. thank you so much

[2022-10-25 20:34] Redeem-Grimm-Satoshi commented on #366
@Blessing1135 , Go through this: [Setting Up ODK-X Dev Environment](https://github.com/getodk/getodk/wiki/DevEnv-Setup)

[2022-10-25 20:36] Redeem-Grimm-Satoshi commented on #366
It's going to help you understand which repositories you'll be cloning and how to structure them correctly.

[2022-10-25 20:42] Karimatu05 commented on #362
okay sir, i would make some changes now. thank you

[2022-10-25 22:45] Itsmiracle1130 commented on #362
@maprehensive thanks for the feedback
I'll begin work immediately

[2022-10-25 23:42] Karimatu05 commented on #360
@maprehensive what about now please. and please what is the project timeline? are we explaining our design brief more or what? because i really don't understand what this timeline is
![Second Iteration](https://user-images.githubusercontent.com/100648626/197901764-12fa08a7-dd84-4279-806a-0bc008521747.jpg)

[2022-10-26 00:02] Karimatu05 commented on #362
@maprehensive here is the correction what do you think about it please your feedbacks are welcome and please the project timeline are we explaining our design brief more, that's our contribution or we are doing something different?
![ideas 2](https://user-images.githubusercontent.com/100648626/197903888-719bee57-fcb9-4f41-8ae7-3bd869b55060.jpg)

[2022-10-26 09:46] Augusta2 commented on #378
@maprehensive I have solved this issue by simply scanning through icons in the material designs package.
I found an icon that I believe fits the Tables-Specific settings.

![new table settings icon](https://user-images.githubusercontent.com/115414092/197993890-a5fee1fe-d081-4781-bf01-d85608a3b796.png)

- I also changed the 'Verify User Permissions' icon to reference the issue on the Services menu

[2022-10-26 10:00] Augusta2 commented on #357
Thanks for pointing me in the right direction.
I studied the material components and designed a Floating action button similar to that of the Material component.
Colours and fonts used are from the ODK-X design guidelines

![Screenshot_20221026-101307_Figma](https://user-images.githubusercontent.com/115414092/197997222-d478e678-1b37-437b-bd05-5a538b337d9f.jpg)
![Screenshot_20221026-103653_Video Pl

[2022-10-26 20:22] realdipo commented on #357
@maprehensive Here are my iterations for the issue.

![New Design and Old design](https://user-images.githubusercontent.com/30560611/198125564-c4b65bcc-60d2-4363-a142-5d66fe33a244.png)

2. I set out to reduce the complexity of the original menu design by simplifying the actions available to user on the app. A big problem that I thought the design had was passing on too much thought to user, this p

[2022-10-26 22:21] cvemann commented on #357
Hello everyone and @maprehensive

I have improved the navigation UI using a single-page information architecture model to reduce multiple menu navigation states, and ultimately reduce confusion and eventual drop-off by users.

I used the app again and again to understand the navigation and different view layouts. Also, I looked through common UI patterns in other applications to learn how similar

[2022-10-27 02:54] realdipo commented on #378
Hi @maprehensive @Grace-io Here is my design iteration for this issue

Here is a shot showing my approach to the settings page and the original design. While the issue specifically states the Device specific settings and Table specific settings as the focus, I realised upon working on them that the settings page is filled with Technical jargon meaning that users would either have to guess at their

[2022-10-27 20:11] Grace-io commented on #378
Thank you @maprehensive ☺️

[2022-10-28 00:20] cvemann commented on #363
Hello @maprehensive

Based on your feedback on my initial Services app icon concept, here’s an iteration:

### Improved Services App Icon
![image](https://user-images.githubusercontent.com/80982139/198419792-25181a7b-cf2e-4179-8f8d-7525097704ba.png)

- I integrated the ODK-X wordmark, logomark and brand colours to make it more recognizable and memorable.
- Also, it works in both light and dark bac

[2022-10-28 11:35] Grace-io commented on #362
@maprehensive Thank you for your feedbacks. In this iteration, I reviewed the spacing of the list and changed the strokes to solid lines.
![newww odk](https://user-images.githubusercontent.com/115491097/198577159-12bf648b-7020-4f01-b7a9-1b3c9e1684b5.png)

[2022-10-28 19:24] Itsmiracle1130 commented on #362
@maprehensive I tried to work around the x like you said and I came up with this, I'll really like to know what you think about it

.![image](https://user-images.githubusercontent.com/115800726/198715690-10b23cb6-91de-4822-a56a-2a6d2bb7458e.jpeg)

![image](https://user-images.githubusercontent.com/115800726/198715875-27e03b7c-fce6-4026-946e-c25cfc74b7fe.jpeg)

![image](https://user-images.githubus

[2022-10-29 12:52] AnishaSingh0118 commented on #361
Hello @maprehensive, here are some of my ideas for table app icon.

**Light view:**
![ODK-X TABLE 1 0-01](https://user-images.githubusercontent.com/76876709/198832420-34c75637-bd0f-402a-9041-1f86375a18f9.png)

**Dark view:**
![ODK-X TABLE 1 0-02](https://user-images.githubusercontent.com/76876709/198832415-5ca8d9ce-91a4-4430-b273-f773ecea0243.png)

**Light view:**
![ODK-X TABLE 1 0-03](https://use

[2022-10-29 17:04] JessicaItepu commented on #378
...

[2022-10-30 19:45] JessicaItepu commented on #357
![Tables Ui navigation](https://user-images.githubusercontent.com/115474999/198898493-4ce374d8-6830-45a2-87bb-bf49073509fb.png)
![description 2](https://user-images.githubusercontent.com/115474999/198898496-0e91e324-3aad-4e6a-87a4-19323245451d.png)
![three](https://user-images.githubusercontent.com/115474999/198898498-8cb350ce-c430-4b2f-b5e0-c2600aae3662.png)
![two](https://user-images.githubuserc

[2022-10-30 19:50] JessicaItepu commented on #357
![Tables Ui navigation](https://user-images.githubusercontent.com/115474999/198898680-6b11c28b-5034-4514-af1d-46f446a9b839.png)
![description 2](https://user-images.githubusercontent.com/115474999/198898682-7ade42cf-f366-483a-9017-ff6fd91c36bb.png)
![one](https://user-images.githubusercontent.com/115474999/198898683-79f98c0f-51e0-42b0-a0c8-0d9580d7e79f.png)
![two](https://user-images.githubusercon

[2022-10-31 11:04] AnishaSingh0118 commented on #362
Hello @maprehensive I have came up with these ideas in non copyrighted manner.
Kindly provide feedback.

**Design 1 :**
![odk-x 2 1-01](https://user-images.githubusercontent.com/76876709/197791023-3b8512fd-7665-4f2a-886b-c25db1f7136d.png)

**Design 2 :**
![odk-x 2 1-02](https://user-images.githubusercontent.com/76876709/197791031-3f90a1b9-63eb-4b7f-b33e-b93e0695e639.png)

**Design 3 :**
![odk-x 2

[2022-10-31 15:04] 010220010 commented on #358
Hello there @maprehensive, I hope this meets you well. This is just to put forward my design ideas in a bid to fulfill the set objectives. Below is a well labelled image containing my ideas put together in a chart.
![Authentication from the sync screen (1)](https://user-images.githubusercontent.com/105234341/199123347-1010d5fd-5655-4ad6-ac19-5bbc273f2a57.png)

[2022-10-31 21:32] JessicaItepu commented on #378
![Settings icons design](https://user-images.githubusercontent.com/115474999/199113998-e80e14dc-2285-44ee-9359-62901d8d6165.png)
Hello @maprehensive, this is my submission to this project. I believe these new icons would help dispel any confusion that might have resulted from similar icon usage. These icons are built to communicate their meanings even at first glance. Thank you.

[2022-10-31 21:57] 010220010 commented on #357
Hii there mentor, I hope this meets you well. This is to present to you a result of the few tweaks I carried so as to meet up with the set objectives. Attached herein is a file containing my designs.
![Design Rationale](https://user-images.githubusercontent.com/105234341/199118111-911afdbf-bdc7-44f0-b113-709c773f8c09.png)

[2022-10-31 22:40] Karimatu05 commented on #355
@maprehensive can u check on this iteration please? i was thinking this idea might work so what do you think on it please?

![Logo rational](https://user-images.githubusercontent.com/100648626/199123277-6ed70c7f-9a3d-461f-b005-e052d7241ce4.jpg)
![Application](https://user-images.githubusercontent.com/100648626/199123306-cbf3830b-4ab9-494f-960d-101fabe7511b.jpg)

[2022-11-01 11:41] designita commented on #359
@maprehensive Here is my contribution to the above stated issue, I'd appreciate your review.
![Screenshot (3)](https://user-images.githubusercontent.com/99173516/199224038-922f79f9-3604-4a9d-a315-d962aaff7be6.png)
![Screenshot (1)](https://user-images.githubusercontent.com/99173516/199224109-97a6222e-a277-4402-9ef7-bcea432d04c3.png)
![Group 1](https://user-images.githubusercontent.com/99173516/199

[2022-11-01 11:56] AnishaSingh0118 commented on #363
Here is my input for service app icon @maprehensive kindly provide your feedback.

![odk-x services 1 0](https://user-images.githubusercontent.com/76876709/199226825-28e4ebe0-f5d7-47d8-b3c3-b07a9032bc0c.png)

[2022-11-01 16:01] 010220010 commented on #362
Hello @maprehensive, this is to present my little bit on the survey logo redesign I'll be waiting on your review , thank you.

![As for the redesign of the survey logo  This is a logo which comprises of just two elements which are a pencil and a survey form for simplicity sake and so that the entire concept could still be very much prominent a](https://user-images.githubusercontent.com/105234341/1

[2022-11-01 18:43] Redeem-Grimm-Satoshi commented on #359
**Form Navigation Redesign**
----------------------------------------------------------------------------------
![Google Pixel 6 Pro – 1@3x](https://user-images.githubusercontent.com/45304978/199310646-d7024100-a07a-40e3-b661-882d3818b82d.png)
------------------------------------------------------------------

**##This is modern and minimalist design.**
1. Long form names will be able to fit in si

[2022-11-01 20:36] Pamela-owino commented on #359
Hi @maprehensive This is my redesign proposal
1 declutter the navigation bar and make it more cleaner.
2. The back and next icons are well known and therefore do not need labels.
3. Include page numbers to make it easy for the user to navigate through pages.
![Screenshot 2022-11-01 23 31 48](https://user-images.githubusercontent.com/115387068/199335766-491fabdf-f8d9-47b8-b729-2953d554177f.png)

[2022-11-02 13:15] 010220010 commented on #361
Hello @maprehensive, this is to present my little bit on the survey logo redesign I'll be waiting on your review , thank you.
![Light mode](https://user-images.githubusercontent.com/105234341/199499108-145547d7-6db5-48f6-89b0-2d30fe821b55.png)

[2022-11-02 16:27] 010220010 commented on #363
Hello @maprehensive, this is to present my little bit on the survey logo redesign I'll be waiting on your review , thank you.
![Day mode](https://user-images.githubusercontent.com/105234341/199545965-e6bf3234-dfa8-4dd8-ad66-35ff31fca6bb.png)

[2022-11-02 22:18] 010220010 commented on #359
Hello @maprehensive, this is to present to you my redesign for the flagged issue to meet the set objectives following the approve style guides. Please do well to review it and let me know your thought on it, thank you.

![DESCRIPTION](https://user-images.githubusercontent.com/105234341/199612987-e1ce2c83-8975-45c5-9619-b4d4d5eb19b3.png)

[2022-11-02 22:38] 010220010 commented on #355
This is a little reiteration of the present ODK-X logo as brainstormed by me. A little thought sprang up my mind during this course and I felt that adding a little spice to what everyone is already familiar with should suffice rather than starting a whole new concept that people might find a little bit difficult to get accustomed to. In this vein, I made a text art of the previous logo and fitted

[2022-11-03 02:59] realdipo commented on #361
@maprehensive Here is my submission to this issue
Using app icons such as Figma, Unsplash for inspiration, I went with an idea of stacking information like you would stack tables on top of each other and skewing them a bit to the sides while staying balanced to reflect core principles such as fairness, openness
![ODKX Tables logo redesign 2](https://user-images.githubusercontent.com/30560611/19963

[2022-11-03 11:19] ghost commented on #364
Hi @maprehensive i have tried for days to create a PR on issue #364 but it seems not okay. But then here's my submission for issue #364.

The target API is from version 21

<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:tools="http://schemas.android.com/tools">

    <style name="OdkActionBar"
        parent="Widget.AppCompat.Light.ActionBar.Solid">
        <item name="displayOptions">useL

[2022-11-03 11:25] Erieola commented on #358
Hi @maprehensive
![Erie](https://user-images.githubusercontent.com/81233753/199708920-41429d86-2446-4a56-8fff-03d82e61994b.jpg)

Kindly find the links to my submission below, Feedback will be appreciated.

Figma: https://www.figma.com/file/unVUG3yR0McIsDeeqPrtrO/Erie?node-id=43%3A7373
Prototype: https://www.figma.com/proto/unVUG3yR0McIsDeeqPrtrO/Erie?page-id=43%3A7373&node-id=44%3A7411&viewport=-1

[2022-11-03 13:27] Erieola commented on #359
Hello @maprehensive here's my contribution to this task.

![Form Navigation](https://user-images.githubusercontent.com/81233753/199732634-ae3217fb-f7d2-4521-af4a-9ba59c32adeb.png)

Figma link: https://www.figma.com/file/unVUG3yR0McIsDeeqPrtrO/Erie?node-id=43%3A7373

[2022-11-03 22:59] JessicaItepu commented on #355
Wow i just noticed. @010220010 and @Karimatu05, this project is not open to oureachy applicants. It was stated much earlier when we requested to be assigned. Thank you.

[2022-11-04 05:28] 010220010 commented on #355
Ohh wow didn't see that, thank you.

[2022-11-04 08:58] Redeem-Grimm-Satoshi commented on #364
Hello Emenyi, how can I help?

On Thu, Nov 3, 2022 at 11:19 AM Emenyi Nelly N. ***@***.***>
wrote:

[2022-11-04 11:12] Redeem-Grimm-Satoshi commented on #362
![Survey Icon](https://user-images.githubusercontent.com/45304978/199959203-c87c1485-b181-4cb1-9ab6-39de8b0acb89.jpg)
--------------------------
@maprehensive Feedback Appreciated.

[2022-11-04 11:40] cvemann commented on #360
Yes, I made an iteration. I've made all the changes to focus on improvements to the existing functionality without all the extra work feature.

Here it is @maprehensive.

Based on your feedback, I adjusted the following;
- I removed the 'Search' feature from my [first iteration](https://github.com/odk-x/tool-suite-X/issues/360#issuecomment-1279981679) since it is out of the scope of this project.

[2022-11-07 01:36] cvemann commented on #332
Hi @maprehensive. Trust you're doing good.

I have adjusted the UI of the Services dialogue UI to allow users to show and hide sync details, in a more modern, cleaner and clutter-free design.

Here it is;
![image](https://user-images.githubusercontent.com/80982139/200208440-c4032d67-b0a0-4061-bf9b-e5ce53381414.png)

Although I believe I have fixed the issue of the 'rapidly changing sync details te

[2022-11-09 15:25] JessicaItepu commented on #378
![dark mode](https://user-images.githubusercontent.com/115474999/200870333-20b5ad5c-95e5-41b6-bd07-800d874186dd.png)
Hello @maprehensive i have made a variation for the dark mode to see how the newly introduced icons look in a different theme.

[2022-11-09 20:52] BlueSkiez-dev commented on #355
Hey there @maprehensive @wbrunette
I know this issue isn't for outreachy applicants but I thought i'd give it a shot.

Here's what I came up with
<img width="663" alt="Frame 90 (1)" src="https://user-images.githubusercontent.com/67054844/200939212-da2c9cdd-1954-4425-b745-8f46fa72e41d.png">

[2022-11-09 21:20] ravamo commented on #355
Hi  @BlueSkiez-dev !,
i like it ..

[2022-11-10 11:09] BlueSkiez-dev commented on #355
Thanks @ravamo

[2022-11-17 20:57] cvemann opened #382 "Need for Review of the UX Copies and Text labels within each of ODK-X Tools"
For Instance: The empty state text in the ODK-X Tables is not very clear. It is simply 'No Data Tables'

A solution might be: 'You don't have any tables' with a body text that tells them what to do next, like 'Click on the Import Icon to view your tables'
Texts, error messages, labels, etc. need to be more descriptive so they can be helpful and useful to first-time users.

![IMG-20221117-WA0036](h

[2022-11-17 21:00] cvemann commented on #382
Here is a solution I did earlier:

![image](https://user-images.githubusercontent.com/80982139/202558556-6b818baa-8599-4701-8c45-9da65ba76034.png)

[2022-11-17 21:19] cvemann opened #383 "Suggestion to combine each of the ODK-X Tools into one App"
Although the apps can work independently, it might be a much better experience if all these apps are within reach, inside one app. And the good thing is they already work together in sync.

This would eliminate the need for installing multiple apps, which means the use of less storage space. This is essential for constrained-resource environments.

Here's an early exploration to explain my idea:
!